Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4012f9
sub_4012fa
sub_401332
sub_40137a
sub_40139c
sub_4013ad
sub_4013c6
sub_4013df
sub_4013f3
sub_401435
sub_401448
sub_401483
sub_4017e8
sub_40185f
sub_401870
sub_4018ba
sub_40196f
sub_401a3f
sub_401c01
sub_401c23
sub_401cb6
sub_401f94
sub_401fcd
sub_4023c7
sub_402405
sub_402516
sub_40253e
sub_4025a1
sub_402711
sub_402811
sub_40290c
sub_402935
sub_402958
sub_402980
sub_402aa5
sub_402abc
sub_402b81
sub_402c3e
sub_402e03
sub_402f41
sub_402fab
sub_403005
sub_4030df
sub_403116
sub_403125
sub_40319a
sub_4031b7
sub_403228
sub_403261
sub_4032e4
sub_403373
sub_40339a
sub_4033b9
sub_403476
sub_4034e8
sub_403501
sub_403543
sub_403555
sub_4035c5
sub_403615
sub_4036aa
sub_4036b5
sub_403728
sub_4037a5
sub_4037c9
sub_4037de
sub_40399d
sub_403b82
sub_403ba8
sub_403bbf
sub_403cd4
sub_403d4e
sub_403d86
sub_403daa
sub_403db5
sub_403e39
sub_403e45
sub_403f8e
sub_403fc3
sub_4040df
sub_4040e5
sub_404185
sub_404192
sub_4041b6
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
strchr
__errno_location
error
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
