Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4012f9
sub_4012fa
sub_401332
sub_40137a
sub_40139c
sub_4013ad
sub_4013c6
sub_4013e9
sub_401400
sub_401445
sub_4014c7
sub_4014d6
sub_401595
sub_4015b8
sub_4015f8
sub_401942
sub_4019c5
sub_4019de
sub_401b9d
sub_401bd7
sub_401c45
sub_401c99
sub_401f8d
sub_401fa3
sub_402045
sub_402394
sub_4023dd
sub_4026c2
sub_40270c
sub_402813
sub_4028e8
sub_402aa7
sub_402b71
sub_402b8a
sub_402bff
sub_402ce1
sub_402d26
sub_402df4
sub_402e6e
sub_402e75
sub_402f13
sub_402fe1
sub_403081
sub_403104
sub_403144
sub_4031d5
sub_403281
sub_4033d5
sub_403798
sub_4037a8
sub_403818
sub_403825
sub_4038a3
sub_4038c8
sub_40393e
sub_40394f
sub_40395a
sub_403a5c
sub_403a95
sub_403af6
sub_403b33
sub_403c2c
sub_403d26
sub_403db3
sub_403e02
sub_403e15
sub_403e6a
sub_403e78
sub_403e85
sub_403ef5
sub_403f66
sub_403f7f
sub_403fa5
sub_403fec
sub_404125
sub_404141
sub_404181
sub_404195
sub_404215
sub_404222
sub_404246
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getlogin
puts
error
__errno_location
_exit
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
