Text sections:
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
emit_bug_reporting_address
fadvise
fdadvise
find_field
freebuffer
freopen_safer
get_quoting_style
gettext_quote
hard_locale
initbuffer
locale_charset
main
memcasecmp
memcoll
memcoll0
posix2_version
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
readlinebuffer
readlinebuffer_delim
rpl_calloc
rpl_fclose
rpl_fflush
rpl_freopen
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401709
sub_40170a
sub_401742
sub_40178a
sub_4017ac
sub_4017bd
sub_4017d6
sub_401805
sub_40181f
sub_401916
sub_4019b1
sub_401a43
sub_401a85
sub_401ba9
sub_4021cd
sub_402264
sub_402307
sub_402404
sub_402415
sub_402485
sub_402525
sub_4025b8
sub_402685
sub_4026f8
sub_402702
sub_402898
sub_4028d8
sub_402ccc
sub_402d93
sub_402dd3
sub_402e86
sub_402f76
sub_402fb3
sub_40302a
sub_403035
sub_4030c0
sub_40315a
sub_403191
sub_4031b1
sub_4032cd
sub_403338
sub_40334f
sub_403355
sub_403481
sub_4034e6
sub_403545
sub_40357b
sub_4035f5
sub_403605
sub_403721
sub_4037b6
sub_403c01
sub_403cde
sub_403d83
sub_403dd9
sub_403e63
sub_403ef6
sub_403fb7
sub_404087
sub_404115
sub_404144
sub_4041dd
sub_404531
sub_4045a3
sub_404642
sub_4046d1
sub_4046ea
sub_4047bf
sub_4047d8
sub_4049c2
sub_4049f1
sub_404a08
sub_404a64
sub_404af9
sub_404b18
sub_404b25
sub_404bfe
sub_404c13
sub_404c39
sub_404c48
sub_404c8c
sub_404d34
sub_404d66
sub_4050c8
sub_4050dc
sub_405185
sub_4051c9
sub_4052c5
sub_40533e
sub_40534f
sub_40546f
sub_40553f
sub_405701
sub_405723
sub_4057b6
sub_405a94
sub_405acd
sub_405ec7
sub_405f05
sub_406016
sub_40603e
sub_4060a1
sub_406232
sub_406245
sub_40626a
sub_4062df
sub_4062f7
sub_406442
sub_406455
sub_4064bb
sub_4064ce
sub_40668d
sub_4066f5
sub_406702
sub_406726
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmemcoll
xmemcoll0
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoul
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
getenv
bindtextdomain
textdomain
getopt_long
__overflow
memcmp
fwrite_unlocked
free
error
__errno_location
__ctype_b_loc
strlen
_exit
posix_fadvise
fileno
dup2
open
close
strcmp
__uflow
__ctype_toupper_loc
strtol
strrchr
fwrite
abort
__ctype_get_mb_cur_max
iswprint
mbsinit
memset
malloc
realloc
memcpy
strtoul
strchr
__assert_fail
calloc
__freading
lseek
fclose
fflush
freopen
fseeko
mbrtowc
__fpending
strcoll
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
