Text sections:
areadlink_with_size
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
base_len
cdb_advance_fd
cdb_fchdir
cdb_free
cdb_init
change_env
chdir_long
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
default_format
dev_from_mount_options
dir_len
dir_name
do_stat
do_statfs
dup_safer
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
equal_tm
extend_abbrs
fd_safer
fgetfilecon
filemodestring
file_type
find_bind_mount
find_mount_point
find_non_slash
freecon
free_cwd
free_mount_entry
fsetfilecon
__fstat
fstat
ftypelet
get_birthtime
getcon
getenv_quoting_style
getenv_TZ
getfilecon
getfscreatecon
get_quoting_style
get_stat_atime
get_stat_atime_ns
get_stat_birthtime
get_stat_birthtime_ns
get_stat_ctime
get_stat_ctime_ns
get_stat_mtime
get_stat_mtime_ns
gettext_quote
hard_locale
human_access
human_fstype
human_time
imaxtostr
isdst_differ
iso_week_days
last_component
lgetfilecon
locale_charset
localtime_rz
lsetfilecon
main
make_format
matchpathcon
matchpathcon_init_prefix
mdir_name
memcpy_lowcase
memcpy_uppcase
mktime_z
neg_to_zero
nstrftime
open_safer
out_epoch_sec
out_file_context
out_int
out_minus_zero
out_mount_point
out_string
out_uint
out_uint_o
out_uint_x
print_esc_char
print_it
print_stat
print_statfs
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
read_file_system_list
restore_cwd
revert_tz
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
save_abbr
save_cwd
security_check_context
security_check_context_raw
security_compute_create
set_char_quoting
set_custom_quoting
setenv_TZ
setexeccon
setfilecon
setfscreatecon
set_program_name
set_quoting_flags
set_quoting_style
set_tz
stat
stat_time_normalize
__strftime_internal
string_to_security_class
strmode
sub_402169
sub_40216a
sub_4021a2
sub_4021ea
sub_40220c
sub_40221d
sub_402236
sub_402349
sub_4023b8
sub_40242a
sub_402478
sub_4024ef
sub_402688
sub_4026c2
sub_4026de
sub_402793
sub_402ced
sub_402d84
sub_402e2c
sub_402e60
sub_402e77
sub_402f7e
sub_403119
sub_40315b
sub_40315e
sub_403167
sub_403170
sub_403179
sub_403182
sub_40318b
sub_403190
sub_403199
sub_4031a2
sub_40320b
sub_403237
sub_40325b
sub_40326a
sub_403f57
sub_403fd5
sub_40402a
sub_404089
sub_404258
sub_404287
sub_40432d
sub_40469c
sub_404826
sub_40486c
sub_4048c8
sub_4049af
sub_4049b6
sub_404b83
sub_404bc3
sub_404c44
sub_404c66
sub_404d12
sub_404d20
sub_404d5d
sub_404d7e
sub_404f4b
sub_404f7a
sub_404f90
sub_404fa9
sub_404feb
sub_40502a
sub_40505d
sub_40512c
sub_405194
sub_4051cc
sub_405210
sub_405230
sub_4052d2
sub_40530a
sub_405347
sub_4053af
sub_4053ce
sub_405410
sub_405430
sub_40548e
sub_40554a
sub_405565
sub_4055a9
sub_405611
sub_40564c
sub_4056bf
sub_4056dd
sub_4057f1
sub_40587a
sub_40591f
sub_405984
sub_4059c9
sub_405a48
sub_405ba5
sub_405bc2
sub_4072c1
sub_4072e7
sub_4073e5
sub_40741f
sub_407434
sub_40762c
sub_407699
sub_4076ba
sub_4076ea
sub_40794c
sub_4079fc
sub_407b06
sub_407b46
sub_407b79
sub_407d26
sub_407d54
sub_407fd9
sub_408132
sub_408172
sub_4081a8
sub_408314
sub_40832a
sub_40837e
sub_4083dd
sub_4083fb
sub_408443
sub_408481
sub_4084c2
sub_4085f5
sub_408622
sub_4086a3
sub_40870d
sub_408727
sub_408845
sub_40885b
sub_408ab8
sub_408b96
sub_408c8f
sub_408d36
sub_408da2
sub_408e5f
sub_408e84
sub_408ec7
sub_408f17
sub_408f64
sub_409021
sub_40909d
sub_4090ca
sub_4090ef
sub_40920d
sub_409234
sub_40924e
sub_4092e9
sub_4092fe
sub_409358
sub_4094c5
sub_409695
sub_409893
sub_40aac9
sub_40caee
sub_40cf62
sub_40d1cb
sub_40d1e9
sub_40d2a8
sub_40d2fd
sub_40d3e9
sub_40d46a
sub_40d4a8
sub_40d508
sub_40d543
sub_40d55e
sub_40d5c7
sub_40d6a3
sub_40d8ce
sub_40dba7
sub_40dc15
sub_40dd07
sub_40dfb9
sub_40e044
sub_40e105
sub_40e14e
sub_40e178
sub_40e1b7
sub_40e21f
sub_40e3ba
sub_40e859
sub_40e925
sub_40e97b
sub_40e9da
sub_40e9e0
sub_40ea78
sub_40ea7d
sub_40eb22
sub_40eb42
sub_40eb62
sub_40eba1
sub_40ebb7
sub_40ebd4
sub_40ec27
sub_40ec47
sub_40ec60
sub_40ec80
sub_40eced
sub_40ecfe
sub_40eea2
sub_40ef58
sub_40efd8
sub_40f013
sub_40f146
sub_40f187
sub_40f214
sub_40f251
sub_40f27a
sub_40f2da
sub_40f313
sub_40f35b
sub_40f373
sub_40f3d4
sub_40f487
sub_40f4f5
sub_40f662
sub_40f67e
sub_40f6e2
sub_40f6fe
sub_40f7f3
sub_410aea
sub_410bc3
sub_410bda
sub_410c07
sub_410c38
sub_410cb2
sub_410d87
sub_410e7b
sub_410eca
sub_410f07
sub_410f9c
sub_41159e
sub_411623
sub_411642
sub_411665
sub_4116af
sub_4117f4
sub_41188e
sub_4118d5
sub_41199a
sub_4119e4
sub_411b77
sub_411be5
sub_411bf2
sub_411c16
sub_411c29
sub_411c4f
timetostr
to_uchar
tzalloc
tzfree
unescape_tab
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xasprintf
xcalloc
xcharalloc
xgetcwd
xmalloc
xmax
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrcat
xstrdup
xsum
xsum3
xsum4
xvasprintf
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
gettext
error
close
free
statfs
__errno_location
strcmp
setlocale
fprintf
printf
fputs_unlocked
exit
fileno
lseek
fseeko
fclose
__freading
strncmp
putchar_unlocked
calloc
getmntent
hasmntopt
strchr
strstr
sscanf
gnu_dev_makedev
endmntent
ferror_unlocked
setmntent
fopen
getline
memcpy
open
strlen
getopt_long
bindtextdomain
textdomain
localeconv
getenv
canonicalize_file_name
abort
strspn
__ctype_b_loc
fputc_unlocked
sprintf
strcpy
getpwuid
getgrgid
gnu_dev_major
gnu_dev_minor
memchr
strtol
fchdir
mbrtowc
realloc
memset
chdir
timegm
mktime
localtime_r
tzset
malloc
readlink
memcmp
putc_unlocked
_exit
strftime
tolower
toupper
fputs
strrchr
__ctype_get_mb_cur_max
iswprint
mbsinit
getcwd
__assert_fail
memrchr
fcntl
openat
gmtime_r
setenv
unsetenv
__fpending
vasprintf
fflush
nl_langinfo
__cxa_atexit
__xstat
__fxstat
__lxstat

Function signatures:

Function types:

Data:

Preamble:
