Text sections:
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
dup_safer
emit_bug_reporting_address
fadvise
fdadvise
fopen_safer
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4015d9
sub_4015da
sub_401612
sub_40165a
sub_40167c
sub_40168d
sub_4016a6
sub_4016c8
sub_401761
sub_40178f
sub_401836
sub_40184a
sub_401914
sub_401c78
sub_401c85
sub_401ca3
sub_401d24
sub_401f12
sub_401fcf
sub_40209f
sub_402261
sub_402283
sub_402316
sub_4025f4
sub_40262d
sub_402a27
sub_402a65
sub_402b76
sub_402b9e
sub_402c01
sub_402e43
sub_40307a
sub_40328b
sub_4033f1
sub_403405
sub_40347f
sub_403485
sub_4034df
sub_4034f9
sub_40351a
sub_403588
sub_4035e6
sub_40363b
sub_403677
sub_4037a1
sub_4037e4
sub_40382e
sub_403868
sub_403a1a
sub_403a39
sub_403a46
sub_403ac5
sub_403ae7
sub_403afe
sub_403cbd
sub_403d52
sub_403d78
sub_403e5e
sub_403e93
sub_403ea8
sub_403f25
sub_403f58
sub_403f93
sub_404014
sub_4040e1
sub_404125
sub_4041ef
sub_404205
sub_404276
sub_4043c3
sub_4044bc
sub_404535
sub_4045ae
sub_4045e1
sub_4045f5
sub_4047d8
sub_404801
sub_40482a
sub_404864
sub_404885
sub_4048d8
sub_4048e2
sub_404911
sub_40492f
sub_404a15
sub_404a25
sub_404b61
sub_404bdc
sub_404bea
sub_404c5f
sub_404ef1
sub_404f63
sub_404fd5
sub_404fe2
sub_405006
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
signal
setvbuf
__errno_location
error
read
fwrite_unlocked
clearerr_unlocked
free
close
strlen
memcmp
__overflow
_exit
posix_fadvise
fileno
fopen
fdopen
strrchr
fwrite
abort
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
__freading
lseek
fclose
fcntl
fflush
fseeko
mbrtowc
__fpending
strcmp
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
