Text sections:
__argmatch_die
argmatch_invalid
argmatch_to_argument
async_safe_die
badfieldspec
begfield
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
collate_error
compare
compare_nodes
dtotimespec
dup_safer
dup_safer_flag
emit_bug_reporting_address
exit_cleanup
explicit_bzero
fadvise
fdadvise
fd_safer
fd_safer_flag
filevercmp
fillbuf
fopen_safer
get_quoting_style
gettext_quote
gnu_mbswidth
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
heap_alloc
heap_default_compare
heap_free
heap_insert
incompatible_options
init_node
inttostr
isaac_seed
limfield
locale_charset
main
maybe_create_temp
mbsnwidth
md5_finish_ctx
md5_init_ctx
md5_process_bytes
md5_read_ctx
md5_stream
memcoll
merge
mkostemp_safer
mkstemp_safer
num_processors
_obstack_allocated_p
_obstack_begin
_obstack_begin_1
_obstack_free
_obstack_memory_used
_obstack_newchunk
open_input_files
parse_field_count
parse_omp_threads
physmem_available
physmem_total
pipe_fork
posix2_version
print_and_abort
proctab_comparator
proctab_hasher
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
raw_comparator
raw_hasher
readtokens0
readtokens0_free
readtokens0_init
reap
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nanosleep
rpl_nl_langinfo
rpl_pipe2
save_token
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sighandler
sort_die
sortlines
sortlines_thread
stream_open
struct_month_cmp
transfer_entries
uinttostr
umaxtostr
usage
version_etc_ar
version_etc_arn
write_line
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xfclose
xmalloc
xmemcoll
xmemcoll0
xmemdup
xnanosleep
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtol_fatal
xstrtoul
xstrtoumax
xstrxfrm
xzalloc
zaptemp

PLT sections:
__ctype_toupper_loc
getenv
raise
free
pthread_create
pthread_sigmask
abort
__errno_location
unlink
strncmp
_exit
__fpending
ferror
qsort
sigaction
iswcntrl
localeconv
fcntl
clearerr_unlocked
write
getpid
fread_unlocked
textdomain
pthread_cond_wait
fclose
__sched_cpucount
bindtextdomain
stpcpy
dcgettext
__ctype_get_mb_cur_max
strlen
getuid
getopt_long
mbrtowc
dup2
strchr
nanosleep
__overflow
strrchr
ftruncate
mkostemp
lseek
gettimeofday
__assert_fail
__strtoul_internal
memset
fgetc
close
pipe
posix_fadvise
memchr
read
__libc_start_main
memcmp
pthread_cond_signal
fputs_unlocked
calloc
strxfrm
strcmp
signal
sigemptyset
strtol
memcpy
fileno
__stpcpy_chk
getgid
__xstat
pthread_cond_init
wcwidth
pthread_mutex_unlock
malloc
fflush
nl_langinfo
__fxstat
strcoll
mkstemp
__freading
fwrite_unlocked
realloc
fdopen
setlocale
__printf_chk
setvbuf
memmove
strtold
error
waitpid
open
fseeko
fopen
dcngettext
sysconf
pthread_join
euidaccess
strtoul
__cxa_atexit
sysinfo
pipe2
getppid
sigismember
exit
fwrite
__fprintf_chk
getrlimit
sched_getaffinity
fflush_unlocked
mbsinit
execlp
iswprint
pthread_mutex_init
sigaddset
fork
pthread_mutex_lock
__ctype_b_loc

Function signatures:

Function types:

Data:

Preamble:
