Text sections:
add_field
add_field_list
add_file_name
advance_seq
bkm_scale
bkm_scale_by_power
check_order
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
collate_error
c_tolower
c_toupper
decode_field_spec
delseq
dup_safer
emit_ancillary_info
emit_bug_reporting_address
extract_field
fadvise
fdadvise
field_sep
fopen_safer
freebuffer
freeline
free_spareline
get_line
get_quoting_style
getseq
gettext_quote
hard_locale
initbuffer
init_linep
initseq
locale_charset
main
memcasecmp
memcoll
memcoll0
prfield
prfields
prjoin
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
readlinebuffer
readlinebuffer_delim
reset_line
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_join_field
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
strcoll_loop
string_to_join_field
sub_4017b9
sub_4017ba
sub_4017f2
sub_40183a
sub_40185c
sub_40186d
sub_401886
sub_4018fd
sub_40190d
sub_401917
sub_40194d
sub_401963
sub_401979
sub_4019e8
sub_4019fa
sub_401aec
sub_401b11
sub_401dc2
sub_401dfd
sub_401e89
sub_401e98
sub_401f8e
sub_402535
sub_402545
sub_4025c9
sub_4025dd
sub_4025f6
sub_40267a
sub_4026ae
sub_402781
sub_402812
sub_40282a
sub_402b88
sub_402ba1
sub_402cba
sub_402d51
sub_402dd2
sub_402df2
sub_402e0a
sub_402ed3
sub_402f22
sub_402f57
sub_402f68
sub_402fb3
sub_40307d
sub_4030e5
sub_4031e3
sub_4031ff
sub_40320a
sub_40321d
sub_403249
sub_403315
sub_403325
sub_40334a
sub_4033d6
sub_403428
sub_4034e3
sub_403527
sub_40353a
sub_403550
sub_4035c5
sub_403608
sub_40382b
sub_403856
sub_40386f
sub_403873
sub_403b6c
sub_403b83
sub_403c1e
sub_403f64
sub_403fad
sub_404293
sub_4042dc
sub_4043e3
sub_4044b8
sub_40464c
sub_40465a
sub_40466a
sub_404679
sub_404827
sub_40492a
sub_404961
sub_40497a
sub_4049a5
sub_4049c8
sub_404a0e
sub_404a8e
sub_404b18
sub_404b99
sub_404c03
sub_404c6f
sub_404cb9
sub_404d05
sub_404d3f
sub_404d4f
sub_404f04
sub_404f36
sub_404fb7
sub_405069
sub_405089
sub_4050a7
sub_4050dd
sub_4050e5
sub_405163
sub_40527a
sub_4052bd
sub_4052ca
sub_4052d5
sub_40539e
sub_4053e9
sub_405457
sub_40552f
sub_405543
sub_40555e
sub_40571d
sub_4059da
sub_405a3d
sub_405a95
sub_405ca6
sub_405ccc
sub_405d3c
sub_405d5f
sub_405e7a
sub_405e8a
sub_405ea9
sub_405eba
sub_405f16
sub_405f2f
sub_405f5f
sub_405f89
sub_405fc3
sub_405ffb
sub_406076
sub_406144
sub_40621a
sub_406243
sub_40626a
sub_40628a
sub_4062d8
sub_406354
sub_406376
sub_4063c2
sub_406409
sub_406421
sub_406444
sub_40645d
sub_40646e
sub_40648e
sub_4064b6
sub_406555
sub_406562
sub_406586
system_join
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xfields
xmalloc
xmemcoll
xmemcoll0
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoul
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
error
__errno_location
free
__strpbrk_c3
__assert_fail
putchar_unlocked
memcmp
ferror_unlocked
fwrite_unlocked
memchr
__ctype_b_loc
_exit
posix_fadvise
fileno
fopen
fdopen
close
feof_unlocked
getc_unlocked
__ctype_toupper_loc
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
iswprint
mbsinit
memset
malloc
realloc
memcpy
strtoul
strchr
calloc
__freading
lseek
fclose
fcntl
fflush
fseeko
mbrtowc
__fpending
strcoll
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
