Text sections:
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
copy_fd
c_tolower
c_toupper
diagnose_copy_fd_failure
elide_tail_bytes_file
elide_tail_lines_file
elide_tail_lines_pipe
elide_tail_lines_seekable
elseek
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
fstat
full_read
get_quoting_style
gettext_quote
__gl_setmode
__gl_setmode_check
hard_locale
head
head_bytes
head_file
head_lines
locale_charset
main
offtostr
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_read
set_binary_mode
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
string_to_integer
sub_4015f9
sub_4015fa
sub_401632
sub_40167a
sub_40169c
sub_4016ad
sub_4016c6
sub_4016da
sub_4018b2
sub_401aec
sub_401afa
sub_401b19
sub_401b2a
sub_401b3a
sub_401b46
sub_401bf8
sub_401c79
sub_401ce3
sub_401d4f
sub_401d99
sub_401de5
sub_401e1f
sub_401e23
sub_401e45
sub_401ee7
sub_401f62
sub_401f91
sub_401faf
sub_401fb3
sub_401fc3
sub_402007
sub_4020d8
sub_4021e4
sub_402201
sub_402346
sub_4023bd
sub_4023cd
sub_4023d7
sub_402492
sub_402524
sub_4025c1
sub_4025e9
sub_40264d
sub_40265a
sub_40274c
sub_402753
sub_402a02
sub_402a36
sub_402a45
sub_402a51
sub_402a7b
sub_402a8a
sub_402aa6
sub_402abd
sub_402b09
sub_402b19
sub_402b7b
sub_402bb3
sub_402bc9
sub_402c38
sub_402c66
sub_402caa
sub_402cbf
sub_402d85
sub_402e0a
sub_402e15
sub_402eb8
sub_402f2e
sub_402fe3
sub_403102
sub_40311e
sub_4032dd
sub_4032ed
sub_403377
sub_403384
sub_40340e
sub_40341b
sub_403496
sub_4034a5
sub_4034df
sub_403503
sub_403597
sub_403641
sub_4036ae
sub_4036b8
sub_403835
sub_40384a
sub_40385a
sub_4038d7
sub_4039a3
sub_4039c8
sub_403a57
sub_403a85
sub_403ab9
sub_403aef
sub_403af3
sub_403b0a
sub_403b1d
sub_403b38
sub_403ba6
sub_403bb5
sub_403bf7
sub_403c7f
sub_403ced
sub_403d03
sub_403e71
sub_40419d
sub_4044f8
sub_4047dc
sub_4047f3
sub_40488e
sub_404bd4
sub_404c1d
sub_404f03
sub_404f4c
sub_405053
sub_405128
sub_4052bc
sub_4052ca
sub_40536b
sub_4053d8
sub_405506
sub_40562a
sub_405682
sub_405788
sub_4057a0
sub_405854
sub_405883
sub_4058aa
sub_4058d2
sub_405964
sub_405b1a
sub_405c81
sub_405cc9
sub_405ce1
sub_405d04
sub_405d23
sub_405d43
sub_405d86
sub_405dc1
sub_405e35
sub_405e42
sub_405e66
sub_405e79
umaxtostr
usable_st_size
usage
version_etc_ar
version_etc_arn
write_header
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xset_binary_mode
xset_binary_mode_error
xstrdup
xstrtoumax
xwrite_stdout
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
lseek
__errno_location
error
open
__fxstat
memrchr
memcpy
memchr
free
close
fwrite_unlocked
clearerr_unlocked
abort
_exit
strrchr
fwrite
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
read
malloc
realloc
__strtoul_internal
strchr
__assert_fail
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
