Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrlen
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401349
sub_40134a
sub_401382
sub_4013ca
sub_4013ec
sub_4013fd
sub_401416
sub_401494
sub_4014d5
sub_401516
sub_401729
sub_401805
sub_401945
sub_401976
sub_4019da
sub_401a9a
sub_401b9b
sub_401bb0
sub_401c21
sub_401c85
sub_401c95
sub_401d4e
sub_401d63
sub_401ddc
sub_401df7
sub_401ea1
sub_401f41
sub_401f55
sub_401f7a
sub_401fa6
sub_40201e
sub_402025
sub_40206f
sub_4020a3
sub_4020c1
sub_40213c
sub_40214e
sub_40230d
sub_402329
sub_402446
sub_4024a1
sub_402511
sub_402539
sub_402595
sub_402615
sub_402763
sub_4027df
sub_402afd
sub_402b13
sub_402bb5
sub_402f04
sub_402f4d
sub_403232
sub_40327c
sub_403383
sub_403458
sub_403617
sub_40370c
sub_40371a
sub_403739
sub_403748
sub_403755
sub_403865
sub_403875
sub_4038f8
sub_403ae2
sub_403af8
sub_403b37
sub_403c35
sub_403c4f
sub_403cbe
sub_403cc5
sub_403d63
sub_4040c8
sub_404191
sub_4041d8
sub_40435c
sub_404378
sub_404398
sub_4043cb
sub_40440c
sub_404464
sub_4044e4
sub_4044f5
sub_4045c5
sub_4045d2
sub_4045f6
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__lxstat
__errno_location
pathconf
error
strlen
strchr
strspn
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
