Text sections:
base_len
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
dup_safer
emit_bug_reporting_address
explicit_bzero
file_name_concat
fopen_safer
gen_tempname
gen_tempname_len
get_quoting_style
gettext_quote
hard_locale
isaac_seed
last_component
locale_charset
main
maybe_close_stdout
mfile_name_concat
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
randint_all_free
randint_all_new
randint_free
randint_genmax
randint_get_source
randint_new
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
try_dir
try_file
try_nocreate
try_tempname
try_tempname_len
usage
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
getenv
free
__mempcpy_chk
abort
__errno_location
remove
strncmp
_exit
__fpending
mkdir
puts
fcntl
getpid
fread_unlocked
textdomain
fclose
bindtextdomain
dcgettext
__ctype_get_mb_cur_max
strlen
__lxstat
getuid
getopt_long
mbrtowc
strrchr
lseek
gettimeofday
__assert_fail
memset
close
read
__libc_start_main
memcmp
fputs_unlocked
calloc
strcmp
memcpy
fileno
getgid
__rawmemchr
malloc
fflush
nl_langinfo
__freading
realloc
fdopen
setlocale
__printf_chk
setvbuf
error
open
fseeko
fopen
__cxa_atexit
getppid
exit
fwrite
__fprintf_chk
mbsinit
iswprint
__ctype_b_loc

Function signatures:

Function types:

Data:

Preamble:
