Text sections:
allocate_entry
any_live_files
any_non_regular_fifo
any_non_remote_file
any_remote_file
any_symlinks
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
base_len
bkm_scale
bkm_scale_by_power
check_fspec
check_output_alive
check_tuning
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
c_locale
clone_quoting_options
close_fd
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
cl_strtod
compute_bucket_size
c_strcasecmp
c_strtod
c_tolower
c_toupper
die_pipe
dir_len
dtotimespec
dump_remainder
dup_safer
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
fd_safer
file_lines
free_entry
fremote
__fstat
fstat
get_quoting_style
get_stat_atime
get_stat_atime_ns
get_stat_birthtime
get_stat_birthtime_ns
get_stat_ctime
get_stat_ctime_ns
get_stat_mtime
get_stat_mtime_ns
gettext_quote
__gl_setmode
__gl_setmode_check
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
ignore_fifo_and_pipe
is_local_fs_type
is_prime
last_component
locale_charset
main
make_timespec
mdir_name
next_prime
offtostr
open_safer
parse_obsolete_option
parse_options
pipe_bytes
pipe_lines
posix2_version
pretty_name
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
raw_comparator
raw_hasher
recheck
record_open_fd
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nanosleep
rpl_nl_langinfo
safe_hasher
safe_read
set_binary_mode
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
start_bytes
start_lines
stat
stat_time_normalize
sub_401b79
sub_401b7a
sub_401bb2
sub_401bfa
sub_401c1c
sub_401c2d
sub_401c46
sub_401c86
sub_401dfb
sub_401e4b
sub_401e98
sub_401ef7
sub_402023
sub_4021a1
sub_4021d9
sub_40229e
sub_402307
sub_402385
sub_4024f5
sub_4026a9
sub_4028a6
sub_40295d
sub_402a1f
sub_402d84
sub_4030a7
sub_403171
sub_4031a9
sub_4031da
sub_4031f2
sub_40337f
sub_403726
sub_40378a
sub_4039c5
sub_4039fd
sub_403a4f
sub_403ac2
sub_403af5
sub_403b12
sub_403b2e
sub_403bd7
sub_403c38
sub_403c50
sub_403d26
sub_403d30
sub_403d71
sub_403dc2
sub_403dde
sub_403e3f
sub_403e67
sub_403f8b
sub_404052
sub_40414a
sub_404274
sub_4042b7
sub_40436f
sub_4043cf
sub_40441a
sub_4044cf
sub_404505
sub_404526
sub_404558
sub_404688
sub_4047d8
sub_4048eb
sub_40496f
sub_404a6e
sub_404b89
sub_404c61
sub_404e7e
sub_404f39
sub_404fb5
sub_40500d
sub_40503f
sub_40507f
sub_4050fc
sub_405168
sub_4051d2
sub_405213
sub_40522e
sub_4052d7
sub_40539b
sub_405492
sub_4054ca
sub_405502
sub_405522
sub_4056fe
sub_405817
sub_40582e
sub_40588a
sub_405a24
sub_405bf8
sub_405ef7
sub_405f31
sub_405f6f
sub_405f7e
sub_406033
sub_4060e1
sub_406196
sub_406255
sub_4062b2
sub_406492
sub_406a6a
sub_406a8f
sub_406abe
sub_406af2
sub_406b06
sub_406be6
sub_407211
sub_407566
sub_407758
sub_407b53
sub_407bc4
sub_407c0e
sub_407d16
sub_407e89
sub_4080c7
sub_40816b
sub_408182
sub_408262
sub_408308
sub_4083c5
sub_40859f
sub_408730
sub_409986
sub_4099a2
sub_4099e7
sub_409bd0
sub_409d75
sub_409db5
sub_409fdd
sub_40a04a
sub_40a48f
sub_40a99a
sub_40aac6
sub_40abf5
sub_40ac3b
sub_40ac92
sub_40ad3a
sub_40ad4a
sub_40adf0
sub_40ae76
sub_40af30
sub_40b05b
sub_40b07a
sub_40b142
sub_40b176
sub_40b2c4
sub_40b343
sub_40b382
sub_40b3b2
sub_40b44e
sub_40b4ff
sub_40b58a
sub_40b5fc
sub_40b613
sub_40b678
sub_40b70d
sub_40b77d
sub_40b7b2
sub_40b835
sub_40b849
sub_40b92e
sub_40baac
sub_40bb92
sub_40bbfb
sub_40bc9e
sub_40beeb
sub_40c1c6
sub_40c2ef
sub_40c2fe
sub_40c36a
sub_40c4af
sub_40d809
sub_40d816
sub_40d8b2
sub_40d8eb
sub_40d9cd
sub_40d9db
sub_40da07
sub_40da48
sub_40eb79
sub_40ebf8
sub_40f23a
sub_40f2be
sub_40f470
sub_40f57b
sub_40fb7d
sub_410082
sub_4102b1
sub_4102f6
sub_410317
sub_4103ac
sub_4103db
sub_41042e
sub_410662
sub_4106e2
sub_41071d
sub_4107a4
sub_4107bc
sub_4107ec
sub_410822
sub_41088c
sub_41091a
sub_41095a
sub_410999
sub_410a02
sub_410a4d
sub_410a87
sub_410ebf
sub_411083
sub_4110ce
sub_411135
sub_411142
sub_411166
sub_411179
sub_41119f
tail
tailable_stdin
tail_bytes
tail_file
tail_forever
tail_forever_inotify
tail_lines
timespec_cmp
timespec_sign
timespectod
transfer_entries
usable_st_size
usage
valid_file_spec
version_etc
version_etc_ar
version_etc_arn
version_etc_va
wd_comparator
wd_hasher
write_header
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xdectoumax
xlseek
xmalloc
xmemdup
xnanosleep
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xset_binary_mode
xset_binary_mode_error
xstrdup
xstrtod
xstrtoumax
xwrite_stdout
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
fputs
abort
strncmp
strrchr
__errno_location
error
gettext
fputs_unlocked
memcmp
fprintf
printf
putc_unlocked
open
malloc
memcpy
strlen
strchr
__assert_fail
__ctype_b_loc
strtoumax
strcmp
free
exit
lseek
__freading
fflush
__fpending
ferror_unlocked
mbrtowc
close
fstatfs
nanosleep
strtod
setlocale
bindtextdomain
textdomain
isatty
memset
getenv
strtol
inotify_init
fflush_unlocked
inotify_rm_watch
getopt_long
kill
inotify_add_watch
select
raise
memchr
memrchr
fwrite_unlocked
clearerr_unlocked
_exit
read
calloc
__ctype_get_mb_cur_max
iswprint
mbsinit
realloc
fcntl
strtod_l
newlocale
fileno
fclose
fseeko
nl_langinfo
__cxa_atexit
__xstat
__fxstat
__lxstat

Function signatures:

Function types:

Data:

Preamble:
