Text sections:
all_digits_p
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
c_locale
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
cl_strtold
cmp
c_strcasecmp
c_strtold
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
get_default_format
get_quoting_style
gettext_quote
hard_locale
incr
io_error
locale_charset
long_double_format
main
print_numbers
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
scan_arg
seq_fast
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4016a9
sub_4016aa
sub_4016e2
sub_40172a
sub_40174c
sub_40175d
sub_401776
sub_4017b3
sub_4017ce
sub_40187f
sub_401986
sub_401a1d
sub_401a85
sub_401ac2
sub_401ade
sub_401bc2
sub_401c45
sub_401cdd
sub_401d91
sub_401e92
sub_401edf
sub_401ef6
sub_40201d
sub_402048
sub_402091
sub_4020ca
sub_4020ef
sub_4021d2
sub_40223e
sub_4023a4
sub_4023be
sub_402477
sub_4024a8
sub_4024df
sub_402517
sub_402674
sub_402690
sub_402755
sub_4027ab
sub_402875
sub_40288a
sub_402c93
sub_402d9a
sub_402dea
sub_402e22
sub_402e77
sub_402eaf
sub_4031ac
sub_40343b
sub_40346a
sub_40350c
sub_403880
sub_404d96
sub_405301
sub_40532a
sub_40534f
sub_4053b5
sub_405475
sub_405517
sub_40555e
sub_405652
sub_405747
sub_405788
sub_4057f4
sub_40581b
sub_40585d
sub_4059a5
sub_405ac6
sub_405b57
sub_405b77
sub_405bf2
sub_405cbb
sub_405ce7
sub_405d48
sub_405d86
sub_405dcf
sub_405e93
sub_406173
sub_4061b2
sub_4061d2
sub_4062c6
sub_40639b
sub_4063ae
sub_406452
sub_40657c
sub_406717
sub_406f1d
sub_406f93
sub_406fc7
sub_407135
sub_407251
sub_40728c
sub_4072bd
sub_407367
sub_4074f3
sub_40776e
sub_40777e
sub_4077e3
sub_40785f
sub_4078c5
sub_4078d2
sub_4078f6
to_uchar
trim_leading_zeros
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtold
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
gettext
fprintf
printf
fputs_unlocked
exit
__errno_location
uselocale
strtold
abort
calloc
strcmp
setlocale
strncmp
memset
bindtextdomain
textdomain
getopt_long
memcpy
__freading
fileno
lseek
fclose
newlocale
error
__fpending
ferror_unlocked
malloc
__ctype_b_loc
strchr
strcspn
strlen
asprintf
free
strspn
strtol
nl_langinfo
fwrite_unlocked
strcpy
mempcpy
memmove
sprintf
clearerr_unlocked
_exit
fputs
strrchr
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
realloc
mbrtowc
fseeko
fflush
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
