Text sections:
add_tab_stop
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
cleanup_file_list_stdin
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
emit_tab_list_info
expand
fadvise
fdadvise
finalize_tab_stops
get_next_tab_column
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
next_file
parse_tab_stops
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_extend_size
set_file_list
set_increment_size
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401569
sub_40156a
sub_4015a2
sub_4015ea
sub_40160c
sub_40161d
sub_401636
sub_40164e
sub_40180d
sub_401847
sub_40185d
sub_401963
sub_4019a2
sub_401a16
sub_401a69
sub_401a83
sub_401ad8
sub_401b13
sub_401b33
sub_401b48
sub_401bbe
sub_401bcf
sub_401bdd
sub_401c06
sub_401c7f
sub_401d5a
sub_401d64
sub_401d8a
sub_401e7c
sub_401e88
sub_401e99
sub_401ebe
sub_401f7b
sub_401f85
sub_401f9a
sub_401fb9
sub_401fca
sub_401fda
sub_40214e
sub_40236b
sub_4023b5
sub_402412
sub_40243e
sub_402460
sub_402564
sub_4025e6
sub_402735
sub_4027d8
sub_402819
sub_402831
sub_402854
sub_4028e8
sub_402969
sub_4029d3
sub_402a3f
sub_402a89
sub_402ad5
sub_402b0f
sub_402b13
sub_402b3a
sub_402b4d
sub_402bd2
sub_402c29
sub_402c59
sub_402c8f
sub_402cc8
sub_402da3
sub_402dca
sub_402dfd
sub_402e13
sub_402e42
sub_402e66
sub_402e97
sub_402ec1
sub_402eda
sub_402ee5
sub_402f0a
sub_402f32
sub_402f6b
sub_402fc3
sub_402fea
sub_403029
sub_4030c5
sub_40329e
sub_40330d
sub_40331d
sub_403327
sub_403419
sub_40347f
sub_4034de
sub_40359d
sub_40362f
sub_403656
sub_40366f
sub_40367d
sub_40368a
sub_403693
sub_4036aa
sub_4036cb
sub_40374d
sub_403775
sub_40378a
sub_4037e6
sub_403845
sub_403938
sub_403966
sub_4039e6
sub_403a07
sub_403a19
sub_403a88
sub_403a9a
sub_403b31
sub_403bca
sub_403eac
sub_403ec3
sub_403f5e
sub_4042a4
sub_4042ed
sub_4045d3
sub_40461c
sub_404723
sub_4047f8
sub_40498c
sub_4049c1
sub_4049df
sub_404afa
sub_404b65
sub_404b72
sub_404b96
to_uchar
usage
validate_tab_stops
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
getc_unlocked
putchar_unlocked
__ctype_b_loc
__errno_location
error
strspn
free
ferror_unlocked
clearerr_unlocked
fopen
__assert_fail
_exit
posix_fadvise
fileno
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
iswprint
mbsinit
memset
malloc
realloc
memcpy
__strndup
calloc
__freading
lseek
fclose
fflush
fseeko
mbrtowc
__fpending
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
