Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_4011e9
sub_4011ea
sub_401222
sub_40126a
sub_40128c
sub_40129d
sub_4012b6
sub_4012c4
sub_401352
sub_401365
sub_401391
sub_4013ad
sub_4013c3
sub_401407
sub_40143d
sub_401453
sub_4014f1
sub_40150a
sub_40152e
sub_401578
sub_4015ce
sub_4018ac
sub_4018c3
sub_40195e
sub_401ca4
sub_401ced
sub_401fd3
sub_40201c
sub_402123
sub_4021f8
sub_40238c
sub_402398
sub_4023ae
sub_40256d
sub_4025e4
sub_4026a5
sub_40270d
sub_402723
sub_402738
sub_402763
sub_40278a
sub_40279f
sub_402af8
sub_402b33
sub_402b4a
sub_402b5a
sub_402be3
sub_402bfa
sub_402c16
sub_402cec
sub_402d46
sub_402d56
sub_402d97
sub_402dcb
sub_402eb1
sub_402f2d
sub_402f3d
sub_402f47
sub_402f76
sub_402f8a
sub_402f9d
sub_402fba
sub_402ff6
sub_403047
sub_40308a
sub_40317c
sub_4031a5
sub_40326d
sub_40327f
sub_40339a
sub_4033a9
sub_403418
sub_403446
sub_403549
sub_403561
sub_403584
sub_4035b6
sub_4035fa
sub_403610
sub_4036d8
sub_403759
sub_4037c3
sub_40382f
sub_403879
sub_4038c5
sub_4038ff
sub_403926
sub_403949
sub_403968
sub_40397a
sub_40398a
sub_4039a9
sub_4039ba
sub_4039cf
sub_4039f9
sub_403a2f
sub_403a39
sub_403a5a
sub_403ace
sub_403b0e
sub_403bc9
sub_403c01
sub_403c37
sub_403ca5
sub_403cb2
sub_403cd6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
__errno_location
error
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
__fprintf_chk
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
