Text sections:
cksum
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
fadvise
fdadvise
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4013d9
sub_4013da
sub_401412
sub_40145a
sub_40147c
sub_40148d
sub_4014a6
sub_401515
sub_401554
sub_401651
sub_40175c
sub_4017b5
sub_4017c5
sub_401805
sub_401838
sub_4018b5
sub_4019e5
sub_401a6b
sub_401a75
sub_401ba6
sub_401c1e
sub_401c37
sub_401c53
sub_401e42
sub_401e83
sub_401ef8
sub_40221d
sub_402233
sub_4022d5
sub_402624
sub_40266d
sub_402952
sub_40299c
sub_402aa3
sub_402b78
sub_402d37
sub_402e36
sub_402e45
sub_402e70
sub_402ed1
sub_402f81
sub_402f98
sub_402fa5
sub_402fd8
sub_40305e
sub_403127
sub_403388
sub_40339a
sub_4033b1
sub_403508
sub_403535
sub_4035af
sub_4035b5
sub_403674
sub_403711
sub_403794
sub_4037af
sub_40394e
sub_4039d3
sub_403a22
sub_403b1c
sub_403b8a
sub_403b95
sub_403c2b
sub_403c49
sub_403c5f
sub_403c79
sub_403c85
sub_403cfe
sub_403ebd
sub_403f21
sub_403fa4
sub_403fe1
sub_40400d
sub_40401a
sub_404088
sub_4040c3
sub_4040d5
sub_4041a5
sub_4041b5
sub_404286
sub_4045e8
sub_404655
sub_404662
sub_404686
umaxtostr
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
setvbuf
__errno_location
error
fopen
fread_unlocked
_exit
posix_fadvise
fileno
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
__freading
lseek
fclose
fflush
fseeko
mbrtowc
__fpending
strcmp
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
