Text sections:
chld
cleanup
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
cl_strtod
c_strtod
dtotimespec
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
operand2sig
parse_duration
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
settimeout
sig2str
str2sig
sub_401ad9
sub_401ada
sub_401b12
sub_401b5a
sub_401b7c
sub_401b8d
sub_401ba6
sub_401bec
sub_401c73
sub_401c8a
sub_401c9a
sub_401e52
sub_401ecf
sub_401fbc
sub_401fcf
sub_40203e
sub_402065
sub_402083
sub_402191
sub_402228
sub_40229e
sub_4022d3
sub_4022e5
sub_40232e
sub_4024ed
sub_402508
sub_402515
sub_402951
sub_40296f
sub_402add
sub_402b15
sub_402b45
sub_402bb5
sub_402c3a
sub_4032d8
sub_4032e5
sub_4033f5
sub_4034a1
sub_403541
sub_4035ff
sub_4036cf
sub_403891
sub_4038b3
sub_403946
sub_403c24
sub_403c5d
sub_404057
sub_404095
sub_4041a6
sub_4041ce
sub_404231
sub_4043f8
sub_404484
sub_4046a4
sub_404807
sub_404902
sub_404915
sub_4049c8
sub_404a44
sub_404ac4
sub_404ae9
sub_404cd2
sub_404ce1
sub_404cf5
sub_404d71
sub_404de1
sub_404e09
sub_404f66
sub_404f7a
sub_405034
sub_405058
sub_4050a2
sub_4050e3
sub_4050f5
sub_405123
sub_405135
sub_4051d6
sub_4052d1
sub_405375
sub_4053a1
sub_4053e6
sub_405408
sub_40545b
sub_40546f
sub_4054c5
sub_40570e
sub_40573b
sub_4057a5
sub_4057b2
sub_4057d6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtod
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
setpgid
sigemptyset
sigaction
signal
sigaddset
sigprocmask
__errno_location
error
fork
execvp
waitpid
sigsuspend
prctl
raise
timer_create
timer_settime
timer_delete
alarm
__snprintf_chk
kill
_exit
strtol
memchr
free
strtod
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
mbrtowc
strcmp
__libc_current_sigrtmin
__libc_current_sigrtmax
strcpy
__sprintf_chk
newlocale
strtod_l
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
