Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
desirable_utmp_entry
emit_ancillary_info
emit_bug_reporting_address
extract_trimmed_name
get_quoting_style
gettext_quote
hard_locale
list_entries_users
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
read_utmp
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4014e9
sub_4014ea
sub_401522
sub_40156a
sub_40158c
sub_40159d
sub_4015b6
sub_4015e8
sub_40161f
sub_40165e
sub_40176c
sub_4017d2
sub_401807
sub_401883
sub_4018ab
sub_4018be
sub_401962
sub_401976
sub_401a6e
sub_401aef
sub_401b1a
sub_401b2a
sub_401bba
sub_401d24
sub_401d6d
sub_401d8f
sub_401e5e
sub_401e96
sub_401ee7
sub_401efe
sub_401f37
sub_401f6c
sub_402001
sub_40207b
sub_40208e
sub_4020f6
sub_4021fe
sub_402271
sub_4022a3
sub_4023a9
sub_4024da
sub_40250d
sub_402664
sub_402680
sub_402758
sub_402787
sub_402802
sub_402847
sub_40286f
sub_402905
sub_40297a
sub_4029a8
sub_402a36
sub_402acb
sub_402b07
sub_402b42
sub_402b5a
sub_402c43
sub_402d11
sub_402da7
sub_402dbe
sub_402f85
sub_4030b1
sub_403146
sub_4031ff
sub_40326b
sub_4033cd
sub_403897
sub_4038c5
sub_4038fa
sub_403948
sub_403982
sub_4039af
sub_403a46
sub_403cf1
sub_403d4a
sub_403ec3
sub_4040ae
sub_404166
sub_40421d
sub_40429a
sub_405277
sub_40566b
sub_4058a8
sub_405a4f
sub_405a82
sub_405a9e
sub_405b3e
sub_405c2b
sub_405d47
sub_405d8f
sub_405e32
sub_405ea5
sub_405ec7
sub_405f64
sub_405fd5
sub_405fe2
sub_406006
usage
userid_compare
users
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
abort
fileno
lseek
fseeko
setlocale
strcmp
memcpy
__errno_location
gettext
fprintf
printf
fputs_unlocked
exit
error
_exit
calloc
fclose
__freading
strlen
fflush
memset
endutxent
utmpxname
setutxent
getutxent
kill
nl_langinfo
__fpending
ferror_unlocked
free
strncpy
strncmp
bindtextdomain
textdomain
getopt_long
mbrtowc
qsort
putchar_unlocked
fputs
realloc
strrchr
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
malloc
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
