Text sections:
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
fgetfilecon
freecon
fsetfilecon
getcon
getfilecon
getfscreatecon
get_quoting_style
gettext_quote
getugroups
gidtostr_ptr
gidtostr_ptr_0
hard_locale
is_smack_enabled
lgetfilecon
locale_charset
lsetfilecon
main
matchpathcon
matchpathcon_init_prefix
mgetgroups
parse_user_spec
parse_with_separator
print_full_info
print_group
print_group_list
print_stuff
print_user
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
realloc_groupbuf
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
security_check_context
security_check_context_raw
security_compute_create
set_char_quoting
set_custom_quoting
setexeccon
setfilecon
setfscreatecon
set_program_name
set_quoting_flags
set_quoting_style
smack_new_label_from_self
string_to_security_class
sub_4017d9
sub_4017da
sub_401812
sub_40185a
sub_40187c
sub_40188d
sub_4018a6
sub_4018ba
sub_4018e8
sub_401918
sub_401961
sub_40199a
sub_401a6c
sub_401b2b
sub_401b5b
sub_401b73
sub_401bd4
sub_401eaa
sub_40209c
sub_4021ca
sub_40222b
sub_40228f
sub_402305
sub_4023a2
sub_402495
sub_402518
sub_402548
sub_4025d6
sub_402667
sub_402698
sub_4026e8
sub_4029fd
sub_402a90
sub_402b81
sub_402c12
sub_4030f6
sub_404061
sub_4040a2
sub_4040c6
sub_4043f9
sub_4046ba
sub_404859
sub_4048d3
sub_40490c
sub_404a33
sub_404afd
sub_404b6f
sub_404b79
sub_404bff
sub_404c48
sub_404c8a
sub_404d82
sub_404ec3
sub_404ef5
sub_404f1f
sub_404f44
sub_404fca
sub_4050fe
sub_405446
sub_4059cd
sub_405e5e
sub_405f0d
sub_406029
sub_40610a
sub_40662e
sub_4066b8
sub_4068c4
sub_4068f9
sub_40692a
sub_40696a
sub_406a1b
sub_406a92
sub_406c5e
sub_406e67
sub_406eae
sub_406fd2
sub_406ffe
sub_407055
sub_4070ae
sub_4070c0
sub_4071c1
sub_407227
sub_4072b6
sub_4072e8
sub_4072fe
sub_4074f3
sub_407527
sub_4076e0
sub_40776b
sub_407794
sub_4077ae
sub_40784a
sub_407932
sub_407a15
sub_407a2a
sub_407a7e
sub_407abb
sub_407afe
sub_407b6d
sub_407b98
sub_407c4d
sub_407c86
sub_407cb4
sub_407cd1
sub_407d09
sub_407dd5
sub_407e09
sub_407e2f
sub_407e4e
sub_407eb7
sub_407ee4
sub_407f34
sub_407fa8
sub_407fd7
sub_408007
sub_408034
sub_40806d
sub_40808b
sub_4080e3
sub_40812f
sub_40814a
sub_408183
sub_4081f5
sub_408202
sub_408226
uidtostr_ptr
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetgroups
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoul
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
memcpy
memset
abort
__errno_location
nl_langinfo
endgrent
free
gettext
endpwent
getgrgid
getpwnam
getgrnam
fseeko
fileno
lseek
calloc
fprintf
printf
fputs_unlocked
exit
strchr
error
_exit
memcmp
__ctype_b_loc
strlen
iswprint
mbsinit
__ctype_get_mb_cur_max
mbrtowc
strcmp
setlocale
strncmp
__freading
fclose
putchar_unlocked
getpwuid
bindtextdomain
textdomain
getopt_long
getenv
geteuid
getuid
getegid
getgid
strrchr
fputs
malloc
realloc
__assert_fail
strtoul
__fpending
ferror_unlocked
getgrouplist
getgroups
fflush
setgrent
getgrent
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
