Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
get_quoting_style
gettext_quote
hard_locale
list_signals
locale_charset
main
operand2sig
print_table_row
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
send_signals
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sig2str
str2sig
str2signum
sub_401589
sub_40158a
sub_4015c2
sub_40160a
sub_40162c
sub_40163d
sub_401656
sub_401697
sub_4016de
sub_40170d
sub_401751
sub_401841
sub_40189f
sub_401b36
sub_401b6a
sub_401baa
sub_401cf8
sub_401e6a
sub_401f22
sub_40204a
sub_40205b
sub_4020bc
sub_4020da
sub_4021a0
sub_4026b7
sub_40273e
sub_402765
sub_4027ae
sub_4027cb
sub_40282f
sub_402857
sub_40289e
sub_402951
sub_4029b6
sub_4029fe
sub_402a77
sub_402ab3
sub_402ade
sub_402b4b
sub_402b83
sub_402bbf
sub_402ce3
sub_402e40
sub_4030d4
sub_40312e
sub_403241
sub_4033f4
sub_403432
sub_403476
sub_40380c
sub_4038ff
sub_40399c
sub_403a5d
sub_403bb9
sub_403bf2
sub_403c16
sub_403c58
sub_403ce6
sub_403e3d
sub_403e98
sub_403ebf
sub_403eff
sub_403f3d
sub_403f4e
sub_403f9e
sub_403fd6
sub_404718
sub_4054b7
sub_405533
sub_40555f
sub_405587
sub_40559e
sub_4055ee
sub_405648
sub_4056cb
sub_4057e8
sub_405802
sub_405942
sub_405ae9
sub_405b0b
sub_405b85
sub_405c1c
sub_405cae
sub_405db2
sub_405dce
sub_405e13
sub_405f32
sub_405f68
sub_405fbb
sub_405ff7
sub_406010
sub_406122
sub_4062aa
sub_40637a
sub_406495
sub_4064a2
sub_4064c6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
malloc
printf
strsignal
__errno_location
strcmp
strtol
__libc_current_sigrtmin
__libc_current_sigrtmax
strncmp
gettext
fputs_unlocked
puts
strlen
memcpy
memset
abort
strcpy
sprintf
fprintf
calloc
realloc
free
exit
error
setlocale
bindtextdomain
textdomain
getopt_long
fileno
lseek
fseeko
__freading
strtoimax
kill
strchr
_exit
fclose
strrchr
fputs
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
mbrtowc
__fpending
ferror_unlocked
fflush
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
