Text sections:
append_quoted
base_len
call_chunkfun
call_freefun
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_strcasecmp
c_tolower
c_toupper
dc_parse_file
dc_parse_stream
emit_ancillary_info
emit_bug_reporting_address
freopen_safer
get_quoting_style
gettext_quote
guess_shell_syntax
hard_locale
last_component
locale_charset
main
_obstack_allocated_p
_obstack_begin
_obstack_begin_1
_obstack_begin_worker
_obstack_free
_obstack_memory_used
_obstack_newchunk
orig_freopen
parse_line
print_and_abort
protect_fd
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_freopen
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401739
sub_40173a
sub_401772
sub_4017ba
sub_4017dc
sub_4017ed
sub_401806
sub_40187e
sub_4018b9
sub_4018d1
sub_4018f4
sub_40195f
sub_40199a
sub_401a69
sub_401d59
sub_401d69
sub_401dd8
sub_401e06
sub_401e2e
sub_401e63
sub_401e74
sub_401e9a
sub_401eaa
sub_401ed5
sub_401f28
sub_401f6e
sub_40212d
sub_402293
sub_4022b8
sub_4022eb
sub_402339
sub_402373
sub_402385
sub_4023c9
sub_4023da
sub_402471
sub_40248a
sub_40249d
sub_402504
sub_402529
sub_402661
sub_402696
sub_402749
sub_402787
sub_4027a0
sub_4027ea
sub_4027fd
sub_402b3a
sub_402c2c
sub_402c86
sub_402c9b
sub_402cc3
sub_402ccc
sub_402d78
sub_402df9
sub_402e63
sub_402ecf
sub_402f19
sub_402f65
sub_402f9f
sub_402fc7
sub_402ff3
sub_40301a
sub_403039
sub_403045
sub_40305a
sub_40307f
sub_403085
sub_4030ab
sub_4031de
sub_403229
sub_40323d
sub_403261
sub_40336a
sub_403401
sub_403415
sub_40342a
sub_403451
sub_403464
sub_4034b6
sub_4034d1
sub_4034ea
sub_403509
sub_40351a
sub_40352a
sub_4035a4
sub_4035c7
sub_40364f
sub_4039e8
sub_4039ff
sub_403a19
sub_403a2e
sub_403aa8
sub_403b51
sub_403c7e
sub_403cf2
sub_403d52
sub_403d7d
sub_403d96
sub_403dcd
sub_403de3
sub_403e46
sub_403f6a
sub_403f73
sub_403fed
sub_403ffd
sub_404007
sub_404091
sub_4040b3
sub_4040fb
sub_40410f
sub_4043ec
sub_404403
sub_40449e
sub_4047e4
sub_40482d
sub_404b13
sub_404b5c
sub_404c63
sub_404d38
sub_404ecc
sub_404fcb
sub_404ff9
sub_40502f
sub_405066
sub_40507a
sub_405088
sub_4050ae
sub_4051a9
sub_405207
sub_405223
sub_40525b
sub_405305
sub_405312
sub_405336
to_uchar
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
puts
strlen
malloc
free
fwrite_unlocked
error
getenv
getline
fnmatch
__errno_location
__ctype_b_loc
_exit
fileno
dup2
close
open
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
memset
realloc
memcpy
__strndup
calloc
__freading
lseek
fclose
fflush
freopen
fseeko
mbrtowc
__fpending
ferror_unlocked
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
