Text sections:
adjust_value
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
base_len
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_random_data
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
default_block_size
direct_mode
dir_len
dir_name
dopass
dorewind
dosync
do_wipefd
dup_safer
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
errno_fail
explicit_bzero
fd_safer
fillpattern
fopen_safer
__fstat
fstat
fstatat
genpattern
get_nonce
get_quoting_style
gettext_quote
group_number
hard_locale
human_options
human_readable
humblock
ignorable_sync_errno
incname
isaac_refill
isaac_seed
just
known
last_component
locale_charset
lstatat
main
mdir_name
open_safer
passname
periodic_pattern
ptr_align
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
randint_all_free
randint_all_new
randint_choose
randint_free
randint_genmax
randint_get_source
randint_new
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
readisaac
readsource
renameatu
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
shift_left
simple_new
statat
sub_401d59
sub_401d5a
sub_401d92
sub_401dda
sub_401dfc
sub_401e0d
sub_401e26
sub_401e3a
sub_40203a
sub_40207e
sub_40208e
sub_4020f7
sub_402236
sub_4034bb
sub_403586
sub_4037a6
sub_403b4e
sub_403b86
sub_403baa
sub_403c6a
sub_403d99
sub_403ddf
sub_403e65
sub_403f64
sub_4041a4
sub_404218
sub_40425a
sub_4045b0
sub_4046f3
sub_404727
sub_4047f2
sub_404872
sub_4048b2
sub_404985
sub_4049af
sub_4049d7
sub_4049ff
sub_404a0e
sub_404b59
sub_404d85
sub_404e9a
sub_404eba
sub_404ef7
sub_405019
sub_40506a
sub_4058a5
sub_405c03
sub_405c97
sub_405d98
sub_405ddb
sub_405e07
sub_405e2e
sub_405e87
sub_405f3d
sub_405f72
sub_406077
sub_4060a8
sub_4060db
sub_4060ea
sub_4062e6
sub_406346
sub_40635a
sub_4063e2
sub_406921
sub_40694a
sub_40698b
sub_406a05
sub_406a98
sub_406df7
sub_407059
sub_407092
sub_4070cd
sub_407473
sub_407782
sub_4078d2
sub_4079e8
sub_407a1e
sub_407a3b
sub_407c17
sub_407cba
sub_407cd1
sub_407d3f
sub_407d72
sub_407df8
sub_407e55
sub_407e91
sub_407f41
sub_407f5a
sub_408002
sub_408051
sub_4081f3
sub_40820e
sub_4082a5
sub_408318
sub_40838d
sub_4083fc
sub_408613
sub_40869b
sub_4087e7
sub_40881b
sub_40883b
sub_4088b2
sub_4088fd
sub_40890a
sub_408996
sub_4089ae
sub_408a1e
sub_408ef5
sub_40901a
sub_409077
sub_4090be
sub_409125
sub_409243
sub_40927f
sub_40930c
sub_4094d8
sub_409658
sub_409688
sub_4096ba
sub_4097c6
sub_4097e6
sub_4098b1
sub_4098e9
sub_40998e
sub_409a6d
sub_409b09
sub_409b5c
sub_409b6e
sub_409bdc
sub_409c87
sub_409cae
sub_409ce9
sub_409d63
sub_409da3
sub_409dbe
sub_409e4e
sub_409eb5
sub_40a3c1
sub_40a557
sub_40a658
sub_40a6d7
sub_40a842
sub_40aaa2
sub_40aaef
sub_40ab1c
sub_40abad
sub_40aeb1
sub_40affe
sub_40b594
sub_40b83e
sub_40ba64
sub_40bc65
sub_40bc79
sub_40bceb
sub_40bd88
sub_40be37
sub_40bf5e
sub_40cbc1
sub_40cc28
sub_40ccd2
sub_40cdb5
sub_40cdc2
sub_40cde6
sub_40cdf9
sub_40ce0f
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
wipefd
wipefile
wipename
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
memcpy
abort
__ctype_get_mb_cur_max
strlen
iswprint
mbsinit
__ctype_b_loc
memcmp
memset
gettext
printf
fprintf
fputs_unlocked
exit
free
strcmp
setlocale
strncmp
error
__errno_location
bindtextdomain
textdomain
getopt_long
__fpending
ferror_unlocked
chmod
getuid
getpid
getppid
gettimeofday
getgid
read
close
isatty
open
fileno
lseek
ftruncate
fseeko
getenv
fputs
strrchr
nl_langinfo
localeconv
getpagesize
time
write
strcpy
ioctl
sprintf
fdatasync
fsync
sync
unlink
strchr
__assert_fail
memmove
fcntl
malloc
mbrtowc
calloc
putc_unlocked
_exit
fopen
fdopen
strtoumax
setvbuf
realloc
fread_unlocked
syscall
renameat
__freading
fclose
fflush
__cxa_atexit
__fxstat
__fxstatat

Function signatures:

Function types:

Data:

Preamble:
