Text sections:
canon_host
canon_host_r
ch_strerror
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
count_ampersands
create_fullname
c_tolower
c_toupper
desirable_utmp_entry
emit_ancillary_info
emit_bug_reporting_address
extract_trimmed_name
get_quoting_style
gettext_quote
hard_locale
idle_string
imaxtostr
locale_charset
long_pinky
main
print_entry
print_heading
print_long_entry
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
read_utmp
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
scan_entries
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
short_pinky
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
stzncpy
sub_401959
sub_40195a
sub_401992
sub_4019da
sub_4019fc
sub_401a0d
sub_401a26
sub_401a57
sub_401a8d
sub_401aa3
sub_401bca
sub_401f28
sub_401f3a
sub_401f4f
sub_4022ea
sub_402367
sub_402389
sub_4023ed
sub_4023f5
sub_40242a
sub_40254f
sub_40255a
sub_4025c6
sub_402603
sub_4027ba
sub_402853
sub_4028d4
sub_4028ea
sub_4028fd
sub_402993
sub_402a53
sub_402cdf
sub_402ceb
sub_402d5d
sub_402d6d
sub_402d77
sub_402d96
sub_402de8
sub_402e27
sub_402ead
sub_402eb8
sub_402ed8
sub_402f06
sub_403014
sub_403025
sub_4030a3
sub_403129
sub_40313a
sub_403159
sub_40316a
sub_403173
sub_40318a
sub_4031bb
sub_4031ca
sub_403204
sub_403265
sub_4032a7
sub_4032ba
sub_4032cc
sub_40335f
sub_4033bc
sub_403460
sub_4034a3
sub_4034f8
sub_4038cc
sub_4038e3
sub_40397e
sub_403cc4
sub_403d0d
sub_403ff3
sub_40403c
sub_404143
sub_404218
sub_4043ac
sub_4043bb
sub_4043ed
sub_4043ff
sub_404408
sub_404475
sub_4044d6
sub_404517
sub_404596
sub_4045c3
sub_4045ea
sub_404610
sub_4046aa
sub_40479c
sub_4047b7
sub_4047cd
sub_404801
sub_404813
sub_4048c1
sub_404919
sub_404992
sub_4049b1
sub_4049cf
sub_4049f6
sub_404a26
sub_404a86
sub_404a9a
sub_404aae
sub_404c6d
sub_404cf8
sub_404d79
sub_404de3
sub_404e4f
sub_404e99
sub_404ee5
sub_404f1f
sub_404f72
sub_40506b
sub_405091
sub_405169
sub_4051d8
sub_405207
sub_405249
sub_405261
sub_405284
sub_405295
sub_4052cf
sub_4052f9
sub_405328
sub_40533a
sub_4053a5
sub_4053b2
sub_4053d6
sub_4053e9
time_string
timetostr
to_uchar
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
error
__errno_location
putchar_unlocked
getpwnam
strchr
free
strlen
__ctype_b_loc
__ctype_toupper_loc
time
__sprintf_chk
localtime
strftime
stpcpy
fopen
fread_unlocked
fwrite_unlocked
getaddrinfo
__strdup
freeaddrinfo
gai_strerror
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
fileno
__freading
lseek
fclose
fflush
fseeko
mbrtowc
strncpy
utmpxname
setutxent
getutxent
endutxent
kill
__fpending
ferror_unlocked
nl_langinfo
__cxa_atexit
__xstat

Function signatures:

Function types:

Data:

Preamble:
