Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401259
sub_40125a
sub_401292
sub_4012da
sub_4012fc
sub_40130d
sub_401326
sub_401335
sub_4016c8
sub_401703
sub_401718
sub_4017b5
sub_401881
sub_4018c3
sub_40197f
sub_401a4f
sub_401c11
sub_401c33
sub_401cc6
sub_401fa4
sub_401fdd
sub_4023d7
sub_402415
sub_402526
sub_40254e
sub_4025b1
sub_40270a
sub_4027c5
sub_4028bc
sub_4028c5
sub_402978
sub_4029d4
sub_4029e5
sub_402a6a
sub_402abb
sub_402ace
sub_402c8d
sub_402c95
sub_402d53
sub_402d95
sub_402e1f
sub_402e4b
sub_402eb1
sub_402ed7
sub_402f05
sub_402f7e
sub_402fb1
sub_402fc5
sub_403015
sub_403111
sub_403140
sub_4033de
sub_403454
sub_4034ca
sub_4036bc
sub_403902
sub_403915
sub_40398f
sub_403a61
sub_403a78
sub_403ac8
sub_403ae9
sub_403b5c
sub_403b81
sub_403bb6
sub_403c35
sub_403d0f
sub_403d29
sub_403db3
sub_403dcf
sub_403dd5
sub_403e45
sub_403f06
sub_403f15
sub_403fc4
sub_404006
sub_404028
sub_40409e
sub_4040aa
sub_4040ba
sub_404125
sub_404132
sub_404156
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__errno_location
error
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
