Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401369
sub_40136a
sub_4013a2
sub_4013ea
sub_40140c
sub_40141d
sub_401436
sub_401457
sub_4014af
sub_4014d7
sub_4014fb
sub_4015e7
sub_40162a
sub_401749
sub_401787
sub_4017c2
sub_4017e3
sub_401893
sub_4018f5
sub_40190a
sub_401bba
sub_401be8
sub_401c6f
sub_401ca6
sub_401cc2
sub_401d6e
sub_401e11
sub_401e98
sub_401edf
sub_401f8d
sub_401faa
sub_40204a
sub_402173
sub_402236
sub_4023f4
sub_402426
sub_402563
sub_4025c7
sub_4027ed
sub_402877
sub_4028b7
sub_402907
sub_4029b9
sub_402ae5
sub_402ba4
sub_40319f
sub_4031de
sub_4031ee
sub_40326f
sub_4032c7
sub_403482
sub_40354a
sub_4035fb
sub_40361f
sub_40369a
sub_403880
sub_403982
sub_403a1e
sub_403ab5
sub_403afb
sub_403b0e
sub_403b8d
sub_403c55
sub_403c92
sub_403d26
sub_403d30
sub_403d71
sub_403d8e
sub_403e35
sub_403e4b
sub_403e9e
sub_403f13
sub_403f51
sub_404a44
sub_405377
sub_4053ce
sub_40540b
sub_40546d
sub_40547e
sub_405522
sub_40555f
sub_40558a
sub_4055fc
sub_4056b1
sub_4057ce
sub_4057e6
sub_405863
sub_4058a8
sub_4058be
sub_405965
sub_4059d5
sub_4059e2
sub_405a06
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
fputs
abort
strrchr
strncmp
memcpy
nl_langinfo
calloc
exit
getopt_long
strlen
free
realloc
malloc
gettext
fprintf
printf
fputs_unlocked
strcmp
error
__errno_location
memset
__fpending
ferror_unlocked
setlocale
geteuid
puts
bindtextdomain
textdomain
getpwuid
_exit
mbrtowc
fseeko
fileno
lseek
fflush
__freading
iswprint
mbsinit
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
fclose
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
