Text sections:
apply_settings
baud_to_value
bkm_scale
bkm_scale_0
bkm_scale_by_power
bkm_scale_by_power_0
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
display_all
display_changed
display_recoverable
display_settings
display_speed
display_window_size
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
fd_reopen
get_quoting_style
gettext_quote
get_win_size
hard_locale
integer_arg
locale_charset
main
mode_type_flag
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
recover_mode
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
sane_mode
screen_columns
set_char_quoting
set_control_char
set_custom_quoting
set_mode
set_program_name
set_quoting_flags
set_quoting_style
set_speed
set_window_size
string_to_baud
strtoul_cc_t
strtoul_tcflag_t
sub_401859
sub_40185a
sub_401892
sub_4018da
sub_4018fc
sub_40190d
sub_401926
sub_401a1b
sub_401ab3
sub_401b17
sub_401b2a
sub_401c0e
sub_401c82
sub_401ce0
sub_401ff8
sub_4022f7
sub_402317
sub_4023f1
sub_402486
sub_4024c1
sub_4026b8
sub_402a9e
sub_402b1d
sub_402bcd
sub_402be2
sub_402c82
sub_402cc8
sub_402d07
sub_402eca
sub_402f92
sub_40345b
sub_4034ea
sub_40352e
sub_40356a
sub_4035aa
sub_40368a
sub_40369e
sub_40378d
sub_40379a
sub_40383a
sub_40408e
sub_404e35
sub_404ee3
sub_4053b2
sub_40552b
sub_4055bd
sub_40567d
sub_40569f
sub_405705
sub_40573b
sub_405772
sub_4057f5
sub_40580e
sub_405867
sub_4058ab
sub_4058da
sub_40595e
sub_405b75
sub_405c4e
sub_405c83
sub_405d2a
sub_405d95
sub_40641f
sub_4064fb
sub_40653f
sub_40657b
sub_406f07
sub_407240
sub_4072a4
sub_4072c2
sub_4072cf
sub_407307
sub_40731e
sub_40739c
sub_407453
sub_4074a4
sub_40757f
sub_4076a5
sub_407767
sub_407813
sub_40787d
sub_40788f
sub_407973
sub_407a29
sub_408341
sub_4083d6
sub_40845c
sub_4084ad
sub_4084c3
sub_408536
sub_4085d1
sub_40875f
sub_4088b3
sub_40896a
sub_408b3e
sub_408b4e
sub_408b86
sub_408c7b
sub_408ce7
sub_408e54
sub_408e8f
sub_40901a
sub_40917b
sub_40919f
sub_4092c3
sub_409328
sub_409660
sub_409839
sub_4098be
sub_409b12
sub_409da7
sub_40a275
sub_40a29e
sub_40a30b
sub_40a34f
sub_40a398
sub_40a449
sub_40a466
sub_40a483
sub_40a59c
sub_40a6bf
sub_40a9bd
sub_40aa33
sub_40aa98
sub_40aaae
sub_40ab55
sub_40ab62
sub_40ab86
to_uchar
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
visible
wrapf
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtol
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
fputs
abort
strncmp
strrchr
gettext
fputs_unlocked
malloc
__errno_location
strtoul
memcpy
error
fcntl
mbrtowc
printf
memset
strtoumax
strchr
__ctype_b_loc
__assert_fail
fflush
__freading
realloc
free
fileno
lseek
fseeko
strtol
calloc
strlen
memcmp
iswprint
mbsinit
__ctype_get_mb_cur_max
close
fprintf
fclose
strcmp
ioctl
exit
getenv
setlocale
bindtextdomain
textdomain
getopt_long
nl_langinfo
cfgetispeed
cfgetospeed
_exit
tcgetattr
tcsetattr
cfsetispeed
cfsetospeed
putchar_unlocked
vasprintf
__fpending
ferror_unlocked
open
dup2
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
