Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
fadvise
fdadvise
get_quoting_style
gettext_quote
__gl_setmode
__gl_setmode_check
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_binary_mode
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401449
sub_40144a
sub_401482
sub_4014ca
sub_4014ec
sub_4014fd
sub_401516
sub_401739
sub_401a49
sub_401a83
sub_401b56
sub_401baa
sub_401bbb
sub_402108
sub_402227
sub_402275
sub_40229b
sub_4022c5
sub_40230b
sub_40231e
sub_40239e
sub_4023a6
sub_4023cf
sub_402408
sub_402437
sub_40253c
sub_4025e2
sub_402663
sub_4026f6
sub_40270e
sub_402867
sub_4028af
sub_4028e3
sub_4028fb
sub_40294e
sub_402b96
sub_402cb2
sub_402cf7
sub_402d0e
sub_402da6
sub_402f14
sub_402f4a
sub_403024
sub_40306e
sub_40311d
sub_403243
sub_4045e6
sub_4046af
sub_4046e2
sub_404722
sub_404758
sub_404788
sub_4047a3
sub_40481f
sub_404856
sub_404891
sub_4048ae
sub_404aee
sub_404bb6
sub_404cdb
sub_404d55
sub_404da3
sub_404e22
sub_404e67
sub_404e9c
sub_404f1a
sub_404f2e
sub_404fa1
sub_404fe2
sub_405034
sub_4050ae
sub_4050be
sub_4051f9
sub_405232
sub_4052ed
sub_4052fe
sub_405364
sub_4053a2
sub_40543a
sub_40550e
sub_40553d
sub_40555a
sub_405592
sub_4055c7
sub_405600
sub_40580e
sub_405878
sub_405879
sub_405ad9
sub_405af6
sub_405ba1
sub_405bed
sub_405c38
sub_405cd1
sub_405d2e
sub_405f6b
sub_405f9f
sub_406061
sub_406175
sub_406182
sub_4061a6
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xset_binary_mode
xset_binary_mode_error
xstrdup
xzalloc

PLT sections:
__libc_start_main
ferror_unlocked
__errno_location
error
strcmp
fread_unlocked
gettext
fopen
printf
feof_unlocked
__fpending
fprintf
fputs_unlocked
malloc
exit
setlocale
fflush
__freading
getopt_long
fileno
lseek
fseeko
calloc
free
abort
strncmp
_exit
textdomain
fclose
bindtextdomain
__ctype_b_loc
memcmp
__ctype_get_mb_cur_max
memset
strlen
mbrtowc
iswprint
mbsinit
nl_langinfo
strrchr
fputs
memcpy
realloc
posix_fadvise
setvbuf
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
