Text sections:
advance
and
beyond
binary_operator
binop
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
expr
find_int
fraccompare
get_mtime
get_quoting_style
get_stat_atime
get_stat_atime_ns
get_stat_birthtime
get_stat_birthtime_ns
get_stat_ctime
get_stat_ctime_ns
get_stat_mtime
get_stat_mtime_ns
gettext_quote
hard_locale
initialize_exit_failure
locale_charset
main
make_timespec
numcompare
one_argument
or
posixtest
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
stat
stat_time_normalize
strintcmp
sub_401469
sub_40146a
sub_4014a2
sub_4014ea
sub_40150c
sub_40151d
sub_401536
sub_40155a
sub_4015f4
sub_401632
sub_40166a
sub_40168a
sub_4016a2
sub_4016cd
sub_401745
sub_401781
sub_401935
sub_401a49
sub_401cac
sub_401d1e
sub_401d5a
sub_401d9b
sub_401dca
sub_401df1
sub_401e47
sub_401ec2
sub_40208f
sub_40215b
sub_40225c
sub_40238f
sub_4024e4
sub_402524
sub_4025ec
sub_4027bb
sub_402b4e
sub_402ba8
sub_402d08
sub_402e22
sub_40355c
sub_4035c0
sub_4035d7
sub_4036b2
sub_40370a
sub_403754
sub_4037d8
sub_403813
sub_40385a
sub_40388d
sub_40389c
sub_403957
sub_4039b7
sub_4039da
sub_403a18
sub_403a9a
sub_403afc
sub_403c39
sub_403ccd
sub_4042be
sub_404723
sub_404767
sub_404786
sub_4047c2
sub_4047de
sub_40484e
sub_4048da
sub_404918
sub_405c7e
sub_405cf6
sub_405d61
sub_405e00
sub_405e27
sub_405e4d
sub_405ec1
sub_405efd
sub_405f0c
sub_406037
sub_406233
sub_40626b
sub_4062cf
sub_406335
sub_40634e
sub_406427
sub_406488
sub_4064d3
sub_406529
sub_406617
sub_40663f
sub_40664e
sub_40672d
sub_40674c
sub_4068bb
sub_406946
sub_406a41
sub_406a7d
sub_406ae5
sub_406b22
sub_406b3b
sub_406b8a
sub_406bbc
sub_406bd2
sub_406c53
sub_406c7f
sub_406cbe
sub_406e2c
sub_406e3e
sub_406ea7
sub_406ed7
sub_406f13
sub_406f32
sub_4071aa
sub_407291
sub_4072f5
sub_407499
sub_4074cc
sub_4074dc
sub_40751f
sub_407568
sub_40758a
sub_407590
sub_4075f4
sub_407630
sub_407e3c
sub_407ede
sub_407f92
sub_407fce
sub_407ffa
sub_408056
sub_40808f
sub_4080e8
sub_4081ab
sub_4081ed
sub_408223
sub_408243
sub_408337
sub_4083a5
sub_4083b2
sub_4083d6
sub_4083e9
term
test_syntax_error
three_arguments
timespec_cmp
timespec_sign
timespectod
to_uchar
two_arguments
umaxtostr
unary_advance
unary_operator
usage
verror
verror_at_line
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmax
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrcat
xstrdup
xsum
xsum3
xsum4
xvasprintf
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
malloc
memset
abort
memcpy
__errno_location
strlen
__fpending
ferror_unlocked
free
gettext
strcmp
__ctype_b_loc
fseeko
fileno
lseek
vasprintf
nl_langinfo
error_at_line
error
fputs
strrchr
strncmp
__freading
fclose
realloc
__ctype_get_mb_cur_max
iswprint
mbsinit
memcmp
_exit
fflush
setlocale
bindtextdomain
textdomain
mbrtowc
exit
fputs_unlocked
fprintf
printf
euidaccess
geteuid
getegid
strtol
isatty
calloc
__cxa_atexit
__xstat
__lxstat

Function signatures:

Function types:

Data:

Preamble:
