Text sections:
append_quoted
base_len
call_chunkfun
call_freefun
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
dc_parse_file
dc_parse_stream
emit_ancillary_info
emit_bug_reporting_address
freopen_safer
get_quoting_style
gettext_quote
guess_shell_syntax
hard_locale
last_component
locale_charset
main
_obstack_allocated_p
_obstack_begin
_obstack_begin_1
_obstack_begin_worker
_obstack_free
_obstack_memory_used
_obstack_newchunk
orig_freopen
parse_line
print_and_abort
protect_fd
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_freopen
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401709
sub_40170a
sub_401742
sub_40178a
sub_4017ac
sub_4017bd
sub_4017d6
sub_401882
sub_401916
sub_40199b
sub_401a9d
sub_401aba
sub_401b4c
sub_401c11
sub_401cc6
sub_401cd0
sub_401d11
sub_401dd1
sub_40239f
sub_4023d8
sub_402453
sub_4024a8
sub_402508
sub_402783
sub_40285e
sub_402897
sub_4029f4
sub_402a54
sub_402aaa
sub_402c01
sub_402d35
sub_402eac
sub_403176
sub_4031b7
sub_403244
sub_40325a
sub_4032ab
sub_4032be
sub_403306
sub_4033a0
sub_403536
sub_403573
sub_40358e
sub_4035e2
sub_40367b
sub_403bf7
sub_403c28
sub_403c6f
sub_403d68
sub_40439b
sub_404639
sub_40467e
sub_4046bb
sub_4046e8
sub_40470f
sub_404767
sub_40478b
sub_40484d
sub_404856
sub_40498a
sub_40499e
sub_404a0a
sub_404ab9
sub_404af2
sub_404bc2
sub_404c1b
sub_404c85
sub_404cb7
sub_404cea
sub_404d17
sub_404d26
sub_404dad
sub_404de7
sub_404dfe
sub_404e87
sub_404ebc
sub_404f85
sub_404fc7
sub_40507a
sub_4050af
sub_4050be
sub_40515f
sub_405196
sub_4051ae
sub_405283
sub_405565
sub_40560e
sub_4056b2
sub_40574d
sub_405854
sub_405891
sub_4058ca
sub_405985
sub_4059d4
sub_405b74
sub_405b9f
sub_405c2c
sub_405ce2
sub_405d62
sub_405e3c
sub_405eab
sub_4070cb
sub_4072c2
sub_407302
sub_4073cd
sub_407503
sub_407565
sub_4075ba
sub_4076dd
sub_407825
sub_407832
sub_407856
to_uchar
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
free
freopen
memcpy
gettext
printf
fprintf
fputs_unlocked
exit
setlocale
strcmp
__freading
fflush
__errno_location
abort
memset
fileno
fclose
lseek
mbrtowc
strncmp
__ctype_b_loc
strlen
malloc
close
dup2
calloc
fwrite_unlocked
error
puts
bindtextdomain
textdomain
getopt_long
getenv
getline
fnmatch
strndup
_exit
nl_langinfo
__fpending
ferror_unlocked
open
fputs
fseeko
strrchr
__ctype_get_mb_cur_max
memcmp
realloc
iswprint
mbsinit
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
