Text sections:
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
do_ftruncate
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_size_note
fstat
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
stat
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401509
sub_40150a
sub_401542
sub_40158a
sub_4015ac
sub_4015bd
sub_4015d6
sub_401600
sub_401693
sub_4016b9
sub_401728
sub_40173a
sub_401759
sub_4017e3
sub_401806
sub_401884
sub_4018b9
sub_4018ef
sub_4018ff
sub_40190a
sub_401913
sub_4019b8
sub_401a39
sub_401aa3
sub_401b0f
sub_401b59
sub_401ba5
sub_401bdf
sub_401be8
sub_401bff
sub_401c43
sub_401d1f
sub_401d47
sub_401d60
sub_401daa
sub_401ddb
sub_401e2a
sub_401e49
sub_401e5a
sub_401e94
sub_401ebe
sub_401f79
sub_401f85
sub_401faa
sub_401fe3
sub_401fff
sub_402023
sub_40204a
sub_402072
sub_402088
sub_4020c7
sub_4020d3
sub_4020fa
sub_402126
sub_402169
sub_40218a
sub_4021b6
sub_402518
sub_402556
sub_402578
sub_40258c
sub_402683
sub_4026bd
sub_4026d3
sub_4026e5
sub_40274e
sub_40275a
sub_40276d
sub_4027c8
sub_402817
sub_402bc8
sub_402c59
sub_402e5e
sub_40301d
sub_403072
sub_40313d
sub_40325a
sub_4032f1
sub_403326
sub_40333a
sub_4033ad
sub_4033bd
sub_4033c7
sub_4033dd
sub_40365e
sub_403681
sub_403702
sub_4039aa
sub_4039d5
sub_4039ed
sub_403a12
sub_403a2a
sub_403a69
sub_403a81
sub_403aa4
sub_403b1e
sub_403b58
sub_403f6c
sub_403f83
sub_40401e
sub_404364
sub_4043ad
sub_404693
sub_4046dc
sub_4047e3
sub_4048b8
sub_404a4c
sub_404a56
sub_404a83
sub_404ae6
sub_404b21
sub_404b35
sub_404b45
sub_404bca
sub_404cbc
sub_404d25
sub_404d32
sub_404d56
sub_404d69
to_uchar
usable_st_size
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoimax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoimax
xrealloc
xstrdup
xstrtoimax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
__ctype_b_loc
error
open
lseek
__errno_location
close
ftruncate
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
strtoimax
strchr
__assert_fail
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit
__xstat
__fxstat

Function signatures:

Function types:

Data:

Preamble:
