Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401199
sub_40119a
sub_4011d2
sub_40121a
sub_40123c
sub_40124d
sub_401266
sub_401275
sub_4012ea
sub_4012f5
sub_4013e5
sub_401407
sub_401441
sub_401484
sub_4014d8
sub_401501
sub_401515
sub_401548
sub_401587
sub_401646
sub_401670
sub_40176a
sub_401788
sub_4017a1
sub_40189c
sub_4018a5
sub_4018c5
sub_40199e
sub_401a31
sub_401a73
sub_401aef
sub_401b64
sub_401c35
sub_401f98
sub_401fa5
sub_4020a8
sub_40239d
sub_4023b3
sub_402455
sub_4027a4
sub_4027ed
sub_402ad2
sub_402b1c
sub_402c23
sub_402cf8
sub_402eb7
sub_402ef5
sub_402f05
sub_402f7f
sub_402fef
sub_403026
sub_403035
sub_403086
sub_403184
sub_403195
sub_403263
sub_40327e
sub_40343d
sub_40348b
sub_40349c
sub_403529
sub_403535
sub_4035a5
sub_4036e3
sub_403709
sub_40371a
sub_403726
sub_4037b4
sub_40394c
sub_4039c5
sub_4039e3
sub_403bd2
sub_403ca1
sub_403cb5
sub_403d55
sub_403d65
sub_403e35
sub_403e42
sub_403e66
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
bindtextdomain
textdomain
strcmp
__errno_location
error
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
__fprintf_chk
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
