Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
cl_strtold
c_strtold
emit_bug_reporting_address
exit_failure_callback
fallback_failure_callback
fwrite_success_callback
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
print_esc
print_unicode_char
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
u8_uctomb_aux
unicode_to_mb
usage
verify_numeric
version_etc_ar
version_etc_arn
version_etc_va
vstrtoimax
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xfprintf
xmalloc
xmemdup
xnmalloc
xnrealloc
xprintf
xrealloc
xstrdup
xvfprintf
xvprintf
xzalloc

PLT sections:
getenv
free
__vfprintf_chk
__mempcpy_chk
abort
__errno_location
strncmp
_exit
__fpending
iconv
ferror
textdomain
__strtol_internal
fclose
bindtextdomain
dcgettext
__ctype_get_mb_cur_max
strlen
mbrtowc
newlocale
__overflow
strrchr
lseek
__strtoul_internal
memset
memchr
__libc_start_main
memcmp
fputs_unlocked
calloc
strcmp
memcpy
fileno
uselocale
malloc
fflush
nl_langinfo
__freading
realloc
setlocale
__printf_chk
strtold
error
fseeko
__cxa_atexit
exit
fwrite
__fprintf_chk
mbsinit
iswprint
__ctype_b_loc
iconv_open

Function signatures:

Function types:

Data:

Preamble:
