Text sections:
apply_time_suffix
block_cleanup_and_chld
chld
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
cleanup
clear_ungetc_buffer_preserving_position
c_locale
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
cl_strtod
c_strcasecmp
c_strtod
c_tolower
c_toupper
disable_core_dumps
dtotimespec
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
get_quoting_style
gettext_quote
hard_locale
initialize_exit_failure
install_cleanup
install_sigchld
locale_charset
main
make_timespec
operand2sig
parse_duration
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
send_sig
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
settimeout
sig2str
str2sig
str2signum
sub_401ae9
sub_401aea
sub_401b22
sub_401b6a
sub_401b8c
sub_401b9d
sub_401bb6
sub_401c71
sub_401d06
sub_401d62
sub_401ea9
sub_401ef4
sub_402002
sub_40202b
sub_402066
sub_40210a
sub_402116
sub_4022f7
sub_4023c2
sub_40245d
sub_402515
sub_402608
sub_402683
sub_4026ca
sub_4026ef
sub_40290b
sub_402a0a
sub_402ab3
sub_402c3f
sub_402c88
sub_402fb2
sub_40333f
sub_4034a3
sub_403522
sub_40355d
sub_40358a
sub_403602
sub_403623
sub_40383e
sub_40391e
sub_4039fa
sub_403a68
sub_403bd4
sub_403c37
sub_403c4e
sub_403c9a
sub_403cae
sub_403d9d
sub_403dca
sub_403e02
sub_403e3b
sub_403eb7
sub_403f62
sub_403fb1
sub_403fe6
sub_4040de
sub_4041cd
sub_4041e6
sub_404291
sub_4042d2
sub_404382
sub_4043bf
sub_404451
sub_4044be
sub_4044db
sub_404538
sub_4045e9
sub_40462f
sub_40466b
sub_4047a6
sub_404858
sub_4048d1
sub_404aa1
sub_404b65
sub_404c0d
sub_404c1a
sub_404d0d
sub_404dcb
sub_404e25
sub_404e39
sub_404ecd
sub_404eed
sub_404f1d
sub_404f2e
sub_404ff8
sub_40501f
sub_405067
sub_4053d9
sub_405662
sub_40569c
sub_4056b2
sub_40577b
sub_40580a
sub_4058f7
sub_405a54
sub_405b78
sub_405bb3
sub_405bfc
sub_405c0e
sub_405c77
sub_405d0f
sub_405d47
sub_405d88
sub_405de6
sub_405e52
sub_405e88
sub_405fb5
sub_4060b6
sub_406141
sub_40618e
sub_406e4c
sub_407595
sub_4075a2
sub_4075c6
timespec_cmp
timespec_sign
timespectod
unblock_signal
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtod
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
gettext
fprintf
printf
fputs_unlocked
exit
strcmp
__errno_location
error
_exit
strtod
strlen
snprintf
fileno
lseek
fseeko
__freading
fclose
memcpy
sigemptyset
sigaction
setlocale
strncmp
strtol
__libc_current_sigrtmin
__libc_current_sigrtmax
free
strchr
signal
raise
execvp
bindtextdomain
textdomain
getopt_long
waitpid
sigsuspend
setpgid
fork
alarm
sigaddset
sigprocmask
timer_create
timer_settime
timer_delete
prctl
kill
fputs
memset
abort
strrchr
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
nl_langinfo
iswprint
mbsinit
malloc
realloc
calloc
mbrtowc
strcpy
sprintf
strtod_l
newlocale
__fpending
ferror_unlocked
fflush
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
