Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
mgetgroups
parse_user_spec
parse_with_separator
print_group
print_group_list
print_stuff
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4016d9
sub_4016da
sub_401712
sub_40175a
sub_40177c
sub_40178d
sub_4017a6
sub_401808
sub_4019f6
sub_401a36
sub_401d2d
sub_401d43
sub_401de5
sub_402134
sub_40217d
sub_402462
sub_4024ac
sub_4025b3
sub_402688
sub_402847
sub_40285f
sub_402881
sub_4028ff
sub_4029c5
sub_402b2d
sub_402bb3
sub_402bf1
sub_402c68
sub_402c75
sub_402d84
sub_402e7c
sub_402f03
sub_402f71
sub_402fb3
sub_403014
sub_4030f3
sub_403138
sub_403336
sub_4033a8
sub_4039cd
sub_403e19
sub_403f28
sub_403f35
sub_403f80
sub_404085
sub_4040a8
sub_4041de
sub_40426c
sub_4044e6
sub_404559
sub_404571
sub_4045a5
sub_40461c
sub_404656
sub_4046d5
sub_404757
sub_40476a
sub_404801
sub_404815
sub_40488e
sub_404a4d
sub_404a5a
sub_404ad4
sub_404b84
sub_404bc5
sub_404db2
sub_404dd8
sub_404def
sub_404df5
sub_404ec4
sub_405258
sub_4052ae
sub_4052fa
sub_4055c3
sub_4055d5
sub_40565b
sub_4056ab
sub_4056f8
sub_405708
sub_40577e
sub_40578a
sub_4057f6
sub_405869
sub_4058b2
sub_4058c5
sub_4059a1
sub_4059e3
sub_405a45
sub_405ab5
sub_405ac2
sub_405ae6
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetgroups
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoul
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
getpwuid
free
__errno_location
error
geteuid
getuid
getegid
getgid
getgrgid
__overflow
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
strchr
getpwnam
endgrent
endpwent
getgrnam
malloc
realloc
memcpy
strtoul
__assert_fail
calloc
mbrtowc
__fpending
strcmp
getgrouplist
getgroups
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
