Text sections:
announce_mkdir
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
dirchownmod
dup_safer
emit_bug_reporting_address
fd_safer
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
make_ancestor
make_dir_parents
mkancesdirs
mode_adjust
mode_compile
mode_create_from_ref
open_safer
process_dir
prog_fprintf
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
savewd_chdir
savewd_errno
savewd_finish
savewd_init
savewd_process_files
savewd_restore
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401819
sub_40181a
sub_401852
sub_40189a
sub_4018bc
sub_4018cd
sub_4018e6
sub_40195a
sub_40198c
sub_4019e7
sub_401abe
sub_401ad1
sub_401aef
sub_401af6
sub_401bb0
sub_401c4b
sub_401d2e
sub_401da5
sub_401e18
sub_401e25
sub_401f04
sub_401f15
sub_401fa6
sub_401fe6
sub_402003
sub_4020a1
sub_4020b5
sub_4021e1
sub_40225e
sub_40227a
sub_40231f
sub_40233f
sub_402352
sub_40238c
sub_402394
sub_4023ca
sub_4023db
sub_4023eb
sub_402494
sub_40259c
sub_402658
sub_40266a
sub_4026f3
sub_40270f
sub_402715
sub_4027f2
sub_402805
sub_402847
sub_4028e2
sub_4028f5
sub_4029c8
sub_4029de
sub_402b9d
sub_402f4d
sub_402f63
sub_403005
sub_403354
sub_40339d
sub_403682
sub_4036cc
sub_4037d3
sub_4038a8
sub_403a67
sub_403b34
sub_403b4b
sub_403ba7
sub_403bc9
sub_403c46
sub_403cb1
sub_403cda
sub_403d4e
sub_403d85
sub_403dc8
sub_403fb5
sub_40402f
sub_404388
sub_4043a9
sub_404471
sub_40448e
sub_40457c
sub_404771
sub_4047d5
sub_4049c2
sub_404ed1
sub_405083
sub_4050e4
sub_40513b
sub_405166
sub_405188
sub_4051c1
sub_4051e7
sub_4051f8
sub_405218
sub_40522a
sub_4052a4
sub_405351
sub_405365
sub_4056de
sub_4056f9
sub_405733
sub_405791
sub_4059b8
sub_405a1a
sub_405a29
sub_405a5f
sub_405aa1
sub_405b94
sub_405be9
sub_405bff
sub_405d25
sub_405d32
sub_405d56
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
error
umask
free
__errno_location
mkdir
__vfprintf_chk
__overflow
_exit
__xstat
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
open
fork
fchdir
chdir
close
__assert_fail
waitpid
raise
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
__fxstat
fchown
lchown
chown
fchmod
chmod
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
fcntl
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
