Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
defaultcon
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
fgetfilecon
freecon
fsetfilecon
getcon
getfilecon
getfscreatecon
get_quoting_style
gettext_quote
hard_locale
is_smack_enabled
lgetfilecon
locale_charset
lsetfilecon
main
make_node_op_equals
matchpathcon
matchpathcon_init_prefix
mode_adjust
mode_compile
mode_create_from_ref
octal_to_mode
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
se_const
security_check_context
security_check_context_raw
security_compute_create
set_char_quoting
set_custom_quoting
setexeccon
setfilecon
setfscreatecon
set_program_name
set_quoting_flags
set_quoting_style
smack_set_label_for_self
string_to_security_class
sub_4013a9
sub_4013aa
sub_4013e2
sub_40142a
sub_40144c
sub_40145d
sub_401476
sub_401486
sub_4015b7
sub_4015fe
sub_40163a
sub_4016e2
sub_401727
sub_4017c1
sub_40181b
sub_401867
sub_40189b
sub_401937
sub_4019c6
sub_401b0d
sub_401b4b
sub_401b5a
sub_401c51
sub_401c6b
sub_401cc7
sub_401cf4
sub_401d24
sub_401d71
sub_401e78
sub_401f0d
sub_402033
sub_4020f1
sub_4021b5
sub_402216
sub_40223b
sub_402365
sub_402544
sub_402576
sub_402734
sub_4027a3
sub_4027be
sub_402865
sub_402919
sub_402977
sub_40298e
sub_40299f
sub_4029d8
sub_402a13
sub_402a2c
sub_402f37
sub_402f88
sub_402fb8
sub_402ff2
sub_403036
sub_403068
sub_403098
sub_40318f
sub_404465
sub_404536
sub_404593
sub_4045ae
sub_40462e
sub_404b39
sub_404c18
sub_404c84
sub_404cb4
sub_404ce8
sub_404e13
sub_404e98
sub_404f4d
sub_404f5a
sub_404faf
sub_404fd4
sub_405091
sub_405113
sub_405192
sub_4051f8
sub_40520e
sub_405263
sub_4052bc
sub_40537e
sub_405442
sub_405481
sub_4054bf
sub_4054ca
sub_4054f8
sub_405537
sub_4055a5
sub_4055bc
sub_4055ff
sub_405b51
sub_405c94
sub_405ccd
sub_405e71
sub_405f67
sub_405fbe
sub_40601c
sub_406047
sub_406082
sub_4060b8
sub_4062f4
sub_406364
sub_406386
sub_40639e
sub_40640f
sub_40643a
sub_40646a
sub_4064e2
sub_40651f
sub_406545
sub_40658d
sub_4065aa
sub_406615
sub_406622
sub_406646
sub_406659
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
__errno_location
error
_exit
gettext
abort
printf
fputs_unlocked
fprintf
exit
strcmp
calloc
mbrtowc
__freading
fileno
lseek
fclose
strrchr
strncmp
fputs
setlocale
free
memcpy
__fpending
ferror_unlocked
mkfifo
umask
chmod
bindtextdomain
textdomain
getopt_long
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
memset
iswprint
mbsinit
malloc
realloc
fflush
fseeko
nl_langinfo
__cxa_atexit
__xstat

Function signatures:

Function types:

Data:

Preamble:
