Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401349
sub_40134a
sub_401382
sub_4013ca
sub_4013ec
sub_4013fd
sub_401416
sub_40153a
sub_40154a
sub_401570
sub_401623
sub_40164a
sub_4016d8
sub_401759
sub_4017c3
sub_40182f
sub_401879
sub_4018c5
sub_4018ff
sub_40190a
sub_401918
sub_40192a
sub_401941
sub_401955
sub_4019f4
sub_401a2d
sub_401a43
sub_401b4c
sub_401b63
sub_401b7f
sub_401c03
sub_401c15
sub_401c30
sub_401c73
sub_401ce2
sub_401cf9
sub_401d68
sub_401d7d
sub_401dab
sub_401e19
sub_401e4f
sub_401e69
sub_401e7f
sub_401f3d
sub_401f4a
sub_401f5a
sub_401f6d
sub_4020fd
sub_40210d
sub_402117
sub_40212a
sub_40213d
sub_40215e
sub_402191
sub_4021c7
sub_402528
sub_402556
sub_4025f1
sub_40262b
sub_402669
sub_402681
sub_4026a4
sub_4026ba
sub_4026f8
sub_4027a4
sub_4027ca
sub_4027f6
sub_40280a
sub_402829
sub_40283a
sub_40284a
sub_40293c
sub_4029a7
sub_4029fe
sub_402bbd
sub_402bf7
sub_402c0a
sub_402c31
sub_402c57
sub_402c73
sub_402cb3
sub_402db1
sub_402e3d
sub_402e56
sub_402f45
sub_402f5f
sub_402f86
sub_403016
sub_403028
sub_40309e
sub_403112
sub_403156
sub_40317e
sub_4031c9
sub_4034ac
sub_4034c3
sub_40355e
sub_4038a4
sub_4038ed
sub_403bd3
sub_403c1c
sub_403d23
sub_403df8
sub_403f8c
sub_404007
sub_404075
sub_404082
sub_4040a6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getlogin
puts
error
__errno_location
_exit
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
