Text sections:
AD_compare
AD_hash
chdir_long
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
cycle_check
cycle_check_init
cycle_warning_required
dev_type_compare
dev_type_hash
dup_safer
emit_bug_reporting_address
enter_dir
fd_safer
filesystem_type
free_cwd
fts_build
fts_compare_ino
fts_safe_changedir
fts_sort
fts_stat
getfileconat
get_quoting_style
get_root_dev_ino
gettext_quote
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
i_ring_empty
i_ring_init
i_ring_pop
leave_dir
lgetfileconat
locale_charset
lsetfileconat
main
openat_proc_name
openat_restore_fail
openat_safer
openat_save_fail
opendirat
open_safer
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
raw_comparator
raw_hasher
restore_cwd
restore_initial_cwd
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_fts_children
rpl_fts_close
rpl_fts_open
rpl_fts_read
rpl_fts_set
rpl_mbrtowc
rpl_nl_langinfo
save_cwd
set_char_quoting
set_custom_quoting
setfileconat
set_program_name
set_quoting_flags
set_quoting_style
sub_401979
sub_40197a
sub_4019b2
sub_4019fa
sub_401a1c
sub_401a2d
sub_401a46
sub_401a78
sub_401d79
sub_401fc2
sub_401ff6
sub_40200d
sub_40207c
sub_4020a3
sub_402106
sub_40228e
sub_402312
sub_402325
sub_40237a
sub_4023aa
sub_4023c4
sub_4023dc
sub_402423
sub_4024b3
sub_4024ca
sub_40263f
sub_402686
sub_40269f
sub_402793
sub_4027b7
sub_40291e
sub_402925
sub_402995
sub_4029c5
sub_402bb2
sub_402bc4
sub_402d24
sub_403353
sub_403379
sub_4033ab
sub_4033e3
sub_4033fa
sub_40344f
sub_40345e
sub_40361d
sub_403633
sub_403659
sub_403698
sub_4036d8
sub_403a9e
sub_403b68
sub_403bac
sub_403bc7
sub_403be8
sub_403c25
sub_403c41
sub_403c5e
sub_403d21
sub_403d5e
sub_4040c3
sub_404401
sub_40441c
sub_404588
sub_4045d2
sub_404681
sub_404705
sub_404742
sub_4047d9
sub_4048b7
sub_4048d2
sub_4048f8
sub_404aa7
sub_404ac1
sub_404ae8
sub_404c41
sub_404c5a
sub_404c77
sub_404cb3
sub_404cc7
sub_404cd3
sub_404d06
sub_404d15
sub_404d84
sub_404df5
sub_404ec5
sub_404ed5
sub_404f73
sub_405169
sub_405189
sub_4051af
sub_405501
sub_4058f7
sub_405915
sub_4059c9
sub_405a9d
sub_405afe
sub_405c57
sub_405f7f
sub_405fac
sub_405fe4
sub_40608c
sub_40618a
sub_406197
sub_40621f
sub_40651d
sub_406533
sub_4065d5
sub_406924
sub_40696d
sub_406c52
sub_406c9c
sub_406da3
sub_406e78
sub_407037
sub_407046
sub_40707f
sub_4070a3
sub_4070b5
sub_40718f
sub_4071af
sub_407216
sub_407298
sub_4072ae
sub_407313
sub_407581
sub_407898
sub_407e08
sub_407e82
sub_407e95
sub_407f33
sub_408021
sub_408058
sub_408081
sub_408095
sub_4080d6
sub_4081cc
sub_408238
sub_408259
sub_4082e3
sub_408648
sub_408786
sub_40892f
sub_40899f
sub_4089a5
sub_408ab1
sub_408b0b
sub_408b2a
sub_408b9c
sub_408c2b
sub_408d4e
sub_408dba
sub_408e2a
sub_408eee
sub_408f73
sub_409125
sub_409161
sub_4091c5
sub_409202
sub_409284
sub_4092db
sub_409316
sub_409418
sub_4094e4
sub_4095a4
sub_4096d5
sub_4096e2
sub_409706
transfer_entries
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xfts_open
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
error
__errno_location
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
__lxstat
malloc
realloc
memcpy
__assert_fail
calloc
closedir
__fxstatat
__xstat
qsort
fchdir
close
memmove
__fxstat
dirfd
readdir
fstatfs
mbrtowc
__fpending
open
strcmp
openat
fdopendir
getcwd
chdir
memchr
memrchr
fileno
__freading
lseek
fclose
fcntl
fflush
fseeko
nl_langinfo
__sprintf_chk
access
strcpy
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
