Text sections:
add_line_number
align_column
balance
bkm_scale
bkm_scale_0
bkm_scale_1
bkm_scale_by_power
bkm_scale_by_power_0
bkm_scale_by_power_1
change_env
char_to_clump
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
cleanup
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_file
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
cols_ready_to_print
c_strcasecmp
c_tolower
c_toupper
current_timespec
dup_safer
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
equal_tm
extend_abbrs
fadvise
fdadvise
first_last_page
fopen_safer
__fstat
fstat
getenv_TZ
getoptarg
getoptnum
get_quoting_style
get_stat_atime
get_stat_atime_ns
get_stat_birthtime
get_stat_birthtime_ns
get_stat_ctime
get_stat_ctime_ns
get_stat_mtime
get_stat_mtime_ns
gettext_quote
gettime
gnu_mbswidth
hard_locale
hold_file
imaxtostr
init_fps
init_funcs
init_header
init_page
init_parameters
init_store_cols
integer_overflow
isdst_differ
iso_week_days
locale_charset
localtime_rz
main
mbsnwidth
memcpy_lowcase
memcpy_uppcase
mktime_z
nstrftime
open_file
pad_across_to
pad_down
parse_column_count
print_char
print_clump
print_files
print_header
print_page
print_sep_string
print_stored
print_white_space
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
read_line
read_rest_of_line
reset_status
revert_tz
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
save_abbr
separator_string
set_char_quoting
set_custom_quoting
setenv_TZ
set_program_name
set_quoting_flags
set_quoting_style
set_tz
skip_read
skip_to_page
stat_time_normalize
store_char
store_columns
__strftime_internal
sub_401b59
sub_401b5a
sub_401b92
sub_401bda
sub_401bfc
sub_401c0d
sub_401c26
sub_401c3c
sub_401c9c
sub_401d1e
sub_401d52
sub_401d75
sub_401db2
sub_401dca
sub_401e3e
sub_401ee1
sub_401f89
sub_4022a8
sub_402325
sub_4023fb
sub_40258e
sub_4025f8
sub_402654
sub_40268a
sub_4026ba
sub_4026d2
sub_4026e6
sub_402818
sub_402836
sub_402867
sub_402a8d
sub_402b0b
sub_402c04
sub_402c73
sub_403192
sub_4031be
sub_4032c3
sub_40331f
sub_403377
sub_4034ca
sub_4035d9
sub_4038fb
sub_403925
sub_403935
sub_403aad
sub_403b67
sub_404975
sub_406b32
sub_406bcd
sub_406c37
sub_406c4e
sub_407552
sub_40912c
sub_4092fe
sub_409312
sub_409347
sub_409383
sub_4093d2
sub_40947a
sub_40957f
sub_4095c3
sub_40960f
sub_40964a
sub_40a2f6
sub_40aa1d
sub_40ac01
sub_40ac71
sub_40ace5
sub_40af13
sub_40b272
sub_40b4d0
sub_40b7d8
sub_40b920
sub_40be03
sub_40be22
sub_40becc
sub_40bf26
sub_40bfef
sub_40c078
sub_40c0e5
sub_40c196
sub_40c24d
sub_40c319
sub_40c3b6
sub_40c52b
sub_40c611
sub_40c72f
sub_40c78a
sub_40c7b8
sub_40c7ca
sub_40c8ab
sub_40c90d
sub_40c932
sub_40ce6d
sub_40cfdc
sub_40d017
sub_40d029
sub_40d0b1
sub_40d1c9
sub_40d234
sub_40d27a
sub_40d344
sub_40d5d9
sub_40d67f
sub_40d6d8
sub_40d73e
sub_40d798
sub_40d7df
sub_40db38
sub_40de83
sub_40f5d4
sub_4118d3
sub_41223c
sub_41224a
sub_4122ca
sub_4123bf
sub_4123d2
sub_41249f
sub_412549
sub_412587
sub_41259e
sub_4127e8
sub_412873
sub_4128b7
sub_41292f
sub_412afc
sub_412dcd
sub_412ecf
sub_41314b
sub_4131a8
sub_413267
sub_4133c2
sub_4134c3
sub_413647
sub_4138a6
sub_413984
sub_413a88
sub_413b7e
sub_413bbd
sub_413bc0
sub_413bd7
sub_413c4f
sub_413cb5
sub_413e14
sub_413e57
sub_413e7f
sub_413f1c
sub_414138
sub_41417b
sub_4141a2
sub_4141db
sub_4141f2
sub_41422a
sub_41434f
sub_4144da
sub_414644
sub_414687
sub_4146b3
sub_414771
sub_4147cd
sub_414821
sub_4148aa
sub_4148ca
sub_4149f9
sub_414a2f
sub_414a3b
sub_414aed
sub_414b06
sub_414b82
sub_414c7b
sub_414ce9
sub_414e4e
sub_414f75
sub_415034
sub_41522a
sub_4152d5
sub_4152e2
sub_415306
sub_415319
timetostr
to_uchar
tzalloc
tzfree
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoimax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoimax
xrealloc
xstrdup
xstrtoimax
xstrtol
xstrtol_error
xstrtol_fatal
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
setlocale
bindtextdomain
textdomain
getopt_long
gettext
error
free
exit
getenv
__errno_location
malloc
mbrtowc
strlen
fprintf
printf
fputs_unlocked
memcpy
strcmp
strncmp
fileno
_exit
memset
abort
__ctype_b_loc
putchar_unlocked
strchr
__assert_fail
strtoimax
sprintf
strftime
__freading
lseek
fclose
getc_unlocked
ungetc
fseeko
memcmp
iswprint
mbsinit
__ctype_get_mb_cur_max
ferror_unlocked
strtol
setenv
unsetenv
fcntl
strtoumax
posix_fadvise
fopen
realloc
mktime
localtime_r
timegm
fflush
fdopen
close
clock_gettime
nl_langinfo
tolower
tzset
calloc
toupper
__fpending
iswcntrl
wcwidth
gmtime_r
fputs
strrchr
__cxa_atexit
__fxstat

Function signatures:

Function types:

Data:

Preamble:
