Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4012a9
sub_4012aa
sub_4012e2
sub_40132a
sub_40134c
sub_40135d
sub_401376
sub_401467
sub_401475
sub_4014cf
sub_4014d5
sub_401595
sub_4015a5
sub_401659
sub_401665
sub_4016d4
sub_401784
sub_4017b1
sub_401828
sub_401835
sub_4018a5
sub_40192a
sub_401984
sub_401b0b
sub_401b1c
sub_401bfa
sub_401da4
sub_401e08
sub_401e46
sub_401e86
sub_401f3c
sub_401f87
sub_401f9a
sub_401fb8
sub_401ff3
sub_402038
sub_40212c
sub_40213f
sub_402205
sub_402316
sub_402328
sub_40239c
sub_402419
sub_402445
sub_402463
sub_402652
sub_402666
sub_4026a8
sub_4026be
sub_40287d
sub_402941
sub_402970
sub_402ac1
sub_402adf
sub_402b13
sub_402b76
sub_402b8a
sub_402bc1
sub_402bd5
sub_402cae
sub_402d05
sub_402d93
sub_402da5
sub_402e4f
sub_402e61
sub_402ed8
sub_402f55
sub_402f70
sub_40305f
sub_40312f
sub_4032f1
sub_403313
sub_4033a6
sub_403684
sub_4036bd
sub_403ab7
sub_403af5
sub_403c06
sub_403c2e
sub_403c91
sub_404138
sub_4041a5
sub_4041b2
sub_4041d6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
gethostid
error
__errno_location
_exit
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
