Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401389
sub_40138a
sub_4013c2
sub_40140a
sub_40142c
sub_40143d
sub_401456
sub_4014d9
sub_4014ea
sub_4014fa
sub_4015ec
sub_401616
sub_401656
sub_4016dd
sub_4016f3
sub_401719
sub_40172f
sub_401746
sub_401758
sub_401851
sub_40186a
sub_401889
sub_40189a
sub_4018d8
sub_401a03
sub_401a36
sub_401ae1
sub_401af6
sub_401b25
sub_401bd8
sub_401c59
sub_401cc3
sub_401d2f
sub_401d79
sub_401dc5
sub_401dff
sub_401e0a
sub_401f0c
sub_401f59
sub_401f6e
sub_40212d
sub_40213a
sub_40216f
sub_402199
sub_4021af
sub_4021d7
sub_402252
sub_40253c
sub_402553
sub_4025ee
sub_402934
sub_40297d
sub_402c63
sub_402cac
sub_402db3
sub_402e88
sub_40301c
sub_403121
sub_4031f4
sub_403226
sub_4032b6
sub_4032ca
sub_4032fd
sub_403313
sub_403357
sub_4036b8
sub_40373f
sub_40378f
sub_4037b5
sub_4037d7
sub_4037ea
sub_4037fa
sub_40380d
sub_403825
sub_40388d
sub_4038b1
sub_4038ca
sub_403903
sub_40392e
sub_403948
sub_40395a
sub_40397e
sub_403ab7
sub_403ac5
sub_403b71
sub_403bed
sub_403bfd
sub_403c07
sub_403c76
sub_403cb1
sub_403cc8
sub_403cd9
sub_403d3b
sub_403d63
sub_403d8a
sub_403dc9
sub_403de1
sub_403e04
sub_403e19
sub_403e88
sub_403e95
sub_403eaa
sub_403ebd
sub_403fda
sub_403ff3
sub_404034
sub_4040d5
sub_4040e2
sub_404106
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
__errno_location
geteuid
getpwuid
puts
error
_exit
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
