Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
mgetgroups
parse_additional_groups
parse_user_spec
parse_with_separator
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401849
sub_40184a
sub_401882
sub_4018ca
sub_4018ec
sub_4018fd
sub_401916
sub_401978
sub_401b66
sub_401ba3
sub_401c18
sub_401e56
sub_401e6a
sub_40248d
sub_4024fe
sub_402554
sub_4025cf
sub_4025d8
sub_4025f9
sub_402611
sub_402638
sub_402c2b
sub_402f88
sub_403034
sub_4030a4
sub_403145
sub_40316a
sub_403175
sub_4031c4
sub_40327a
sub_403311
sub_403395
sub_4033d1
sub_4033e5
sub_403469
sub_403491
sub_4034af
sub_4034f8
sub_4035ec
sub_4035f5
sub_403693
sub_4036dc
sub_403754
sub_403a4d
sub_403a63
sub_403b05
sub_403e54
sub_403e9d
sub_404182
sub_4041cc
sub_4042d3
sub_4043a8
sub_404567
sub_4045da
sub_40461e
sub_4047dd
sub_404836
sub_404882
sub_404951
sub_4049b5
sub_4049c5
sub_404a65
sub_404a95
sub_404d42
sub_404dcb
sub_404e40
sub_404e97
sub_404ea5
sub_404f78
sub_404f85
sub_405093
sub_405221
sub_40525b
sub_405265
sub_40529f
sub_405368
sub_4053a6
sub_4053b5
sub_405425
sub_4054b0
sub_40554f
sub_4055d3
sub_4058a3
sub_405924
sub_405943
sub_4059b5
sub_4059c2
sub_4059e6
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetgroups
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoul
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
strlen
canonicalize_file_name
free
getpwuid
chroot
chdir
getenv
setgroups
setgid
setuid
execvp
__errno_location
error
strtok
__ctype_b_loc
getgrnam
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
memset
strchr
getpwnam
getgrgid
endgrent
endpwent
malloc
realloc
memcpy
strtoul
__assert_fail
calloc
mbrtowc
__fpending
strcmp
getgrouplist
getgroups
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
