Text sections:
areadlink_with_size
base_len
canonicalize_filename_mode
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
dir_len
dir_name
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_pjw
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
last_component
locale_charset
main
mdir_name
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
raw_comparator
raw_hasher
record_file
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
same_name
same_nameat
seen_file
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401499
sub_40149a
sub_4014d2
sub_40151a
sub_40153c
sub_40154d
sub_401566
sub_401649
sub_4016db
sub_4017fe
sub_40186a
sub_4018da
sub_40194e
sub_40195f
sub_4019c4
sub_401ac1
sub_401b2a
sub_401b97
sub_401bfd
sub_401ce3
sub_401d46
sub_401dbc
sub_401dd0
sub_401e45
sub_401e55
sub_401ee5
sub_401f18
sub_401fb3
sub_402021
sub_402066
sub_40209c
sub_402333
sub_402368
sub_40238f
sub_4023cf
sub_402436
sub_402445
sub_402483
sub_4024c5
sub_4024d8
sub_402548
sub_4025bf
sub_4025d5
sub_402615
sub_4026c8
sub_4027bc
sub_40284a
sub_402894
sub_4028fa
sub_402968
sub_4029d9
sub_402b56
sub_402c06
sub_4030bd
sub_4030d1
sub_4030f5
sub_4032e2
sub_4033b5
sub_4033ee
sub_4034b1
sub_403514
sub_40352a
sub_403563
sub_403596
sub_4035a7
sub_4035e7
sub_40378f
sub_403795
sub_40382a
sub_403861
sub_403884
sub_4038b6
sub_4038da
sub_40394c
sub_403955
sub_403998
sub_403a0a
sub_403a27
sub_403a6f
sub_403b06
sub_403c5e
sub_403d28
sub_403d6b
sub_403df8
sub_403e21
sub_404188
sub_40423f
sub_40430f
sub_4044d1
sub_4044f3
sub_404586
sub_404864
sub_40489d
sub_404c97
sub_404cd5
sub_404de6
sub_404e0e
sub_404e71
sub_405006
sub_4050a1
sub_4050c8
sub_405218
sub_40522a
sub_405236
sub_405250
sub_4052e5
sub_4052f6
sub_405345
sub_40541e
sub_4055dd
sub_405613
sub_405625
sub_40563d
sub_4056ae
sub_4059e1
sub_405a91
sub_405b54
sub_405c43
sub_405ce1
sub_405d01
sub_405d97
sub_405db3
sub_405de3
sub_405df4
sub_405e8c
sub_405eb3
sub_405f15
sub_405f25
sub_405f69
sub_406066
sub_4060e4
sub_406109
sub_40614c
sub_406155
sub_406264
sub_40644b
sub_406455
sub_4064c5
sub_406536
sub_4065a5
sub_4065b2
sub_4065d6
transfer_entries
triple_compare
triple_compare_ino_str
triple_free
triple_hash
triple_hash_no_name
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetcwd
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
error
__overflow
free
__errno_location
malloc
readlink
__rawmemchr
memcpy
__lxstat
__xstat
strlen
memmove
_exit
abort
strcmp
strrchr
fwrite
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
__fxstatat
realloc
getcwd
calloc
mbrtowc
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
