Text sections:
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
bad_cast
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
dup_safer
emit_ancillary_info
emit_bug_reporting_address
fadvise
fdadvise
fopen_safer
get_quoting_style
gettext_quote
__gl_setmode
__gl_setmode_check
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_binary_mode
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401609
sub_40160a
sub_401642
sub_40168a
sub_4016ac
sub_4016bd
sub_4016d6
sub_401ba8
sub_401cff
sub_401d25
sub_401d57
sub_401d8b
sub_401db7
sub_401e18
sub_4020b6
sub_402466
sub_402579
sub_4025b2
sub_402607
sub_40263d
sub_4026ba
sub_402948
sub_402ab1
sub_402c6e
sub_402cd3
sub_402cfc
sub_402e2e
sub_402e6a
sub_402f32
sub_40300f
sub_4030c9
sub_4030de
sub_403152
sub_40316b
sub_40318a
sub_4031b8
sub_4031c6
sub_4034cb
sub_403893
sub_4039b5
sub_4039ce
sub_403a07
sub_403a54
sub_403aaf
sub_403ab6
sub_403acb
sub_403b0e
sub_403b4e
sub_403b9b
sub_403bcf
sub_403bda
sub_404f11
sub_405018
sub_4050c1
sub_40510a
sub_40511e
sub_405197
sub_4051d8
sub_4051ee
sub_40524d
sub_40546d
sub_405527
sub_40557a
sub_4055c5
sub_405661
sub_4056b7
sub_40571a
sub_40574a
sub_405929
sub_4059f2
sub_405a3e
sub_405ab3
sub_405ae2
sub_405b06
sub_405b20
sub_405ce5
sub_405d33
sub_405e0e
sub_405e4d
sub_405ec2
sub_405f7d
sub_405faf
sub_405feb
sub_406027
sub_40603e
sub_406073
sub_40608e
sub_4060f5
sub_406112
sub_4062d6
sub_4063b8
sub_4063ec
sub_406418
sub_406452
sub_40648a
sub_4064d1
sub_4064ff
sub_4065b1
sub_4065db
sub_40663f
sub_4066f1
sub_4068a4
sub_406a04
sub_406af3
sub_406b3e
sub_406bd6
sub_406c45
sub_406c52
sub_406c76
tee_files
usage
version_etc
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xset_binary_mode
xset_binary_mode_error
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
gettext
setvbuf
__errno_location
error
fwrite_unlocked
clearerr_unlocked
free
read
fcntl
__freading
fflush
fprintf
fputs_unlocked
printf
posix_fadvise
realloc
putc_unlocked
memcmp
exit
strcmp
signal
close
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
fopen
fileno
fdopen
strlen
mbrtowc
_exit
fputs
abort
strrchr
__ctype_get_mb_cur_max
memcpy
calloc
__ctype_b_loc
memset
iswprint
mbsinit
malloc
fclose
nl_langinfo
lseek
fseeko
__fpending
ferror_unlocked
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
