Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
make_node_op_equals
mode_adjust
mode_compile
mode_create_from_ref
octal_to_mode
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_4013d9
sub_4013da
sub_401412
sub_40145a
sub_40147c
sub_40148d
sub_4014a6
sub_4014d6
sub_4014fe
sub_4015e5
sub_401641
sub_401683
sub_401744
sub_4018ea
sub_40193b
sub_401962
sub_4019dd
sub_4019ed
sub_4019f7
sub_401a03
sub_401a29
sub_401a98
sub_401ad1
sub_401b2e
sub_401b3f
sub_401b4a
sub_401b86
sub_401b98
sub_401c12
sub_401c8e
sub_401d3f
sub_401d52
sub_401d83
sub_401d94
sub_401dc7
sub_401ddb
sub_401deb
sub_401e8a
sub_401f71
sub_401f8a
sub_4020b3
sub_4020d9
sub_40215d
sub_40216f
sub_402196
sub_4021da
sub_4021f7
sub_40220d
sub_402249
sub_402261
sub_402284
sub_4023aa
sub_4023df
sub_402401
sub_402484
sub_4024c3
sub_4024dc
sub_40251b
sub_402525
sub_402888
sub_4028b7
sub_4028eb
sub_40293b
sub_4029d7
sub_402a54
sub_402a6a
sub_402ac6
sub_402ae6
sub_402aff
sub_402b0d
sub_402b3d
sub_402b53
sub_402b6a
sub_402b7a
sub_402b8d
sub_402c31
sub_402c4a
sub_402c5e
sub_402e1d
sub_402e57
sub_402e69
sub_402e8a
sub_402e9a
sub_402eb9
sub_402eca
sub_402ed8
sub_402f0f
sub_402f39
sub_402fe1
sub_402ff5
sub_4030d8
sub_403159
sub_4031c3
sub_40322f
sub_403279
sub_4032c5
sub_4032ff
sub_40330a
sub_4033fc
sub_4036dc
sub_4036f3
sub_40378e
sub_403ad4
sub_403b1d
sub_403e03
sub_403e4c
sub_403f53
sub_404028
sub_4041bc
sub_4041d3
sub_4041e5
sub_40427f
sub_4042e3
sub_40430a
sub_404359
sub_4043f8
sub_404409
sub_40446a
sub_40449f
sub_404523
sub_404556
sub_4045c5
sub_4045d2
sub_4045f6
sub_404609
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
error
umask
free
chmod
__errno_location
mkfifo
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit
__xstat

Function signatures:

Function types:

Data:

Preamble:
