Text sections:
add_epsilon_src_nodes
analyze
bitset_clear
bitset_contain
bitset_copy
bitset_empty
bitset_mask
bitset_merge
bitset_not
bitset_set
bitset_set_all
build_charclass
build_charclass_op
build_collating_symbol
build_equiv_class
build_range_exp
build_sifted_states
build_trtable
build_upper_buffer
build_wcs_buffer
build_wcs_upper_buffer
calc_eclosure
calc_eclosure_iter
calc_first
calc_inveclosure
calc_next
calc_state_hash
check_arrival
check_arrival_add_next_nodes
check_arrival_expand_ecl
check_arrival_expand_ecl_sub
check_dst_limits
check_dst_limits_calc_pos
check_dst_limits_calc_pos_1
check_halt_node_context
check_halt_state_context
check_matching
check_node_accept
check_node_accept_bytes
check_subexp_limits
check_subexp_matching_top
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clean_state_log_if_needed
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
create_cd_newstate
create_ci_newstate
create_initial_state
create_token_tree
create_tree
c_strcasecmp
c_tolower
c_toupper
docolon
duplicate_node
duplicate_node_closure
duplicate_tree
emit_ancillary_info
emit_bug_reporting_address
eval
eval1
eval2
eval3
eval4
eval5
eval6
expand_bkref_cache
extend_buffers
fetch_number
fetch_token
find_recover_state
find_subexp_node
fraccompare
free_charset
free_dfa_content
free_fail_stack_return
free_state
free_token
free_tree
freev
free_workarea_compile
get_quoting_style
getsize
get_subexp
get_subexp_sub
gettext_quote
group_nodes_into_DFAstates
hard_locale
init_dfa
initialize_exit_failure
init_word_char
int_value
is_basic
link_nfa_nodes
locale_charset
looks_like_integer
lower_subexp
lower_subexps
main
mark_opt_subexp
match_ctx_add_entry
match_ctx_add_sublast
match_ctx_add_subtop
match_ctx_clean
match_ctx_free
match_ctx_init
mb_copy
mbschr
mbslen
mbs_logical_cspn
mbs_logical_substr
mbs_offset_to_chars
mbuiter_multi_copy
mbuiter_multi_next
mbuiter_multi_reloc
mb_width_aux
merge_state_array
merge_state_with_log
nextarg
nomoreargs
null
numcompare
optimize_subexps
optimize_utf8
parse
parse_bracket_element
parse_bracket_exp
parse_bracket_symbol
parse_branch
parse_byte
parse_dup_op
parse_expression
parse_gnu_standard_options_only
parse_long_options
parse_reg_exp
parse_sub_exp
peek_token
peek_token_bracket
pop_fail_stack
postorder
preorder
printv
proceed_next_node
prune_impossible_nodes
push_fail_stack
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
re_acquire_state
re_acquire_state_context
re_compile_fastmap_iter
re_compile_internal
re_dfa_add_node
re_node_set_add_intersect
re_node_set_alloc
re_node_set_compare
re_node_set_contains
re_node_set_init_1
re_node_set_init_2
re_node_set_init_copy
re_node_set_init_union
re_node_set_insert
re_node_set_insert_last
re_node_set_merge
re_node_set_remove_at
require_more_args
re_search_2_stub
re_search_stub
re_string_allocate
re_string_char_size_at
re_string_construct
re_string_construct_common
re_string_context_at
re_string_destruct
re_string_elem_size_at
re_string_fetch_byte_case
re_string_peek_byte_case
re_string_realloc_buffers
re_string_reconstruct
re_string_skip_chars
re_string_translate_buffer
re_string_wchar_at
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
rpl_re_compile_fastmap
rpl_re_compile_pattern
rpl_regcomp
rpl_regerror
rpl_regexec
rpl_regfree
rpl_re_match
rpl_re_match_2
rpl_re_search
rpl_re_search_2
rpl_re_set_registers
rpl_re_set_syntax
search_cur_bkref_entry
search_duplicated_node
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_regs
sift_ctx_init
sift_states_bkref
sift_states_iter_mb
strintcmp
strnlen1
str_value
sub_401d49
sub_401d4a
sub_401d82
sub_401dca
sub_401dec
sub_401dfd
sub_401e16
sub_401e8c
sub_4022c9
sub_402676
sub_4026ab
sub_402916
sub_402d23
sub_402d82
sub_402f3a
sub_4031b3
sub_403276
sub_403364
sub_40354e
sub_403603
sub_4037a9
sub_403891
sub_4038f2
sub_40391a
sub_403c60
sub_4040be
sub_4040ef
sub_4044bb
sub_4044d7
sub_404761
sub_404835
sub_404893
sub_40494c
sub_404e38
sub_40503a
sub_405062
sub_40533c
sub_4053af
sub_405529
sub_405585
sub_405603
sub_40567a
sub_4056d8
sub_4058bd
sub_405b7c
sub_405e8f
sub_406053
sub_406115
sub_4061ab
sub_4062ee
sub_406401
sub_4064c9
sub_4065a9
sub_4065be
sub_406f52
sub_4073ae
sub_4074b1
sub_4076c3
sub_4076f5
sub_40777d
sub_4078cb
sub_407d7a
sub_407eae
sub_4080ba
sub_40810b
sub_4081f0
sub_40847a
sub_4084f7
sub_408a16
sub_409198
sub_40933b
sub_409664
sub_4096f4
sub_40a14d
sub_40b05f
sub_40b43d
sub_40b5cf
sub_40b7a8
sub_40b83e
sub_40bab3
sub_40bb00
sub_40bb94
sub_40bbc1
sub_40bc23
sub_40bc74
sub_40bc86
sub_40bdd2
sub_40c203
sub_40c6d6
sub_40c8e4
sub_40ca9e
sub_40cb9b
sub_40cbcc
sub_40cc51
sub_40cf2a
sub_40cf77
sub_40d023
sub_40d0c4
sub_40d161
sub_40d2c3
sub_40d336
sub_40d3d8
sub_40d50c
sub_40d59b
sub_40d723
sub_40d77d
sub_40d79b
sub_40da08
sub_40da50
sub_40db29
sub_40dc7b
sub_40dc8a
sub_40dca6
sub_40dcc3
sub_40dd87
sub_40de0a
sub_40e214
sub_40e35d
sub_40e37e
sub_40e485
sub_40e4c7
sub_40e603
sub_40eb88
sub_40ec1e
sub_40edd8
sub_40ee03
sub_40ee4e
sub_40eeac
sub_40ef78
sub_40ef7d
sub_40ef82
sub_40efaf
sub_40efe4
sub_40f085
sub_40f0e3
sub_40f141
sub_40f197
sub_40f242
sub_40f2ce
sub_40f3a7
sub_40f48c
sub_40f538
sub_40f6dd
sub_40f80e
sub_40f9a6
sub_40fb28
sub_40fb36
sub_40fc31
sub_40fc7d
sub_40fc8e
sub_410106
sub_4101f0
sub_41029f
sub_410305
sub_410739
sub_4107b5
sub_4107db
sub_410c37
sub_410c7a
sub_410cb0
sub_411421
sub_411432
sub_411492
sub_4121a9
sub_41224a
sub_4125ec
sub_412622
sub_4126fe
sub_412773
sub_41286e
sub_41309e
sub_41319f
sub_413212
sub_41324a
sub_413826
sub_414479
sub_4146ce
sub_4147f3
sub_415946
sub_415c45
sub_415cd1
sub_415d41
sub_415e72
sub_415fca
sub_41605f
sub_4160f1
sub_416144
sub_4161cf
sub_416848
sub_416cf5
sub_416ee3
sub_417095
sub_41735d
sub_41744b
sub_4177a7
sub_417954
sub_417ae9
sub_417b4b
sub_41807f
sub_41835a
sub_418392
sub_418455
sub_4184f7
sub_418522
sub_41883e
sub_4189b9
sub_4189f8
sub_418a3b
sub_418aa8
sub_418b36
sub_418bfa
sub_418e8c
sub_418fce
sub_418ff7
sub_419159
sub_4192e1
sub_419306
sub_41931e
sub_4193d3
sub_419404
sub_41944e
sub_41945e
sub_419520
sub_419744
sub_4197f5
sub_419828
sub_41998f
sub_419c0a
sub_419dda
sub_419f54
sub_41a4bd
sub_41a82c
sub_41a83f
sub_41ac39
sub_41ad62
sub_41adf5
sub_41ae27
sub_41b0e9
sub_41b430
sub_41b618
sub_41b6c7
sub_41b71e
sub_41b768
sub_41b7f9
sub_41b827
sub_41b830
sub_41b871
sub_41b987
sub_41b9b1
sub_41bdeb
sub_41beb5
sub_41bef2
sub_41bf49
sub_41c259
sub_41c28c
sub_41c35b
sub_41c4a7
sub_41c5b7
sub_41c5da
sub_41c6b5
sub_41ca8f
sub_41d169
sub_41d4ac
sub_41d502
sub_41d612
sub_41d6ad
sub_41d73e
sub_41d76f
sub_41dd99
sub_41de2e
sub_41e53b
sub_41ecd4
sub_41f151
sub_41f18a
sub_41f1ad
sub_41f2d3
sub_41f2fa
sub_41f87e
sub_41f890
sub_41fc19
sub_41ff2d
sub_42010c
sub_420266
sub_42028b
sub_4203a0
sub_420522
sub_420619
sub_42070f
sub_4207a2
sub_420b22
sub_420b49
sub_420c4e
sub_420ccf
sub_420cf6
sub_420e4e
sub_420f0d
sub_420f6b
sub_420f9d
sub_420fd4
sub_421411
sub_421576
sub_421696
sub_4216be
sub_421904
sub_421b06
sub_421d35
sub_421d42
sub_421d66
sub_epsilon_src_nodes
toarith
tostring
transit_state
transit_state_bkref
transit_state_mb
update_cur_sifted_state
update_regs
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
strlen
calloc
exit
getopt_long
free
__errno_location
error
_exit
gettext
memset
memcpy
__assert_fail
abort
nl_langinfo
iswcntrl
wcwidth
fprintf
fputs_unlocked
strcoll
__gmpz_fits_ulong_p
__gmpz_get_ui
iswctype
__ctype_get_mb_cur_max
memcmp
strcspn
malloc
realloc
toupper
memmove
iswalnum
towupper
wcrtomb
mbsinit
__ctype_b_loc
setlocale
bindtextdomain
textdomain
strcmp
memchr
__gmpz_init_set_ui
__gmpz_clear
strchr
__gmpz_out_str
putchar_unlocked
puts
printf
strncmp
btowc
fileno
fclose
__freading
lseek
iswprint
fputs
strrchr
__gmpz_init_set_str
__gmpz_sub
__gmpz_add
__gmpz_get_str
__gmpz_mul
__gmpz_tdiv_r
__gmpz_tdiv_q
mempcpy
mbrtowc
tolower
towlower
wctype
__fpending
ferror_unlocked
fflush
fseeko
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
