Text sections:
add_tab_stop
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
cleanup_file_list_stdin
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
emit_tab_list_info
expand
fadvise
fdadvise
finalize_tab_stops
get_next_tab_column
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
next_file
parse_tab_stops
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_extend_size
set_file_list
set_increment_size
set_program_name
set_quoting_flags
set_quoting_style
sub_401539
sub_40153a
sub_401572
sub_4015ba
sub_4015dc
sub_4015ed
sub_401606
sub_4016f2
sub_401748
sub_40178a
sub_4017c7
sub_401842
sub_4019b4
sub_4019f2
sub_401a0e
sub_401aad
sub_401b23
sub_401baa
sub_401be3
sub_401c17
sub_401d46
sub_401dd3
sub_401e0f
sub_401e42
sub_401e82
sub_401eae
sub_401f55
sub_401f8c
sub_401fa7
sub_4021d9
sub_402255
sub_40232e
sub_402455
sub_4024e5
sub_4026ab
sub_402922
sub_402968
sub_40299f
sub_4029c5
sub_403150
sub_403e79
sub_403ec3
sub_403efa
sub_403f6a
sub_403fa2
sub_404048
sub_40413d
sub_404176
sub_40418a
sub_4041df
sub_404251
sub_404354
sub_40465d
sub_40469e
sub_4046c8
sub_404756
sub_4047b2
sub_4047c0
sub_4047d7
sub_40484d
sub_404887
sub_4048d7
sub_404a34
sub_404b65
sub_404b7e
sub_404bbe
sub_404c4a
sub_404c8b
sub_404ccf
sub_404d07
sub_404d22
sub_404ddb
sub_404e24
sub_404e9b
sub_404eb6
sub_404f31
sub_405165
sub_4051cd
sub_40521e
sub_405276
sub_40533d
sub_40533e
sub_40538f
sub_4053b7
sub_4058f5
sub_405a51
sub_405cfd
sub_405d7a
sub_405d8e
sub_405dc6
sub_405f69
sub_405fa2
sub_405fef
sub_406037
sub_406105
sub_406317
sub_4063e2
sub_406418
sub_40645b
sub_4064b3
sub_406757
sub_40678a
sub_4067f5
sub_406802
sub_406826
to_uchar
usage
validate_tab_stops
version_etc
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xzalloc

PLT sections:
add_tab_stop
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
cleanup_file_list_stdin
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
emit_tab_list_info
expand
fadvise
fdadvise
finalize_tab_stops
get_next_tab_column
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
next_file
parse_tab_stops
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_extend_size
set_file_list
set_increment_size
set_program_name
set_quoting_flags
set_quoting_style
sub_401539
sub_40153a
sub_401572
sub_4015ba
sub_4015dc
sub_4015ed
sub_401606
sub_4016f2
sub_401748
sub_40178a
sub_4017c7
sub_401842
sub_4019b4
sub_4019f2
sub_401a0e
sub_401aad
sub_401b23
sub_401baa
sub_401be3
sub_401c17
sub_401d46
sub_401dd3
sub_401e0f
sub_401e42
sub_401e82
sub_401eae
sub_401f55
sub_401f8c
sub_401fa7
sub_4021d9
sub_402255
sub_40232e
sub_402455
sub_4024e5
sub_4026ab
sub_402922
sub_402968
sub_40299f
sub_4029c5
sub_403150
sub_403e79
sub_403ec3
sub_403efa
sub_403f6a
sub_403fa2
sub_404048
sub_40413d
sub_404176
sub_40418a
sub_4041df
sub_404251
sub_404354
sub_40465d
sub_40469e
sub_4046c8
sub_404756
sub_4047b2
sub_4047c0
sub_4047d7
sub_40484d
sub_404887
sub_4048d7
sub_404a34
sub_404b65
sub_404b7e
sub_404bbe
sub_404c4a
sub_404c8b
sub_404ccf
sub_404d07
sub_404d22
sub_404ddb
sub_404e24
sub_404e9b
sub_404eb6
sub_404f31
sub_405165
sub_4051cd
sub_40521e
sub_405276
sub_40533d
sub_40533e
sub_40538f
sub_4053b7
sub_4058f5
sub_405a51
sub_405cfd
sub_405d7a
sub_405d8e
sub_405dc6
sub_405f69
sub_405fa2
sub_405fef
sub_406037
sub_406105
sub_406317
sub_4063e2
sub_406418
sub_40645b
sub_4064b3
sub_406757
sub_40678a
sub_4067f5
sub_406802
sub_406826
to_uchar
usage
validate_tab_stops
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xzalloc

Function signatures:

Function types:

Data:

Preamble:
