Text sections:
check_order
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
collate_error
compare_files
c_tolower
c_toupper
dup_safer
emit_ancillary_info
emit_bug_reporting_address
fadvise
fdadvise
fopen_safer
freebuffer
get_quoting_style
gettext_quote
hard_locale
initbuffer
locale_charset
main
memcoll
memcoll0
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
readlinebuffer
readlinebuffer_delim
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
strcoll_loop
sub_401599
sub_40159a
sub_4015d2
sub_40161a
sub_40163c
sub_40164d
sub_401666
sub_401695
sub_4016a5
sub_4016d3
sub_4016f3
sub_401787
sub_40179a
sub_401823
sub_40183f
sub_401888
sub_4018ca
sub_401922
sub_401951
sub_40196f
sub_401a2d
sub_401a39
sub_401aa8
sub_401aba
sub_401bac
sub_401be4
sub_401c53
sub_401c96
sub_401cb0
sub_401d62
sub_401d86
sub_401dd2
sub_401df9
sub_401e0a
sub_401e29
sub_401e3a
sub_401f29
sub_401f39
sub_401f74
sub_40202d
sub_402095
sub_40210a
sub_40221d
sub_4023c9
sub_4023d3
sub_402421
sub_40245d
sub_402473
sub_40248e
sub_40249a
sub_4024af
sub_402538
sub_4025b9
sub_402623
sub_40268f
sub_4026d9
sub_402725
sub_40275f
sub_40282a
sub_402843
sub_402898
sub_4028a8
sub_4028d9
sub_40290f
sub_402984
sub_4029db
sub_402b94
sub_402bd7
sub_402c71
sub_402ca7
sub_403008
sub_40301a
sub_40302a
sub_40303a
sub_403066
sub_4030aa
sub_4030bd
sub_40311b
sub_40312d
sub_4031b3
sub_4031c5
sub_4031de
sub_40339d
sub_4033a5
sub_4033ca
sub_403481
sub_4034a4
sub_4035d3
sub_403666
sub_403690
sub_403759
sub_403771
sub_403794
sub_4037a6
sub_4037dd
sub_403836
sub_40385c
sub_403946
sub_40395a
sub_403a86
sub_403a9d
sub_403bba
sub_403e9c
sub_403eb3
sub_403f4e
sub_404294
sub_4042dd
sub_4045c3
sub_40460c
sub_404713
sub_4047e8
sub_40497c
sub_404b88
sub_404ba5
sub_404c44
sub_404c8b
sub_404ec6
sub_404ef6
sub_404f6d
sub_404f7d
sub_404f87
sub_404f9a
sub_404fe7
sub_404ffa
sub_40500f
sub_405017
sub_4050ef
sub_405113
sub_40513a
sub_405148
sub_405161
sub_4051d5
sub_4051e2
sub_405206
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
writeline
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemcoll
xmemcoll0
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
strlen
error
ferror_unlocked
memcmp
__errno_location
fwrite_unlocked
_exit
posix_fadvise
fileno
fopen
fdopen
close
feof_unlocked
getc_unlocked
free
strrchr
fwrite
abort
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
__freading
lseek
fclose
fcntl
fflush
fseeko
mbrtowc
__fpending
strcoll
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
