Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
dot_or_dotdot
emit_ancillary_info
emit_bug_reporting_address
file_name_free
file_name_init
file_name_prepend
find_dir_entry
fstat
get_quoting_style
get_root_dev_ino
gettext_quote
hard_locale
locale_charset
logical_getcwd
main
nth_parent
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
readdir_ignoring_dot_and_dotdot
robust_getcwd
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
stat
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401639
sub_40163a
sub_401672
sub_4016ba
sub_4016dc
sub_4016ed
sub_401706
sub_401736
sub_40174a
sub_401769
sub_40177a
sub_4017b5
sub_401846
sub_401876
sub_401911
sub_40192a
sub_401a1c
sub_401cf8
sub_401d79
sub_401de3
sub_401e4f
sub_401e99
sub_401ee5
sub_401f1f
sub_401f2d
sub_401f33
sub_401f65
sub_401f7a
sub_401f83
sub_401fac
sub_401fca
sub_40200e
sub_402368
sub_4023f3
sub_402421
sub_40243e
sub_4024d2
sub_402554
sub_4025b2
sub_4025fa
sub_40260a
sub_402644
sub_4026ed
sub_4026fd
sub_402707
sub_402735
sub_402745
sub_40275a
sub_402801
sub_402836
sub_4028fd
sub_40290e
sub_402acd
sub_402adf
sub_402b53
sub_402b71
sub_402b8a
sub_402b99
sub_402c08
sub_402c82
sub_402c9d
sub_402cdd
sub_402d64
sub_402e0f
sub_402e46
sub_402eb6
sub_402eca
sub_402edd
sub_402efa
sub_402f08
sub_402fdf
sub_403003
sub_40302a
sub_40305d
sub_403073
sub_4030d6
sub_4031f2
sub_40320a
sub_4034ec
sub_403503
sub_40359e
sub_4038e4
sub_40392d
sub_403c13
sub_403c5c
sub_403d63
sub_403e38
sub_403fcc
sub_403fd6
sub_404048
sub_4040c9
sub_404101
sub_404147
sub_404163
sub_404221
sub_404269
sub_404281
sub_4042a4
sub_4042b5
sub_404346
sub_404358
sub_404387
sub_4043db
sub_4043f9
sub_40440a
sub_404436
sub_404466
sub_4044b7
sub_404603
sub_404613
sub_404686
sub_4046bf
sub_4046e9
sub_404705
sub_40482a
sub_4048c5
sub_4048d2
sub_4048f6
sub_404909
sub_40492f
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetcwd
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
getenv
bindtextdomain
textdomain
getopt_long
error
puts
free
strstr
__errno_location
opendir
dirfd
fchdir
chdir
strlen
closedir
memcpy
readdir
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
getcwd
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit
__xstat
__fxstat
__lxstat

Function signatures:

Function types:

Data:

Preamble:
