Text sections:
base_len
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
dot_or_dotdot
emit_ancillary_info
emit_bug_reporting_address
errno_may_be_empty
errno_rmdir_non_empty
get_quoting_style
gettext_quote
hard_locale
ignorable_failure
is_empty_dir
last_component
locale_charset
main
prog_fprintf
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
readdir_ignoring_dot_and_dotdot
remove_parents
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
strip_trailing_slashes
sub_4014e9
sub_4014ea
sub_401522
sub_40156a
sub_40158c
sub_40159d
sub_4015b6
sub_401643
sub_40171a
sub_4017c1
sub_4017d8
sub_4017ee
sub_40186b
sub_4018ca
sub_40199b
sub_4019a3
sub_4019de
sub_4019ea
sub_4019fc
sub_401aa7
sub_401ad6
sub_401aea
sub_401b09
sub_401b1a
sub_401b2a
sub_401baf
sub_401c23
sub_401c39
sub_401ca8
sub_401ce9
sub_401d01
sub_401d24
sub_401d56
sub_401d77
sub_401d8a
sub_401e7c
sub_401f32
sub_401fbd
sub_402009
sub_402015
sub_402046
sub_4023c8
sub_4023dd
sub_40240d
sub_402423
sub_40243f
sub_402473
sub_4024a2
sub_4024b9
sub_4024df
sub_402532
sub_40254a
sub_40255a
sub_402576
sub_4025a1
sub_4025e4
sub_402628
sub_402696
sub_4026f6
sub_402723
sub_40274a
sub_40275a
sub_40276f
sub_402796
sub_4028cb
sub_402944
sub_402967
sub_402c4c
sub_402c63
sub_402cfe
sub_403044
sub_40308d
sub_403373
sub_4033bc
sub_4034c3
sub_403598
sub_40372c
sub_40384a
sub_40385c
sub_4038aa
sub_4038b9
sub_4038fd
sub_403913
sub_403923
sub_4039c8
sub_403a49
sub_403ab3
sub_403b1f
sub_403b69
sub_403bb5
sub_403bef
sub_403c5d
sub_403c6d
sub_403c77
sub_403c8e
sub_403e4d
sub_403e81
sub_403ea9
sub_403ed9
sub_403f0f
sub_403fa1
sub_403fba
sub_403fcd
sub_404159
sub_40422b
sub_4042fd
sub_404347
sub_4043b6
sub_4043e5
sub_4043fa
sub_404405
sub_404426
sub_40443f
sub_404467
sub_404491
sub_4044a4
sub_40451b
sub_404585
sub_404592
sub_4045b6
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
rmdir
__errno_location
error
strrchr
openat
fdopendir
readdir
closedir
close
__vfprintf_chk
__overflow
_exit
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
