Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
gidtostr_ptr
hard_locale
locale_charset
main
mgetgroups
print_group
print_group_list
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
realloc_groupbuf
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401529
sub_40152a
sub_401562
sub_4015aa
sub_4015cc
sub_4015dd
sub_4015f6
sub_401626
sub_40165b
sub_4016a5
sub_40184c
sub_4019ab
sub_401a1d
sub_401a2d
sub_401a37
sub_401a4d
sub_401a53
sub_401aa8
sub_401b5a
sub_401c4c
sub_401c8a
sub_401d29
sub_401d5f
sub_401d83
sub_401daa
sub_401dba
sub_401dd3
sub_401e13
sub_401eb1
sub_401ee6
sub_401f2a
sub_401f56
sub_401f6d
sub_401fb9
sub_402318
sub_40232a
sub_40249a
sub_4024af
sub_4025ea
sub_4028cc
sub_4028e3
sub_40297e
sub_402cc4
sub_402d0d
sub_402ff3
sub_40303c
sub_403143
sub_403218
sub_4033ac
sub_403497
sub_4034a8
sub_4035b0
sub_40364a
sub_40367d
sub_403693
sub_4036a9
sub_4036ce
sub_40388d
sub_403904
sub_40391a
sub_40392a
sub_403a73
sub_403a93
sub_403b17
sub_403b2f
sub_403b3a
sub_403b59
sub_403b6a
sub_403bed
sub_403bf8
sub_403c10
sub_403c5c
sub_403c65
sub_403cd9
sub_403ceb
sub_403d98
sub_403e19
sub_403e83
sub_403eef
sub_403f39
sub_403f85
sub_403fbf
sub_403fde
sub_404011
sub_404076
sub_4040a5
sub_404122
sub_40414e
sub_404187
sub_40419a
sub_4041af
sub_4041e6
sub_4041fa
sub_404217
sub_40426b
sub_4042a4
sub_404307
sub_40431a
sub_40432d
sub_404345
sub_404374
sub_404396
sub_4043a9
sub_404418
sub_404459
sub_404471
sub_404494
sub_4044c1
sub_4044d8
sub_404547
sub_4045cf
sub_404675
sub_404682
sub_4046a6
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetgroups
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
__errno_location
getuid
getegid
getgid
putchar_unlocked
getpwnam
error
getpwuid
free
getgrgid
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
getgrouplist
getgroups
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
