Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
digest_file
dup_safer
emit_bug_reporting_address
fadvise
fdadvise
fopen_safer
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
md5_init_ctx
md5_process_bytes
md5_read_ctx
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4015f9
sub_4015fa
sub_401632
sub_40167a
sub_40169c
sub_4016ad
sub_4016c6
sub_4016e1
sub_4017b4
sub_401816
sub_401826
sub_401884
sub_401bad
sub_401bc3
sub_401c65
sub_401fb4
sub_401ffd
sub_4022e2
sub_40232c
sub_402433
sub_402508
sub_4026c7
sub_4026e7
sub_4029d5
sub_402a2f
sub_402df6
sub_402e33
sub_402e9d
sub_402ed3
sub_402fd3
sub_403034
sub_40305f
sub_403299
sub_4032cc
sub_4032ef
sub_403313
sub_4033e5
sub_40340d
sub_40345b
sub_40352d
sub_40370c
sub_403743
sub_40384c
sub_403883
sub_403d13
sub_403d5f
sub_403d79
sub_403db1
sub_403dca
sub_403dd5
sub_403e5d
sub_403f4c
sub_403fc5
sub_404044
sub_4040f2
sub_40416c
sub_4041af
sub_4042a6
sub_404371
sub_4043d5
sub_404441
sub_404460
sub_4044fa
sub_404611
sub_40462a
sub_4046c5
sub_4047e6
sub_4047f5
sub_40487f
sub_4048ff
sub_404934
sub_40495e
sub_404b1d
sub_404b25
sub_404be4
sub_404c5e
sub_404cc8
sub_404cd5
sub_404d3a
sub_404d48
sub_404d86
sub_404d95
sub_404f82
sub_4052e8
sub_4052f8
sub_4053a3
sub_40541f
sub_405425
sub_4054a8
sub_4054e5
sub_405510
sub_4055d7
sub_405673
sub_4057c3
sub_405fdc
sub_405fee
sub_4062e1
sub_40635e
sub_4063d4
sub_4064de
sub_406513
sub_406541
sub_406555
sub_406595
sub_4065b9
sub_406651
sub_40667a
sub_406698
sub_4066c6
sub_40670c
sub_406775
sub_406782
sub_4067a6
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
setvbuf
getopt_long
__overflow
strchr
__errno_location
error
__ctype_tolower_loc
__getdelim
__ctype_b_loc
free
dcngettext
_exit
memcpy
malloc
fread_unlocked
posix_fadvise
fileno
fopen
fdopen
close
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
iswprint
mbsinit
memset
realloc
calloc
__freading
lseek
fclose
fcntl
fflush
fseeko
mbrtowc
__fpending
strcmp
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
