Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
dot_or_dotdot
emit_ancillary_info
emit_bug_reporting_address
file_name_free
file_name_init
file_name_prepend
find_dir_entry
__fstat
fstat
get_quoting_style
get_root_dev_ino
gettext_quote
hard_locale
locale_charset
logical_getcwd
main
nth_parent
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
readdir_ignoring_dot_and_dotdot
robust_getcwd
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
stat
sub_401609
sub_40160a
sub_401642
sub_40168a
sub_4016ac
sub_4016bd
sub_4016d6
sub_401737
sub_401e6b
sub_402b14
sub_402ce3
sub_402d21
sub_402d57
sub_402e6b
sub_402ece
sub_402f42
sub_4030b4
sub_4031b8
sub_4031e6
sub_40362a
sub_40363b
sub_4036f7
sub_40370a
sub_40375e
sub_40379f
sub_4037ca
sub_4037de
sub_40383a
sub_403888
sub_403916
sub_40393b
sub_403977
sub_403985
sub_403f42
sub_404052
sub_40406e
sub_40415c
sub_4042ae
sub_4042e8
sub_4042fe
sub_4043dd
sub_4043f7
sub_404463
sub_40447e
sub_404553
sub_404573
sub_4045b6
sub_4046c7
sub_4046e6
sub_404722
sub_40476f
sub_404844
sub_4048b5
sub_4048ce
sub_40497e
sub_404a75
sub_404afe
sub_404c53
sub_404cc2
sub_404dab
sub_404e5b
sub_404e87
sub_40506e
sub_40513a
sub_4051a8
sub_405225
sub_405240
sub_40530f
sub_405578
sub_405719
sub_40574d
sub_405775
sub_4057b6
sub_4057ec
sub_40582f
sub_40584e
sub_4058ce
sub_405961
sub_4059ca
sub_405a0f
sub_405b16
sub_405b2a
sub_405bd2
sub_405bee
sub_405c3e
sub_405d57
sub_405e2b
sub_405ec7
sub_405f4d
sub_405f82
sub_405fc7
sub_4060fa
sub_4061a2
sub_4061c2
sub_40627f
sub_406292
sub_406354
sub_4063f5
sub_406402
sub_406426
sub_406439
sub_40645f
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetcwd
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
abort
memset
strlen
memcmp
iswprint
mbsinit
__ctype_b_loc
__ctype_get_mb_cur_max
__errno_location
gettext
error
setlocale
strcmp
free
fprintf
printf
fputs_unlocked
exit
strncmp
getenv
bindtextdomain
textdomain
getopt_long
puts
strstr
memcpy
closedir
chdir
opendir
dirfd
fchdir
getcwd
readdir
fileno
lseek
fseeko
fclose
__freading
nl_langinfo
_exit
fputs
realloc
strrchr
malloc
calloc
mbrtowc
__fpending
ferror_unlocked
fflush
__cxa_atexit
__xstat
__fxstat
__lxstat

Function signatures:

Function types:

Data:

Preamble:
