Text sections:
scanargs

PLT sections:
__libc_start_main
__gmon_start__
__errno_location
gettext
sprintf
strlen
memmove
memcpy
localeconv
memcmp
_exit
lseek
sigprocmask
raise
clock_gettime
fprintf
fputs_unlocked
getenv
sigemptyset
sigaddset
sigaction
sigismember
exit
getopt_long
memset
printf
strcmp
setlocale
__freading
fileno
fclose
close
__fpending
ferror_unlocked
fcntl
strchr
fputc_unlocked
ngettext
nl_langinfo
ioctl
malloc
strncmp
fputs
abort
strrchr
bindtextdomain
textdomain
getpagesize
ftruncate
posix_fadvise
toupper
tolower
vasprintf
fdatasync
fsync
strcat
snprintf
error_at_line
free
error
fflush
read
write
fseeko
open
putc_unlocked
dup2
calloc
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
realloc
__assert_fail
strtoumax
mbrtowc
__cxa_atexit
__fxstat

Function signatures:

Function types:

Data:

Preamble:
