Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
fadvise
fdadvise
get_next
get_quoting_style
get_spec_stats
gettext_quote
hard_locale
is_char_class_member
locale_charset
main
make_printable_str
parse_str
plain_read
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
read_and_delete
read_and_xlate
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_read
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
squeeze_filter
usage
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__ctype_toupper_loc
free
abort
__errno_location
strncmp
_exit
__fpending
textdomain
fclose
bindtextdomain
stpcpy
dcgettext
__ctype_get_mb_cur_max
strlen
getopt_long
mbrtowc
strchr
strrchr
lseek
__assert_fail
__strtoul_internal
memset
close
posix_fadvise
read
__libc_start_main
memcmp
fputs_unlocked
calloc
strcmp
memcpy
fileno
malloc
fflush
nl_langinfo
__freading
fwrite_unlocked
realloc
setlocale
__printf_chk
error
fseeko
__cxa_atexit
exit
fwrite
__fprintf_chk
mbsinit
iswprint
__ctype_tolower_loc
__ctype_b_loc
__sprintf_chk

Function signatures:

Function types:

Data:

Preamble:
