Text sections:
base_len
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
dot_or_dotdot
emit_ancillary_info
emit_bug_reporting_address
errno_may_be_empty
errno_rmdir_non_empty
get_quoting_style
gettext_quote
hard_locale
ignorable_failure
is_empty_dir
last_component
locale_charset
main
prog_fprintf
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
readdir_ignoring_dot_and_dotdot
remove_parents
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strip_trailing_slashes
sub_4014b9
sub_4014ba
sub_4014f2
sub_40153a
sub_40155c
sub_40156d
sub_401586
sub_4015bf
sub_4015f8
sub_4016c2
sub_401877
sub_401929
sub_40195c
sub_4019f1
sub_401a3e
sub_401c23
sub_401ca3
sub_401ce3
sub_401cfe
sub_401d6e
sub_401de2
sub_401e21
sub_401e43
sub_401e9f
sub_401ec7
sub_401fb3
sub_402038
sub_402184
sub_4021c6
sub_402271
sub_4022f3
sub_4025f6
sub_4028fb
sub_40296d
sub_40298b
sub_402af4
sub_402b0e
sub_402b7e
sub_402bde
sub_402c16
sub_402ccf
sub_402d93
sub_402e2f
sub_402ebd
sub_402f75
sub_402f8e
sub_403046
sub_403083
sub_403177
sub_4032a5
sub_40448a
sub_4046f2
sub_404772
sub_4047bb
sub_4047e8
sub_4048b8
sub_4048ef
sub_404b0d
sub_404b8a
sub_404bc8
sub_404ef8
sub_404f0e
sub_405011
sub_4050c4
sub_40512e
sub_4051e8
sub_4052b1
sub_4052cb
sub_40533f
sub_405397
sub_4053c5
sub_40540e
sub_405447
sub_40546e
sub_40554d
sub_40557a
sub_4055be
sub_405632
sub_40564e
sub_405695
sub_40570a
sub_4057c8
sub_4057fa
sub_40581b
sub_4059b9
sub_4059ed
sub_405b13
sub_405b7a
sub_405b8e
sub_405bfa
sub_405c16
sub_405c57
sub_405d11
sub_405d87
sub_405e0a
sub_405e66
sub_405e8e
sub_405f43
sub_405fb5
sub_405fc2
sub_405fe6
usage
version_etc
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
fileno
lseek
fseeko
fputs_unlocked
vfprintf
fputc_unlocked
__fpending
ferror_unlocked
__errno_location
gettext
error
rmdir
strrchr
setlocale
strcmp
memset
nl_langinfo
strncmp
fputs
abort
free
strlen
mbrtowc
fprintf
printf
exit
bindtextdomain
textdomain
getopt_long
__freading
openat
fdopendir
close
closedir
readdir
fclose
memcpy
_exit
__ctype_get_mb_cur_max
iswprint
mbsinit
memcmp
__ctype_b_loc
malloc
realloc
calloc
fflush
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
