Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_4011e9
sub_4011ea
sub_401222
sub_40126a
sub_40128c
sub_40129d
sub_4012b6
sub_4012cd
sub_4012f5
sub_40130a
sub_401329
sub_40133a
sub_40134a
sub_4013f1
sub_4014aa
sub_4014bf
sub_401543
sub_401560
sub_4015e9
sub_4018cc
sub_4018e3
sub_40197e
sub_401cc4
sub_401d0d
sub_401ff3
sub_40203c
sub_402143
sub_402218
sub_4023ac
sub_402438
sub_4024b9
sub_402523
sub_40258f
sub_4025d9
sub_402625
sub_40265f
sub_4026b6
sub_4026d7
sub_4026ea
sub_402716
sub_40272a
sub_402a88
sub_402ad8
sub_402b3f
sub_402b69
sub_402b91
sub_402bdf
sub_402bea
sub_402c24
sub_402c73
sub_402cad
sub_402cc3
sub_402cf7
sub_402d16
sub_402d29
sub_402d98
sub_402daa
sub_402e41
sub_402e76
sub_402ed3
sub_402efa
sub_402f77
sub_402f8a
sub_402f9d
sub_40318a
sub_403193
sub_4031bf
sub_4031f1
sub_403266
sub_4032dd
sub_4032ed
sub_4032f7
sub_403379
sub_403393
sub_4033ad
sub_40347c
sub_40348a
sub_40357c
sub_4035b7
sub_4035e6
sub_403629
sub_403641
sub_403664
sub_403675
sub_4036de
sub_40389d
sub_4038a8
sub_4038b8
sub_4038c9
sub_4038e5
sub_403984
sub_4039a9
sub_4039c6
sub_4039da
sub_403a52
sub_403a66
sub_403aae
sub_403ab3
sub_403ada
sub_403b16
sub_403b9f
sub_403be5
sub_403c23
sub_403c95
sub_403ca2
sub_403cc6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
__errno_location
error
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
__fprintf_chk
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
