Text sections:
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
make_node_op_equals
mknod
mode_adjust
mode_compile
mode_create_from_ref
octal_to_mode
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
stat
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401579
sub_40157a
sub_4015b2
sub_4015fa
sub_40161c
sub_40162d
sub_401646
sub_401673
sub_40169a
sub_4016aa
sub_4016ba
sub_4016d6
sub_4016e9
sub_401758
sub_4017e3
sub_401801
sub_40181a
sub_40182a
sub_40183f
sub_40184f
sub_40185f
sub_401863
sub_4018dd
sub_4018ed
sub_4018f7
sub_401933
sub_401994
sub_4019d3
sub_401ec6
sub_401f19
sub_401f4d
sub_401f58
sub_401f8d
sub_401fa3
sub_401fc9
sub_401ff1
sub_40200a
sub_402049
sub_402061
sub_402084
sub_4020b7
sub_402151
sub_4021f8
sub_402209
sub_40226a
sub_40229f
sub_4022de
sub_4022ea
sub_4023dc
sub_4023f8
sub_40240d
sub_402423
sub_402452
sub_402498
sub_402669
sub_40294c
sub_402963
sub_4029fe
sub_402d44
sub_402d8d
sub_403073
sub_4030bc
sub_4031c3
sub_403298
sub_40342c
sub_403456
sub_40346e
sub_40362d
sub_403686
sub_403698
sub_4036a3
sub_4036f6
sub_40372f
sub_403778
sub_4037e7
sub_4037f5
sub_403885
sub_4038aa
sub_4038c9
sub_4038da
sub_403b82
sub_403b96
sub_403c34
sub_403c65
sub_403ce2
sub_403cfb
sub_403d33
sub_403d4a
sub_403d5d
sub_403d75
sub_403d90
sub_403e58
sub_403ed9
sub_403f43
sub_403faf
sub_403ff9
sub_404045
sub_40407f
sub_404157
sub_40416e
sub_404214
sub_4042af
sub_4042d9
sub_4042e5
sub_40431a
sub_40432a
sub_404356
sub_4044aa
sub_4044e1
sub_4044f3
sub_404868
sub_4048ef
sub_40493a
sub_40494d
sub_4049b6
sub_404a6f
sub_404a82
sub_404ab3
sub_404ac4
sub_404af7
sub_404b0b
sub_404b1b
sub_404bba
sub_404ca1
sub_404cd0
sub_404dc5
sub_404dd2
sub_404df6
sub_404e09
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
error
umask
free
gnu_dev_makedev
mkfifo
chmod
__errno_location
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
strtoumax
strchr
__assert_fail
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit
__xstat
__xmknod

Function signatures:

Function types:

Data:

Preamble:
