Text sections:
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
base_len
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_random_data
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_strcasecmp
c_tolower
c_toupper
default_block_size
direct_mode
dir_len
dir_name
dopass
dorewind
dosync
dup_safer
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
errno_fail
explicit_bzero
fd_safer
fillpattern
fopen_safer
__fstat
fstatat
genpattern
get_nonce
get_quoting_style
gettext_quote
group_number
hard_locale
human_options
humblock
ignorable_sync_errno
incname
isaac_seed
just
known
last_component
locale_charset
lstatat
main
mdir_name
open_safer
passname
periodic_pattern
ptr_align
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
randint_all_free
randint_all_new
randint_choose
randint_free
randint_genmax
randint_get_source
randint_new
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
readisaac
readsource
renameatu
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
shift_left
simple_new
statat
umaxtostr
usage
version_etc_ar
version_etc_arn
version_etc_va
wipefd
wipefile
wipename
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
getenv
free
abort
__errno_location
fdatasync
unlink
strncmp
_exit
__fpending
isatty
localeconv
fcntl
write
getpid
fread_unlocked
textdomain
fclose
bindtextdomain
dcgettext
__ctype_get_mb_cur_max
strlen
getuid
getopt_long
mbrtowc
strchr
__fxstatat
__overflow
strrchr
ftruncate
lseek
gettimeofday
__assert_fail
__strtoul_internal
memset
ioctl
close
memchr
read
__libc_start_main
memcmp
fputs_unlocked
calloc
strcmp
syscall
memcpy
time
fileno
getgid
sync
malloc
fflush
nl_langinfo
__fxstat
__freading
realloc
__strcpy_chk
fdopen
setlocale
__printf_chk
setvbuf
chmod
memmove
error
fsync
open
fseeko
fopen
__cxa_atexit
renameat
getpagesize
getppid
exit
fwrite
__fprintf_chk
mbsinit
iswprint
__ctype_b_loc
__sprintf_chk

Function signatures:

Function types:

Data:

Preamble:
