Text sections:
apply_relative_time
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
current_timespec
dbg_printf
debug_print_current_time
debug_print_relative_time
emit_bug_reporting_address
fd_reopen
fdutimensat
get_quoting_style
gettext_quote
gettime
hard_locale
locale_charset
localtime_rz
lookup_zone
main
mktime_z
nstrftime
parse_datetime
parse_datetime2
posix2_version
posixtime
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
save_abbr
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
str_days
__strftime_internal
sub_401bc9
sub_401bca
sub_401c02
sub_401c4a
sub_401c6c
sub_401c7d
sub_401c96
sub_401cc0
sub_401d55
sub_401df3
sub_401e22
sub_401f1c
sub_401f2e
sub_4020ed
sub_4021e1
sub_402467
sub_40247a
sub_4024b6
sub_40252c
sub_40259f
sub_4027dc
sub_4027ed
sub_402809
sub_40281a
sub_40282f
sub_402b88
sub_402bc4
sub_402c6e
sub_4030a7
sub_4030b8
sub_403198
sub_4031bf
sub_4031c5
sub_403238
sub_40345e
sub_4034d8
sub_4035d8
sub_4035ef
sub_403644
sub_403711
sub_403733
sub_4037aa
sub_403842
sub_4038d1
sub_4039a3
sub_403a5f
sub_403b2f
sub_403cf1
sub_403d13
sub_403da6
sub_404084
sub_4040bd
sub_4044b7
sub_4044f5
sub_404606
sub_40462e
sub_404691
sub_404863
sub_404898
sub_404935
sub_404aa5
sub_404b33
sub_404c04
sub_40508c
sub_405105
sub_405135
sub_4051c5
sub_4051d5
sub_405422
sub_4054a5
sub_4054e3
sub_405546
sub_405555
sub_40557a
sub_405585
sub_405748
sub_405761
sub_405828
sub_40584c
sub_408776
sub_4087d5
sub_40881f
sub_4088e5
sub_408921
sub_408963
sub_408e56
sub_408edc
sub_408f27
sub_40915d
sub_4091cb
sub_4091f7
sub_409219
sub_409230
sub_409275
sub_4093c9
sub_4093ed
sub_409483
sub_409495
sub_4094ee
sub_4095ae
sub_4095e8
sub_40980a
sub_40a2e5
sub_40a322
sub_40b3c3
sub_40b699
sub_40b6c7
sub_40b6dc
sub_40bade
sub_40bb11
sub_40bb37
sub_40bcae
sub_40bcd4
sub_40bcfd
sub_40bd7c
sub_40c00a
sub_40c685
sub_40d989
sub_40da15
sub_40db11
sub_40db94
sub_40dbe8
sub_40dbfd
sub_40dd2d
sub_40de01
sub_40e04b
sub_40e0b7
sub_40e125
sub_40e132
sub_40e156
tzalloc
tzfree
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc
yyparse

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__lxstat
getenv
localtime
error
__xstat
__errno_location
close
__assert_fail
strlen
memcmp
__overflow
_exit
open
dup2
futimens
utimensat
clock_gettime
strcmp
fputc
fwrite
__sprintf_chk
fputs
__vfprintf_chk
malloc
free
gmtime_r
__snprintf_chk
strchr
time
mktime
__stpcpy_chk
abort
strtol
strrchr
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
memset
realloc
memcpy
calloc
mbrtowc
setenv
unsetenv
tzset
localtime_r
timegm
__fpending
strftime
__ctype_tolower_loc
__ctype_toupper_loc
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
