Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401499
sub_40149a
sub_4014d2
sub_40151a
sub_40153c
sub_40154d
sub_401566
sub_4015a7
sub_401749
sub_401760
sub_40187a
sub_4018f3
sub_401b64
sub_401bbe
sub_401c62
sub_401d3e
sub_401d72
sub_401e53
sub_40203e
sub_402144
sub_40215e
sub_4021ab
sub_402253
sub_4023c4
sub_402407
sub_40244a
sub_4024a8
sub_4024d8
sub_4025aa
sub_4026a1
sub_402834
sub_40287f
sub_402896
sub_40291b
sub_402958
sub_40298c
sub_402a73
sub_402b15
sub_402b45
sub_402bd6
sub_402c24
sub_402c8a
sub_402ca3
sub_402d44
sub_402d6f
sub_402e44
sub_4032c1
sub_40334a
sub_40342e
sub_4034fb
sub_403532
sub_4035b8
sub_40361a
sub_403676
sub_4036c7
sub_40378b
sub_40378c
sub_40381a
sub_4038eb
sub_403946
sub_40395e
sub_4039cf
sub_403a73
sub_403b17
sub_403b52
sub_403b8a
sub_403bcd
sub_403bf7
sub_403c32
sub_404232
sub_405013
sub_40502e
sub_4051c8
sub_405297
sub_4052de
sub_40537c
sub_4053cb
sub_4053f8
sub_40543f
sub_40544e
sub_4056ac
sub_405815
sub_40585e
sub_40588d
sub_4058d8
sub_4058ff
sub_405933
sub_405967
sub_405a11
sub_405ccf
sub_40608d
sub_4060f5
sub_406102
sub_406126
sync_arg
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
strcmp
gettext
fprintf
printf
fputs_unlocked
exit
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
__fpending
ferror_unlocked
__errno_location
free
realloc
memset
abort
memcpy
fileno
fclose
__freading
lseek
error
close
sync
open
fdatasync
fsync
syncfs
__assert_fail
fflush
fcntl
_exit
strrchr
fputs
nl_langinfo
calloc
strlen
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
malloc
mbrtowc
fseeko
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
