Text sections:
base_len
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
fd_reopen
file_name_concat
get_quoting_style
gettext_quote
hard_locale
initialize_exit_failure
last_component
locale_charset
main
mfile_name_concat
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401589
sub_40158a
sub_4015c2
sub_40160a
sub_40162c
sub_40163d
sub_401656
sub_40166a
sub_40167d
sub_40168a
sub_401693
sub_4016e1
sub_4016fd
sub_401767
sub_4017b9
sub_401a9c
sub_401ab3
sub_401b4e
sub_401e94
sub_401edd
sub_4021c3
sub_40220c
sub_402313
sub_4023e8
sub_40257c
sub_40258a
sub_4025c9
sub_4025e1
sub_402604
sub_402698
sub_402719
sub_402783
sub_4027ef
sub_402839
sub_402885
sub_4028bf
sub_4028c9
sub_402938
sub_402988
sub_4029eb
sub_402a06
sub_402a13
sub_402a3a
sub_402a4c
sub_402a5a
sub_402b51
sub_402c9c
sub_402cd3
sub_402cfa
sub_402d25
sub_402db3
sub_402dcd
sub_402e03
sub_402e15
sub_402e35
sub_402ead
sub_402ebd
sub_402ec7
sub_402ee0
sub_402f2f
sub_402fc1
sub_40308d
sub_4030dc
sub_403118
sub_4031e3
sub_4031fa
sub_403274
sub_403299
sub_4032c1
sub_403347
sub_40335d
sub_4033a3
sub_403451
sub_403487
sub_40349f
sub_4034cb
sub_403515
sub_40357a
sub_403a36
sub_403b26
sub_403b3a
sub_403c2c
sub_403c67
sub_403c9f
sub_403cc9
sub_403cf6
sub_403d08
sub_403de8
sub_403fa4
sub_403fe6
sub_404348
sub_40435b
sub_4043a6
sub_404422
sub_40443f
sub_40444e
sub_40460d
sub_40472a
sub_404764
sub_4047aa
sub_4047b5
sub_4047f6
sub_404886
sub_40498c
sub_4049bd
sub_4049d3
sub_404a0b
sub_404a31
sub_404a4a
sub_404a5d
sub_404a73
sub_404aa1
sub_404aba
sub_404ad9
sub_404aea
sub_404b55
sub_404b62
sub_404b86
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getenv
isatty
__errno_location
error
umask
open
free
dup2
close
ferror_unlocked
signal
execvp
_exit
strlen
malloc
__mempcpy_chk
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
realloc
memcpy
calloc
fcntl
mbrtowc
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
