Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
full_write
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_write
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_4012f9
sub_4012fa
sub_401332
sub_40137a
sub_40139c
sub_4013ad
sub_4013c6
sub_4013e3
sub_4013f3
sub_401484
sub_401581
sub_40159a
sub_4015c3
sub_4015ea
sub_4015f9
sub_401668
sub_4016d6
sub_4016e3
sub_401726
sub_401844
sub_401891
sub_4018b0
sub_401929
sub_401941
sub_401964
sub_401979
sub_4019a6
sub_401a51
sub_401a79
sub_401a8e
sub_401ddc
sub_401df3
sub_401e8e
sub_4021d4
sub_40221d
sub_402503
sub_40254c
sub_402653
sub_402728
sub_4028bc
sub_4028d7
sub_4028ea
sub_402946
sub_4029e1
sub_402a42
sub_402aae
sub_402add
sub_402af3
sub_402b37
sub_402b45
sub_402b5a
sub_402b6d
sub_402bb8
sub_402c81
sub_402c9a
sub_402cd6
sub_402d06
sub_402d98
sub_402e19
sub_402e83
sub_402eef
sub_402f39
sub_402f85
sub_402fbf
sub_403009
sub_403013
sub_403063
sub_4030e2
sub_4030f8
sub_403126
sub_403136
sub_4034b8
sub_4034ca
sub_4034da
sub_4036e2
sub_40376d
sub_4037a2
sub_40390a
sub_403993
sub_4039b6
sub_4039c8
sub_4039f6
sub_403a0f
sub_403a37
sub_403aae
sub_403abf
sub_403ae9
sub_403b1f
sub_403b2e
sub_403ced
sub_403cfd
sub_403d0a
sub_403dfc
sub_403e0a
sub_403e1a
sub_403e45
sub_403e63
sub_403eef
sub_403f3a
sub_403fc7
sub_40403d
sub_40404d
sub_404057
sub_40406d
sub_40413a
sub_404159
sub_40416a
sub_4041af
sub_404222
sub_404246
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
strlen
memcpy
__errno_location
error
_exit
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
write
malloc
realloc
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
