Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
decode_switches
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
print_element
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401309
sub_40130a
sub_401342
sub_40138a
sub_4013ac
sub_4013bd
sub_4013d6
sub_401406
sub_401458
sub_4014f4
sub_401549
sub_40172a
sub_4017d1
sub_40182b
sub_40183a
sub_401879
sub_401891
sub_4018b4
sub_4018c9
sub_401938
sub_401966
sub_4019aa
sub_4019bc
sub_4019ff
sub_401a29
sub_401a35
sub_401aa6
sub_401ab5
sub_401b55
sub_401b76
sub_401c76
sub_401cf4
sub_401d08
sub_401d41
sub_401d71
sub_401d8a
sub_401da9
sub_401dba
sub_401dde
sub_401dea
sub_401dfd
sub_401e0a
sub_401e1d
sub_401e3a
sub_401fb3
sub_401fda
sub_402338
sub_40234f
sub_402363
sub_4023f3
sub_40240a
sub_402487
sub_402498
sub_4024cd
sub_4024e3
sub_4024f3
sub_40251a
sub_40254e
sub_4025a2
sub_4025bf
sub_4025e6
sub_40261b
sub_40262d
sub_402663
sub_40267a
sub_40268f
sub_4026e6
sub_4026f4
sub_4029ec
sub_402a03
sub_402a9e
sub_402de4
sub_402e2d
sub_403113
sub_40315c
sub_403263
sub_403338
sub_4034cc
sub_403507
sub_40351a
sub_40360c
sub_40372e
sub_40373b
sub_403763
sub_403797
sub_4037ae
sub_40396d
sub_403a01
sub_403a1a
sub_403aa8
sub_403b29
sub_403b93
sub_403bff
sub_403c49
sub_403c95
sub_403ccf
sub_403d19
sub_403d29
sub_403dfd
sub_403e6d
sub_403e7d
sub_403e87
sub_403eb7
sub_403fdc
sub_404052
sub_4040c5
sub_4040d2
sub_4040f6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
__fprintf_chk
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
uname
putchar_unlocked
__errno_location
error
getopt_long
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
