Text sections:
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
do_ftruncate
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_size_note
__fstat
fstat
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
stat
sub_4014d9
sub_4014da
sub_401512
sub_40155a
sub_40157c
sub_40158d
sub_4015a6
sub_401636
sub_401755
sub_40179e
sub_4017bb
sub_4018d6
sub_40191b
sub_401987
sub_4019af
sub_401a4b
sub_401a4c
sub_401c04
sub_401c8a
sub_402011
sub_4021f2
sub_402233
sub_4022e3
sub_402418
sub_40243c
sub_402613
sub_402675
sub_4026bf
sub_4026ea
sub_402722
sub_402766
sub_4027a7
sub_4027ee
sub_402890
sub_40297a
sub_402ab3
sub_402d6c
sub_402db8
sub_402e16
sub_402e5d
sub_402e87
sub_402ecf
sub_402f27
sub_402f42
sub_4030ae
sub_4031b5
sub_40327a
sub_4032b7
sub_403308
sub_4033d1
sub_403475
sub_4034b1
sub_403b3b
sub_4048d2
sub_4049a3
sub_4049d8
sub_404a1a
sub_404a91
sub_404bf7
sub_404c3e
sub_404c7b
sub_404caa
sub_404cfe
sub_404d9e
sub_404dea
sub_404e17
sub_404ed5
sub_404f5b
sub_405173
sub_40553e
sub_4055b7
sub_40562e
sub_405663
sub_4056e6
sub_4058fe
sub_40612b
sub_40613e
sub_4061e4
sub_406268
sub_406286
sub_406299
sub_4062ee
sub_4064b9
sub_406a2a
sub_406b2d
sub_406b5f
sub_406b92
sub_406bcd
sub_406bff
sub_406c65
sub_406d12
sub_406d4c
sub_406d88
sub_406daf
sub_406e15
sub_406e22
sub_406e46
sub_406e59
to_uchar
usable_st_size
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoimax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoimax
xrealloc
xstrdup
xstrtoimax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
free
__errno_location
gettext
printf
fprintf
fputs_unlocked
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
__ctype_b_loc
memcpy
error
open
lseek
close
ftruncate
_exit
fputs
abort
strrchr
__ctype_get_mb_cur_max
strlen
memcmp
memset
iswprint
mbsinit
malloc
realloc
calloc
strchr
__assert_fail
strtoimax
mbrtowc
__freading
fflush
fseeko
fileno
__fpending
ferror_unlocked
nl_langinfo
fclose
__cxa_atexit
__xstat
__fxstat

Function signatures:

Function types:

Data:

Preamble:
