Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
get_quoting_style
gettext_quote
hard_locale
list_signals
locale_charset
main
operand2sig
print_table_row
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
send_signals
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sig2str
str2sig
str2signum
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
free
abort
__errno_location
strncmp
_exit
strcpy
__fpending
puts
textdomain
__strtol_internal
fclose
bindtextdomain
dcgettext
__ctype_get_mb_cur_max
strlen
getopt_long
mbrtowc
strrchr
lseek
memset
memchr
__libc_start_main
memcmp
fputs_unlocked
calloc
strcmp
strtol
memcpy
kill
fileno
malloc
fflush
nl_langinfo
__freading
strsignal
realloc
setlocale
__printf_chk
error
fseeko
__cxa_atexit
__libc_current_sigrtmin
exit
fwrite
__fprintf_chk
__libc_current_sigrtmax
mbsinit
iswprint
__ctype_b_loc
__sprintf_chk

Function signatures:

Function types:

Data:

Preamble:
