Text sections:
add_tab_stop
cleanup_file_list_stdin
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
emit_tab_list_info
fadvise
fdadvise
finalize_tab_stops
get_next_tab_column
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
next_file
parse_tab_stops
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_file_list
set_program_name
set_quoting_flags
set_quoting_style
sub_401559
sub_40155a
sub_401592
sub_4015da
sub_4015fc
sub_40160d
sub_401626
sub_401676
sub_40171b
sub_401754
sub_4017a3
sub_4017b5
sub_401856
sub_401893
sub_4018af
sub_4018b5
sub_4018e1
sub_4018fc
sub_4019de
sub_4019f3
sub_401a38
sub_401a74
sub_401b0c
sub_401dd4
sub_401e16
sub_401e8f
sub_4020c2
sub_4021c6
sub_4021d5
sub_402276
sub_40258d
sub_4025a3
sub_402645
sub_402994
sub_4029dd
sub_402cc2
sub_402d0c
sub_402e13
sub_402ee8
sub_4030a7
sub_4030f2
sub_403105
sub_403352
sub_403365
sub_40343c
sub_4034a8
sub_403527
sub_40359c
sub_4035c8
sub_403648
sub_4036f1
sub_403a58
sub_403ab5
sub_403ace
sub_403c8d
sub_403cd2
sub_403d63
sub_403dfc
sub_403e83
sub_403ea9
sub_403eca
sub_403fab
sub_404071
sub_4040f4
sub_4041c5
sub_404208
sub_404231
sub_4042a8
sub_4042d5
sub_4042e5
sub_404431
sub_40449f
sub_4044fe
sub_404591
sub_4045aa
sub_4045b5
sub_404692
sub_4046ab
sub_4046cf
sub_4047e4
sub_404865
sub_404a61
sub_404a88
sub_404a9f
sub_404b0e
sub_404b45
sub_404b81
sub_404c49
sub_404c5a
sub_404d4c
sub_404d55
sub_404d86
sub_404de4
sub_404df2
sub_404e85
sub_404ef5
sub_404f02
sub_404f26
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__uflow
__ctype_b_loc
fwrite_unlocked
__overflow
__errno_location
error
free
strspn
clearerr_unlocked
fopen
__assert_fail
_exit
posix_fadvise
fileno
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
iswprint
mbsinit
memset
malloc
realloc
memcpy
__strndup
calloc
__freading
lseek
fclose
fflush
fseeko
mbrtowc
__fpending
strcmp
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
