Text sections:
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
bkm_scale
bkm_scale_by_power
check_file
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
collate_error
c_tolower
c_toupper
different
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
fadvise
fdadvise
field_sep
find_field
freebuffer
freopen_safer
get_quoting_style
gettext_quote
hard_locale
initbuffer
locale_charset
main
memcasecmp
memcoll
memcoll0
orig_freopen
posix2_version
protect_fd
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
readlinebuffer
readlinebuffer_delim
rpl_calloc
rpl_fclose
rpl_fflush
rpl_freopen
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
size_opt
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
strcoll_loop
strict_posix2
sub_401809
sub_40180a
sub_401842
sub_40188a
sub_4018ac
sub_4018bd
sub_4018d6
sub_4018f7
sub_4019e1
sub_401e48
sub_401e86
sub_401ea8
sub_401efd
sub_401f42
sub_401fd3
sub_4020bf
sub_402105
sub_40212a
sub_402218
sub_402299
sub_402303
sub_40236f
sub_4023b9
sub_402405
sub_40243f
sub_402445
sub_40247f
sub_402511
sub_402878
sub_4028c2
sub_402918
sub_402953
sub_402a7e
sub_402b79
sub_402dfd
sub_402e91
sub_402ea5
sub_402ee4
sub_402f97
sub_403005
sub_403073
sub_4030b6
sub_4031da
sub_4031e3
sub_403312
sub_403339
sub_4034be
sub_4034ca
sub_4034f9
sub_40352f
sub_40353e
sub_4036fd
sub_40376d
sub_40377d
sub_403787
sub_403828
sub_403836
sub_40386a
sub_40387a
sub_403889
sub_4038c7
sub_4038da
sub_4038ed
sub_4038fd
sub_4039ca
sub_4039d9
sub_403a48
sub_403a5a
sub_403a91
sub_403ab3
sub_403af9
sub_403b11
sub_403b34
sub_403b61
sub_403b78
sub_403d8c
sub_403dcd
sub_403de3
sub_403e39
sub_403e54
sub_403eca
sub_403ee5
sub_403f10
sub_403faf
sub_40428c
sub_4042a3
sub_40433e
sub_404684
sub_4046cd
sub_4049b3
sub_4049fc
sub_404b03
sub_404bd8
sub_404d6c
sub_404d7a
sub_404d8a
sub_404e7c
sub_404ef2
sub_404f09
sub_40501d
sub_40504b
sub_4050b2
sub_4050cb
sub_4050ff
sub_405105
sub_405120
sub_40517a
sub_4051a5
sub_4051ba
sub_4051c7
sub_40529f
sub_4052a3
sub_405316
sub_405343
sub_40536a
sub_4053ed
sub_405416
sub_4056f2
sub_405779
sub_4057be
sub_4057e6
sub_405864
sub_405878
sub_405883
sub_405933
sub_40599e
sub_405a84
sub_405ab7
sub_405aca
sub_405ae9
sub_405afa
sub_405b16
sub_405b6f
sub_405b86
sub_405bc3
sub_405bda
sub_405bea
sub_405bfd
sub_405c26
sub_405c95
sub_405ca2
sub_405cc6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
writeline
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmemcoll
xmemcoll0
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoul
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
getenv
bindtextdomain
textdomain
getopt_long
error
feof_unlocked
putchar_unlocked
ferror_unlocked
fwrite_unlocked
free
__errno_location
memcmp
__ctype_b_loc
strlen
putc_unlocked
_exit
posix_fadvise
fileno
dup2
close
open
getc_unlocked
__ctype_toupper_loc
strtol
strrchr
fwrite
abort
__ctype_get_mb_cur_max
iswprint
mbsinit
memset
malloc
realloc
memcpy
strtoul
strchr
__assert_fail
calloc
__freading
lseek
fclose
fflush
freopen
fseeko
mbrtowc
__fpending
strcoll
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
