Text sections:
allocate_entry
areadlink_with_size
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
atomic_link
backupfile_internal
base_len
buffer_or_output
canonicalize_filename_mode
check_extension
check_tuning
check_x_suffix
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdin
close_stdin_set_file_name
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
compute_bucket_size
convert_abs_rel
c_tolower
c_toupper
dir_len
dir_name
do_link
dup_safer
emit_ancillary_info
emit_backup_suffix_note
emit_bug_reporting_address
emit_mandatory_arg_note
errno_fail
errnoize
explicit_bzero
fd_safer
file_name_concat
find_backup_file_name
fopen_safer
force_linkat
force_symlinkat
freadahead
free_entry
fstatat
gen_tempname
gen_tempname_len
get_nonce
get_quoting_style
gettext_quote
get_version
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_pjw
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
isaac_refill
isaac_seed
is_prime
just
last_component
locale_charset
lstat
lstatat
main
mdir_name
mfile_name_concat
next_prime
numbered_backup
openat_safer
opendirat
path_common_prefix
priv_set_remove_linkdir
priv_set_restore_linkdir
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
randint_all_free
randint_all_new
randint_free
randint_genmax
randint_get_source
randint_new
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
raw_comparator
raw_hasher
readisaac
readsource
record_file
relpath
renameatu
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_hasher
samedir_template
same_name
same_nameat
seen_file
seen_triple
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_simple_backup_suffix
shift_left
simple_new
stat
statat
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
strip_trailing_slashes
sub_401ef9
sub_401efa
sub_401f32
sub_401f7a
sub_401f9c
sub_401fad
sub_401fc6
sub_401fde
sub_401ff9
sub_40200a
sub_402059
sub_402069
sub_4020d8
sub_4022a7
sub_402313
sub_402335
sub_40239a
sub_4023b5
sub_40242d
sub_40243d
sub_402447
sub_4024fc
sub_402544
sub_40262c
sub_40264f
sub_402685
sub_4026bf
sub_4026e9
sub_402723
sub_4027aa
sub_4027bd
sub_4027d5
sub_402923
sub_402939
sub_40297b
sub_402a9a
sub_402ac6
sub_402ada
sub_402af1
sub_402b2f
sub_402b75
sub_402bb2
sub_402bf9
sub_402ce0
sub_402d91
sub_402da5
sub_402e51
sub_402e76
sub_402e8e
sub_40301e
sub_403034
sub_403043
sub_4030a6
sub_4036b3
sub_4036c5
sub_40371d
sub_403737
sub_403803
sub_40381a
sub_403839
sub_40384a
sub_40386e
sub_4038e6
sub_403907
sub_403998
sub_403a19
sub_403a83
sub_403aef
sub_403b39
sub_403b85
sub_403bbf
sub_403bcf
sub_403bda
sub_403bfa
sub_403c13
sub_403cb3
sub_403d14
sub_403d40
sub_403d94
sub_403e03
sub_403e36
sub_403e77
sub_404037
sub_404441
sub_40447d
sub_404493
sub_4045bc
sub_404774
sub_4047d7
sub_4047f3
sub_404837
sub_404866
sub_404903
sub_40496e
sub_404a31
sub_404ab4
sub_404acd
sub_404adb
sub_404aee
sub_404b57
sub_404bf3
sub_404c06
sub_404c15
sub_404c2b
sub_404c5b
sub_404c6d
sub_404cf3
sub_40501c
sub_405039
sub_40506a
sub_405073
sub_4050c8
sub_405218
sub_405225
sub_40531d
sub_40532d
sub_4053b7
sub_4053c4
sub_4053de
sub_4054fd
sub_405513
sub_405579
sub_405591
sub_4055af
sub_4055be
sub_40577d
sub_405790
sub_4057e3
sub_4057f5
sub_405824
sub_405844
sub_405856
sub_40588a
sub_40589d
sub_405917
sub_405925
sub_405977
sub_405a58
sub_405d3c
sub_405d53
sub_405dee
sub_406134
sub_40617d
sub_406463
sub_4064ac
sub_4065b3
sub_406688
sub_40681c
sub_406835
sub_406845
sub_406874
sub_4068ae
sub_40695a
sub_406971
sub_406987
sub_406995
sub_4069f1
sub_406a03
sub_406a2a
sub_406a54
sub_406a7e
sub_406abb
sub_406cae
sub_406d41
sub_406dce
sub_406e29
sub_406f1c
sub_4070b9
sub_4070cd
sub_407108
sub_407132
sub_407176
sub_407185
sub_4071aa
sub_40729c
sub_4072a9
sub_4072b7
sub_40734f
sub_40740d
sub_40743b
sub_4074b4
sub_4074ca
sub_4075ec
sub_40774a
sub_4077c2
sub_4077e6
sub_4079c2
sub_4079f6
sub_407a64
sub_407a79
sub_407aba
sub_407ac5
sub_407e62
sub_407e78
sub_407ef6
sub_407f95
sub_408019
sub_4080e3
sub_40810b
sub_408128
sub_40826a
sub_40829c
sub_40839d
sub_4083aa
sub_408536
sub_408544
sub_408591
sub_4085a6
sub_4085bc
sub_408d03
sub_408df7
sub_408f23
sub_408f3d
sub_408f45
sub_408f9c
sub_408fa3
sub_408fd7
sub_409001
sub_40901d
sub_4090b1
sub_409103
sub_409138
sub_40914a
sub_409263
sub_40928a
sub_4095e8
sub_4095fb
sub_409618
sub_409659
sub_409671
sub_409694
sub_4096a8
sub_4097ee
sub_4097fc
sub_409881
sub_409894
sub_409918
sub_409942
sub_409992
sub_4099af
sub_4099b8
sub_409a29
sub_409a4b
sub_409a88
sub_409af6
sub_409b0a
sub_409b1a
sub_409b34
sub_409b6b
sub_409ca8
sub_409cd5
sub_409d36
sub_409da5
sub_409db2
sub_409dd6
sub_409de9
transfer_entries
triple_compare
triple_compare_ino_str
triple_free
triple_hash
triple_hash_no_name
try_dir
try_file
try_link
try_nocreate
try_symlink
try_tempname
try_tempname_len
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xgetcwd
xget_version
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc
yesno

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
__errno_location
error
free
linkat
symlinkat
renameat
strlen
memcpy
strcpy
unlinkat
malloc
__mempcpy_chk
getenv
closedir
rewinddir
readdir
memcmp
realloc
fpathconf
pathconf
__rawmemchr
__strspn_c1
memmove
_exit
abort
openat
fdopendir
close
strrchr
fwrite
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
memset
syscall
__assert_fail
open
mkdir
getcwd
getline
rpmatch
calloc
__freading
fflush
fseeko
fileno
lseek
mbrtowc
readlink
putc_unlocked
__fpending
ferror_unlocked
setvbuf
read
gettimeofday
getpid
getppid
getuid
getgid
fread_unlocked
fclose
fcntl
nl_langinfo
fopen
fdopen
__cxa_atexit
__xstat
__lxstat
__fxstatat

Function signatures:

Function types:

Data:

Preamble:
