Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
component_len
component_start
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
no_leading_hyphen
portable_chars_only
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrlen
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_4013a9
sub_4013aa
sub_4013e2
sub_40142a
sub_40144c
sub_40145d
sub_401476
sub_4014ad
sub_4014c3
sub_4014d3
sub_401591
sub_4015e9
sub_4015ff
sub_40161c
sub_401638
sub_4016fd
sub_401708
sub_401766
sub_40177a
sub_401799
sub_4017aa
sub_40181d
sub_40182d
sub_401837
sub_401991
sub_4019d9
sub_4019f1
sub_401a14
sub_401a29
sub_401a98
sub_401ac7
sub_401b42
sub_401b54
sub_401b81
sub_401b97
sub_401bb3
sub_401bef
sub_401c19
sub_401fa5
sub_401fe4
sub_402041
sub_4021db
sub_402206
sub_40224e
sub_40240d
sub_4024ec
sub_4024fa
sub_40250a
sub_40251d
sub_40252a
sub_40261c
sub_402699
sub_4026b0
sub_4026f5
sub_40272b
sub_40275a
sub_402797
sub_402823
sub_40283a
sub_40284a
sub_402855
sub_402871
sub_4028a6
sub_4028ba
sub_402926
sub_402946
sub_402998
sub_402a06
sub_402a41
sub_402a83
sub_402a9a
sub_402aad
sub_402b09
sub_402b1f
sub_402c3a
sub_402c48
sub_402d0e
sub_402d1a
sub_402d2f
sub_402da4
sub_402dbe
sub_402e82
sub_402eb3
sub_402eda
sub_402ef7
sub_402f5e
sub_402f77
sub_402f9e
sub_402fcb
sub_402fee
sub_403078
sub_4030f9
sub_403163
sub_4031cf
sub_403219
sub_403265
sub_40329f
sub_4032aa
sub_403608
sub_4038ec
sub_403903
sub_40399e
sub_403ce4
sub_403d2d
sub_404013
sub_40405c
sub_404163
sub_404238
sub_4043cc
sub_4043f5
sub_404413
sub_40442d
sub_404495
sub_4044a2
sub_4044c6
sub_4044d9
usage
validate_file_name
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
error
strlen
__errno_location
pathconf
strchr
strspn
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit
__lxstat

Function signatures:

Function types:

Data:

Preamble:
