Text sections:
base_len
check_x_suffix
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
count_consecutive_X_s
c_tolower
c_toupper
dup_safer
emit_ancillary_info
emit_bug_reporting_address
explicit_bzero
file_name_concat
fopen_safer
gen_tempname
gen_tempname_len
get_nonce
get_quoting_style
gettext_quote
hard_locale
isaac_refill
isaac_seed
just
last_component
locale_charset
main
maybe_close_stdout
mfile_name_concat
mkdtemp_len
mkstemp_len
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
randint_all_free
randint_all_new
randint_free
randint_genmax
randint_get_source
randint_new
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
readisaac
readsource
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
shift_left
simple_new
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401919
sub_40191a
sub_401952
sub_40199a
sub_4019bc
sub_4019cd
sub_4019e6
sub_4019fc
sub_401a1d
sub_401cfc
sub_401d13
sub_401dae
sub_4020f4
sub_40213d
sub_402423
sub_40246c
sub_402573
sub_402648
sub_4027dc
sub_4027e5
sub_402cd7
sub_402d05
sub_402d1a
sub_402d36
sub_402d4a
sub_402dd3
sub_402de5
sub_402e0a
sub_402e36
sub_402e7b
sub_402ec9
sub_402f07
sub_40309c
sub_4030c6
sub_40312b
sub_40313a
sub_403153
sub_403193
sub_4031f2
sub_403219
sub_40322e
sub_403239
sub_4032a8
sub_403327
sub_403335
sub_40338a
sub_40347c
sub_40348d
sub_40349a
sub_4034b9
sub_4034ca
sub_4034d5
sub_403872
sub_40388f
sub_403894
sub_4038b7
sub_4038d7
sub_403901
sub_403947
sub_4039b6
sub_4039ca
sub_4039d3
sub_403d0c
sub_403d26
sub_403ded
sub_403dfd
sub_403e04
sub_403e51
sub_403e99
sub_403eb1
sub_403ed4
sub_403ee8
sub_403f13
sub_403f3a
sub_404003
sub_40408d
sub_40409b
sub_4040a8
sub_404136
sub_40429a
sub_4042cb
sub_404314
sub_404342
sub_404354
sub_404371
sub_4043af
sub_4043f5
sub_40442d
sub_404443
sub_4045e9
sub_4046bd
sub_4046ca
sub_404884
sub_40496d
sub_40499b
sub_4049b2
sub_4049ca
sub_404a42
sub_404ac4
sub_404aea
sub_404b05
sub_404b1a
sub_404b52
sub_404b83
sub_404ef8
sub_40501c
sub_405076
sub_40508a
sub_40509f
sub_4051ba
sub_4051d9
sub_40520b
sub_4052a1
sub_40531d
sub_40532d
sub_405337
sub_40534a
sub_405381
sub_40539b
sub_405441
sub_40546e
sub_405478
sub_4054ee
sub_405501
sub_40554a
sub_405572
sub_4055c4
sub_405606
sub_405698
sub_405719
sub_405783
sub_4057ef
sub_405839
sub_405885
sub_4058bf
sub_4058e7
sub_4058ff
sub_405926
sub_4059da
sub_405a09
sub_405a3f
sub_405a4a
sub_405a5d
sub_405a7b
sub_405b78
sub_405b8e
sub_405d4d
sub_405d9b
sub_405e05
sub_405e12
sub_405e36
sub_405e49
try_dir
try_file
try_nocreate
try_tempname
try_tempname_len
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
strlen
memcpy
strrchr
__rawmemchr
getenv
free
__errno_location
puts
close
error
remove
_exit
__fpending
ferror_unlocked
malloc
__mempcpy_chk
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
__strspn_c1
__assert_fail
open
mkdir
realloc
calloc
fileno
__freading
lseek
fclose
fflush
fseeko
mbrtowc
setvbuf
read
gettimeofday
getpid
getppid
getuid
getgid
fread_unlocked
nl_langinfo
fopen
fdopen
fcntl
__cxa_atexit
__lxstat

Function signatures:

Function types:

Data:

Preamble:
