Text sections:
canon_host
canon_host_r
ch_strerror
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
create_fullname
emit_bug_reporting_address
extract_trimmed_name
get_quoting_style
gettext_quote
hard_locale
imaxtostr
locale_charset
main
print_entry
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
read_utmp
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4018f9
sub_4018fa
sub_401932
sub_40197a
sub_40199c
sub_4019ad
sub_4019c6
sub_4019e3
sub_4019f5
sub_401a6b
sub_401adf
sub_401b16
sub_401b7d
sub_401b8b
sub_401bfe
sub_401c0c
sub_401c91
sub_401d41
sub_401f33
sub_40222d
sub_402243
sub_4022e5
sub_402634
sub_40267d
sub_402962
sub_4029ac
sub_402ab3
sub_402b88
sub_402d47
sub_40317f
sub_4031d4
sub_40324a
sub_4032ec
sub_403379
sub_4033e8
sub_4033f5
sub_4034c1
sub_4034f1
sub_403518
sub_40352f
sub_4035f5
sub_403697
sub_403708
sub_403746
sub_4037db
sub_4037fc
sub_40381a
sub_403857
sub_40387a
sub_4038ee
sub_40392c
sub_40393f
sub_40395a
sub_403a4c
sub_403acd
sub_403ada
sub_403baf
sub_403be1
sub_403bf5
sub_403c65
sub_403d65
sub_403d7e
sub_403f3d
sub_403f96
sub_403fa5
sub_404093
sub_4043f8
sub_404474
sub_404555
sub_4045b5
sub_404681
sub_404766
sub_404781
sub_404811
sub_404830
sub_4048b2
sub_404937
sub_404948
sub_4049a8
sub_404a28
sub_404a56
sub_404d71
sub_404f78
sub_40503a
sub_4050a3
sub_4050f2
sub_405255
sub_405265
sub_4054b2
sub_4054da
sub_405513
sub_405537
sub_4055a3
sub_4055c9
sub_405635
sub_405642
sub_405666
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__overflow
getpwnam
strchr
free
strlen
stpcpy
fopen
fwrite_unlocked
fread_unlocked
error
__errno_location
__xstat
time
__sprintf_chk
localtime
strftime
__ctype_b_loc
__ctype_toupper_loc
getaddrinfo
__strdup
freeaddrinfo
gai_strerror
_exit
strcmp
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
fileno
__freading
lseek
fclose
fflush
fseeko
mbrtowc
strncpy
utmpxname
setutxent
getutxent
kill
endutxent
__fpending
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
