Text sections:
abbreviation_lacks_prefix
adjust_value
advance_input_after_read_error
advance_input_offset
alloc_ibuf
alloc_obuf
apply_translations
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
bkm_scale
bkm_scale_by_power
cache_round
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
cleanup
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
copy_simple
copy_with_block
copy_with_unblock
c_strcasecmp
c_tolower
c_toupper
current_timespec
dd_copy
default_block_size
emit_ancillary_info
emit_bug_reporting_address
fd_reopen
finish_up
__fstat
gethrxtime
get_quoting_style
gettext_quote
gettime
hard_locale
human_options
human_readable
humblock
ifd_reopen
iftruncate
install_signal_handlers
interrupt_handler
invalidate_cache
iread
iread_fullblock
is_nul
iwrite
locale_charset
main
maybe_close_stdout
multiple_bits_set
nl_error
operand_is
operand_matches
parse_gnu_standard_options_only
parse_integer
parse_long_options
parse_symbols
print_stats
print_xfer_stats
process_signals
ptr_align
quit
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
scanargs
select_plural
set_char_quoting
set_custom_quoting
set_fd_flags
set_program_name
set_quoting_flags
set_quoting_style
siginfo_handler
skip
skip_via_lseek
swab_buffer
to_uchar
translate_buffer
translate_charset
usable_st_size
usage
verror
verror_at_line
version_etc
version_etc_ar
version_etc_arn
write_output
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmax
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrcat
xstrdup
xstrtoumax
xsum
xsum3
xsum4
xtime_make
xtime_nonnegative_nsec
xtime_nonnegative_sec
xtime_nsec
xtime_sec
xvasprintf
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
__errno_location
gettext
sprintf
strlen
memmove
memcpy
localeconv
memcmp
_exit
lseek
sigprocmask
raise
clock_gettime
fprintf
fputs_unlocked
getenv
sigemptyset
sigaddset
sigaction
sigismember
exit
getopt_long
memset
printf
strcmp
setlocale
__freading
fileno
fclose
close
__fpending
ferror_unlocked
fcntl
strchr
fputc_unlocked
ngettext
nl_langinfo
ioctl
malloc
strncmp
fputs
abort
strrchr
bindtextdomain
textdomain
getpagesize
ftruncate
posix_fadvise
toupper
tolower
vasprintf
fdatasync
fsync
strcat
snprintf
error_at_line
free
error
fflush
read
write
fseeko
open
putc_unlocked
dup2
calloc
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
realloc
__assert_fail
strtoumax
mbrtowc
__cxa_atexit
__fxstat

Function signatures:

Function types:

Data:

Preamble:
