Text sections:
base_cost
bkm_scale
bkm_scale_by_power
check_punctuation
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
copy_rest
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
fadvise
fdadvise
flush_paragraph
fmt
fmt_paragraph
get_line
get_paragraph
get_prefix
get_quoting_style
get_space
gettext_quote
hard_locale
line_cost
locale_charset
main
put_line
put_paragraph
put_space
put_word
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
same_para
set_char_quoting
set_custom_quoting
set_other_indent
set_prefix
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_4015f9
sub_4015fa
sub_401632
sub_40167a
sub_40169c
sub_4016ad
sub_4016c6
sub_4016da
sub_401752
sub_401786
sub_4017af
sub_4017df
sub_4017ec
sub_401805
sub_40182a
sub_40194e
sub_401970
sub_401a05
sub_401a68
sub_401b01
sub_401b41
sub_401bc4
sub_401bdd
sub_401c7f
sub_401c8e
sub_401d1e
sub_402138
sub_40218c
sub_4021e3
sub_402224
sub_402282
sub_4022c3
sub_40230e
sub_40233b
sub_4023b6
sub_4023ca
sub_4023f2
sub_40240a
sub_40241d
sub_402436
sub_4024a8
sub_40250d
sub_40251f
sub_402547
sub_402627
sub_402652
sub_40267f
sub_4026ad
sub_402776
sub_40278a
sub_402857
sub_40286a
sub_402883
sub_4028d7
sub_402909
sub_40293f
sub_402963
sub_40298a
sub_402c3c
sub_402d3d
sub_402d4b
sub_402dc6
sub_402ebc
sub_402f54
sub_402fce
sub_403073
sub_40308a
sub_4030a9
sub_4030ba
sub_40321b
sub_4032a8
sub_403329
sub_403393
sub_4033ff
sub_403449
sub_403495
sub_4034cf
sub_4034f6
sub_40353a
sub_403571
sub_40385c
sub_403873
sub_40390e
sub_403c54
sub_403c9d
sub_403f83
sub_403fcc
sub_4040d3
sub_4041a8
sub_40433c
sub_404377
sub_40443d
sub_40444e
sub_40460d
sub_40472a
sub_40473a
sub_40474a
sub_404795
sub_4047e9
sub_404800
sub_40487e
sub_404895
sub_4048cd
sub_4048e3
sub_4048fb
sub_4049c9
sub_4049e1
sub_404a04
sub_404a1f
sub_404a25
sub_404a75
sub_404a85
sub_404aa8
sub_404aba
sub_404bac
sub_404cd5
sub_404d01
sub_404d13
sub_404db3
sub_405062
sub_405078
sub_4050a2
sub_4050d1
sub_405173
sub_405189
sub_4051aa
sub_4051c6
sub_4051df
sub_4051e8
sub_40525d
sub_40526d
sub_405277
sub_405299
sub_40544c
sub_4054bf
sub_4054d9
sub_4054e9
sub_405558
sub_4055c5
sub_4055d2
sub_4055f6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
fopen
__errno_location
error
strlen
getc_unlocked
putchar_unlocked
__assert_fail
__ctype_b_loc
memmove
fwrite_unlocked
memchr
_exit
posix_fadvise
fileno
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
strtoumax
strchr
calloc
__freading
lseek
fclose
fflush
fseeko
mbrtowc
__fpending
ferror_unlocked
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
