Text sections:
check_order
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
dup_safer
emit_bug_reporting_address
fadvise
fdadvise
fopen_safer
freebuffer
get_quoting_style
gettext_quote
hard_locale
initbuffer
locale_charset
main
memcoll
memcoll0
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
readlinebuffer
readlinebuffer_delim
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4014f9
sub_4014fa
sub_401532
sub_40157a
sub_40159c
sub_4015ad
sub_4015c6
sub_4015d5
sub_401624
sub_401645
sub_401658
sub_401686
sub_401751
sub_401791
sub_4017d8
sub_401ac5
sub_401ae9
sub_401af5
sub_401bcc
sub_401c3f
sub_401ed1
sub_401eea
sub_401f5f
sub_401f6a
sub_401f75
sub_402066
sub_402087
sub_4020bb
sub_4020f2
sub_4021fe
sub_40223c
sub_402523
sub_4025f7
sub_4026fc
sub_40278b
sub_4027bc
sub_402b09
sub_402c3e
sub_402ce1
sub_402cf8
sub_402d05
sub_402de6
sub_402e32
sub_402e94
sub_402eeb
sub_402fe4
sub_403095
sub_4030b3
sub_4030f4
sub_403148
sub_4031d3
sub_4031e5
sub_40328f
sub_40329f
sub_4032d6
sub_403335
sub_4033b4
sub_4033ce
sub_40353c
sub_403596
sub_4035ac
sub_4036d9
sub_403701
sub_403729
sub_403912
sub_403a06
sub_403a46
sub_403a5f
sub_403b25
sub_403b9a
sub_403c8c
sub_403c9e
sub_403e5d
sub_403e93
sub_403f0e
sub_403f43
sub_403f8c
sub_403fcd
sub_403fe0
sub_404025
sub_4040a1
sub_404141
sub_40426f
sub_40433f
sub_404501
sub_404523
sub_4045b6
sub_404894
sub_4048cd
sub_404cc7
sub_404d05
sub_404e16
sub_404e3e
sub_404ea1
sub_405348
sub_40541f
sub_40552d
sub_405548
sub_40556a
sub_405572
sub_4055f5
sub_405602
sub_405626
umaxtostr
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemcoll
xmemcoll0
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
strcmp
strlen
fwrite_unlocked
memcmp
__errno_location
error
_exit
posix_fadvise
fileno
fopen
fdopen
close
__uflow
free
strrchr
fwrite
abort
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
__freading
lseek
fclose
fcntl
fflush
fseeko
mbrtowc
__fpending
strcoll
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
