Text sections:
alloc_ibuf
alloc_obuf
__argmatch_die
argmatch_invalid
argmatch_to_argument
cleanup
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
copy_with_block
copy_with_unblock
current_timespec
emit_bug_reporting_address
fd_reopen
gethrxtime
get_quoting_style
gettext_quote
gettime
hard_locale
human_options
interrupt_handler
invalidate_cache
iread
iread_fullblock
locale_charset
main
maybe_close_stdout
nl_error
parse_gnu_standard_options_only
parse_integer
parse_long_options
parse_symbols
print_stats
print_xfer_stats
process_signals
quit
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_fd_flags
set_program_name
set_quoting_flags
set_quoting_style
siginfo_handler
skip
skip_via_lseek
usage
verror
verror_at_line
version_etc_ar
version_etc_arn
write_output
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoumax
xvasprintf
xzalloc

PLT sections:
__ctype_toupper_loc
getenv
sigprocmask
__snprintf_chk
raise
free
abort
__errno_location
fdatasync
error_at_line
strncmp
_exit
__fpending
sigaction
localeconv
fcntl
clock_gettime
write
textdomain
fclose
bindtextdomain
dcgettext
__ctype_get_mb_cur_max
strlen
getopt_long
mbrtowc
dup2
strchr
__overflow
strrchr
ftruncate
lseek
__assert_fail
__strtoul_internal
memset
ioctl
close
posix_fadvise
read
__libc_start_main
memcmp
fputs_unlocked
calloc
strcmp
sigemptyset
memcpy
fileno
malloc
fflush
nl_langinfo
__vasprintf_chk
__fxstat
__freading
realloc
setlocale
__printf_chk
memmove
error
fsync
open
fseeko
dcngettext
__cxa_atexit
getpagesize
sigismember
exit
fwrite
__fprintf_chk
mbsinit
iswprint
sigaddset
__ctype_tolower_loc
__ctype_b_loc
__sprintf_chk

Function signatures:

Function types:

Data:

Preamble:
