Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4012d9
sub_4012da
sub_401312
sub_40135a
sub_40137c
sub_40138d
sub_4013a6
sub_4013be
sub_40146a
sub_401647
sub_401677
sub_4016aa
sub_40172a
sub_401761
sub_40179a
sub_40184d
sub_401878
sub_40188e
sub_40199e
sub_4019df
sub_401a95
sub_401b3d
sub_401b97
sub_401bde
sub_401bee
sub_401cb2
sub_401d04
sub_401dcb
sub_401e45
sub_401e78
sub_401eb6
sub_401f46
sub_401f83
sub_401faf
sub_40202a
sub_402194
sub_402226
sub_4022b2
sub_402307
sub_402347
sub_4023df
sub_402537
sub_4026bf
sub_4026d2
sub_402893
sub_402912
sub_4029ae
sub_402a0e
sub_402a82
sub_402a9e
sub_402b16
sub_402d74
sub_402df2
sub_402e37
sub_402e78
sub_402eaa
sub_402ee7
sub_402f1c
sub_402f92
sub_402fca
sub_4030db
sub_403189
sub_40379f
sub_403816
sub_403933
sub_403a05
sub_403a58
sub_403bf9
sub_403c4e
sub_403c8f
sub_403cda
sub_403d17
sub_403d20
sub_403d37
sub_403d80
sub_403e2e
sub_403e7a
sub_403e9b
sub_403f33
sub_403f6d
sub_403fcb
sub_4042ba
sub_404338
sub_4043be
sub_4044a7
sub_4044e2
sub_4044fe
sub_4045b6
sub_404e83
sub_405985
sub_4059f5
sub_405a02
sub_405a26
usage
version_etc
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
exit
getopt_long
memcpy
memset
abort
fileno
fclose
__freading
lseek
__errno_location
gettext
error
strncmp
fputs
strrchr
malloc
strlen
fprintf
printf
fputs_unlocked
strcmp
realloc
free
setlocale
bindtextdomain
textdomain
link
_exit
mbrtowc
fseeko
fflush
nl_langinfo
__fpending
ferror_unlocked
calloc
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
