Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
count_items
c_strcasecmp
c_tolower
c_toupper
detect_loop
emit_ancillary_info
emit_bug_reporting_address
emit_stdin_note
fadvise
fdadvise
freopen_safer
get_nth_bit
get_quoting_style
gettext_quote
hard_locale
init_tokenbuffer
locale_charset
main
new_item
orig_freopen
parse_gnu_standard_options_only
parse_long_options
protect_fd
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
readtoken
readtokens
record_relation
recurse_tree
rpl_fclose
rpl_fflush
rpl_freopen
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
scan_zeros
search_item
set_char_quoting
set_custom_quoting
set_nth_bit
set_program_name
set_quoting_flags
set_quoting_style
sub_401519
sub_40151a
sub_401552
sub_40159a
sub_4015bc
sub_4015cd
sub_4015e6
sub_40162d
sub_40165a
sub_401677
sub_401715
sub_401758
sub_40179c
sub_401815
sub_40182b
sub_4018a8
sub_4018c3
sub_40193e
sub_401aa4
sub_401ae3
sub_401b37
sub_401b8b
sub_401baf
sub_401bc2
sub_401c87
sub_401cc2
sub_401d07
sub_401d4a
sub_401d89
sub_401dcb
sub_401e48
sub_401ecf
sub_401ef8
sub_401f91
sub_402028
sub_402066
sub_4020af
sub_4020e2
sub_402118
sub_40212e
sub_402193
sub_402538
sub_40356d
sub_4035f6
sub_40360b
sub_403661
sub_4036ea
sub_403762
sub_40379c
sub_4039b8
sub_4039de
sub_403a5f
sub_403ad5
sub_403cf2
sub_403d73
sub_403e79
sub_404041
sub_4040a7
sub_40415d
sub_404259
sub_40437e
sub_404484
sub_40453d
sub_4046d5
sub_4047f5
sub_40481b
sub_404856
sub_404959
sub_404972
sub_404a85
sub_404b15
sub_404c37
sub_404dc2
sub_404deb
sub_404df0
sub_404e07
sub_404efd
sub_404f8d
sub_404ff0
sub_405349
sub_4057f7
sub_4058e7
sub_4058fe
sub_405974
sub_4059be
sub_405a2a
sub_405ce3
sub_405d23
sub_405dc7
sub_405dea
sub_405f33
sub_40614a
sub_406178
sub_4061b1
sub_4061fa
sub_40625b
sub_406343
sub_4069ba
sub_406adf
sub_406b5a
sub_406c17
sub_406cac
sub_406d3e
sub_406d9a
sub_406e42
sub_406ec9
sub_406ede
sub_406fde
sub_407008
sub_40705a
sub_407115
sub_407122
sub_407146
tsort
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
walk_tree
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
memcpy
nl_langinfo
mbrtowc
posix_fadvise
gettext
error
abort
__errno_location
__freading
fflush
strlen
fileno
iswprint
mbsinit
memset
memcmp
__ctype_b_loc
__ctype_get_mb_cur_max
printf
fprintf
fputs_unlocked
realloc
free
getopt_long
exit
setlocale
strcmp
__fpending
ferror_unlocked
close
dup2
strncmp
open
strrchr
fputs
getc_unlocked
lseek
fseeko
bindtextdomain
textdomain
_exit
__assert_fail
puts
malloc
calloc
freopen
fclose
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
