Text sections:
base_len
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
dup_safer
emit_bug_reporting_address
explicit_bzero
file_name_concat
fopen_safer
gen_tempname
gen_tempname_len
get_quoting_style
gettext_quote
hard_locale
isaac_refill
isaac_seed
last_component
locale_charset
main
maybe_close_stdout
mfile_name_concat
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
randint_all_free
randint_all_new
randint_free
randint_genmax
randint_get_source
randint_new
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401879
sub_40187a
sub_4018b2
sub_4018fa
sub_40191c
sub_40192d
sub_401946
sub_401976
sub_401985
sub_401a44
sub_401a92
sub_401aa6
sub_401b09
sub_401beb
sub_401c64
sub_401c7b
sub_401c8a
sub_401cd8
sub_402238
sub_4022ef
sub_4023bf
sub_402581
sub_4025a3
sub_402636
sub_402914
sub_40294d
sub_402d47
sub_402d85
sub_402e96
sub_402ebe
sub_402f21
sub_40316d
sub_403188
sub_403195
sub_403245
sub_403283
sub_4032ce
sub_40348d
sub_4037e8
sub_4037fa
sub_403818
sub_403825
sub_403845
sub_40391c
sub_40398e
sub_403b72
sub_403b97
sub_403ba8
sub_403c1f
sub_403c9a
sub_403cb9
sub_403eba
sub_403ecf
sub_403f61
sub_4041c8
sub_4041d5
sub_4041fd
sub_40421a
sub_40422e
sub_40426a
sub_4042c5
sub_4042f6
sub_404381
sub_40439f
sub_404494
sub_4044e6
sub_404558
sub_4047a6
sub_404851
sub_404891
sub_404931
sub_404948
sub_404967
sub_4049d8
sub_404a2b
sub_404a3a
sub_404a73
sub_404b41
sub_404b55
sub_404cdc
sub_404cf1
sub_404d26
sub_404e08
sub_404e45
sub_404eb5
sub_404f27
sub_405236
sub_405259
sub_4052d4
sub_405363
sub_405374
sub_4053ea
sub_4053f5
sub_405413
sub_40543a
sub_40548b
sub_40549c
sub_4055a8
sub_405611
sub_405625
sub_405655
sub_405665
sub_405961
sub_405a1e
sub_405c98
sub_405caf
sub_405ce2
sub_405d75
sub_405d82
sub_405da6
try_dir
try_file
try_nocreate
try_tempname
try_tempname_len
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
strlen
memcpy
strrchr
__rawmemchr
getenv
free
puts
__errno_location
error
close
remove
_exit
__fpending
malloc
__mempcpy_chk
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
__assert_fail
open
mkdir
__lxstat
realloc
calloc
fileno
__freading
lseek
fclose
fflush
fseeko
mbrtowc
strcmp
setvbuf
read
gettimeofday
getpid
getppid
getuid
getgid
fread_unlocked
nl_langinfo
fopen
fdopen
fcntl
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
