Text sections:
announce_mkdir
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
dirchownmod
dup_safer
emit_bug_reporting_address
fd_safer
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
make_ancestor
make_dir_parents
mkancesdirs
mode_adjust
mode_compile
mode_create_from_ref
open_safer
process_dir
prog_fprintf
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
savewd_chdir
savewd_errno
savewd_finish
savewd_init
savewd_process_files
savewd_restore
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401819
sub_40181a
sub_401852
sub_40189a
sub_4018bc
sub_4018cd
sub_4018e6
sub_40199f
sub_401a6f
sub_401c31
sub_401c53
sub_401ce6
sub_401fc4
sub_401ffd
sub_4023f7
sub_402435
sub_402546
sub_40256e
sub_4025d1
sub_40272e
sub_4027e8
sub_402871
sub_402919
sub_402a1e
sub_402a56
sub_402a65
sub_402b71
sub_402b8f
sub_402ba9
sub_402d8c
sub_402dfd
sub_402e96
sub_40309b
sub_403161
sub_403178
sub_403185
sub_403481
sub_403505
sub_403545
sub_403644
sub_40395e
sub_40396f
sub_4039f3
sub_403a55
sub_403aca
sub_403cb2
sub_403cc5
sub_403d05
sub_403d25
sub_4040c8
sub_404124
sub_404141
sub_4041e1
sub_404203
sub_404235
sub_4043a7
sub_40442a
sub_40444a
sub_404467
sub_404475
sub_404543
sub_40491f
sub_40493f
sub_404952
sub_40498c
sub_404994
sub_4049ca
sub_4049db
sub_4049eb
sub_404a94
sub_404b9c
sub_404c0e
sub_404c18
sub_404cf7
sub_404d07
sub_404d1b
sub_404d46
sub_404d83
sub_404d95
sub_404dc8
sub_404e34
sub_404eb4
sub_404ece
sub_40508d
sub_4050bb
sub_405134
sub_405148
sub_4051bf
sub_40520b
sub_405241
sub_405296
sub_4052bf
sub_4053b2
sub_40542c
sub_405451
sub_4054c1
sub_4054da
sub_4054f8
sub_4055ec
sub_40565e
sub_405691
sub_4056e8
sub_405758
sub_4057f8
sub_40585a
sub_40588f
sub_405899
sub_405984
sub_405a19
sub_405a25
sub_405c51
sub_405d25
sub_405d95
sub_405da2
sub_405dc6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
error
umask
free
__errno_location
mkdir
__vfprintf_chk
__overflow
_exit
__xstat
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
open
fork
fchdir
chdir
close
__assert_fail
waitpid
raise
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
__fxstat
fchown
lchown
chown
fchmod
chmod
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
fcntl
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
