Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4012f9
sub_4012fa
sub_401332
sub_40137a
sub_40139c
sub_4013ad
sub_4013c6
sub_401491
sub_4014a8
sub_401533
sub_401588
sub_4015a3
sub_4015db
sub_401938
sub_401976
sub_4019d4
sub_4019ec
sub_401ace
sub_401b3c
sub_401b57
sub_401b68
sub_401bdf
sub_401be5
sub_401c71
sub_401d5e
sub_401d93
sub_401eaf
sub_401f71
sub_401f85
sub_402163
sub_4021ac
sub_4021c9
sub_4021e8
sub_4021ff
sub_4025ad
sub_4025c3
sub_402665
sub_4029b4
sub_4029fd
sub_402ce2
sub_402d2c
sub_402e33
sub_402f08
sub_4030c7
sub_403125
sub_40313a
sub_403352
sub_403365
sub_403534
sub_4035ae
sub_4035be
sub_40377d
sub_403785
sub_403826
sub_403863
sub_4038a1
sub_4038ba
sub_403925
sub_403995
sub_403aa1
sub_403ac8
sub_403adf
sub_403b14
sub_403be5
sub_403bff
sub_403c05
sub_403c91
sub_403d8c
sub_403dc3
sub_403e02
sub_403e8b
sub_403f35
sub_403f5a
sub_403f96
sub_403fc5
sub_403fe9
sub_404065
sub_404075
sub_4040f1
sub_404165
sub_404172
sub_404196
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
strchr
__errno_location
error
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
