Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_4012f9
sub_4012fa
sub_401332
sub_40137a
sub_40139c
sub_4013ad
sub_4013c6
sub_4013df
sub_401468
sub_4014e9
sub_401553
sub_4015bf
sub_401609
sub_401655
sub_40168f
sub_4016ae
sub_4016e8
sub_40179e
sub_40195d
sub_401981
sub_40199c
sub_4019c6
sub_4019df
sub_401a0b
sub_401a62
sub_401a97
sub_401aaa
sub_401b9c
sub_401bb8
sub_401bce
sub_401c71
sub_401fd8
sub_401fed
sub_401ffa
sub_4020e4
sub_402126
sub_402135
sub_40214b
sub_40217a
sub_40218a
sub_4021e6
sub_4021f8
sub_402223
sub_40224a
sub_40225a
sub_40226a
sub_402301
sub_402389
sub_4024fa
sub_402519
sub_40252a
sub_402567
sub_4025a9
sub_4025c1
sub_4025e4
sub_402615
sub_402639
sub_40275a
sub_40281d
sub_40282a
sub_402b0c
sub_402b23
sub_402bbe
sub_402f04
sub_402f4d
sub_403233
sub_40327c
sub_403383
sub_403458
sub_4035ec
sub_4035f4
sub_403636
sub_40368e
sub_4036c6
sub_40371b
sub_403786
sub_4037c4
sub_40380d
sub_403858
sub_40389a
sub_4038cf
sub_4038f9
sub_403947
sub_4039d3
sub_4039e5
sub_403a84
sub_403a9a
sub_403b8d
sub_403ba3
sub_403bba
sub_403bcd
sub_403c4d
sub_403c5d
sub_403c67
sub_403c83
sub_403c99
sub_403ce3
sub_403cf9
sub_403d68
sub_403de2
sub_403e10
sub_403eaf
sub_403eb8
sub_403f09
sub_404001
sub_404075
sub_404082
sub_4040a6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
unlink
error
__errno_location
_exit
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
