Text sections:
apply_settings
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
display_speed
display_window_size
emit_bug_reporting_address
fd_reopen
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_window_size
usage
version_etc_ar
version_etc_arn
wrapf
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtol
xstrtoumax
xzalloc

PLT sections:
getenv
free
abort
__errno_location
strncmp
_exit
__fpending
fcntl
cfgetispeed
textdomain
fclose
bindtextdomain
cfsetospeed
dcgettext
__ctype_get_mb_cur_max
strlen
getopt_long
mbrtowc
dup2
strchr
__overflow
strrchr
lseek
__assert_fail
__strtoul_internal
memset
ioctl
close
__libc_start_main
memcmp
fputs_unlocked
calloc
strcmp
strtol
memcpy
fileno
malloc
fflush
nl_langinfo
__vasprintf_chk
__freading
realloc
setlocale
cfgetospeed
__printf_chk
error
tcgetattr
tcsetattr
open
fseeko
cfsetispeed
strtoul
__cxa_atexit
exit
fwrite
__fprintf_chk
mbsinit
iswprint
__ctype_b_loc

Function signatures:

Function types:

Data:

Preamble:
