Text sections:
AD_compare
AD_hash
allocate_entry
bkm_scale
bkm_scale_by_power
change_file_owner
check_tuning
chopt_free
chopt_init
chownat
chown_files
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
compute_bucket_size
c_tolower
c_toupper
cwd_advance_fd
cycle_check
cycle_check_init
cycle_warning_required
describe_change
dev_type_compare
dev_type_hash
dirent_inode_sort_may_be_useful
diropen
dup_safer
emit_ancillary_info
emit_bug_reporting_address
enter_dir
fd_ring_clear
fd_safer
filesystem_type
free_dir
free_entry
fstat
fstatat
fts_alloc
fts_build
fts_compar
fts_compare_ino
fts_lfree
fts_load
fts_maxarglen
fts_padjust
fts_palloc
fts_safe_changedir
fts_set_stat_required
fts_sort
fts_stat
get_quoting_style
get_root_dev_ino
gettext_quote
gid_to_name
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
i_ring_empty
i_ring_init
i_ring_pop
is_prime
is_zero_or_power_of_two
lchownat
leaf_optimization
leave_dir
locale_charset
lstat
main
next_prime
openat_safer
opendirat
open_safer
parse_group
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
raw_comparator
raw_hasher
restore_initial_cwd
restricted_chown
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_fts_children
rpl_fts_close
rpl_fts_open
rpl_fts_read
rpl_fts_set
rpl_mbrtowc
rpl_nl_langinfo
safe_hasher
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_stat_type
setup_dir
stat
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401a59
sub_401a5a
sub_401a92
sub_401ada
sub_401afc
sub_401b0d
sub_401b26
sub_401b39
sub_401ba8
sub_401c8c
sub_401d20
sub_401dab
sub_401ddf
sub_401dea
sub_401e4b
sub_401e7c
sub_401ecd
sub_401ee4
sub_401ef3
sub_401f2e
sub_401f5b
sub_401fde
sub_402117
sub_402587
sub_402595
sub_402782
sub_40279d
sub_4027ae
sub_4028ba
sub_4028e2
sub_402adb
sub_402ba4
sub_402bee
sub_402ecc
sub_402ee3
sub_402f7e
sub_4032c4
sub_40330d
sub_4035f3
sub_40363c
sub_403743
sub_403818
sub_4039ac
sub_4039c9
sub_4039f6
sub_403a48
sub_403ae7
sub_403b67
sub_403bd6
sub_403c08
sub_403c27
sub_403c44
sub_403c9b
sub_403cbf
sub_403d19
sub_403d2a
sub_403d70
sub_403da4
sub_403dbd
sub_403eac
sub_403ebc
sub_403eef
sub_403ef5
sub_403f0a
sub_403f36
sub_403f45
sub_403f55
sub_403f9c
sub_4040d8
sub_40417b
sub_40418a
sub_404221
sub_404239
sub_4043d6
sub_4043f7
sub_404407
sub_40443a
sub_4044e1
sub_404626
sub_404694
sub_4046d7
sub_404709
sub_40473f
sub_4047fe
sub_404834
sub_404887
sub_4048b3
sub_4048da
sub_4048ea
sub_404904
sub_40491d
sub_4049a6
sub_404b26
sub_404bd4
sub_404d24
sub_404e9c
sub_404ec9
sub_404f58
sub_404fd9
sub_405043
sub_4050af
sub_4050f9
sub_405145
sub_40517f
sub_4051c9
sub_405246
sub_405272
sub_4052b7
sub_405308
sub_405336
sub_4053b4
sub_4053f3
sub_405405
sub_40542d
sub_4055b8
sub_4055c8
sub_4055d8
sub_4055e7
sub_4055fa
sub_405622
sub_405651
sub_4056d2
sub_40570c
sub_40573a
sub_40583d
sub_4058ca
sub_405c74
sub_405cd2
sub_405ced
sub_405cfa
sub_405d19
sub_405d2a
sub_405eb6
sub_405f2d
sub_405f3d
sub_405f47
sub_406066
sub_4060bc
sub_4060cb
sub_4060da
sub_4061cc
sub_4061e9
sub_406267
sub_406512
sub_406551
sub_40656d
sub_4065bf
sub_4065e4
sub_40660e
sub_406616
sub_406643
sub_406675
sub_406685
sub_406728
sub_4067ae
sub_4067d7
sub_406839
sub_406877
sub_40688e
sub_406896
sub_406916
sub_406935
sub_4069b6
sub_406a3d
sub_406a54
sub_406a6a
sub_406a7d
sub_406aca
sub_406ad9
sub_406bd8
sub_406c17
sub_406cb2
sub_406cd3
sub_406d60
sub_406d6a
sub_406da6
sub_406dbf
sub_406ea3
sub_406ef3
sub_406f77
sub_406fa6
sub_406fbe
sub_40717d
sub_4071a5
sub_4072e2
sub_407304
sub_40731b
sub_40734b
sub_407b36
sub_407b6d
sub_407b84
sub_407bdb
sub_407c13
sub_407c2f
sub_407ca4
sub_407cc8
sub_407cdd
sub_407cee
sub_407d59
sub_407d9d
sub_407daa
sub_4080e1
sub_408103
sub_40815c
sub_408213
sub_408274
sub_40853d
sub_40855e
sub_408599
sub_4085b1
sub_4085d4
sub_408614
sub_4086dd
sub_4086ea
sub_408a48
sub_408b6a
sub_408b7f
sub_408d52
sub_408de3
sub_408e5e
sub_408e8d
sub_408ea3
sub_408ec7
sub_409084
sub_4090a6
sub_409115
sub_409122
sub_409146
sub_409159
sub_40917f
transfer_entries
uid_to_name
umaxtostr
usage
user_group_str
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xfts_open
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoul
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
error
__errno_location
getgrnam
endgrent
free
getgrgid
getpwuid
abort
openat
fchown
close
strlen
stpcpy
_exit
fchownat
strrchr
fwrite
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
__assert_fail
strtoul
strchr
calloc
qsort
closedir
fchdir
memmove
dirfd
readdir
fstatfs
mbrtowc
__fpending
ferror_unlocked
open
fdopendir
fileno
__freading
lseek
fclose
fcntl
fflush
fseeko
nl_langinfo
__cxa_atexit
__xstat
__fxstat
__lxstat
__fxstatat

Function signatures:

Function types:

Data:

Preamble:
