Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401319
sub_40131a
sub_401352
sub_40139a
sub_4013bc
sub_4013cd
sub_4013e6
sub_40141c
sub_401453
sub_40148a
sub_4014ae
sub_401521
sub_401568
sub_4015a7
sub_401675
sub_4016c7
sub_40170f
sub_40174e
sub_40179a
sub_401851
sub_4018ab
sub_401959
sub_4028a3
sub_402d72
sub_402d8e
sub_402e06
sub_402e5e
sub_402f2e
sub_402ff2
sub_40302d
sub_403128
sub_4031e5
sub_40327f
sub_4032a8
sub_4032e2
sub_40331a
sub_40336e
sub_403452
sub_4034d5
sub_40351a
sub_403724
sub_40374b
sub_40376f
sub_403795
sub_4037d7
sub_403845
sub_40396d
sub_403a79
sub_403aaf
sub_403abb
sub_403b2a
sub_403b3b
sub_403be2
sub_403d54
sub_403d77
sub_403dbe
sub_403f15
sub_404077
sub_40408a
sub_4040e7
sub_4041e4
sub_404222
sub_40426b
sub_4042a3
sub_4043a1
sub_40460a
sub_40464d
sub_4049b4
sub_404c2a
sub_404c3e
sub_404d13
sub_404efe
sub_404fd2
sub_404fff
sub_405016
sub_405048
sub_405082
sub_4050ab
sub_405147
sub_405177
sub_40521a
sub_405290
sub_40548e
sub_40551b
sub_40567e
sub_4056ba
sub_40574f
sub_4057d6
sub_4058b4
sub_405925
sub_405932
sub_405956
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
fflush
__freading
memset
memcpy
__errno_location
nl_langinfo
__fpending
ferror_unlocked
strlen
iswprint
mbsinit
abort
__ctype_b_loc
__ctype_get_mb_cur_max
memcmp
fileno
fclose
lseek
fseeko
gettext
strncmp
fputs
strrchr
fprintf
printf
fputs_unlocked
exit
strcmp
setlocale
bindtextdomain
textdomain
_exit
error
getlogin
puts
malloc
mbrtowc
getopt_long
free
realloc
calloc
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
