Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401429
sub_40142a
sub_401462
sub_4014aa
sub_4014cc
sub_4014dd
sub_4014f6
sub_4015c1
sub_401625
sub_401635
sub_4016dc
sub_401748
sub_401768
sub_4017a6
sub_4017d1
sub_40184f
sub_4018e3
sub_4018f5
sub_40199a
sub_4019d3
sub_401a2b
sub_401a35
sub_401a85
sub_401b09
sub_401b30
sub_401bd1
sub_401bf8
sub_401c05
sub_401ce4
sub_401efd
sub_401f08
sub_401f44
sub_402029
sub_4022e5
sub_4022f5
sub_402512
sub_40253a
sub_402e89
sub_402ec1
sub_402ede
sub_40309d
sub_403131
sub_40314f
sub_403155
sub_4031c5
sub_40326c
sub_403386
sub_4033a3
sub_4033b5
sub_403475
sub_4034a5
sub_403544
sub_403558
sub_4035d4
sub_40365e
sub_40368f
sub_40375a
sub_403766
sub_4037d7
sub_40384e
sub_403914
sub_403c0d
sub_403c23
sub_403cc5
sub_404014
sub_40405d
sub_404342
sub_40438c
sub_404493
sub_404568
sub_404727
sub_404735
sub_4047d3
sub_4048cc
sub_4048df
sub_4048f9
sub_40496c
sub_404975
sub_404cf8
sub_404d65
sub_404d72
sub_404d96
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtol
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__errno_location
getpriority
setpriority
error
execvp
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
strtol
strchr
__assert_fail
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
