Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
hextobin
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4012a9
sub_4012aa
sub_4012e2
sub_40132a
sub_40134c
sub_40135d
sub_401376
sub_401801
sub_40197b
sub_401a28
sub_401a9c
sub_401b8f
sub_401bc3
sub_401c42
sub_401c67
sub_401d4d
sub_401d8f
sub_401d9e
sub_401e0e
sub_401e36
sub_402007
sub_402026
sub_40205f
sub_40208a
sub_4020c1
sub_4020f7
sub_402125
sub_402195
sub_4021d7
sub_402208
sub_402374
sub_4023d7
sub_402413
sub_402493
sub_40288e
sub_40388b
sub_403925
sub_403966
sub_40397e
sub_4039cf
sub_403a9e
sub_403b87
sub_403cb3
sub_403d62
sub_403dee
sub_403e3a
sub_403e5f
sub_403fb7
sub_40404b
sub_4040ab
sub_4040ee
sub_4041e4
sub_404200
sub_40438a
sub_4043ca
sub_404435
sub_4044b8
sub_40451e
sub_404598
sub_4045ae
sub_4045f3
sub_40463a
sub_4046ae
sub_4046ee
sub_40475d
sub_404825
sub_40486d
sub_40489c
sub_4048c0
sub_4048d7
sub_404996
sub_404a13
sub_404b0b
sub_404b6a
sub_404bcb
sub_404c07
sub_404c37
sub_404c77
sub_404c80
sub_404c8c
sub_404c98
sub_404ca4
sub_404cdd
sub_404cf8
sub_404d04
sub_404f73
sub_4054a1
sub_4054da
sub_405508
sub_4056ee
sub_4057ce
sub_405802
sub_405842
sub_4059e9
sub_4059fe
sub_405aa5
sub_405ab2
sub_405ad6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
__assert_fail
gettext
printf
fprintf
fputs_unlocked
exit
strcmp
setlocale
strncmp
getenv
bindtextdomain
textdomain
__ctype_b_loc
putchar_unlocked
fseeko
fileno
lseek
memcpy
error
abort
malloc
__errno_location
_exit
fputs
strrchr
__ctype_get_mb_cur_max
strlen
memcmp
memset
iswprint
mbsinit
free
realloc
calloc
mbrtowc
__fpending
ferror_unlocked
fclose
__freading
fflush
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
