Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
cl_strtold
c_strtold
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
io_error
locale_charset
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
seq_fast
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4016a9
sub_4016aa
sub_4016e2
sub_40172a
sub_40174c
sub_40175d
sub_401776
sub_40178f
sub_4018c4
sub_4018da
sub_401922
sub_4019c4
sub_401a25
sub_401a35
sub_401b16
sub_401b53
sub_401c04
sub_401c28
sub_401d7f
sub_401f17
sub_401f68
sub_401f9b
sub_402311
sub_402388
sub_4023ae
sub_402464
sub_402555
sub_402568
sub_40257a
sub_402585
sub_4025e6
sub_402609
sub_4026a5
sub_4026b5
sub_402781
sub_402795
sub_402818
sub_40288e
sub_402905
sub_402915
sub_402c88
sub_402cf8
sub_402d4b
sub_402e3c
sub_402e75
sub_402e93
sub_402f0e
sub_402fd3
sub_402ff9
sub_403036
sub_4030af
sub_4030cb
sub_403141
sub_4031b1
sub_4031ce
sub_40338d
sub_40339f
sub_4033a8
sub_403471
sub_403517
sub_403525
sub_403595
sub_403633
sub_403661
sub_403675
sub_4039ad
sub_4039c3
sub_403a65
sub_403db4
sub_403dfd
sub_4040e2
sub_40412c
sub_404233
sub_404308
sub_4044c7
sub_40460c
sub_4046cc
sub_4046f3
sub_40501f
sub_405025
sub_4050cc
sub_4050f0
sub_4053a1
sub_405592
sub_4055a6
sub_40563f
sub_4056b2
sub_4056d6
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
strspn
memchr
memcpy
strcpy
strlen
__asprintf_chk
free
__sprintf_chk
strcmp
error
__mempcpy_chk
memmove
fwrite_unlocked
__ctype_b_loc
strchr
strtol
clearerr_unlocked
__errno_location
strtold
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
memset
malloc
realloc
calloc
mbrtowc
newlocale
uselocale
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
