Text sections:
announce_mkdir
base_len
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
defaultcon
dirchownmod
dup_safer
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
fd_safer
fgetfilecon
freecon
fsetfilecon
__fstat
fstat
getcon
getfilecon
getfscreatecon
get_quoting_style
gettext_quote
hard_locale
ignorable_ctx_err
is_smack_enabled
last_component
lgetfilecon
locale_charset
lsetfilecon
main
make_ancestor
make_dir_parents
make_node_op_equals
matchpathcon
matchpathcon_init_prefix
mkancesdirs
mode_adjust
mode_compile
mode_create_from_ref
octal_to_mode
open_safer
process_dir
prog_fprintf
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
restorecon
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
savewd_chdir
savewd_delegating
savewd_errno
savewd_finish
savewd_init
savewd_process_files
savewd_restore
savewd_save
se_const
security_check_context
security_check_context_raw
security_compute_create
set_char_quoting
set_custom_quoting
setexeccon
setfilecon
setfscreatecon
set_program_name
set_quoting_flags
set_quoting_style
smack_set_label_for_self
stat
string_to_security_class
sub_401849
sub_40184a
sub_401882
sub_4018ca
sub_4018ec
sub_4018fd
sub_401916
sub_401937
sub_4019e5
sub_401a22
sub_401a58
sub_401a88
sub_401ab7
sub_401acb
sub_401eb9
sub_401f6f
sub_401fa3
sub_401ff2
sub_4020ab
sub_4020d8
sub_4020ee
sub_402299
sub_4035b4
sub_4035f7
sub_40360f
sub_403862
sub_403949
sub_403aa1
sub_403e98
sub_403f2d
sub_403fad
sub_403fdc
sub_403fee
sub_40400b
sub_40407b
sub_404136
sub_40417f
sub_4041b3
sub_4042bc
sub_40437b
sub_40441a
sub_4048dc
sub_404b38
sub_404b77
sub_404b8c
sub_404bb4
sub_404be7
sub_404c09
sub_404e06
sub_404e8b
sub_405073
sub_4050e4
sub_40511b
sub_40522b
sub_405284
sub_4052b4
sub_4052f8
sub_40532a
sub_405352
sub_405391
sub_405426
sub_405487
sub_4055f4
sub_4057c3
sub_405818
sub_40583b
sub_40587f
sub_405972
sub_405bbf
sub_405be7
sub_405c62
sub_405ca2
sub_405d84
sub_405e31
sub_405e68
sub_405eae
sub_405f1d
sub_405f4f
sub_405f63
sub_405fc7
sub_405ffa
sub_4060c5
sub_406131
sub_40617e
sub_40619f
sub_4061ca
sub_4062a8
sub_406397
sub_4064c5
sub_4064f8
sub_4065c6
sub_40662b
sub_40666e
sub_406935
sub_406972
sub_40699e
sub_4069f7
sub_406a77
sub_406ade
sub_406b93
sub_406bd5
sub_406c01
sub_406cfd
sub_406d54
sub_406d96
sub_40701e
sub_40741e
sub_4074fd
sub_407623
sub_40766e
sub_4076de
sub_40771a
sub_407785
sub_4077b4
sub_4077d2
sub_40797d
sub_407b27
sub_407ba2
sub_407bd5
sub_407c08
sub_407c10
sub_407c27
sub_407c6e
sub_407cc4
sub_407cf4
sub_407d3a
sub_40825f
sub_408285
sub_408303
sub_408340
sub_408390
sub_408395
sub_4083aa
sub_40840a
sub_4084ec
sub_408783
sub_4088e3
sub_40896a
sub_408a22
sub_408b55
sub_408bda
sub_408c45
sub_408c52
sub_408c76
sub_408c89
usage
version_etc
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
memcpy
__errno_location
gettext
fprintf
printf
fputs_unlocked
exit
strcmp
error
free
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
umask
fseeko
fileno
lseek
fcntl
mkdir
vfprintf
fputc_unlocked
_exit
strlen
fputs
iswprint
mbsinit
memset
__ctype_b_loc
abort
strrchr
__ctype_get_mb_cur_max
memcmp
__fpending
ferror_unlocked
__freading
fclose
calloc
__assert_fail
fork
close
open
chdir
fchdir
chmod
lchown
waitpid
raise
malloc
realloc
mbrtowc
fchown
chown
fchmod
fflush
nl_langinfo
__cxa_atexit
__xstat
__fxstat

Function signatures:

Function types:

Data:

Preamble:
