Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
cksum
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
fadvise
fdadvise
get_quoting_style
gettext_quote
__gl_setmode
__gl_setmode_check
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_binary_mode
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401469
sub_40146a
sub_4014a2
sub_4014ea
sub_40150c
sub_40151d
sub_401536
sub_4015bf
sub_40160f
sub_40161a
sub_40162d
sub_401671
sub_4016ab
sub_401707
sub_401a4f
sub_401a5f
sub_401a61
sub_401a75
sub_401b9a
sub_401bf2
sub_401c09
sub_401c29
sub_401c98
sub_401cc6
sub_401d26
sub_401d3a
sub_401dbd
sub_401e2e
sub_401e3a
sub_401e4f
sub_401ed3
sub_401f2b
sub_401f63
sub_401fcf
sub_401ff9
sub_402036
sub_402065
sub_40209d
sub_4020b3
sub_4020c3
sub_4020e9
sub_4020fa
sub_402115
sub_402123
sub_402143
sub_402155
sub_40217a
sub_4021d6
sub_4021ea
sub_4021fa
sub_4022f1
sub_402316
sub_402340
sub_4023e3
sub_4023f6
sub_40243e
sub_4024b2
sub_4025fa
sub_402619
sub_40262a
sub_40263a
sub_402663
sub_40268a
sub_402774
sub_4027d9
sub_4027ec
sub_402805
sub_402857
sub_40286d
sub_402878
sub_402911
sub_402d38
sub_40301c
sub_403033
sub_4030ce
sub_403414
sub_40345d
sub_403743
sub_40378c
sub_403893
sub_403968
sub_403afc
sub_403b0a
sub_403b98
sub_403c19
sub_403c83
sub_403cef
sub_403d39
sub_403d85
sub_403dbf
sub_403dca
sub_403e44
sub_403e97
sub_403edd
sub_403ee8
sub_403efe
sub_4040bd
sub_40410b
sub_404113
sub_404156
sub_404199
sub_4041b1
sub_4041d4
sub_404217
sub_404223
sub_40429d
sub_4042ad
sub_4042b7
sub_4042ca
sub_4043bc
sub_404437
sub_404461
sub_404475
sub_4044e5
sub_4044f2
sub_404516
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xset_binary_mode
xset_binary_mode_error
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
setvbuf
__errno_location
error
fopen
fread_unlocked
feof_unlocked
ferror_unlocked
_exit
posix_fadvise
fileno
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
__freading
lseek
fclose
fflush
fseeko
mbrtowc
__fpending
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
