Text sections:
afalg_stream
bad_cast
bsd_split_3
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
digest_check
digest_file
dup_safer
emit_ancillary_info
emit_bug_reporting_address
emit_stdin_note
fadvise
fdadvise
filename_unescape
fopen_safer
get_quoting_style
gettext_quote
hard_locale
hex_digits
locale_charset
main
md5_buffer
md5_finish_ctx
md5_init_ctx
md5_process_block
md5_process_bytes
md5_read_ctx
md5_stream
print_filename
ptr_align
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
select_plural
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_uint32
split_3
sub_401669
sub_40166a
sub_4016a2
sub_4016ea
sub_40170c
sub_40171d
sub_401736
sub_4018d9
sub_401981
sub_4019ba
sub_4019dc
sub_401c19
sub_401c86
sub_401cc7
sub_401eac
sub_401ed5
sub_401efb
sub_40328e
sub_403407
sub_403447
sub_4034c2
sub_4034ef
sub_403522
sub_40356a
sub_403668
sub_4036e4
sub_4037a1
sub_403bfc
sub_403f85
sub_40401e
sub_4040c7
sub_40412b
sub_4041c1
sub_404275
sub_4042bf
sub_4042e8
sub_4042fe
sub_404310
sub_404423
sub_404496
sub_404513
sub_4045cb
sub_404603
sub_405dc3
sub_405e86
sub_405eb7
sub_405eda
sub_405f1f
sub_405f61
sub_405f9a
sub_406028
sub_4060b6
sub_406143
sub_40615e
sub_4064d4
sub_406521
sub_4065aa
sub_406671
sub_4066aa
sub_406707
sub_406763
sub_406787
sub_4067e2
sub_40682e
sub_4068f6
sub_40693d
sub_40698a
sub_4069de
sub_406a0d
sub_406a3f
sub_406b24
sub_406ddb
sub_406e12
sub_406e52
sub_406fc4
sub_407147
sub_407218
sub_40722b
sub_407394
sub_40742d
sub_407f45
sub_408013
sub_40805e
sub_4080c1
sub_4080ef
sub_408123
sub_4081dd
sub_4081fe
sub_408481
sub_40878b
sub_40887d
sub_4088ef
sub_408955
sub_4091cb
sub_40928e
sub_4092fb
sub_409306
sub_40946a
sub_409563
sub_409613
sub_4096bb
sub_4096e8
sub_40971e
sub_4097b6
sub_4097f2
sub_409856
sub_4098d2
sub_409917
sub_40994c
sub_409a01
sub_409a8a
sub_409af5
sub_409b02
sub_409b26
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
strcmp
gettext
printf
setlocale
strncmp
fputs_unlocked
fprintf
mbrtowc
fseeko
fileno
lseek
exit
__errno_location
error
iswprint
mbsinit
abort
strlen
memset
__ctype_b_loc
memcmp
__ctype_get_mb_cur_max
memcpy
fcntl
close
putchar_unlocked
free
__fpending
ferror_unlocked
strrchr
fputs
realloc
malloc
calloc
nl_langinfo
posix_fadvise
fread_unlocked
feof_unlocked
bindtextdomain
textdomain
setvbuf
getopt_long
strchr
__freading
getline
fclose
tolower
ngettext
fflush
_exit
fopen
fdopen
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
