Text sections:
allocate_entry
bkm_scale
bkm_scale_0
bkm_scale_by_power
bkm_scale_by_power_0
ceil_lg
check_tuning
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
compute_bucket_size
c_strcasecmp
c_tolower
c_toupper
dup_safer
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
explicit_bzero
fadvise
fdadvise
fopen_safer
fread_file
freebuffer
free_entry
freopen_safer
__fstat
fstat
get_nonce
get_quoting_style
gettext_quote
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
initbuffer
input_from_argv
input_size
internal_read_file
isaac_refill
isaac_seed
is_prime
just
locale_charset
main
next_line
next_prime
orig_freopen
protect_fd
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
randint_all_free
randint_all_new
randint_choose
randint_choose_0
randint_free
randint_genmax
randint_get_source
randint_new
randperm_bound
randperm_new
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
raw_comparator
raw_hasher
read_binary_file
read_file
read_input
read_input_reservoir_sampling
readisaac
readlinebuffer
readlinebuffer_delim
readsource
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_freopen
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_hasher
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
shift_left
simple_new
sparse_cmp_
sparse_free
sparse_hash_
sparse_new
sparse_swap
sub_401b39
sub_401b3a
sub_401b72
sub_401bba
sub_401bdc
sub_401bed
sub_401c06
sub_401c36
sub_401dd4
sub_401f8b
sub_401fca
sub_402056
sub_402140
sub_402393
sub_4023ea
sub_402427
sub_40244e
sub_4024d6
sub_40259d
sub_4025f7
sub_402636
sub_40267f
sub_4026f7
sub_4027f7
sub_40282b
sub_402857
sub_402886
sub_40297e
sub_4029b7
sub_402a04
sub_402a7d
sub_402ba8
sub_402c96
sub_402cde
sub_4032d9
sub_4032f2
sub_4033ca
sub_40340f
sub_403686
sub_4038ff
sub_403ad6
sub_403b59
sub_403c9b
sub_403d05
sub_403d86
sub_403dda
sub_4041bd
sub_404a4d
sub_404a87
sub_404ac6
sub_404b1c
sub_4051f0
sub_405f17
sub_406084
sub_4060a5
sub_40612a
sub_4061f8
sub_406256
sub_40635d
sub_4063f7
sub_406448
sub_40649d
sub_406504
sub_40652f
sub_4065f1
sub_406656
sub_406697
sub_4066aa
sub_40680d
sub_406abb
sub_406abc
sub_406b37
sub_406b75
sub_406bf2
sub_406d53
sub_406dd2
sub_406e53
sub_406e9e
sub_406ede
sub_406fbd
sub_40706a
sub_40708b
sub_40709e
sub_4070e8
sub_40711a
sub_40713a
sub_4071f1
sub_4072a8
sub_4073a6
sub_40788e
sub_4078d7
sub_407917
sub_40795b
sub_407970
sub_407a32
sub_407a72
sub_407b99
sub_407bb1
sub_407c25
sub_407ca2
sub_407d73
sub_407da8
sub_407e25
sub_407e3e
sub_407f3f
sub_407f70
sub_40845b
sub_408558
sub_408874
sub_408a4c
sub_408afd
sub_408b16
sub_408deb
sub_408e0a
sub_408e38
sub_408ec9
sub_408f5d
sub_408fe1
sub_409109
sub_40912d
sub_409157
sub_409187
sub_40925a
sub_40928e
sub_4097f1
sub_409832
sub_409877
sub_409892
sub_4098b2
sub_4098df
sub_4098fb
sub_409983
sub_4099fc
sub_409acc
sub_409b8b
sub_409c46
sub_409ca8
sub_409f23
sub_40a30c
sub_40a37e
sub_40a3ef
sub_40a423
sub_40a488
sub_40a4c3
sub_40a4fd
sub_40a52f
sub_40a59c
sub_40a5eb
sub_40a993
sub_40acab
sub_40b1a7
sub_40b28d
sub_40b353
sub_40b387
sub_40b3a3
sub_40b44e
sub_40b4c3
sub_40b512
sub_40b5ca
sub_40b5f7
sub_40b64e
sub_40b6f1
sub_40b713
sub_40b843
sub_40b8e6
sub_40ba8c
sub_40bb8a
sub_40bc69
sub_40bcf5
sub_40bd51
sub_40be7d
sub_40bf12
sub_40c3ae
sub_40c412
sub_40c4e5
sub_40c524
sub_40c56e
sub_40c5a9
sub_40c5d5
sub_40c606
sub_40c6ef
sub_40c963
sub_40ca27
sub_40ca6a
sub_40ca80
sub_40cba7
sub_40ccd7
sub_40ccee
sub_40cd2e
sub_40cd8a
sub_40cdda
sub_40ce20
sub_40cefd
sub_40cf12
sub_40cf88
sub_40d004
sub_40d032
sub_40d05c
sub_40d1b9
sub_40d28e
sub_40d2f5
sub_40d302
sub_40d326
sub_40d339
swap
transfer_entries
usable_st_size
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
write_permuted_lines
write_permuted_numbers
write_permuted_output_reservoir
write_random_lines
write_random_numbers
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtoul
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
fwrite_unlocked
fileno
dup2
__errno_location
open
close
free
memcpy
gettext
printf
fprintf
fputs_unlocked
exit
strlen
setvbuf
fcntl
memset
abort
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
fopen
calloc
error
strchr
stpcpy
lseek
memcmp
ferror_unlocked
memchr
_exit
posix_fadvise
iswprint
mbsinit
__ctype_get_mb_cur_max
__ctype_b_loc
fdopen
feof_unlocked
getc_unlocked
fputs
strrchr
fread_unlocked
realloc
fread
ferror
malloc
ftello
strtoul
__assert_fail
read
gettimeofday
getpid
getppid
getuid
getgid
strtoumax
fclose
freopen
__freading
fflush
fseeko
mbrtowc
__fpending
nl_langinfo
__cxa_atexit
__fxstat

Function signatures:

Function types:

Data:

Preamble:
