Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
c_locale
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
cl_strtold
c_strcasecmp
c_strtold
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
exit_failure_callback
fallback_failure_callback
fwrite_success_callback
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
print_direc
print_esc
print_esc_char
print_esc_string
print_formatted
print_unicode_char
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401629
sub_40162a
sub_401662
sub_4016aa
sub_4016cc
sub_4016dd
sub_4016f6
sub_401772
sub_4017ad
sub_401814
sub_4019ca
sub_4019fa
sub_401a11
sub_401bf5
sub_401cc0
sub_401d76
sub_401dce
sub_401f34
sub_402001
sub_402082
sub_4020af
sub_4020e7
sub_40211f
sub_402245
sub_4022ce
sub_40231e
sub_4024c9
sub_402535
sub_40256f
sub_4026df
sub_402827
sub_402874
sub_4028e5
sub_4029f3
sub_402a0e
sub_402ac6
sub_40388c
sub_40463a
sub_4046e7
sub_40473b
sub_4047c0
sub_40480e
sub_404897
sub_404929
sub_404e48
sub_404ea3
sub_405015
sub_4050ee
sub_405148
sub_405248
sub_40526b
sub_4052ae
sub_4052e7
sub_40534e
sub_4053bf
sub_4053f2
sub_405486
sub_40551d
sub_405551
sub_405646
sub_4056dd
sub_40578d
sub_405803
sub_40583a
sub_4058b8
sub_405932
sub_40597f
sub_405a0b
sub_405b29
sub_406001
sub_406091
sub_4060b2
sub_406163
sub_40621c
sub_40623f
sub_4062a5
sub_4062dc
sub_4067b9
sub_4068de
sub_4069ea
sub_406a3b
sub_406a40
sub_406a52
sub_406a64
sub_406a76
sub_406a88
sub_406a9a
sub_406aac
sub_406ab3
sub_406ac5
sub_406b1e
sub_406b2e
sub_406ba8
sub_406bba
sub_406c4b
sub_406cc5
sub_406e3a
sub_406e88
sub_406f4d
sub_406f4e
sub_40701c
sub_4070b1
sub_40710c
sub_407217
sub_407362
sub_4074c8
sub_4074f8
sub_40775c
sub_4077a7
sub_4077d5
sub_407934
sub_4079e2
sub_407b51
sub_407bc5
sub_407bd2
sub_407bf6
to_uchar
u8_uctomb
unicode_to_mb
usage
verify_numeric
version_etc
version_etc_ar
version_etc_arn
version_etc_va
vstrtoimax
vstrtold
vstrtoumax
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xfprintf
xmalloc
xmemdup
xnmalloc
xnrealloc
xprintf
xrealloc
xstrdup
xvfprintf
xvprintf
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
memcpy
memset
abort
gettext
fprintf
printf
fputs_unlocked
exit
strcmp
__errno_location
strtoimax
error
__fpending
ferror_unlocked
fwrite
setlocale
strncmp
bindtextdomain
textdomain
getenv
iconv_open
iconv
strtoumax
memcmp
strlen
iswprint
mbsinit
__ctype_get_mb_cur_max
__ctype_b_loc
putchar_unlocked
newlocale
uselocale
strtold
mempcpy
free
strchr
_exit
fputs
fileno
fclose
__freading
lseek
fflush
malloc
strrchr
realloc
calloc
mbrtowc
nl_langinfo
vprintf
ferror
vfprintf
fseeko
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
