Text sections:
canon_host
canon_host_r
ch_strerror
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
create_fullname
emit_bug_reporting_address
extract_trimmed_name
get_quoting_style
gettext_quote
hard_locale
imaxtostr
locale_charset
main
print_entry
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
read_utmp
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4018f9
sub_4018fa
sub_401932
sub_40197a
sub_40199c
sub_4019ad
sub_4019c6
sub_4019d8
sub_4019e5
sub_401bf2
sub_401cd9
sub_401d54
sub_401d91
sub_401df1
sub_401e76
sub_401ef5
sub_401f13
sub_401f25
sub_402055
sub_402243
sub_40225a
sub_4022c8
sub_4022df
sub_402315
sub_402325
sub_4023fe
sub_4024a1
sub_4024e6
sub_40252f
sub_402601
sub_40266d
sub_40267c
sub_402745
sub_4027be
sub_402b18
sub_402bb5
sub_402be1
sub_402c5a
sub_402d21
sub_402d48
sub_402dbf
sub_402e14
sub_402ed1
sub_402f11
sub_402f5d
sub_40301a
sub_4030d3
sub_403141
sub_403167
sub_403195
sub_4031ae
sub_40336d
sub_403375
sub_40382f
sub_40383b
sub_40386b
sub_40387a
sub_40388f
sub_4038cd
sub_403943
sub_4039db
sub_4039fa
sub_403a1c
sub_403a6e
sub_403dd5
sub_403e36
sub_404038
sub_4040fa
sub_404163
sub_404285
sub_404310
sub_404423
sub_404438
sub_40445a
sub_404497
sub_4045ec
sub_404646
sub_404683
sub_4046d2
sub_4046e5
sub_4047cf
sub_40489f
sub_404a61
sub_404a83
sub_404b16
sub_404df4
sub_404e2d
sub_405227
sub_405265
sub_405376
sub_40539e
sub_405401
sub_405568
sub_405580
sub_40562e
sub_405678
sub_405699
sub_405705
sub_405712
sub_405736
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__overflow
getpwnam
strchr
free
strlen
stpcpy
fopen
fwrite_unlocked
fread_unlocked
error
__errno_location
__xstat
time
__sprintf_chk
localtime
strftime
__ctype_b_loc
__ctype_toupper_loc
getaddrinfo
__strdup
freeaddrinfo
gai_strerror
_exit
strcmp
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
fileno
__freading
lseek
fclose
fflush
fseeko
mbrtowc
strncpy
utmpxname
setutxent
getutxent
kill
endutxent
__fpending
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
