Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4012b9
sub_4012ba
sub_4012f2
sub_40133a
sub_40135c
sub_40136d
sub_401386
sub_4013db
sub_401416
sub_40142e
sub_4015ed
sub_40165c
sub_401671
sub_401724
sub_401735
sub_4017ac
sub_401825
sub_401859
sub_40186a
sub_4018a4
sub_40194f
sub_401968
sub_401b52
sub_401c24
sub_402189
sub_402213
sub_402228
sub_402272
sub_402285
sub_402383
sub_4023aa
sub_4023b5
sub_40242f
sub_402448
sub_402455
sub_4024f5
sub_402585
sub_402595
sub_40266e
sub_4026a1
sub_402745
sub_4027ff
sub_4028cf
sub_402a91
sub_402ab3
sub_402b46
sub_402e24
sub_402e5d
sub_403257
sub_403295
sub_4033a6
sub_4033ce
sub_403431
sub_4035e1
sub_4036dc
sub_4037a1
sub_403806
sub_403829
sub_403ab7
sub_403ad3
sub_403ae5
sub_403b83
sub_403b9f
sub_403cc8
sub_403d71
sub_403da5
sub_403e25
sub_403ec1
sub_403ed5
sub_403f06
sub_403f3a
sub_403f59
sub_403fa7
sub_403fb5
sub_403fff
sub_40406a
sub_404114
sub_4043d8
sub_4044c1
sub_404535
sub_404542
sub_404566
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
__fprintf_chk
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
uname
__overflow
error
__errno_location
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
