Text sections:
append_char_class
append_equiv_class
append_normal_char
append_range
append_repeated_char
bkm_scale
bkm_scale_by_power
build_spec_list
card_of_complement
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
es_free
es_match
fadvise
fdadvise
find_bracketed_repeat
find_closing_delim
get_next
get_quoting_style
get_s1_spec_stats
get_s2_spec_stats
get_spec_stats
gettext_quote
__gl_setmode
__gl_setmode_check
hard_locale
homogeneous_spec_list
is_char_class_member
is_equiv_class_member
locale_charset
look_up_char_class
main
make_printable_char
make_printable_str
parse_str
plain_read
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
read_and_delete
read_and_xlate
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_read
set_binary_mode
set_char_quoting
set_custom_quoting
set_initialize
set_program_name
set_quoting_flags
set_quoting_style
skip_construct
spec_init
squeeze_filter
star_digits_closebracket
string2_extend
sub_4015c9
sub_4015ca
sub_401602
sub_40164a
sub_40166c
sub_40167d
sub_401696
sub_401766
sub_401852
sub_40187e
sub_4018fb
sub_40198c
sub_4019db
sub_401a34
sub_401a88
sub_401ab8
sub_401bdf
sub_401c53
sub_401c84
sub_401dcf
sub_401e9c
sub_401ec8
sub_401f0b
sub_402147
sub_402393
sub_402402
sub_40241a
sub_40245a
sub_40255d
sub_4025d2
sub_402612
sub_402a5a
sub_402a7f
sub_402a8e
sub_402b5b
sub_402b5c
sub_402bd8
sub_402c11
sub_402c5d
sub_402c98
sub_402ccb
sub_402f4b
sub_402ff2
sub_403229
sub_4032a3
sub_4032cb
sub_40331a
sub_403357
sub_403393
sub_4033bb
sub_4034d4
sub_403539
sub_40379b
sub_403806
sub_403874
sub_403935
sub_4039ca
sub_403b26
sub_4043ea
sub_4047af
sub_4047b9
sub_404837
sub_4048bb
sub_404923
sub_4049a3
sub_4049f2
sub_404b19
sub_404c02
sub_404c37
sub_404c7e
sub_404e96
sub_4050bd
sub_40512e
sub_405244
sub_405295
sub_4052df
sub_4055f6
sub_40574f
sub_405a58
sub_405d8e
sub_405dda
sub_405df6
sub_405e47
sub_406089
sub_406406
sub_406427
sub_406525
sub_4065dd
sub_406637
sub_406664
sub_4066a2
sub_4066d5
sub_40672a
sub_406786
sub_406805
sub_406837
sub_406abd
sub_406b73
sub_406baa
sub_406c00
sub_406d43
sub_406d8d
sub_406e31
sub_406f48
sub_406fdb
sub_40700d
sub_4070af
sub_4070ef
sub_407116
sub_4072e4
sub_407383
sub_407402
sub_407570
sub_4076de
sub_4077c5
sub_4079a5
sub_4079f7
sub_407a00
sub_407a17
sub_407a87
sub_407aba
sub_407b25
sub_407c59
sub_407d28
sub_409087
sub_4090f5
sub_409209
sub_40923a
sub_40926a
sub_40929d
sub_409365
sub_40937e
sub_409431
sub_409445
sub_4094aa
sub_4094d0
sub_4094f9
sub_40951f
sub_409545
sub_40956e
sub_409597
sub_4095d9
sub_4095df
sub_409608
sub_409631
sub_409657
sub_4096e5
sub_4096f2
sub_409716
to_uchar
unquote
usage
validate
validate_case_classes
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xset_binary_mode
xset_binary_mode_error
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
fileno
lseek
fseeko
fflush
__freading
memset
gettext
error
strlen
__errno_location
malloc
fclose
posix_fadvise
__assert_fail
abort
_exit
free
__ctype_b_loc
strcmp
fprintf
printf
setlocale
strncmp
fputs_unlocked
exit
nl_langinfo
memcpy
fputs
strrchr
close
fwrite_unlocked
toupper
tolower
bindtextdomain
textdomain
getopt_long
read
realloc
strchr
strtoumax
calloc
__fpending
ferror_unlocked
mbrtowc
sprintf
stpcpy
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
