Text sections:
cat
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_stdin_note
fadvise
fdadvise
fstat
full_write
get_quoting_style
gettext_quote
__gl_setmode
__gl_setmode_check
hard_locale
io_blksize
locale_charset
main
next_line_num
ptr_align
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_read
safe_write
set_binary_mode
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
simple_cat
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401559
sub_40155a
sub_401592
sub_4015da
sub_4015fc
sub_40160d
sub_401626
sub_401638
sub_401641
sub_401671
sub_40195c
sub_401973
sub_401a0e
sub_401d54
sub_401d9d
sub_402083
sub_4020cc
sub_4021d3
sub_4022a8
sub_40243c
sub_40244f
sub_40245a
sub_40246a
sub_402495
sub_4024cf
sub_4024f9
sub_40255e
sub_4026ad
sub_4026c0
sub_402779
sub_40278a
sub_40287c
sub_4028ff
sub_402917
sub_4029c5
sub_402a1b
sub_402a3e
sub_402ab6
sub_402aec
sub_402b04
sub_402d0f
sub_402d97
sub_402daa
sub_402dc9
sub_402dda
sub_402e0d
sub_402e23
sub_402e39
sub_402e55
sub_402ec3
sub_402ed3
sub_402f28
sub_402f8b
sub_402fc1
sub_402fd9
sub_403048
sub_4030c7
sub_4030f3
sub_40311a
sub_403125
sub_40315a
sub_4031f1
sub_40320d
sub_403297
sub_4032aa
sub_4032d6
sub_4032f9
sub_40330a
sub_40331d
sub_40333a
sub_4033b2
sub_40342d
sub_40343d
sub_403447
sub_40345b
sub_4034b6
sub_403818
sub_403853
sub_403905
sub_40391c
sub_4039a9
sub_403c2d
sub_403c7b
sub_403f97
sub_403fb6
sub_403fd3
sub_404063
sub_4040b9
sub_4040c3
sub_4040f2
sub_404105
sub_40418f
sub_404258
sub_4042d9
sub_404343
sub_4043af
sub_4043f9
sub_404445
sub_40447f
sub_404485
sub_4044aa
sub_4044ba
sub_4044ca
sub_4044f7
sub_404533
sub_40457c
sub_404606
sub_404676
sub_40468a
sub_4046f3
sub_404705
sub_404749
sub_404761
sub_404784
sub_404796
sub_404891
sub_4048b8
sub_40492e
sub_404947
sub_404958
sub_4049b6
sub_4049de
sub_404afa
sub_404b14
sub_404b94
sub_404bad
sub_404c15
sub_404d06
sub_404d4e
sub_404f0d
sub_404f1f
sub_404f92
sub_404fb6
sub_404fc9
usage
version_etc_ar
version_etc_arn
write_pending
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xset_binary_mode
xset_binary_mode_error
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
getpagesize
bindtextdomain
textdomain
getopt_long
__fxstat
open
lseek
error
stpcpy
memmove
ioctl
__errno_location
free
close
_exit
posix_fadvise
fileno
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
read
write
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
__freading
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
