Text sections:
add_epsilon_src_nodes
analyze
bitset_clear
bitset_contain
bitset_copy
bitset_empty
bitset_mask
bitset_merge
bitset_not
bitset_set
bitset_set_all
bkm_scale
bkm_scale_by_power
build_charclass
build_charclass_op
build_collating_symbol
build_equiv_class
build_range_exp
build_sifted_states
build_trtable
build_type_arg
build_upper_buffer
build_wcs_buffer
build_wcs_upper_buffer
calc_eclosure
calc_eclosure_iter
calc_first
calc_inveclosure
calc_next
calc_state_hash
check_arrival
check_arrival_add_next_nodes
check_arrival_expand_ecl
check_arrival_expand_ecl_sub
check_dst_limits
check_dst_limits_calc_pos
check_dst_limits_calc_pos_1
check_halt_node_context
check_halt_state_context
check_matching
check_node_accept
check_node_accept_bytes
check_section
check_subexp_limits
check_subexp_matching_top
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clean_state_log_if_needed
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
create_cd_newstate
create_ci_newstate
create_initial_state
create_token_tree
create_tree
c_strcasecmp
c_tolower
c_toupper
duplicate_node
duplicate_node_closure
duplicate_tree
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
expand_bkref_cache
extend_buffers
fadvise
fdadvise
fetch_number
fetch_token
find_recover_state
find_subexp_node
freebuffer
free_charset
free_dfa_content
free_fail_stack_return
free_state
free_token
free_tree
free_workarea_compile
get_quoting_style
get_subexp
get_subexp_sub
gettext_quote
group_nodes_into_DFAstates
hard_locale
initbuffer
init_dfa
init_word_char
link_nfa_nodes
locale_charset
lower_subexp
lower_subexps
main
mark_opt_subexp
match_ctx_add_entry
match_ctx_add_sublast
match_ctx_add_subtop
match_ctx_clean
match_ctx_free
match_ctx_init
merge_state_array
merge_state_with_log
nl_file
optimize_subexps
optimize_utf8
parse
parse_bracket_element
parse_bracket_exp
parse_bracket_symbol
parse_branch
parse_byte
parse_dup_op
parse_expression
parse_reg_exp
parse_sub_exp
peek_token
peek_token_bracket
pop_fail_stack
postorder
preorder
print_lineno
proc_body
proceed_next_node
process_file
proc_footer
proc_header
proc_text
prune_impossible_nodes
push_fail_stack
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
re_acquire_state
re_acquire_state_context
readlinebuffer
readlinebuffer_delim
re_compile_fastmap_iter
re_compile_internal
re_copy_regs
re_dfa_add_node
re_node_set_add_intersect
re_node_set_alloc
re_node_set_compare
re_node_set_contains
re_node_set_init_1
re_node_set_init_2
re_node_set_init_copy
re_node_set_init_union
re_node_set_insert
re_node_set_insert_last
re_node_set_merge
re_node_set_remove_at
re_search_2_stub
re_search_internal
re_search_stub
re_string_allocate
re_string_char_size_at
re_string_construct
re_string_construct_common
re_string_context_at
re_string_destruct
re_string_elem_size_at
re_string_fetch_byte_case
re_string_peek_byte_case
re_string_realloc_buffers
re_string_reconstruct
re_string_skip_chars
re_string_translate_buffer
re_string_wchar_at
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
rpl_re_compile_fastmap
rpl_re_compile_pattern
rpl_regcomp
rpl_regerror
rpl_regexec
rpl_regfree
rpl_re_match
rpl_re_match_2
rpl_re_search
rpl_re_search_2
rpl_re_set_registers
rpl_re_set_syntax
search_cur_bkref_entry
search_duplicated_node
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_regs
sift_ctx_init
sift_states_backward
sift_states_iter_mb
sub_401909
sub_40190a
sub_401942
sub_40198a
sub_4019ac
sub_4019bd
sub_4019d6
sub_4019ee
sub_401a62
sub_401aae
sub_401b27
sub_401bb0
sub_401dae
sub_401f4a
sub_4021cf
sub_40239e
sub_402497
sub_40251a
sub_402653
sub_402767
sub_402bde
sub_402c9a
sub_402ce1
sub_402e3e
sub_40301e
sub_403132
sub_4031ca
sub_403202
sub_403435
sub_40348e
sub_4034bd
sub_4034d7
sub_4035a1
sub_40400b
sub_40407c
sub_4040d2
sub_4041fb
sub_40431f
sub_4043ab
sub_4043f3
sub_404510
sub_404769
sub_40495f
sub_4052e8
sub_4053f7
sub_4058f9
sub_40595b
sub_40597f
sub_405980
sub_405aae
sub_405b62
sub_405ef4
sub_4061fb
sub_406213
sub_406233
sub_40636e
sub_40641a
sub_4065a2
sub_40684a
sub_406875
sub_40689f
sub_4068be
sub_406a29
sub_406b13
sub_406bef
sub_406d64
sub_40710a
sub_4071fd
sub_407337
sub_4075d4
sub_40772b
sub_4077d6
sub_407a1e
sub_407aa8
sub_407ac3
sub_407f0e
sub_40864d
sub_4088b3
sub_4089f9
sub_408d17
sub_408d3d
sub_408d72
sub_408e10
sub_408ffa
sub_4090cd
sub_40929f
sub_409737
sub_4098e3
sub_409922
sub_409d94
sub_409f52
sub_40ab84
sub_40abf8
sub_40b138
sub_40b237
sub_40b9ed
sub_40bd59
sub_40bda5
sub_40bdcc
sub_40be90
sub_40bffc
sub_40c1ab
sub_40c33c
sub_40c37b
sub_40c38a
sub_40c413
sub_40c4a4
sub_40c507
sub_40ca2e
sub_40ca68
sub_40cabd
sub_40caf2
sub_40cb1a
sub_40cb86
sub_40cbb2
sub_40cd2b
sub_40cd58
sub_40cd59
sub_40cf7d
sub_40d088
sub_40d1db
sub_40d2fa
sub_40d398
sub_40d454
sub_40d53a
sub_40d8ba
sub_40d8f6
sub_40d95b
sub_40eadb
sub_40eb12
sub_40eb3b
sub_40ec68
sub_40ed5e
sub_40eee8
sub_40f0ed
sub_40f1eb
sub_40fcac
sub_41009a
sub_41019f
sub_4102ce
sub_410748
sub_410b21
sub_410c4c
sub_410d47
sub_410d5e
sub_410dcb
sub_410f7d
sub_410ff5
sub_411232
sub_4113c7
sub_41154a
sub_411ad2
sub_411afe
sub_411cb3
sub_4120f6
sub_4121c7
sub_412334
sub_412701
sub_41287e
sub_41289f
sub_4128de
sub_412912
sub_4129e3
sub_412aad
sub_412d87
sub_412ecb
sub_412eea
sub_413157
sub_4135a2
sub_4138fc
sub_413926
sub_413a6b
sub_413b2b
sub_413c89
sub_413cf5
sub_413ed1
sub_413f0a
sub_413ffc
sub_4142fc
sub_4143d3
sub_4145be
sub_414666
sub_41470f
sub_41480c
sub_414820
sub_4148c2
sub_4149fe
sub_414a2f
sub_414a40
sub_414b71
sub_414bac
sub_414c6f
sub_414ec6
sub_414f47
sub_414fea
sub_4153ea
sub_41588f
sub_415ee5
sub_416a8f
sub_416d06
sub_417187
sub_4171a0
sub_4172cb
sub_4172de
sub_417588
sub_417739
sub_41799b
sub_4182f2
sub_4186b5
sub_418841
sub_4188b3
sub_4188e8
sub_418ae5
sub_418d8c
sub_418e92
sub_418fb9
sub_41906d
sub_419098
sub_4190f2
sub_4194a8
sub_4194b9
sub_41960d
sub_41988e
sub_41994b
sub_4199fd
sub_419bc4
sub_419e34
sub_419f79
sub_419faf
sub_41a023
sub_41a0e0
sub_41a55d
sub_41aa98
sub_41b10f
sub_41bfd7
sub_41c4d7
sub_41c644
sub_41c813
sub_41c8de
sub_41c951
sub_41c99f
sub_41cb57
sub_41cb6e
sub_41cc26
sub_41ccab
sub_41cdfa
sub_41ce86
sub_41ce96
sub_41d18d
sub_41d264
sub_41d2f9
sub_41d33a
sub_41d395
sub_41d680
sub_41d714
sub_41d738
sub_41e002
sub_41e481
sub_41e59d
sub_41e5e4
sub_41e601
sub_41e65d
sub_41e692
sub_41e6af
sub_41e6cc
sub_41f1f1
sub_41f210
sub_41f297
sub_41f29c
sub_41f311
sub_41f37e
sub_41f3e3
sub_41f468
sub_41f514
sub_41f589
sub_41f5e7
sub_41f615
sub_41f7c6
sub_41f7da
sub_41f805
sub_41f855
sub_41f921
sub_41fac2
sub_41fc13
sub_41fc7d
sub_41fc8a
sub_41fe45
sub_41fec2
sub_41ff01
sub_41ff16
sub_41ffba
sub_420015
sub_420054
sub_420087
sub_4200f5
sub_420102
sub_420126
sub_epsilon_src_nodes
transit_state
transit_state_bkref
transit_state_mb
update_cur_sifted_state
update_regs
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoimax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoimax
xrealloc
xstrdup
xstrtoimax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
btowc
iswalnum
strcmp
clearerr_unlocked
fopen
__errno_location
error
ferror_unlocked
gettext
fputs_unlocked
realloc
malloc
__assert_fail
free
fileno
fclose
__freading
lseek
abort
nl_langinfo
calloc
strlen
mbsinit
toupper
towupper
wcrtomb
memcpy
putchar_unlocked
mbrtowc
printf
memset
fprintf
exit
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswctype
fseeko
strtoimax
strchr
_exit
getc_unlocked
feof_unlocked
wctype
setlocale
posix_fadvise
__fpending
memmove
strncmp
tolower
towlower
fputs
strrchr
bindtextdomain
textdomain
getopt_long
stpcpy
fflush
iswprint
fwrite_unlocked
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
