Text sections:
adjust_column
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
fadvise
fdadvise
fold_file
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401579
sub_40157a
sub_4015b2
sub_4015fa
sub_40161c
sub_40162d
sub_401646
sub_401662
sub_40173e
sub_401859
sub_40186e
sub_401a43
sub_401a8e
sub_401aea
sub_401bbe
sub_401d66
sub_401d9a
sub_401ea1
sub_401ecb
sub_401f3a
sub_401f97
sub_401fda
sub_401fff
sub_402072
sub_4020d9
sub_4021f1
sub_402237
sub_402278
sub_4022a6
sub_4023c3
sub_4024a4
sub_4024dc
sub_4026fd
sub_402a69
sub_402ad6
sub_402b17
sub_402b5d
sub_402c47
sub_402c86
sub_402ccf
sub_402d3f
sub_402d67
sub_402d9a
sub_402e42
sub_402e6c
sub_4030b9
sub_4030c9
sub_40311e
sub_4031e1
sub_40325b
sub_4032e6
sub_40339d
sub_4033ca
sub_40341e
sub_403477
sub_4034e2
sub_403522
sub_403588
sub_4035cb
sub_403635
sub_403672
sub_403c4d
sub_404a5e
sub_404aaa
sub_404ae3
sub_404b1a
sub_404b6b
sub_404bfd
sub_404c4e
sub_404cee
sub_404d63
sub_404dbe
sub_404de8
sub_404e27
sub_4054d3
sub_405528
sub_405555
sub_40556e
sub_405605
sub_4056af
sub_4056d7
sub_405812
sub_405bcf
sub_405bdb
sub_405c42
sub_4060a0
sub_406266
sub_40629d
sub_4062bb
sub_40630e
sub_4064d4
sub_406553
sub_406570
sub_406685
sub_406702
sub_406775
sub_406782
sub_4067a6
to_uchar
usage
version_etc
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
mbrtowc
malloc
fputs
abort
strrchr
strncmp
__errno_location
error
gettext
memset
memcpy
free
fprintf
printf
fputs_unlocked
exit
strcmp
setlocale
bindtextdomain
textdomain
getopt_long
strlen
fopen
getc_unlocked
fwrite_unlocked
__ctype_b_loc
putchar_unlocked
memmove
ferror_unlocked
_exit
posix_fadvise
fseeko
fileno
lseek
__freading
fflush
iswprint
mbsinit
__ctype_get_mb_cur_max
memcmp
nl_langinfo
fclose
realloc
calloc
__assert_fail
strchr
strtoumax
__fpending
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
