Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
c_locale
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
cl_strtold
c_strtold
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
exit_failure_callback
fallback_failure_callback
fwrite_success_callback
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
print_direc
print_esc
print_esc_char
print_esc_string
print_formatted
print_unicode_char
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_4015c9
sub_4015ca
sub_401602
sub_40164a
sub_40166c
sub_40167d
sub_401696
sub_4016a5
sub_4016d5
sub_401771
sub_4017a6
sub_4018fa
sub_40190a
sub_401929
sub_40193a
sub_4019fd
sub_401a17
sub_401cfc
sub_401d13
sub_401dae
sub_4020f4
sub_40213d
sub_402423
sub_40246c
sub_402573
sub_402648
sub_4027dc
sub_4027ef
sub_402806
sub_40282b
sub_402861
sub_402876
sub_40288f
sub_4028f6
sub_402992
sub_4029af
sub_4029d1
sub_402a52
sub_402a69
sub_402a8e
sub_402c4d
sub_402dd6
sub_402e11
sub_402ead
sub_403208
sub_40321d
sub_403354
sub_40336d
sub_403378
sub_403383
sub_4033bf
sub_4035b8
sub_403638
sub_4036d6
sub_4036ea
sub_4036fd
sub_4037cb
sub_4037f9
sub_40382f
sub_40383a
sub_40386d
sub_403883
sub_403923
sub_40393a
sub_403a2c
sub_403a9e
sub_403ac6
sub_403ae0
sub_403b87
sub_403ba8
sub_403be3
sub_403bfa
sub_403c26
sub_403c82
sub_403de3
sub_403e84
sub_403e9e
sub_403f59
sub_403f85
sub_40400d
sub_404074
sub_404131
sub_404148
sub_40415a
sub_4041cc
sub_4041da
sub_4041f8
sub_404232
sub_4042b6
sub_4042c5
sub_404396
sub_4043c7
sub_4043f3
sub_40441a
sub_40448f
sub_4045bf
sub_4045cf
sub_404728
sub_4047a9
sub_404813
sub_40487f
sub_4048c9
sub_404915
sub_40494f
sub_4049d3
sub_404a13
sub_404a3e
sub_404a4a
sub_404bbc
sub_404bf7
sub_404c0a
sub_404c43
sub_404caa
sub_404cce
sub_404d3f
sub_404d49
sub_404db8
sub_404dd9
sub_404e64
sub_404e85
sub_404fbd
sub_40513e
sub_40515f
sub_405296
sub_4052ca
sub_405359
sub_405376
sub_4053a1
sub_4053cb
sub_405409
sub_405421
sub_405444
sub_4054bd
sub_4054cd
sub_4054d7
sub_405545
sub_405552
sub_405576
to_uchar
u8_uctomb
u8_uctomb_aux
unicode_to_mb
usage
verify_numeric
version_etc
version_etc_ar
version_etc_arn
version_etc_va
vstrtoimax
vstrtold
vstrtoumax
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xfprintf
xmalloc
xmemdup
xnmalloc
xnrealloc
xprintf
xrealloc
xstrdup
xvfprintf
xvprintf
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getenv
error
putchar_unlocked
__errno_location
strtoimax
__mempcpy_chk
free
__ctype_b_loc
memchr
strtoumax
strtold
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
iswprint
mbsinit
memset
iconv_open
iconv
malloc
realloc
memcpy
__vfprintf_chk
ferror
calloc
mbrtowc
uselocale
newlocale
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
