Text sections:
add_line_number
char_to_clump
clone_quoting_options
close_file
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
current_timespec
dup_safer
emit_bug_reporting_address
fadvise
fdadvise
first_last_page
fopen_safer
getoptarg
get_quoting_style
gettext_quote
gettime
gnu_mbswidth
hard_locale
imaxtostr
init_header
integer_overflow
locale_charset
localtime_rz
main
mbsnwidth
nstrftime
open_file
print_char
print_files
print_header
print_sep_string
print_stored
print_white_space
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
read_line
read_rest_of_line
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
save_abbr
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
skip_read
store_char
__strftime_internal
sub_401ba9
sub_401baa
sub_401be2
sub_401c2a
sub_401c4c
sub_401c5d
sub_401c76
sub_401c8e
sub_401ce5
sub_401e65
sub_401e89
sub_402093
sub_402122
sub_402157
sub_4022ea
sub_4022f2
sub_402337
sub_402362
sub_402390
sub_402493
sub_402561
sub_4025b5
sub_402674
sub_402685
sub_402712
sub_40272f
sub_402747
sub_4027d8
sub_4027fd
sub_402835
sub_402894
sub_4028c1
sub_40293e
sub_4029d1
sub_402a63
sub_402aef
sub_402d03
sub_402da5
sub_402f0c
sub_402fb9
sub_4038d8
sub_4039ba
sub_403a44
sub_403a55
sub_403b55
sub_403b84
sub_403cd3
sub_403d48
sub_403dd3
sub_403de5
sub_403dff
sub_403efc
sub_403f83
sub_403ffd
sub_4041ec
sub_4041ff
sub_404205
sub_40427a
sub_4042f4
sub_404316
sub_40443f
sub_4044a1
sub_404584
sub_40459a
sub_4045a5
sub_4045d5
sub_404dd7
sub_404e78
sub_404fec
sub_40509c
sub_4051d8
sub_405289
sub_405458
sub_4055ff
sub_4058ea
sub_40591e
sub_405ada
sub_405bea
sub_405c1c
sub_405c3e
sub_405da1
sub_405db5
sub_406451
sub_40646d
sub_4065ad
sub_40674e
sub_406774
sub_40679d
sub_40681c
sub_406aaa
sub_4083d9
sub_408455
sub_408592
sub_408699
sub_408715
sub_408737
sub_408758
sub_408796
sub_4087d8
sub_408814
sub_40885e
sub_408a1d
sub_408aa7
sub_408d9d
sub_408db3
sub_408e55
sub_4091a4
sub_4091ed
sub_4094d2
sub_40951c
sub_409623
sub_4096f8
sub_4098b7
sub_409928
sub_409949
sub_409982
sub_409a31
sub_409deb
sub_409df5
sub_409e48
sub_409e8c
sub_409ed3
sub_409ee6
sub_409f7f
sub_409f88
sub_409f9f
sub_40a231
sub_40ab89
sub_40aba0
sub_40abf9
sub_40acc8
sub_40aeb2
sub_40aedf
sub_40b238
sub_40b3df
sub_40b413
sub_40b488
sub_40b595
sub_40b6c1
sub_40b703
sub_40b7bc
sub_40b8d6
sub_40b9b3
sub_40be8a
sub_40c12e
sub_40c2ca
sub_40c47e
sub_40c49d
sub_40c586
sub_40c5a1
sub_40c6ae
sub_40c6e8
sub_40c795
sub_40c7a2
sub_40c7c6
tzalloc
tzfree
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoimax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoimax
xrealloc
xstrdup
xstrtoimax
xstrtol
xstrtol_fatal
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
setlocale
bindtextdomain
textdomain
getopt_long
dcgettext
strlen
free
getenv
exit
__errno_location
error
__printf_chk
fputs_unlocked
strncmp
__fprintf_chk
fileno
__overflow
__fxstat
__sprintf_chk
__uflow
ungetc
__ctype_b_loc
putchar_unlocked
memset
_exit
posix_fadvise
fopen
fdopen
close
clock_gettime
strcmp
__ctype_get_mb_cur_max
wcwidth
iswcntrl
mbsinit
strftime
memcpy
__ctype_tolower_loc
__ctype_toupper_loc
strrchr
fwrite
abort
memcmp
iswprint
malloc
realloc
__strtol_internal
strchr
__assert_fail
strtol
__strtoul_internal
calloc
__freading
lseek
fclose
fcntl
fflush
fseeko
mbrtowc
localtime_r
gmtime_r
setenv
unsetenv
tzset
mktime
timegm
__fpending
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
