Text sections:
allocate_entry
bkm_scale
bkm_scale_0
bkm_scale_by_power
bkm_scale_by_power_0
ceil_lg
check_tuning
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
compute_bucket_size
c_tolower
c_toupper
dup_safer
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
explicit_bzero
fadvise
fdadvise
fopen_safer
fread_file
freebuffer
free_entry
freopen_safer
fstat
get_nonce
get_quoting_style
gettext_quote
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
initbuffer
input_from_argv
input_size
internal_read_file
isaac_refill
isaac_seed
is_prime
just
locale_charset
main
next_line
next_prime
orig_freopen
protect_fd
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
randint_all_free
randint_all_new
randint_choose
randint_choose_0
randint_free
randint_genmax
randint_get_source
randint_new
randperm_bound
randperm_new
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
raw_comparator
raw_hasher
read_binary_file
read_file
read_input
read_input_reservoir_sampling
readisaac
readlinebuffer
readlinebuffer_delim
readsource
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_freopen
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_hasher
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
shift_left
simple_new
sparse_cmp_
sparse_free
sparse_hash_
sparse_new
sparse_swap
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401b69
sub_401b6a
sub_401ba2
sub_401bea
sub_401c0c
sub_401c1d
sub_401c36
sub_401c44
sub_401c6d
sub_401c93
sub_401cba
sub_401cfe
sub_401d0a
sub_401d1d
sub_401d93
sub_401de9
sub_401e46
sub_401e5a
sub_401e7b
sub_401f43
sub_401f5f
sub_401fd7
sub_401fef
sub_402003
sub_40205d
sub_402064
sub_402077
sub_40214f
sub_402169
sub_402175
sub_402185
sub_402508
sub_4027b2
sub_4027f9
sub_402811
sub_402834
sub_402854
sub_40286f
sub_40287a
sub_40296c
sub_40297a
sub_4029a7
sub_4029d2
sub_402a04
sub_402a2e
sub_402a3c
sub_402a4a
sub_402a5e
sub_402c1d
sub_402c28
sub_402e02
sub_402e13
sub_402e8e
sub_402edc
sub_402f16
sub_402f4c
sub_402f69
sub_402f7b
sub_402fcb
sub_402fd5
sub_402fe9
sub_403009
sub_4030ba
sub_40318a
sub_4031a7
sub_4031ba
sub_403251
sub_4032cd
sub_4032dd
sub_4032e7
sub_403391
sub_4033d3
sub_4033e5
sub_403503
sub_40351a
sub_403537
sub_4035e8
sub_403681
sub_403695
sub_403942
sub_403961
sub_403973
sub_4039ab
sub_4039e7
sub_403a23
sub_403a8d
sub_403b04
sub_403f0c
sub_403f23
sub_403fbe
sub_404304
sub_40434d
sub_404633
sub_40467c
sub_404783
sub_404858
sub_4049ec
sub_404adc
sub_404b0b
sub_404e6c
sub_404e79
sub_404f97
sub_404ff3
sub_405199
sub_4052af
sub_4054a6
sub_4055ca
sub_4055d3
sub_4055f9
sub_4057b4
sub_405835
sub_405845
sub_40585b
sub_4058e8
sub_405969
sub_4059d3
sub_405a3f
sub_405a89
sub_405ad5
sub_405b0f
sub_405b1d
sub_405b2d
sub_405b38
sub_405b7b
sub_405c52
sub_405c65
sub_405c92
sub_405ca5
sub_405d92
sub_405db1
sub_405def
sub_405e35
sub_405e48
sub_405e59
sub_405ec8
sub_405f26
sub_405f6e
sub_405fcd
sub_40603f
sub_406054
sub_406067
sub_4060d6
sub_4060e7
sub_4060f9
sub_40613a
sub_40614b
sub_406178
sub_4061f4
sub_406222
sub_40623d
sub_4069ba
sub_4069e3
sub_4069ff
sub_406a1a
sub_406a34
sub_406a46
sub_406a5b
sub_406a8a
sub_406aa5
sub_406ab5
sub_406b17
sub_406b25
sub_406b61
sub_406b75
sub_406b9a
sub_406bb6
sub_406bca
sub_406be9
sub_406bfa
sub_406c14
sub_406c37
sub_406c58
sub_406c8d
sub_406ca3
sub_406cc3
sub_406cde
sub_406e2e
sub_406e67
sub_406f50
sub_406faa
sub_406fb8
sub_406fc6
sub_407076
sub_407085
sub_4070e9
sub_407104
sub_407139
sub_40716f
sub_407195
sub_407206
sub_407287
sub_4072b6
sub_4072f4
sub_407326
sub_407337
sub_407383
sub_40740f
sub_4077e2
sub_407838
sub_407936
sub_4079b6
sub_407a55
sub_407a65
sub_407abc
sub_407d4c
sub_407d71
sub_407db4
sub_407dfa
sub_407e82
sub_407e93
sub_407eaa
sub_407f12
sub_407f58
sub_408064
sub_40814c
sub_408157
sub_4081de
sub_40820d
sub_4082f3
sub_4083ad
sub_4083db
sub_4083e9
sub_408423
sub_408495
sub_4084a2
sub_4084c6
sub_4084d9
swap
transfer_entries
usable_st_size
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
write_permuted_lines
write_permuted_numbers
write_permuted_output_reservoir
write_random_lines
write_random_numbers
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtoul
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
strchr
__errno_location
error
strlen
stpcpy
lseek
memset
ferror_unlocked
fwrite_unlocked
memchr
_exit
posix_fadvise
fileno
dup2
close
open
feof_unlocked
getc_unlocked
free
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
setvbuf
read
gettimeofday
memcpy
getpid
getppid
getuid
getgid
fread_unlocked
ftello
malloc
fread
realloc
ferror
fopen
strtoul
__assert_fail
strtoumax
calloc
__freading
fclose
fflush
freopen
fseeko
mbrtowc
__fpending
fdopen
fcntl
nl_langinfo
__cxa_atexit
__fxstat

Function signatures:

Function types:

Data:

Preamble:
