Text sections:
argv_iter
argv_iter_free
argv_iter_init_argv
argv_iter_init_stream
argv_iter_n_args
call_chunkfun
call_freefun
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
compute_number_width
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_stdin_note
fadvise
fdadvise
__fstat
fstat
get_input_fstatus
get_quoting_style
gettext_quote
__gl_setmode
__gl_setmode_check
hard_locale
is_basic
isnbspace
iswnbspace
locale_charset
main
mb_copy
mb_width_aux
_obstack_allocated_p
_obstack_begin
_obstack_begin_1
_obstack_begin_worker
_obstack_free
_obstack_memory_used
_obstack_newchunk
physmem_available
physmem_total
print_and_abort
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
readtokens0
readtokens0_free
readtokens0_init
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_read
save_token
set_binary_mode
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
stat
sub_401ba9
sub_401baa
sub_401be2
sub_401c2a
sub_401c4c
sub_401c5d
sub_401c76
sub_401dc5
sub_401ef3
sub_401fd1
sub_402404
sub_4025d6
sub_4026db
sub_40271f
sub_403788
sub_403aed
sub_403b2d
sub_403b62
sub_403b9a
sub_403bcc
sub_403bf8
sub_403c91
sub_403d28
sub_403d3e
sub_403e02
sub_404023
sub_404047
sub_404181
sub_404204
sub_404483
sub_404574
sub_4045b2
sub_4045e7
sub_404715
sub_404748
sub_404782
sub_404873
sub_4048eb
sub_404947
sub_40498e
sub_404a22
sub_404ae6
sub_404af6
sub_404b39
sub_405458
sub_405b6a
sub_405be5
sub_405c7a
sub_405d69
sub_405d9d
sub_405df7
sub_405e33
sub_405e4e
sub_405eb7
sub_405ece
sub_405fbd
sub_405ff2
sub_4060d4
sub_406115
sub_406171
sub_4061ae
sub_406246
sub_4062bf
sub_406388
sub_40639b
sub_4063bc
sub_4064f4
sub_40655b
sub_406715
sub_4067e4
sub_40680f
sub_40681e
sub_40689a
sub_4068bb
sub_4068e5
sub_406962
sub_406980
sub_406a96
sub_406b0f
sub_406b10
sub_406b51
sub_406b6e
sub_406bba
sub_406d24
sub_406d78
sub_406e35
sub_406e6f
sub_406e96
sub_40709d
sub_407631
sub_407de6
sub_407e0f
sub_407e4f
sub_407e6b
sub_40808f
sub_40810b
sub_4081bd
sub_40828e
sub_4086bb
sub_408708
sub_4087de
sub_40887a
sub_4088a3
sub_4089ff
sub_408a73
sub_408b15
sub_408b58
sub_408b6e
sub_408bd3
sub_408c27
sub_408c73
sub_408d3d
sub_408d3e
sub_408d86
sub_408dce
sub_408ddb
sub_408fa4
sub_409055
sub_4092be
sub_4092f7
sub_409337
sub_409371
sub_4093ca
sub_40943d
sub_409514
sub_409593
sub_4095c7
sub_409628
sub_409735
sub_409742
sub_409766
sub_409779
to_uchar
umaxtostr
usable_st_size
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
wc
wc_file
write_counts
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xset_binary_mode
xset_binary_mode_error
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
gettext
fprintf
printf
fputs_unlocked
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getpagesize
setvbuf
getenv
getopt_long
__errno_location
mbrtowc
sysinfo
sysconf
error
fopen
abort
__ctype_b_loc
strlen
iswprint
mbsinit
memset
memcmp
__ctype_get_mb_cur_max
fileno
__assert_fail
__freading
fflush
memcpy
btowc
getdelim
feof
free
posix_fadvise
strrchr
fputs
realloc
calloc
close
open
strchr
putchar_unlocked
lseek
memchr
wcwidth
iswspace
memmove
malloc
_exit
iswcntrl
fseeko
__fpending
ferror_unlocked
fgetc
ferror
read
fclose
nl_langinfo
__cxa_atexit
__xstat
__fxstat

Function signatures:

Function types:

Data:

Preamble:
