Text sections:
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
copy_fd
c_strcasecmp
c_tolower
c_toupper
diagnose_copy_fd_failure
elide_tail_bytes_file
elide_tail_bytes_pipe
elide_tail_lines_file
elide_tail_lines_pipe
elide_tail_lines_seekable
elseek
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
__fstat
fstat
full_read
get_quoting_style
gettext_quote
__gl_setmode
__gl_setmode_check
hard_locale
head
head_bytes
head_file
head_lines
locale_charset
main
offtostr
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_read
set_binary_mode
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
string_to_integer
sub_4015c9
sub_4015ca
sub_401602
sub_40164a
sub_40166c
sub_40167d
sub_401696
sub_4016e4
sub_401792
sub_4017b5
sub_4018fa
sub_401993
sub_4019e3
sub_401a57
sub_401bb4
sub_401c0a
sub_401cde
sub_401d5c
sub_401d8d
sub_40222e
sub_402376
sub_4025d8
sub_40273a
sub_40278d
sub_4027ce
sub_40286f
sub_402c8d
sub_402c8f
sub_40302f
sub_403036
sub_40315f
sub_40319e
sub_40331b
sub_403766
sub_4039a4
sub_403a1d
sub_403b84
sub_403bc1
sub_403bf8
sub_403c00
sub_403c17
sub_403cc3
sub_403d03
sub_403d52
sub_403ed5
sub_403f82
sub_404008
sub_4040bd
sub_4040e7
sub_404102
sub_404216
sub_40425e
sub_4042e6
sub_4042fe
sub_404357
sub_404366
sub_40467f
sub_4048a1
sub_40493f
sub_40498e
sub_4049b5
sub_404a17
sub_404acd
sub_404cb5
sub_40503b
sub_40509a
sub_405131
sub_4051eb
sub_40522e
sub_4052c2
sub_4052da
sub_40539e
sub_405ac7
sub_4067b8
sub_406808
sub_4069a9
sub_4069f7
sub_406a32
sub_406a73
sub_406abb
sub_406b0e
sub_406bb8
sub_406bdb
sub_406bee
sub_406c6a
sub_406e34
sub_406e6a
sub_406f67
sub_406fa2
sub_406fc0
sub_40708a
sub_40718f
sub_4072ef
sub_40733b
sub_40734a
sub_4073d7
sub_407406
sub_40751f
sub_40753b
sub_407615
sub_4076ac
sub_4076be
sub_407718
sub_40773a
sub_4077be
sub_40787c
sub_4078b2
sub_407a4c
sub_407a5b
sub_407a9b
sub_407ba6
sub_407bea
sub_408042
sub_40844e
sub_4084eb
sub_408526
sub_4085a5
sub_4086db
sub_408755
sub_4087c5
sub_4087d2
sub_4087f6
sub_408809
umaxtostr
usable_st_size
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
write_header
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xset_binary_mode
xset_binary_mode_error
xstrdup
xstrtoumax
xwrite_stdout
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
__errno_location
memcpy
gettext
error
abort
nl_langinfo
fprintf
printf
fputs_unlocked
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
close
open
realloc
free
_exit
__ctype_b_loc
strtoumax
strchr
__assert_fail
memset
fseeko
fileno
lseek
memchr
mbrtowc
malloc
memrchr
fwrite_unlocked
clearerr_unlocked
fputs
strrchr
__ctype_get_mb_cur_max
read
fflush
__freading
strlen
memcmp
iswprint
mbsinit
calloc
__fpending
ferror_unlocked
fclose
__cxa_atexit
__fxstat

Function signatures:

Function types:

Data:

Preamble:
