Text sections:
build_charclass
build_charclass_op
build_trtable
build_wcs_buffer
build_wcs_upper_buffer
calc_eclosure_iter
check_arrival
check_arrival_expand_ecl
check_arrival_expand_ecl_sub
check_dst_limits
check_dst_limits_calc_pos_1
check_halt_state_context
check_node_accept
check_node_accept_bytes
check_subexp_matching_top
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
duplicate_node_closure
emit_bug_reporting_address
expand_bkref_cache
extend_buffers
fadvise
fdadvise
freebuffer
free_dfa_content
free_state
get_quoting_style
get_subexp_sub
gettext_quote
hard_locale
initbuffer
link_nfa_nodes
locale_charset
lower_subexp
main
match_ctx_clean
merge_state_with_log
nl_file
optimize_subexps
parse_bracket_element
parse_branch
parse_expression
parse_reg_exp
peek_token
peek_token_bracket
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
re_acquire_state
re_acquire_state_context
readlinebuffer
readlinebuffer_delim
re_compile_fastmap_iter
re_compile_internal
re_dfa_add_node
register_state
re_node_set_add_intersect
re_node_set_init_union
re_node_set_insert
re_node_set_merge
re_search_internal
re_search_stub
re_string_context_at
re_string_realloc_buffers
re_string_reconstruct
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
rpl_re_compile_fastmap
rpl_re_compile_pattern
rpl_regcomp
rpl_regerror
rpl_regexec
rpl_regfree
rpl_re_match
rpl_re_match_2
rpl_re_search
rpl_re_search_2
rpl_re_set_registers
rpl_re_set_syntax
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_regs
sift_states_backward
sub_epsilon_src_nodes
transit_state_bkref
update_cur_sifted_state
usage
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoimax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoimax
xrealloc
xstrdup
xstrtoimax
xzalloc

PLT sections:
__ctype_toupper_loc
__uflow
free
abort
__errno_location
strncmp
_exit
__fpending
clearerr_unlocked
textdomain
__strtol_internal
iswctype
fclose
bindtextdomain
stpcpy
dcgettext
__ctype_get_mb_cur_max
strlen
getopt_long
mbrtowc
strchr
__overflow
strrchr
lseek
__assert_fail
memset
posix_fadvise
__libc_start_main
memcmp
wctype
fputs_unlocked
calloc
strcmp
memcpy
fileno
iswalnum
malloc
wcrtomb
fflush
nl_langinfo
__freading
fwrite_unlocked
realloc
setlocale
__printf_chk
btowc
memmove
error
fseeko
fopen
towlower
towupper
__cxa_atexit
exit
fwrite
__fprintf_chk
mbsinit
iswprint
__ctype_tolower_loc
__ctype_b_loc

Function signatures:

Function types:

Data:

Preamble:
