Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
fadvise
fdadvise
get_next
get_quoting_style
get_spec_stats
gettext_quote
hard_locale
is_char_class_member
locale_charset
main
make_printable_str
parse_str
plain_read
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
read_and_delete
read_and_xlate
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_read
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
squeeze_filter
sub_4015c9
sub_4015ca
sub_401602
sub_40164a
sub_40166c
sub_40167d
sub_401696
sub_4016eb
sub_4016f5
sub_401715
sub_40179d
sub_4017d5
sub_401843
sub_401856
sub_401898
sub_4018aa
sub_401917
sub_401956
sub_4019b6
sub_4019c5
sub_401a9c
sub_401b0c
sub_401b4c
sub_401b63
sub_401b8a
sub_401c04
sub_401c61
sub_401e0a
sub_401f2e
sub_401f81
sub_401fdf
sub_402012
sub_402252
sub_4026bf
sub_40307d
sub_40311a
sub_403167
sub_4031dc
sub_40358e
sub_4035c3
sub_4035d5
sub_403633
sub_403645
sub_403705
sub_403765
sub_4037a2
sub_40391f
sub_403991
sub_403a26
sub_403e9d
sub_403eb3
sub_403f55
sub_4042a4
sub_4042ed
sub_4045d2
sub_40461c
sub_404723
sub_4047f8
sub_4049b7
sub_404aac
sub_404af2
sub_404b83
sub_404b9f
sub_404e42
sub_404e55
sub_404f2f
sub_405002
sub_405018
sub_4050df
sub_4050f9
sub_405731
sub_405759
sub_405765
sub_405871
sub_405885
sub_405965
sub_405a01
sub_405d68
sub_405da1
sub_405e76
sub_405ed4
sub_405f54
sub_405fae
sub_405fcf
sub_4069b5
sub_406a3e
sub_406bfd
sub_406c05
sub_406c9e
sub_406d08
sub_406d7e
sub_406d88
sub_406da8
sub_406dba
sub_406dc8
sub_406df0
sub_406eb8
sub_4070b1
sub_407125
sub_407132
sub_407156
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__ctype_b_loc
fwrite_unlocked
__errno_location
error
__ctype_toupper_loc
__ctype_tolower_loc
__assert_fail
close
abort
strlen
free
__sprintf_chk
stpcpy
_exit
posix_fadvise
fileno
strrchr
fwrite
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
memset
read
malloc
realloc
memcpy
__strtoul_internal
strchr
calloc
mbrtowc
__fpending
strcmp
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
