Text sections:
add_tab_stop
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
cleanup_file_list_stdin
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
emit_tab_list_info
fadvise
fdadvise
finalize_tab_stops
get_next_tab_column
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
next_file
parse_tab_stops
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_extend_size
set_file_list
set_increment_size
set_program_name
set_quoting_flags
set_quoting_style
sub_401589
sub_40158a
sub_4015c2
sub_40160a
sub_40162c
sub_40163d
sub_401656
sub_40169b
sub_4016d7
sub_401727
sub_40173e
sub_401a14
sub_401a73
sub_401bd3
sub_401d55
sub_401ec4
sub_401ef8
sub_401f32
sub_401fb5
sub_401fef
sub_402293
sub_40253b
sub_402568
sub_40260c
sub_4026de
sub_402717
sub_402756
sub_402797
sub_4027c7
sub_4028e9
sub_402917
sub_402957
sub_402976
sub_402a21
sub_402acb
sub_402acc
sub_402bc9
sub_402bd6
sub_402fd8
sub_402fee
sub_403256
sub_4035ff
sub_403643
sub_40365e
sub_4036fd
sub_40378c
sub_4038f3
sub_40395a
sub_403a6e
sub_403aad
sub_403ab6
sub_403bea
sub_403c2f
sub_403c62
sub_403ca2
sub_403ce8
sub_403d1a
sub_403d85
sub_403e0a
sub_403ea1
sub_403fa7
sub_404144
sub_4041a6
sub_404272
sub_404681
sub_404818
sub_40489a
sub_4048d2
sub_404966
sub_40497e
sub_4049e5
sub_404a23
sub_404a63
sub_4058fb
sub_405e42
sub_405e6a
sub_405ec2
sub_405f42
sub_405f94
sub_406169
sub_40619d
sub_4061fd
sub_40621f
sub_40625f
sub_4062c0
sub_4063c3
sub_406418
sub_4064a6
sub_40653a
sub_40661d
sub_406677
sub_4066be
sub_406737
sub_40676b
sub_4067d4
sub_4068d9
sub_40693b
sub_40694e
sub_4069a1
sub_406a15
sub_406a22
sub_406a46
to_uchar
unexpand
usage
validate_tab_stops
version_etc
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
memcpy
__errno_location
error
abort
memset
free
nl_langinfo
gettext
fprintf
printf
fputs_unlocked
exit
strcmp
setlocale
posix_fadvise
strspn
__ctype_b_loc
fileno
fclose
__freading
lseek
strlen
fputs
strrchr
strncmp
bindtextdomain
textdomain
getopt_long
mbrtowc
_exit
__fpending
ferror_unlocked
getc_unlocked
putchar_unlocked
fwrite_unlocked
realloc
calloc
fseeko
fopen
__assert_fail
clearerr_unlocked
fflush
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
malloc
strndup
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
