Text sections:
apply_relative_time
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
bad_cast
batch_convert
change_env
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_strcasecmp
c_tolower
c_toupper
current_timespec
dbg_printf
debug_mktime_not_ok
debug_print_current_time
debug_print_relative_time
debug_strfdate
debug_strfdatetime
debug_strftime
digits_to_date_time
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
equal_tm
extend_abbrs
fprintftime
fwrite_lowcase
fwrite_uppcase
getenv_TZ
get_quoting_style
get_stat_atime
get_stat_atime_ns
get_stat_birthtime
get_stat_birthtime_ns
get_stat_ctime
get_stat_ctime_ns
get_stat_mtime
get_stat_mtime_ns
gettext_quote
gettime
hard_locale
imaxtostr
iso_week_days
iso_week_days_0
locale_charset
localtime_rz
lookup_word
lookup_zone
main
memcpy_lowcase
memcpy_uppcase
mktime_ok
mktime_z
nstrftime
posixtime
posix_time_parse
print_rel_part
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
revert_tz
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
save_abbr
set_char_quoting
set_custom_quoting
setenv_TZ
set_hhmmss
set_program_name
set_quoting_flags
set_quoting_style
settime
set_tz
show_date
stat_time_normalize
str_days
__strftime_internal
__strftime_internal_0
sub_401be9
sub_401bea
sub_401c22
sub_401c6a
sub_401c8c
sub_401c9d
sub_401cb6
sub_401cce
sub_401e83
sub_401ed4
sub_401f9a
sub_401fea
sub_40dc00
sub_40e2c5
sub_40e3c6
sub_40ee80
sub_40f77e
sub_40f959
sub_40f9c3
sub_40fdfe
sub_40fe8d
sub_40fef7
sub_40ff12
sub_410099
sub_41037c
sub_4103c8
sub_4103fd
sub_41046a
sub_4105c1
sub_4106ec
sub_410718
sub_41072e
sub_410891
sub_4108fa
sub_410906
sub_410997
sub_4109d5
sub_41f81f
sub_42491f
sub_42493a
sub_424987
sub_424e63
sub_424ea7
sub_424ee2
sub_424f1a
sub_42505a
sub_425087
sub_4250a2
sub_42516f
sub_4255d3
sub_425616
sub_425648
sub_42568d
sub_42572b
sub_42574a
sub_4258d1
sub_425b1c
sub_425bb0
sub_425d69
sub_425da3
sub_425dda
sub_425e4e
sub_425f79
sub_425f8e
sub_425fc7
sub_42607d
sub_426122
sub_426161
sub_4261ab
sub_4261e7
sub_42620b
sub_42628c
sub_426302
sub_42631a
sub_426470
sub_42657e
sub_426b94
sub_426f89
sub_426fce
sub_42704a
sub_42706b
sub_4271cd
sub_427242
sub_42725b
sub_4272e5
sub_42a054
sub_42b26a
sub_42b9d9
sub_42c802
sub_42c847
sub_42c898
sub_42c8ee
sub_42c9bb
sub_42e815
sub_42f99d
sub_42f9df
sub_42f9ee
sub_42fa47
sub_42fba4
sub_42fbda
sub_42fc15
sub_42fc5e
sub_42fce5
sub_42fd1a
sub_42fea0
sub_43015e
sub_4301d3
sub_43030f
sub_43032e
sub_4303bb
sub_43042c
sub_43045a
sub_4304d9
sub_43059f
sub_4305bc
sub_430e37
sub_433cbe
sub_433ddf
sub_433fc1
sub_43401f
sub_4340a6
sub_434136
sub_4341b3
sub_434225
sub_4342ec
sub_43430b
sub_43432f
sub_4343b6
sub_4343da
sub_43441a
sub_434528
sub_434a84
sub_434c77
sub_434cd7
sub_434df8
sub_434f99
sub_434fdc
sub_435002
sub_43501c
sub_435191
sub_435694
sub_4356de
sub_43575a
sub_4357b7
sub_4357f2
sub_43583e
sub_436b34
sub_437307
sub_4374db
sub_43753e
sub_4375b2
sub_43761c
sub_4376ef
sub_4377b7
sub_437816
sub_4378a8
sub_437a74
sub_437ae5
sub_437af2
sub_437b16
sub_437b29
time_overflow
timetostr
time_zone_hhmm
time_zone_str
tm_year_str
to_hour
to_tm_year
to_uchar
tzalloc
tzfree
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc
year
yydestruct
yyerror
yylex
yyparse

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
putenv
getenv
__errno_location
error
fopen
getline
free
fputc_unlocked
strlen
memcmp
putc_unlocked
_exit
fputc
strftime
fwrite
__ctype_tolower_loc
__ctype_toupper_loc
clock_gettime
fputs
__vfprintf_chk
malloc
gmtime_r
__sprintf_chk
__snprintf_chk
mktime
__stpcpy_chk
strchr
time
localtime
abort
strrchr
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
memset
clock_settime
settimeofday
realloc
memcpy
calloc
fileno
__freading
lseek
fclose
fflush
fseeko
mbrtowc
nl_langinfo
localtime_r
timegm
tzset
setenv
unsetenv
__fpending
ferror_unlocked
__cxa_atexit
__xstat

Function signatures:

Function types:

Data:

Preamble:
