Text sections:
add_epsilon_src_nodes
analyze
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
bitset_clear
bitset_contain
bitset_copy
bitset_empty
bitset_mask
bitset_merge
bitset_not
bitset_set
bitset_set_all
bkm_scale
bkm_scale_by_power
build_charclass
build_charclass_op
build_collating_symbol
build_equiv_class
build_range_exp
build_sifted_states
build_trtable
build_upper_buffer
build_wcs_buffer
build_wcs_upper_buffer
calc_eclosure
calc_eclosure_iter
calc_first
calc_inveclosure
calc_next
calc_state_hash
check_arrival
check_arrival_add_next_nodes
check_arrival_expand_ecl
check_arrival_expand_ecl_sub
check_dst_limits
check_dst_limits_calc_pos
check_dst_limits_calc_pos_1
check_halt_node_context
check_halt_state_context
check_matching
check_node_accept
check_node_accept_bytes
check_subexp_limits
check_subexp_matching_top
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clean_state_log_if_needed
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
compare_occurs
compare_words
compile_regex
copy_unescaped_string
create_cd_newstate
create_ci_newstate
create_initial_state
create_token_tree
create_tree
c_strcasecmp
c_tolower
c_toupper
define_all_fields
digest_break_file
digest_word_file
duplicate_node
duplicate_node_closure
duplicate_tree
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
expand_bkref_cache
extend_buffers
fetch_number
fetch_token
find_occurs_in_text
find_recover_state
find_subexp_node
fix_output_parameters
fread_file
freea
free_charset
free_dfa_content
free_fail_stack_return
free_state
free_token
free_tree
free_workarea_compile
freopen_safer
__fstat
fstat
generate_all_output
get_quoting_style
get_subexp
get_subexp_sub
gettext_quote
group_nodes_into_DFAstates
hard_locale
init_dfa
initialize_regex
init_word_char
internal_read_file
is_basic
knuth_morris_pratt
knuth_morris_pratt_multibyte
link_nfa_nodes
locale_charset
lower_subexp
lower_subexps
main
mark_opt_subexp
match_ctx_add_entry
match_ctx_add_sublast
match_ctx_add_subtop
match_ctx_clean
match_ctx_free
match_ctx_init
matcher_error
mb_copy
mbiter_multi_copy
mbiter_multi_next
mbiter_multi_reloc
mbslen
mbsstr
mbsstr_trimmed_wordbounded
mbuiter_multi_copy
mbuiter_multi_next
mbuiter_multi_reloc
mb_width_aux
mem_cd_iconv
merge_state_array
merge_state_with_log
optimize_subexps
optimize_utf8
orig_freopen
output_one_dumb_line
output_one_roff_line
output_one_tex_line
parse
parse_bracket_element
parse_bracket_exp
parse_bracket_symbol
parse_branch
parse_byte
parse_dup_op
parse_expression
parse_reg_exp
parse_sub_exp
peek_token
peek_token_bracket
pop_fail_stack
postorder
preorder
print_field
print_spaces
proceed_next_node
proper_name
proper_name_utf8
protect_fd
prune_impossible_nodes
push_fail_stack
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
re_acquire_state
re_acquire_state_context
read_binary_file
read_file
re_compile_fastmap_iter
re_compile_internal
re_copy_regs
re_dfa_add_node
re_node_set_add_intersect
re_node_set_alloc
re_node_set_compare
re_node_set_contains
re_node_set_init_1
re_node_set_init_2
re_node_set_init_copy
re_node_set_init_union
re_node_set_insert
re_node_set_insert_last
re_node_set_merge
re_node_set_remove_at
re_search_2_stub
re_search_internal
re_search_stub
re_string_allocate
re_string_char_size_at
re_string_construct
re_string_construct_common
re_string_context_at
re_string_destruct
re_string_elem_size_at
re_string_fetch_byte_case
re_string_peek_byte_case
re_string_realloc_buffers
re_string_reconstruct
re_string_skip_chars
re_string_translate_buffer
re_string_wchar_at
rpl_fclose
rpl_fflush
rpl_freopen
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
rpl_re_compile_fastmap
rpl_re_compile_pattern
rpl_regcomp
rpl_regerror
rpl_regexec
rpl_regfree
rpl_re_match
rpl_re_match_2
rpl_re_search
rpl_re_search_2
rpl_re_set_registers
rpl_re_set_syntax
search_cur_bkref_entry
search_duplicated_node
search_table
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_regs
sift_ctx_init
sift_states_backward
sift_states_iter_mb
sort_found_occurs
str_cd_iconv
str_iconv
strnlen1
sub_401d39
sub_401d3a
sub_401d72
sub_401dba
sub_401ddc
sub_401ded
sub_401e06
sub_401ef8
sub_401ff3
sub_4021a1
sub_402d1e
sub_402e45
sub_402ec9
sub_4031ed
sub_40323e
sub_40327b
sub_4032a4
sub_40343a
sub_4034d6
sub_403994
sub_403de3
sub_403e2c
sub_403f91
sub_404749
sub_404852
sub_404975
sub_404ede
sub_405435
sub_4056ee
sub_4057fa
sub_405873
sub_405920
sub_405d49
sub_406773
sub_4068aa
sub_406be8
sub_406c14
sub_406d60
sub_406da9
sub_40708a
sub_4070c2
sub_4070e3
sub_4071aa
sub_407265
sub_407461
sub_407746
sub_407767
sub_407c80
sub_407df6
sub_407e3a
sub_407e4e
sub_407f9b
sub_4080d0
sub_4080f8
sub_408108
sub_408140
sub_4081aa
sub_4081af
sub_408236
sub_40827f
sub_40830d
sub_4083c4
sub_408471
sub_408501
sub_4086a7
sub_4086df
sub_408706
sub_40871a
sub_4088ff
sub_408921
sub_408a57
sub_408a7c
sub_408bbc
sub_408c49
sub_408e23
sub_408e40
sub_408f7e
sub_409049
sub_40938c
sub_4093fe
sub_40943e
sub_4094f1
sub_409da1
sub_409def
sub_409e0a
sub_409f8e
sub_40a025
sub_40a32b
sub_40a5b8
sub_40a5e5
sub_40a78f
sub_40ab95
sub_40ac42
sub_40afec
sub_40b0a8
sub_40b14c
sub_40b163
sub_40b5d6
sub_40b771
sub_40b883
sub_40bae8
sub_40bf58
sub_40c83f
sub_40ca97
sub_40cad2
sub_40caee
sub_40cbae
sub_40cca9
sub_40ce17
sub_40cebf
sub_40cf44
sub_40d36d
sub_40d435
sub_40d48b
sub_40d501
sub_40d5a2
sub_40d875
sub_40dc26
sub_40dd1d
sub_40e0c8
sub_40e156
sub_40e230
sub_40e3d2
sub_40e5e4
sub_40e8ab
sub_40e8cf
sub_40ef58
sub_40f034
sub_40f08c
sub_40f0a8
sub_40f11c
sub_40f134
sub_40f248
sub_40f2ab
sub_40f33b
sub_40f38a
sub_40f5e8
sub_40f64f
sub_40f663
sub_40fae5
sub_40fd22
sub_410034
sub_410114
sub_4101fe
sub_41070a
sub_4108b9
sub_410925
sub_410bd2
sub_410c4e
sub_410d79
sub_4112ec
sub_41135e
sub_411566
sub_4116fd
sub_4117e6
sub_411890
sub_4129ba
sub_412dfb
sub_413036
sub_41389a
sub_4138dc
sub_4139c2
sub_413bc2
sub_413c1f
sub_413d18
sub_413d4b
sub_413ef2
sub_41406d
sub_41411d
sub_414183
sub_414251
sub_4148ac
sub_41492d
sub_414a40
sub_414e2c
sub_4150a1
sub_4150c3
sub_415afa
sub_415d83
sub_415e08
sub_415f32
sub_4164dc
sub_4165dc
sub_416850
sub_41694d
sub_41699e
sub_416b39
sub_417228
sub_4176eb
sub_4177b5
sub_417d2e
sub_417e0f
sub_417fd1
sub_418c2e
sub_418e9d
sub_419240
sub_4194e2
sub_41987b
sub_4198f9
sub_419a7a
sub_419aa8
sub_419b83
sub_419bef
sub_419c8d
sub_419cce
sub_419d1b
sub_419d93
sub_419dfc
sub_419f61
sub_419ffe
sub_41a024
sub_41a1e2
sub_41a2c3
sub_41a954
sub_41b8da
sub_41badd
sub_41bb91
sub_41beeb
sub_41c05a
sub_41cb42
sub_41cb76
sub_41ccbf
sub_41cfe8
sub_41d168
sub_41d182
sub_41d1fa
sub_41d288
sub_41d2af
sub_41d36d
sub_41d3e8
sub_41d562
sub_41d64a
sub_41d687
sub_41d6b6
sub_41d8ea
sub_41ddab
sub_41deeb
sub_41e035
sub_41e239
sub_41e2e6
sub_41e365
sub_41e3a7
sub_41f3c3
sub_41f77e
sub_41f9a4
sub_41fa63
sub_41faae
sub_41fb89
sub_41fd68
sub_420157
sub_420497
sub_4205a6
sub_4205a7
sub_420617
sub_420653
sub_42075b
sub_420bd9
sub_420ce8
sub_420cfe
sub_420ddb
sub_4214b5
sub_4217cd
sub_421a1b
sub_421a65
sub_421a98
sub_421bf7
sub_422418
sub_4226d9
sub_422863
sub_4229c0
sub_422a1e
sub_422a35
sub_422b1a
sub_422b4b
sub_422ba9
sub_422bfa
sub_422cb0
sub_422d0e
sub_422d9a
sub_422e37
sub_422e41
sub_422eb6
sub_422ebb
sub_422ef3
sub_42329f
sub_42355a
sub_4235da
sub_42366e
sub_4237a2
sub_423807
sub_423925
sub_42396e
sub_423ac8
sub_423be0
sub_423e70
sub_4245db
sub_424999
sub_4249e6
sub_424b2a
sub_424c67
sub_4250b8
sub_425115
sub_42515e
sub_425267
sub_4252f6
sub_425767
sub_425d73
sub_425dab
sub_425efe
sub_425f7e
sub_4260a7
sub_42610b
sub_426346
sub_426558
sub_4268aa
sub_4269b5
sub_426a89
sub_426c49
sub_426dc2
sub_427094
sub_42716e
sub_4271bb
sub_4273b9
sub_427409
sub_4274ad
sub_4276d8
sub_427871
sub_4278a7
sub_427915
sub_427922
sub_427946
sub_427959
sub_epsilon_src_nodes
swallow_file_in_memory
to_uchar
transit_state
transit_state_bkref
transit_state_mb
trim2
update_cur_sifted_state
update_regs
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmem_cd_iconv
xmemdup
xnmalloc
xnrealloc
xrealloc
xstr_cd_iconv
xstrdup
xstr_iconv
xstrtoimax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
memset
malloc
free
__ctype_b_loc
iswalnum
strlen
sprintf
strcmp
gettext
memcpy
strchr
fputs_unlocked
abort
__errno_location
iconv
realloc
mbrtowc
calloc
memcmp
toupper
mbsinit
towupper
wcrtomb
printf
putchar_unlocked
__assert_fail
memmove
iswspace
__ctype_get_mb_cur_max
strdup
iconv_open
iconv_close
error
_exit
fseeko
fileno
lseek
fprintf
exit
qsort
__freading
fflush
ftello
fread
ferror
iswcntrl
wcwidth
open
close
fopen
dup2
setlocale
bindtextdomain
textdomain
getopt_long
strncmp
wctype
stpcpy
memchr
iswprint
nl_langinfo
strnlen
putc_unlocked
iswctype
fputs
strrchr
strtoimax
fclose
freopen
tolower
towlower
btowc
__fpending
ferror_unlocked
__cxa_atexit
__fxstat

Function signatures:

Function types:

Data:

Preamble:
