Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401339
sub_40133a
sub_401372
sub_4013ba
sub_4013dc
sub_4013ed
sub_401406
sub_401466
sub_401501
sub_401523
sub_40159c
sub_4015a5
sub_40164f
sub_401655
sub_401675
sub_4016e5
sub_4017a5
sub_40181e
sub_401846
sub_401b3d
sub_401b53
sub_401bf5
sub_401f44
sub_401f8d
sub_402272
sub_4022bc
sub_4023c3
sub_402498
sub_402657
sub_402665
sub_402751
sub_4027c8
sub_402b28
sub_402b48
sub_402b71
sub_402c41
sub_402cb8
sub_402cda
sub_402e84
sub_402e9f
sub_402f0a
sub_402fa8
sub_403024
sub_40309e
sub_4030b9
sub_4030d8
sub_403111
sub_403139
sub_403145
sub_4031fe
sub_403205
sub_4032a6
sub_4032b5
sub_403383
sub_403395
sub_403455
sub_40346f
sub_403554
sub_403587
sub_40367c
sub_4036e1
sub_403723
sub_403826
sub_403a12
sub_403a95
sub_403ab0
sub_403afa
sub_403b08
sub_403b43
sub_403b56
sub_403c78
sub_403dea
sub_403ec1
sub_403f24
sub_403f3e
sub_4040fd
sub_404105
sub_40414f
sub_404275
sub_404282
sub_4042a6
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
__errno_location
geteuid
getpwuid
puts
error
_exit
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
