Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
do_stdin
emit_ancillary_info
emit_bug_reporting_address
factor
factor_insert_large
factor_insert_multiplicity
factor_insert_refind
factor_using_division
factor_using_pollard_rho
factor_using_pollard_rho2
freea
full_write
gcd2_odd
gcd_odd
get_nth_bit
get_quoting_style
gettext_quote
hard_locale
init_tokenbuffer
is_basic
knuth_morris_pratt
knuth_morris_pratt_multibyte
lbuf_alloc
lbuf_flush
lbuf_putc
lbuf_putint
locale_charset
main
mb_copy
mbiter_multi_copy
mbiter_multi_next
mbiter_multi_reloc
mbslen
mbsstr
mbsstr_trimmed_wordbounded
mbuiter_multi_copy
mbuiter_multi_next
mbuiter_multi_reloc
mb_width_aux
mem_cd_iconv
millerrabin
millerrabin2
mod2
mp_factor
mp_factor_clear
mp_factor_init
mp_factor_insert
mp_factor_insert_ui
mp_factor_using_division
mp_factor_using_pollard_rho
mp_millerrabin
mulredc
mulredc2
powm
powm2
print_factors
print_factors_single
print_uintmaxes
proper_name
proper_name_utf8
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
readtoken
readtokens
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_write
set_char_quoting
set_custom_quoting
set_nth_bit
set_program_name
set_quoting_flags
set_quoting_style
str_cd_iconv
str_iconv
strnlen1
strto2uintmax
sub_402119
sub_40211a
sub_402152
sub_40219a
sub_4021bc
sub_4021cd
sub_4021e6
sub_402276
sub_402795
sub_402b62
sub_402bd0
sub_402e97
sub_402ec7
sub_403024
sub_4030b3
sub_403257
sub_4032e9
sub_403605
sub_40377f
sub_40385d
sub_403866
sub_403987
sub_4039ce
sub_4039e6
sub_403b45
sub_403fdf
sub_404079
sub_40414a
sub_404182
sub_404205
sub_4042b9
sub_404308
sub_4043f2
sub_404471
sub_4044ac
sub_404d6b
sub_405a0e
sub_405dda
sub_405f2d
sub_40600d
sub_406068
sub_406112
sub_40615c
sub_406c71
sub_406da6
sub_406e28
sub_406f2c
sub_40710a
sub_40717a
sub_407267
sub_40744a
sub_407642
sub_4076f3
sub_407744
sub_4077bd
sub_407885
sub_407a85
sub_407b67
sub_407ba7
sub_407be2
sub_407c22
sub_407d1c
sub_4080b3
sub_40810f
sub_408175
sub_4081f1
sub_408513
sub_408767
sub_4087af
sub_4087cf
sub_408a29
sub_408a56
sub_408a7a
sub_408e42
sub_408f22
sub_409307
sub_4095ed
sub_40967a
sub_4096e4
sub_40983b
sub_409877
sub_40989e
sub_4098a9
sub_40a4ef
sub_40a518
sub_40a6b9
sub_40ae5b
sub_40b071
sub_40b167
sub_40b1e3
sub_40b20a
sub_40b278
sub_40b302
sub_40b31e
sub_40b3cc
sub_40b40c
sub_40b447
sub_40b48e
sub_40b4b4
sub_40b5b7
sub_40b5f6
sub_40bcf3
sub_40c05c
sub_40c2bc
sub_40c46b
sub_40c69a
sub_40c91b
sub_40c9b7
sub_40caa1
sub_40cc57
sub_40cd6d
sub_40cdae
sub_40cf0a
sub_40cf41
sub_40cf86
sub_40cfaa
sub_40d023
sub_40d151
sub_40d1ca
sub_40d1de
sub_40d25b
sub_40d311
sub_40d384
sub_40d3bc
sub_40d4b1
sub_40d55a
sub_40d6c9
sub_40d96c
sub_40dc93
sub_40e16e
sub_40e33a
sub_40e388
sub_40e3ce
sub_40e44b
sub_40e4ca
sub_40e5c1
sub_40e60a
sub_40e63f
sub_40e7a4
sub_40e7ed
sub_40e87a
sub_40ec39
sub_40ecb2
sub_40ecf3
sub_40edc2
sub_40ee85
sub_40eecf
sub_40eede
sub_40ef75
sub_40f09d
sub_40f118
sub_40f1ac
sub_40f295
sub_40f2a2
sub_40f2c6
trim2
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmem_cd_iconv
xmemdup
xnmalloc
xnrealloc
xrealloc
xstr_cd_iconv
xstrdup
xstr_iconv
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
gettext
fprintf
printf
fputs_unlocked
exit
__ctype_get_mb_cur_max
memset
memcmp
memcpy
abort
strnlen
strlen
memchr
__assert_fail
__errno_location
free
sprintf
strcmp
strchr
_exit
error
malloc
realloc
__fpending
ferror_unlocked
__gmpz_powm
__gmpz_cmp_ui
__gmpz_cmp
__gmpz_powm_ui
iswprint
mbsinit
__ctype_b_loc
iconv
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
__freading
fflush
__gmpz_init_set_ui
__gmpz_clear
__gmpz_init_set_str
__gmp_printf
putchar_unlocked
fflush_unlocked
isatty
iconv_close
iconv_open
strdup
strrchr
fputs
iswspace
memmove
__gmpz_tdiv_q_ui
__gmpz_divisible_ui_p
__gmpz_init
__gmpz_scan1
__gmpz_fdiv_q_2exp
getc_unlocked
calloc
wcwidth
iswcntrl
iswalnum
write
__gmpz_inits
__gmpz_sub_ui
__gmpz_tdiv_q_2exp
__gmpz_set_ui
__gmpz_set
__gmpz_divexact
__gmpz_add_ui
__gmpz_clears
__gmpz_init_set_si
__gmpz_mul
__gmpz_mod
__gmpz_sub
__gmpz_gcd
mbrtowc
nl_langinfo
fileno
fclose
lseek
fseeko
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
