Text sections:
areadlink
base_len
careadlinkat
careadlinkatcwd
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
dir_len
dir_name
emit_bug_reporting_address
file_name_concat
get_quoting_style
gettext_quote
hard_locale
last_component
locale_charset
main
mdir_name
mfile_name_concat
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xreadlink
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__ctype_toupper_loc
getenv
free
__mempcpy_chk
abort
__errno_location
strncmp
_exit
__fpending
readlink
textdomain
fclose
bindtextdomain
dcgettext
__ctype_get_mb_cur_max
strlen
getopt_long
mbrtowc
strchr
strrchr
lseek
__assert_fail
__strtoul_internal
memset
__libc_start_main
memcmp
fputs_unlocked
__asprintf_chk
calloc
putenv
strcmp
memcpy
fileno
__xstat
malloc
fflush
nl_langinfo
__freading
realloc
setlocale
__printf_chk
error
access
fseeko
strtok
execvp
__cxa_atexit
exit
fwrite
__fprintf_chk
mbsinit
iswprint
__ctype_b_loc

Function signatures:

Function types:

Data:

Preamble:
