Text sections:
abbreviation_lacks_prefix
advance_input_after_read_error
advance_input_offset
alloc_ibuf
alloc_obuf
apply_translations
__argmatch_die
argmatch_invalid
argmatch_to_argument
bkm_scale
bkm_scale_by_power
cache_round
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
cleanup
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
copy_simple
copy_with_block
copy_with_unblock
c_tolower
c_toupper
current_timespec
dd_copy
default_block_size
emit_ancillary_info
emit_bug_reporting_address
fd_reopen
finish_up
fstat
gethrxtime
get_quoting_style
gettext_quote
gettime
hard_locale
human_options
humblock
ifd_reopen
iftruncate
install_signal_handlers
interrupt_handler
invalidate_cache
iread
iread_fullblock
is_nul
locale_charset
main
maybe_close_stdout
multiple_bits_set
nl_error
operand_is
operand_matches
parse_gnu_standard_options_only
parse_integer
parse_long_options
parse_symbols
print_stats
print_xfer_stats
process_signals
ptr_align
quit
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
scanargs
select_plural
set_char_quoting
set_custom_quoting
set_fd_flags
set_program_name
set_quoting_flags
set_quoting_style
siginfo_handler
skip
skip_via_lseek
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401d69
sub_401d6a
sub_401da2
sub_401dea
sub_401e0c
sub_401e1d
sub_401e36
sub_4021d1
sub_402476
sub_4024cb
sub_4024f6
sub_40257d
sub_40258a
sub_4025b9
sub_4025ef
sub_402614
sub_402647
sub_40270c
sub_402776
sub_402787
sub_4027c7
sub_4027f3
sub_40281a
sub_402829
sub_4028f2
sub_40290a
sub_40298e
sub_402a8d
sub_402aa6
sub_402fc7
sub_403004
sub_40301a
sub_40303e
sub_4030c9
sub_4031af
sub_403461
sub_4034da
sub_4035bd
sub_40360e
sub_4036a2
sub_4036b3
sub_4036da
sub_4036ea
sub_4036fd
sub_403722
sub_403742
sub_403779
sub_4037a1
sub_403841
sub_4038e3
sub_40394e
sub_403a1f
sub_403b54
sub_403bed
sub_403c0d
sub_404323
sub_40433a
sub_4043ad
sub_4043bd
sub_4043c7
sub_4043f6
sub_40440d
sub_404462
sub_4044ce
sub_404528
sub_40459e
sub_40466d
sub_4046bc
sub_404726
sub_40473e
sub_4048fd
sub_40492e
sub_404947
sub_404982
sub_404a65
sub_404ab4
sub_404b19
sub_404b7f
sub_404b8d
sub_404ba6
sub_404be6
sub_404c18
sub_404c31
sub_404d4d
sub_404e5f
sub_404e86
sub_404f34
sub_40509f
sub_4051a6
sub_40546c
sub_40572b
sub_40577b
sub_405801
sub_405834
sub_40584c
sub_4058d2
sub_405968
sub_4059e9
sub_405a53
sub_405abf
sub_405b09
sub_405b55
sub_405b8f
sub_405bbb
sub_405c83
sub_405dc7
sub_405dda
sub_405de7
sub_405dfa
sub_405ea1
sub_40617d
sub_406189
sub_4061aa
sub_4061c3
sub_4061f6
sub_40620a
sub_406361
sub_4063f3
sub_40647f
sub_4064dd
sub_4064ea
sub_406509
sub_40651a
sub_406568
sub_4065a5
sub_406613
sub_406659
sub_406671
sub_406694
sub_4066af
sub_40674d
sub_40675f
sub_40679e
sub_4067a5
sub_4067b8
sub_406816
sub_40699b
sub_4069a8
sub_406a2f
sub_406a57
sub_406d02
sub_406d45
sub_40702c
sub_407043
sub_4070de
sub_407424
sub_40746d
sub_407753
sub_40779c
sub_4078a3
sub_407978
sub_407b0c
sub_407b78
sub_407c61
sub_407c8e
sub_407ce6
sub_407d15
sub_407d2a
sub_407e1c
sub_407e6a
sub_407ef8
sub_407f45
sub_407f53
sub_407f6b
sub_407fa8
sub_4082ef
sub_4083fd
sub_4084e4
sub_40861a
sub_4087d4
sub_4087e9
sub_408858
sub_40889b
sub_408bf8
sub_408c2d
sub_408c43
sub_408dbb
sub_408e05
sub_408fb1
sub_408feb
sub_40903f
sub_409093
sub_4090aa
sub_4090c4
sub_4090d3
sub_40910b
sub_409143
sub_409249
sub_4092a9
sub_409315
sub_409322
sub_409346
sub_409359
swab_buffer
to_uchar
translate_buffer
translate_charset
usable_st_size
usage
verror
verror_at_line
version_etc_ar
version_etc_arn
write_output
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmax
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrcat
xstrdup
xstrtoumax
xsum
xsum3
xsum4
xtime_make
xtime_nonnegative_nsec
xtime_nonnegative_sec
xtime_nsec
xtime_sec
xvasprintf
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
getenv
sigemptyset
sigaddset
sigaction
sigismember
bindtextdomain
textdomain
getpagesize
strchr
__ctype_tolower_loc
__ctype_toupper_loc
__errno_location
lseek
ftruncate
__fxstat
memset
memcpy
fdatasync
fsync
_exit
__overflow
posix_fadvise
strlen
read
dcngettext
raise
sigprocmask
close
__snprintf_chk
memcmp
write
malloc
ioctl
__fpending
error
open
dup2
clock_gettime
localeconv
__sprintf_chk
memmove
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
free
error_at_line
realloc
__strtoul_internal
__assert_fail
__vasprintf_chk
calloc
fileno
__freading
fclose
fcntl
fflush
fseeko
mbrtowc
strcmp
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
