Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4012a9
sub_4012aa
sub_4012e2
sub_40132a
sub_40134c
sub_40135d
sub_401376
sub_401385
sub_401439
sub_4014b5
sub_4014c8
sub_401505
sub_401584
sub_4015fe
sub_401692
sub_40170f
sub_401715
sub_4017d4
sub_401996
sub_4019a5
sub_401a46
sub_401a5a
sub_401a93
sub_401b23
sub_401e88
sub_401e95
sub_401f18
sub_401f75
sub_401fb3
sub_401fc5
sub_4020f1
sub_40213a
sub_4021af
sub_40229c
sub_4022a5
sub_402318
sub_402333
sub_402365
sub_402375
sub_40241c
sub_402425
sub_4025b7
sub_402634
sub_402661
sub_402754
sub_402790
sub_402a02
sub_402a27
sub_402a35
sub_402ad6
sub_402ae5
sub_402b91
sub_402bae
sub_402d6d
sub_402d89
sub_40307d
sub_403093
sub_403135
sub_403484
sub_4034cd
sub_4037b2
sub_4037fc
sub_403903
sub_4039d8
sub_403b97
sub_403bb1
sub_403bda
sub_403bef
sub_403d45
sub_403d88
sub_403f12
sub_403f54
sub_403f96
sub_403fe6
sub_404000
sub_4040a8
sub_4040c8
sub_4040df
sub_404111
sub_404185
sub_404192
sub_4041b6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
gethostid
error
__errno_location
_exit
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
