Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
getugroups
gidtostr_ptr
hard_locale
locale_charset
main
mgetgroups
print_group
print_group_list
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
realloc_groupbuf
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4015d9
sub_4015da
sub_401612
sub_40165a
sub_40167c
sub_40168d
sub_4016a6
sub_4016b0
sub_4016c7
sub_401725
sub_4018d4
sub_40191b
sub_40193f
sub_401968
sub_40197e
sub_4019d8
sub_401a8d
sub_401aab
sub_401b26
sub_401ba8
sub_401cf9
sub_401d95
sub_401ece
sub_401f3e
sub_401faf
sub_401fe7
sub_402091
sub_402142
sub_40221a
sub_402252
sub_402354
sub_4023ac
sub_402407
sub_402533
sub_4025d0
sub_402696
sub_4026dd
sub_402711
sub_40285e
sub_402893
sub_4028be
sub_40291e
sub_40295b
sub_4029c2
sub_4029e0
sub_402a9b
sub_402aab
sub_402c09
sub_402d2f
sub_402d3e
sub_402dc7
sub_403171
sub_404211
sub_4042e2
sub_404362
sub_404467
sub_40448a
sub_40449e
sub_40454a
sub_40459b
sub_4045e8
sub_404663
sub_404699
sub_4046d7
sub_404766
sub_4047b8
sub_404ba8
sub_404bda
sub_404c0d
sub_404c26
sub_404c6a
sub_404d01
sub_404d6a
sub_404e1f
sub_404e4c
sub_404e83
sub_404ec2
sub_404f02
sub_405008
sub_40502f
sub_405094
sub_405426
sub_40547a
sub_4056dc
sub_405728
sub_40576e
sub_4057b2
sub_405846
sub_4059a5
sub_405a65
sub_405b0e
sub_405c35
sub_405d0e
sub_405d77
sub_405e40
sub_406365
sub_4063d5
sub_4063e2
sub_406406
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetgroups
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
realloc
__errno_location
memcpy
calloc
endgrent
strcmp
setgrent
getgrent
mbrtowc
getgrgid
gettext
error
fputs_unlocked
free
strlen
memset
abort
fileno
fclose
__freading
lseek
fflush
__fpending
ferror_unlocked
getpwuid
putchar_unlocked
memcmp
__ctype_b_loc
__ctype_get_mb_cur_max
iswprint
mbsinit
fprintf
printf
exit
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
getgid
getuid
getegid
getpwnam
_exit
fputs
strrchr
malloc
getgrouplist
getgroups
nl_langinfo
fseeko
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
