Text sections:
abformat_init
abmon_init
add_ignore_pattern
adjust_value
align_nstrftime
allocate_entry
ambsalign
areadlink_with_size
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
attach
bad_cast
base_len
basename_is_dot_or_dotdot
bkm_scale
bkm_scale_0
bkm_scale_by_power
bkm_scale_by_power_0
calculate_columns
call_chunkfun
call_freefun
canonicalize_filename_mode
change_env
check_tuning
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_files
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
cmp_atime
cmp_ctime
cmp_extension
cmp_mtime
cmp_name
cmp_size
cmp_version
compute_bucket_size
c_strcasecmp
c_strncasecmp
c_tolower
c_toupper
current_timespec
decode_switches
default_block_size
dev_ino_compare
dev_ino_free
dev_ino_hash
dev_ino_pop
dev_ino_push
dired_dump_obstack
dir_len
dir_name
dot_or_dotdot
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_size_note
equal_tm
errno_unsupported
extend_abbrs
extract_dirs_from_files
fgetfilecon
file_escape
file_escape_init
file_failure
file_has_acl
file_has_acl_cache
file_ignored
filemodestring
file_name_concat
filevercmp
first_percent_b
format_group
format_group_width
format_inode
format_user
format_user_or_group
format_user_or_group_width
format_user_width
freecon
free_ent
free_entry
free_pending_ent
fsetfilecon
__fstat
fstatat
ftypelet
get_color_indicator
getcon
getenv_quoting_style
getenv_TZ
getfilecon
getfilecon_cache
getfscreatecon
get_funky_string
getgidbyname
getgroup
get_link_name
get_quoting_style
get_stat_atime
get_stat_atime_ns
get_stat_birthtime
get_stat_birthtime_ns
get_stat_ctime
get_stat_ctime_ns
get_stat_mtime
get_stat_mtime_ns
gettext_quote
gettime
get_type_indicator
getuidbyname
getuser
gnu_mbswidth
gobble_file
group_number
hard_locale
has_capability
has_capability_cache
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_pjw
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
human_options
human_readable
humblock
imaxtostr
indent
init_column_info
initialize_exit_failure
initialize_ordering_vector
is_colored
is_directory
isdst_differ
is_ENOTSUP
is_linked_directory
iso_week_days
is_prime
is_smack_enabled
known_term_type
last_component
length_of_file_name_and_frills
lgetfilecon
locale_charset
localtime_rz
long_time_expected_width
lsetfilecon
__lstat
main
make_link_name
make_timespec
matchpathcon
matchpathcon_init_prefix
match_suffix
mbsalign
mbs_align_pad
mbsnwidth
mdir_name
memcpy_lowcase
memcpy_uppcase
mfile_name_concat
mktime_z
mpsort
mpsort_into_tmp
mpsort_with_tmp
needs_quoting
next_prime
nstrftime
_obstack_allocated_p
_obstack_begin
_obstack_begin_1
_obstack_begin_worker
_obstack_free
_obstack_memory_used
_obstack_newchunk
order
parse_ls_color
patterns_match
prep_non_filename_text
print_and_abort
print_color_indicator
print_current_files
print_dir
print_file_name_and_frills
print_horizontal
print_long_format
print_many_per_line
print_name_with_quoting
print_type_indicator
print_with_separator
process_signals
put_indicator
queue_directory
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_name
quote_name_buf
quote_name_width
quote_n_mem
quoting_options_from_style
raw_comparator
raw_hasher
record_file
restore_default_color
revert_tz
rev_strcmp_atime
rev_strcmp_ctime
rev_strcmp_df_atime
rev_strcmp_df_ctime
rev_strcmp_df_extension
rev_strcmp_df_mtime
rev_strcmp_df_name
rev_strcmp_df_size
rev_strcmp_extension
rev_strcmp_mtime
rev_strcmp_name
rev_strcmp_size
rev_xstrcoll_atime
rev_xstrcoll_ctime
rev_xstrcoll_df_atime
rev_xstrcoll_df_ctime
rev_xstrcoll_df_extension
rev_xstrcoll_df_mtime
rev_xstrcoll_df_name
rev_xstrcoll_df_size
rev_xstrcoll_df_version
rev_xstrcoll_extension
rev_xstrcoll_mtime
rev_xstrcoll_name
rev_xstrcoll_size
rev_xstrcoll_version
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_hasher
same_name
same_nameat
save_abbr
security_check_context
security_check_context_raw
security_compute_create
seen_file
seen_triple
set_char_quoting
set_custom_quoting
setenv_TZ
setexeccon
set_exit_status
setfilecon
setfscreatecon
set_line_length
set_normal_color
set_program_name
set_quoting_flags
set_quoting_style
set_tz
sighandler
signal_init
signal_restore
signal_setup
sort_files
stat
stat_time_normalize
stophandler
strcmp_atime
strcmp_ctime
strcmp_df_atime
strcmp_df_ctime
strcmp_df_extension
strcmp_df_mtime
strcmp_df_name
strcmp_df_size
strcmp_extension
strcmp_mtime
strcmp_name
strcmp_size
__strftime_internal
string_to_security_class
strmode
timespec_cmp
timespec_sign
timespectod
timetostr
to_uchar
transfer_entries
triple_compare
triple_compare_ino_str
triple_free
triple_hash
triple_hash_no_name
tzalloc
tzfree
umaxtostr
unsigned_file_size
usage
verrevcmp
version_etc
version_etc_ar
version_etc_arn
version_etc_va
visit_dir
wc_ensure_printable
wc_truncate
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xdectoumax
xgetcwd
xgethostname
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrcoll
xstrcoll_atime
xstrcoll_ctime
xstrcoll_df_atime
xstrcoll_df_ctime
xstrcoll_df_extension
xstrcoll_df_mtime
xstrcoll_df_name
xstrcoll_df_size
xstrcoll_df_version
xstrcoll_extension
xstrcoll_mtime
xstrcoll_name
xstrcoll_size
xstrcoll_version
xstrdup
xstrtol_error
xstrtol_fatal
xstrtoul
xstrtoumax
xzalloc

PLT sections:
__ctype_toupper_loc
getenv
sigprocmask
__snprintf_chk
raise
free
__mempcpy_chk
abort
__errno_location
strncmp
localtime_r
_exit
strcpy
__fpending
toupper
isatty
sigaction
iswcntrl
wcswidth
localeconv
mbstowcs
readlink
clock_gettime
setenv
textdomain
fclose
opendir
getpwuid
bindtextdomain
stpcpy
dcgettext
__ctype_get_mb_cur_max
strlen
__lxstat
getopt_long
mbrtowc
gettext
strchr
printf
getgrgid
__fxstatat
snprintf
strrchr
gmtime_r
lseek
__assert_fail
fputs
fnmatch
memset
ioctl
getcwd
strspn
closedir
__libc_start_main
memcmp
_setjmp
fputs_unlocked
ferror_unlocked
calloc
strcmp
signal
dirfd
getpwnam
fprintf
sigemptyset
memcpy
getgrnam
putchar_unlocked
tzset
fileno
tcgetpgrp
__xstat
readdir
wcwidth
tolower
putc_unlocked
__strspn_c1
__rawmemchr
malloc
fflush
nl_langinfo
__fxstat
strcoll
mktime
__freading
fwrite_unlocked
gnu_dev_major
realloc
stpncpy
setlocale
__printf_chk
timegm
longjmp
strftime
mempcpy
memmove
error
fseeko
strtoumax
unsetenv
gnu_dev_minor
strtoul
__cxa_atexit
wcstombs
gethostname
sprintf
sigismember
exit
fwrite
__fprintf_chk
fflush_unlocked
mbsinit
iswprint
sigaddset
__ctype_tolower_loc
__ctype_b_loc
__sprintf_chk

Function signatures:

Function types:

Data:

Preamble:
