Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
desirable_utmp_entry
emit_ancillary_info
emit_bug_reporting_address
extract_trimmed_name
get_quoting_style
gettext_quote
hard_locale
list_entries_users
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
read_utmp
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401509
sub_40150a
sub_401542
sub_40158a
sub_4015ac
sub_4015bd
sub_4015d6
sub_4015ea
sub_401681
sub_4016db
sub_401727
sub_40176a
sub_40185c
sub_401865
sub_4018f1
sub_4019a1
sub_4019bf
sub_4019e6
sub_401a33
sub_401a4d
sub_401b47
sub_401b53
sub_401ba1
sub_401c0d
sub_401c1a
sub_401c38
sub_401c59
sub_401c6a
sub_401c7d
sub_401c95
sub_401d46
sub_401d5f
sub_401d6a
sub_401f4a
sub_401fd8
sub_402059
sub_4020c3
sub_40212f
sub_402179
sub_4021c5
sub_4021ff
sub_402225
sub_402269
sub_402281
sub_4022a4
sub_4022be
sub_40247d
sub_4024c9
sub_4025c1
sub_4025e6
sub_402617
sub_4026f3
sub_402733
sub_402744
sub_402ab8
sub_402ac8
sub_402af9
sub_402b2f
sub_402b51
sub_402b8b
sub_402bf3
sub_402c1a
sub_402d04
sub_402d37
sub_402db7
sub_402df8
sub_402f6d
sub_402f7b
sub_402fb6
sub_4030af
sub_4030d6
sub_403106
sub_40311a
sub_40312a
sub_40340c
sub_403423
sub_4034be
sub_403804
sub_40384d
sub_403b33
sub_403b7c
sub_403c83
sub_403d58
sub_403eec
sub_403f1b
sub_403f8d
sub_403f9d
sub_403fa7
sub_40402d
sub_40403a
sub_40404f
sub_404059
sub_4040c8
sub_404142
sub_4041f3
sub_40420a
sub_404229
sub_40423a
sub_404273
sub_404304
sub_40431d
sub_404346
sub_404384
sub_4043ed
sub_404403
sub_404418
sub_40442a
sub_40443c
sub_40445a
sub_404497
sub_404505
sub_404512
sub_404536
usage
userid_compare
users
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
error
free
__errno_location
qsort
putchar_unlocked
_exit
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
mbrtowc
strncpy
utmpxname
setutxent
getutxent
endutxent
kill
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
