Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
num_processors
parse_omp_threads
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4014e9
sub_4014ea
sub_401522
sub_40156a
sub_40158c
sub_40159d
sub_4015b6
sub_401679
sub_401716
sub_40172f
sub_401735
sub_4017d1
sub_4018b9
sub_4018f5
sub_4019f4
sub_401a6c
sub_401b01
sub_401b7e
sub_401bb8
sub_401d58
sub_401d65
sub_401dda
sub_401ecc
sub_402501
sub_402515
sub_40259a
sub_4025ba
sub_40268b
sub_4026b5
sub_4026c5
sub_40272b
sub_402785
sub_4027a9
sub_40282a
sub_40287b
sub_40288e
sub_402a4d
sub_402a8c
sub_402ac3
sub_402b44
sub_402bd3
sub_402c13
sub_402c2f
sub_402ccf
sub_402d22
sub_402e67
sub_402ea3
sub_402ed6
sub_4031cd
sub_4031e3
sub_403285
sub_4035d4
sub_40361d
sub_403902
sub_40394c
sub_403a53
sub_403b28
sub_403ce7
sub_403d10
sub_403db7
sub_403dc5
sub_403e3f
sub_403f05
sub_403f68
sub_403fa4
sub_403fe5
sub_4040d3
sub_4040f3
sub_4042e2
sub_404648
sub_404658
sub_404665
sub_404715
sub_4047e1
sub_40485c
sub_404906
sub_4049b9
sub_4049d1
sub_404a34
sub_404a91
sub_404b0a
sub_404b18
sub_404b39
sub_404ba5
sub_404bb2
sub_404bd6
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
error
__errno_location
_exit
getenv
sched_getaffinity
__sched_cpucount
sysconf
strtoul
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
__strtoul_internal
strchr
__assert_fail
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
