Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
fadvise
fdadvise
get_next
get_quoting_style
get_spec_stats
gettext_quote
hard_locale
is_char_class_member
locale_charset
main
make_printable_str
parse_str
plain_read
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
read_and_delete
read_and_xlate
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_read
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
squeeze_filter
sub_4015c9
sub_4015ca
sub_401602
sub_40164a
sub_40166c
sub_40167d
sub_401696
sub_401747
sub_4017e5
sub_401892
sub_401988
sub_4019b0
sub_401a73
sub_401a85
sub_401b72
sub_401c38
sub_401c45
sub_401c51
sub_401d65
sub_401df6
sub_401e13
sub_401e39
sub_401eef
sub_401fbf
sub_402181
sub_4021a3
sub_402236
sub_402514
sub_40254d
sub_402947
sub_402985
sub_402a96
sub_402abe
sub_402b21
sub_402cbb
sub_402cf8
sub_402f05
sub_402f15
sub_402f85
sub_402ffa
sub_40303c
sub_403088
sub_4030c4
sub_403161
sub_4031cc
sub_403242
sub_4033ea
sub_403407
sub_403428
sub_403466
sub_4034b2
sub_4036a2
sub_40376e
sub_40377f
sub_403845
sub_403884
sub_4038f2
sub_403d5f
sub_40471d
sub_4047ba
sub_404807
sub_40487c
sub_404c2e
sub_404c35
sub_404d74
sub_404df4
sub_404e35
sub_404e78
sub_404e91
sub_404ea5
sub_404f41
sub_404f55
sub_404f91
sub_404fa6
sub_405023
sub_405049
sub_4050b8
sub_405135
sub_405202
sub_405225
sub_4055a8
sub_40562e
sub_405683
sub_40589b
sub_405923
sub_4059f1
sub_405a0f
sub_405a64
sub_405aaa
sub_405abe
sub_405c7d
sub_4063a1
sub_4063e6
sub_4064dc
sub_406535
sub_406545
sub_4065e1
sub_40663e
sub_40665f
sub_407045
sub_4070e5
sub_40715f
sub_4071d2
sub_4071f6
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__ctype_b_loc
fwrite_unlocked
__errno_location
error
__ctype_toupper_loc
__ctype_tolower_loc
__assert_fail
close
abort
strlen
free
__sprintf_chk
stpcpy
_exit
posix_fadvise
fileno
strrchr
fwrite
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
memset
read
malloc
realloc
memcpy
__strtoul_internal
strchr
calloc
mbrtowc
__fpending
strcmp
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
