Text sections:
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
defaultcon
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
fgetfilecon
freecon
fsetfilecon
getcon
getfilecon
getfscreatecon
get_quoting_style
gettext_quote
hard_locale
is_smack_enabled
lgetfilecon
locale_charset
lsetfilecon
main
make_node_op_equals
matchpathcon
matchpathcon_init_prefix
__mknod
mknod
mode_adjust
mode_compile
mode_create_from_ref
octal_to_mode
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
se_const
security_check_context
security_check_context_raw
security_compute_create
set_char_quoting
set_custom_quoting
setexeccon
setfilecon
setfscreatecon
set_program_name
set_quoting_flags
set_quoting_style
smack_set_label_for_self
stat
string_to_security_class
sub_401549
sub_40154a
sub_401582
sub_4015ca
sub_4015ec
sub_4015fd
sub_401616
sub_401676
sub_4016af
sub_4016ba
sub_4016ca
sub_401884
sub_4018b8
sub_401969
sub_401998
sub_401adc
sub_401f78
sub_401f8e
sub_401fc3
sub_401ff4
sub_402025
sub_4027b8
sub_402a37
sub_402a4e
sub_402ac2
sub_402b0d
sub_402b3b
sub_402b4a
sub_402bbf
sub_402ced
sub_4031b0
sub_4032d1
sub_4032eb
sub_4033ac
sub_4034d2
sub_40350a
sub_403538
sub_403564
sub_403597
sub_4035d4
sub_4035f6
sub_403656
sub_403672
sub_403743
sub_403774
sub_4038a9
sub_403a07
sub_403a4e
sub_403b97
sub_403bde
sub_403bfa
sub_403c1e
sub_403c87
sub_403cb4
sub_403cfa
sub_403d37
sub_403d5e
sub_403de8
sub_403e23
sub_403e3e
sub_403e8f
sub_403e9e
sub_403ff3
sub_404184
sub_40420c
sub_40424b
sub_40426b
sub_4043b9
sub_404446
sub_4044ae
sub_404518
sub_40452e
sub_40458a
sub_404601
sub_404708
sub_404737
sub_404767
sub_404798
sub_4051bb
sub_405b5f
sub_405bad
sub_405bd8
sub_405c55
sub_405c84
sub_405cd4
sub_405d96
sub_405dc5
sub_4062fa
sub_406635
sub_4067a3
sub_40682a
sub_40684b
sub_40688f
sub_4068bf
sub_4068ce
sub_4069a2
sub_4069bc
sub_406a8e
sub_406b41
sub_406c15
sub_406c85
sub_406cc2
sub_406cde
sub_406d4a
sub_406d6f
sub_406da8
sub_406de2
sub_406e1d
sub_406e8b
sub_406ec3
sub_407025
sub_407183
sub_40726d
sub_4072a7
sub_4072d7
sub_407345
sub_407352
sub_407376
sub_407389
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
calloc
__errno_location
__fpending
ferror_unlocked
strtoumax
strchr
__assert_fail
__ctype_b_loc
gettext
error
fprintf
printf
fputs_unlocked
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
chmod
mkfifo
umask
free
gnu_dev_makedev
malloc
abort
_exit
fputs
fseeko
fileno
lseek
memcpy
strlen
mbrtowc
fflush
__freading
memset
strrchr
memcmp
iswprint
mbsinit
__ctype_get_mb_cur_max
realloc
fclose
nl_langinfo
__cxa_atexit
__xstat
__xmknod

Function signatures:

Function types:

Data:

Preamble:
