Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
emit_bug_reporting_address
get_quoting_style
get_root_dev_ino
gettext_quote
hard_locale
locale_charset
main
nth_parent
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4015e9
sub_4015ea
sub_401622
sub_40166a
sub_40168c
sub_40169d
sub_4016b6
sub_4016ca
sub_4016d6
sub_401a58
sub_401ac4
sub_401b66
sub_401c9e
sub_401d01
sub_401d37
sub_401e5e
sub_402236
sub_4022a3
sub_4022b5
sub_40238e
sub_402404
sub_402443
sub_402653
sub_402842
sub_4028bf
sub_4028f6
sub_40296c
sub_402975
sub_4029f9
sub_402a91
sub_402b08
sub_402b7e
sub_402c6c
sub_402cc4
sub_402cf6
sub_402d10
sub_402d6a
sub_402e59
sub_402e91
sub_402eae
sub_40306d
sub_4030a4
sub_4030e5
sub_403127
sub_403171
sub_403203
sub_4032e8
sub_4033b6
sub_4033ca
sub_403491
sub_4034a5
sub_403565
sub_403583
sub_403595
sub_403606
sub_403678
sub_403688
sub_4036a9
sub_4036f2
sub_4037a1
sub_4037ca
sub_403867
sub_4038e4
sub_403985
sub_4039a7
sub_4039ec
sub_403a08
sub_403a1f
sub_403ae5
sub_403b5f
sub_403bce
sub_403bd8
sub_403c35
sub_403d4f
sub_403e1f
sub_403fe1
sub_404003
sub_404096
sub_404374
sub_4043ad
sub_4047a7
sub_4047e5
sub_4048f6
sub_40491e
sub_404981
sub_404adf
sub_404b01
sub_404b75
sub_404b82
sub_404ba6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetcwd
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
getenv
bindtextdomain
textdomain
getopt_long
error
strstr
__xstat
puts
memcpy
opendir
dirfd
fchdir
chdir
__fxstat
__errno_location
readdir
__lxstat
closedir
strlen
free
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
getcwd
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
