Text sections:
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
get_quoting_style
gettext_quote
hard_locale
initialize_exit_failure
locale_charset
main
perm_related_errno
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401479
sub_40147a
sub_4014b2
sub_4014fa
sub_40151c
sub_40152d
sub_401546
sub_40160d
sub_40161a
sub_40168d
sub_40169d
sub_4016a7
sub_4016ba
sub_401756
sub_40176b
sub_401787
sub_40179a
sub_4017b8
sub_4017cd
sub_4017e1
sub_401864
sub_401915
sub_401e7e
sub_401e88
sub_401ec9
sub_401ee1
sub_401f04
sub_401f1a
sub_401f25
sub_401f45
sub_401f75
sub_401f8a
sub_401f9d
sub_401fba
sub_401fed
sub_402003
sub_402023
sub_402127
sub_402178
sub_4021e6
sub_402291
sub_4022b9
sub_4022f1
sub_40230a
sub_402331
sub_402356
sub_402368
sub_402383
sub_4023a0
sub_4023e5
sub_402439
sub_40246f
sub_40247f
sub_4024b4
sub_402539
sub_40254f
sub_402576
sub_402606
sub_40261a
sub_40262a
sub_402636
sub_402687
sub_4026f6
sub_402788
sub_402809
sub_402873
sub_4028df
sub_402929
sub_402975
sub_4029af
sub_402aca
sub_402add
sub_402b52
sub_402b86
sub_402b9f
sub_402baa
sub_402c9c
sub_402d23
sub_402d68
sub_4031c8
sub_4034ac
sub_4034c3
sub_40355e
sub_4038a4
sub_4038ed
sub_403bd3
sub_403c1c
sub_403d23
sub_403df8
sub_403f8c
sub_403fae
sub_403fe3
sub_40402e
sub_404064
sub_40408a
sub_40409e
sub_40425d
sub_40426a
sub_404289
sub_40429a
sub_4042ae
sub_4043e1
sub_4043ff
sub_404452
sub_404469
sub_4044d8
sub_404503
sub_40452a
sub_404552
sub_404563
sub_4045e5
sub_4045f2
sub_404616
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtol
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
__errno_location
getpriority
setpriority
error
ferror_unlocked
execvp
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
strtol
strchr
__assert_fail
calloc
mbrtowc
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
