Text sections:
bsd_split_3
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
digest_check
digest_file
dup_safer
emit_ancillary_info
emit_bug_reporting_address
emit_stdin_note
fadvise
fdadvise
filename_unescape
fopen_safer
get_quoting_style
gettext_quote
hard_locale
hex_digits
locale_charset
main
md5_buffer
md5_finish_ctx
md5_init_ctx
md5_process_block
md5_process_bytes
md5_read_ctx
md5_stream
print_filename
ptr_align
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
select_plural
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_uint32
split_3
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401699
sub_40169a
sub_4016d2
sub_40171a
sub_40173c
sub_40174d
sub_401766
sub_401773
sub_4017d2
sub_4018a3
sub_4018d6
sub_4018e5
sub_40190a
sub_40211c
sub_40214b
sub_4021d7
sub_4023cb
sub_402543
sub_40256e
sub_40272d
sub_402743
sub_40275a
sub_40276a
sub_40277d
sub_40279a
sub_402896
sub_40290f
sub_402bb5
sub_402ebc
sub_402eca
sub_402ed5
sub_402f13
sub_4031fc
sub_403213
sub_4032ae
sub_4035f4
sub_40363d
sub_403923
sub_40396c
sub_403a73
sub_403b48
sub_403cdc
sub_403d01
sub_403d1a
sub_403d2a
sub_403dc1
sub_403de9
sub_403df9
sub_403e68
sub_403e87
sub_403e94
sub_403f28
sub_403fa9
sub_404013
sub_40407f
sub_4040c9
sub_404115
sub_40414f
sub_40415d
sub_40416f
sub_4041a1
sub_4041d3
sub_4041fa
sub_404272
sub_4042a2
sub_4042e9
sub_404301
sub_404324
sub_40439e
sub_4043aa
sub_4043c9
sub_4043da
sub_4043f3
sub_40465d
sub_404679
sub_404b1e
sub_404b28
sub_404c32
sub_404d5a
sub_404db6
sub_404de5
sub_404fd4
sub_404fea
sub_405043
sub_40506e
sub_405096
sub_4050d1
sub_405154
sub_40518f
sub_4051b9
sub_4051ed
sub_405203
sub_40523e
sub_40524a
sub_40533c
sub_4053c3
sub_4053d5
sub_4054f6
sub_40550f
sub_40553b
sub_40554a
sub_4055e1
sub_4055ff
sub_405649
sub_405688
sub_40584f
sub_4058fc
sub_40590d
sub_405919
sub_405938
sub_405967
sub_405986
sub_4059d7
sub_405a20
sub_405a97
sub_405ac6
sub_405b3c
sub_405b66
sub_405b8d
sub_405ba6
sub_405bba
sub_405bca
sub_405c4d
sub_405c71
sub_405cd3
sub_405ced
sub_405e02
sub_405e87
sub_405ef7
sub_405f20
sub_405fbf
sub_406020
sub_40611d
sub_40612d
sub_406137
sub_40615f
sub_406235
sub_406242
sub_406266
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
setvbuf
getopt_long
strchr
putchar_unlocked
error
__errno_location
__ctype_tolower_loc
feof_unlocked
ferror_unlocked
getline
free
dcngettext
__ctype_b_loc
_exit
memcpy
malloc
fread_unlocked
posix_fadvise
fileno
fopen
fdopen
close
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
iswprint
mbsinit
memset
realloc
calloc
__freading
lseek
fclose
fcntl
fflush
fseeko
mbrtowc
__fpending
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
