Text sections:
change_env
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
c_locale
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_strtod
c_tolower
c_toupper
desirable_utmp_entry
emit_ancillary_info
emit_bug_reporting_address
equal_tm
extend_abbrs
extract_trimmed_name
fprintftime
fwrite_lowcase
fwrite_uppcase
getenv_TZ
get_quoting_style
gettext_quote
hard_locale
isdst_differ
iso_week_days
locale_charset
localtime_rz
main
mktime_z
parse_gnu_standard_options_only
parse_long_options
print_uptime
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
read_utmp
revert_tz
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
save_abbr
select_plural
set_char_quoting
set_custom_quoting
setenv_TZ
set_program_name
set_quoting_flags
set_quoting_style
set_tz
__strftime_internal
sub_401ab9
sub_401aba
sub_401af2
sub_401b3a
sub_401b5c
sub_401b6d
sub_401b86
sub_401baa
sub_401bcf
sub_401c34
sub_401c7b
sub_401cd8
sub_401cee
sub_401d32
sub_401e55
sub_401f46
sub_401fee
sub_402166
sub_4022a7
sub_40235f
sub_402377
sub_402497
sub_402526
sub_4025d3
sub_40267e
sub_402772
sub_4029f3
sub_402a72
sub_402a9f
sub_402b0c
sub_402b1e
sub_402b82
sub_402bcb
sub_402c07
sub_402d33
sub_402d9d
sub_402dd7
sub_402e0f
sub_40316e
sub_403753
sub_4038eb
sub_40397c
sub_4039bb
sub_4039e7
sub_403a4c
sub_403aa5
sub_403b72
sub_403be5
sub_403c1a
sub_403c58
sub_403cd3
sub_403d37
sub_403ea4
sub_403efb
sub_403f0e
sub_404085
sub_4042be
sub_4042f3
sub_4043c2
sub_404437
sub_404473
sub_4044aa
sub_4044d8
sub_40457f
sub_40462a
sub_404658
sub_404696
sub_4046cd
sub_4046db
sub_405521
sub_405ab6
sub_405bbd
sub_405c1e
sub_405c2a
sub_405cd2
sub_405e1a
sub_405fb9
sub_406106
sub_406167
sub_4061ae
sub_406225
sub_406353
sub_406439
sub_406505
sub_4077a0
sub_409992
sub_409a46
sub_409ad6
sub_409bce
sub_409c2c
sub_409c62
sub_409c7e
sub_409eab
sub_409f3d
sub_409fbe
sub_40a1e2
sub_40a2cb
sub_40a3ea
sub_40a405
sub_40a4cd
sub_40a4d0
sub_40a4e7
sub_40a553
sub_40a658
sub_40a6a1
sub_40a6ed
sub_40a72f
sub_40a73e
sub_40a7b1
sub_40a7f7
sub_40a817
sub_40a8b5
sub_40a8c2
sub_40a8e6
tzalloc
tzfree
uptime
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
memset
abort
memcpy
__freading
fflush
realloc
free
strncmp
strrchr
fputs
newlocale
setlocale
bindtextdomain
textdomain
gettext
error
timegm
mktime
localtime_r
printf
fprintf
fputs_unlocked
exit
__errno_location
strcmp
ngettext
time
localtime
putchar_unlocked
fopen
fgets_unlocked
getloadavg
strtod_l
_exit
fputc
strftime
fwrite
strlen
tolower
toupper
fileno
lseek
fseeko
kill
getopt_long
__ctype_get_mb_cur_max
memcmp
nl_langinfo
gmtime_r
tzset
__ctype_b_loc
iswprint
mbsinit
malloc
calloc
fclose
setenv
unsetenv
__fpending
ferror_unlocked
mbrtowc
strncpy
utmpxname
setutxent
getutxent
endutxent
getenv
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
