Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401259
sub_40125a
sub_401292
sub_4012da
sub_4012fc
sub_40130d
sub_401326
sub_4013a4
sub_4013bf
sub_4013c5
sub_401431
sub_401445
sub_4014d6
sub_4016c2
sub_40182c
sub_401a0e
sub_401a15
sub_401a96
sub_401b31
sub_401b58
sub_401b65
sub_401c24
sub_401c49
sub_401cba
sub_401eac
sub_401f33
sub_401f45
sub_402051
sub_402065
sub_4020d8
sub_402113
sub_402478
sub_4024d6
sub_402529
sub_40259e
sub_402617
sub_402653
sub_402678
sub_40269a
sub_4026a5
sub_402711
sub_40272a
sub_40279c
sub_4027c5
sub_40289a
sub_402914
sub_4029e5
sub_4029f5
sub_402a65
sub_402aaf
sub_402ab5
sub_402b3e
sub_402e2d
sub_402e43
sub_402ee5
sub_403234
sub_40327d
sub_403562
sub_4035ac
sub_4036b3
sub_403788
sub_403947
sub_4039e5
sub_403a87
sub_403abb
sub_403afe
sub_403cbd
sub_403cf6
sub_403dc1
sub_403e3f
sub_403e51
sub_403ec8
sub_403ed5
sub_403f53
sub_403fb5
sub_404035
sub_404048
sub_404060
sub_404105
sub_404112
sub_404136
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__errno_location
error
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
