Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
hextobin
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_4012d9
sub_4012da
sub_401312
sub_40135a
sub_40137c
sub_40138d
sub_4013a6
sub_401441
sub_401458
sub_4014e8
sub_401569
sub_4015d3
sub_40163f
sub_401689
sub_4016d5
sub_40170f
sub_401746
sub_401776
sub_40183d
sub_401856
sub_40186a
sub_4018a7
sub_4018c1
sub_4018da
sub_4018f9
sub_40190a
sub_40193d
sub_401953
sub_4019d2
sub_4019ef
sub_4019ff
sub_401a05
sub_401a1f
sub_401d78
sub_401df7
sub_401ea1
sub_401ebd
sub_401f26
sub_402000
sub_4020c3
sub_402103
sub_402141
sub_40226a
sub_402297
sub_4022a3
sub_4022d7
sub_4022e5
sub_40234a
sub_402363
sub_402370
sub_40237e
sub_40239e
sub_4023a4
sub_4023aa
sub_4023d6
sub_4023f9
sub_40242b
sub_402453
sub_40247a
sub_4024a6
sub_4024ba
sub_4024ca
sub_4024ff
sub_402529
sub_40253c
sub_40256e
sub_4025e7
sub_40262d
sub_402646
sub_402676
sub_4026ba
sub_40273d
sub_402779
sub_402791
sub_4027b4
sub_402816
sub_402894
sub_4028b9
sub_402a1a
sub_402a2a
sub_402a39
sub_402aa8
sub_402b1d
sub_402b2d
sub_402b37
sub_402bae
sub_402bf9
sub_402c25
sub_402c38
sub_402f1c
sub_402f33
sub_402fce
sub_403314
sub_40335d
sub_403643
sub_40368c
sub_403793
sub_403868
sub_4039fc
sub_403a0a
sub_403afc
sub_403b0a
sub_403b31
sub_403cb2
sub_403d46
sub_403d67
sub_403d8e
sub_403f6e
sub_403f7a
sub_403f8d
sub_403fae
sub_40416d
sub_4041d5
sub_4041e2
sub_404206
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__assert_fail
strcmp
setlocale
strncmp
getenv
bindtextdomain
textdomain
putchar_unlocked
__ctype_b_loc
__errno_location
error
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
iswprint
mbsinit
free
memset
__fprintf_chk
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
