Text sections:
areadlink
base_len
careadlinkat
careadlinkatcwd
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
dir_len
dir_name
emit_bug_reporting_address
file_name_concat
get_quoting_style
gettext_quote
hard_locale
last_component
locale_charset
main
mdir_name
mfile_name_concat
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401669
sub_40166a
sub_4016a2
sub_4016ea
sub_40170c
sub_40171d
sub_401736
sub_40174f
sub_401841
sub_4018bc
sub_4018da
sub_401941
sub_401983
sub_4019a2
sub_4019c9
sub_4019d5
sub_401a3d
sub_401a4f
sub_401ab4
sub_401b03
sub_401b44
sub_401b82
sub_401bff
sub_401cd8
sub_401d86
sub_401e6e
sub_401f48
sub_402132
sub_40214e
sub_40230d
sub_402328
sub_402335
sub_4024c8
sub_4024da
sub_402555
sub_4025ce
sub_40282b
sub_402864
sub_4028aa
sub_4028c9
sub_4028e7
sub_402986
sub_402a25
sub_402a41
sub_402a88
sub_402a96
sub_402ac5
sub_402bb1
sub_402c43
sub_402c8b
sub_402cdb
sub_403038
sub_403061
sub_4030ac
sub_403147
sub_4031a6
sub_4031d0
sub_4032b4
sub_4032f5
sub_403336
sub_40335a
sub_4033d4
sub_403406
sub_403474
sub_403511
sub_403575
sub_403585
sub_4035f8
sub_403c31
sub_403c4f
sub_403c86
sub_403f7d
sub_403f93
sub_404035
sub_404384
sub_4043cd
sub_4046b2
sub_4046fc
sub_404803
sub_4048d8
sub_404a97
sub_404b8c
sub_404bb5
sub_404c2c
sub_404c73
sub_404c92
sub_404cb8
sub_404cd9
sub_404d47
sub_4050ad
sub_405403
sub_405484
sub_4054f5
sub_405502
sub_405526
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xreadlink
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
__errno_location
getopt_long
__ctype_toupper_loc
__asprintf_chk
putenv
strchr
getenv
free
strtok
access
__xstat
execvp
error
_exit
malloc
memcpy
strlen
__mempcpy_chk
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
realloc
__strtoul_internal
__assert_fail
calloc
mbrtowc
readlink
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
