Text sections:
base_len
check_x_suffix
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
count_consecutive_X_s
c_strcasecmp
c_tolower
c_toupper
dup_safer
emit_ancillary_info
emit_bug_reporting_address
explicit_bzero
file_name_concat
fopen_safer
gen_tempname
gen_tempname_len
get_nonce
get_quoting_style
gettext_quote
hard_locale
isaac_refill
isaac_seed
just
last_component
locale_charset
main
maybe_close_stdout
mfile_name_concat
mkdtemp_len
mkstemp_len
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
randint_all_free
randint_all_new
randint_free
randint_genmax
randint_get_source
randint_new
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
readisaac
readsource
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
shift_left
simple_new
sub_4018d9
sub_4018da
sub_401912
sub_40195a
sub_40197c
sub_40198d
sub_4019a6
sub_401a22
sub_401a4b
sub_401bb5
sub_401c66
sub_401ca2
sub_401cf3
sub_401d2a
sub_401d74
sub_401d8e
sub_401e2b
sub_401e42
sub_401fb4
sub_401fda
sub_402007
sub_40201e
sub_4020bc
sub_4020c0
sub_402101
sub_40212f
sub_40215b
sub_4021a4
sub_4021be
sub_4021fa
sub_402272
sub_40229b
sub_402335
sub_402377
sub_4023c8
sub_402408
sub_402457
sub_4025b4
sub_4025e8
sub_402824
sub_4028a2
sub_4028e9
sub_40299a
sub_402a96
sub_402ad2
sub_402b7f
sub_402bd1
sub_402bf1
sub_402e8f
sub_40315b
sub_40318e
sub_4031fa
sub_40325a
sub_403385
sub_4034f4
sub_403506
sub_4035ac
sub_4035ef
sub_4036f7
sub_40373d
sub_403821
sub_403887
sub_4038da
sub_4038fc
sub_403a3c
sub_403acd
sub_403b2a
sub_403b57
sub_403bd2
sub_403d58
sub_403d85
sub_403dd3
sub_404311
sub_404385
sub_404439
sub_404631
sub_4046da
sub_4046f3
sub_404783
sub_4050c5
sub_4061ce
sub_406335
sub_4063ba
sub_40646e
sub_4064b7
sub_406576
sub_406677
sub_4066ff
sub_4067fd
sub_40683e
sub_406933
sub_40698e
sub_4069f3
sub_406a16
sub_406a42
sub_406b48
sub_406ba8
sub_406bd6
sub_40733a
sub_407601
sub_40763f
sub_407696
sub_4076ab
sub_4077f9
sub_407837
sub_407877
sub_4078b6
sub_4078dd
sub_407b31
sub_407e3a
sub_407eb3
sub_407ee8
sub_407f1d
sub_407f5f
sub_407fec
sub_4080f6
sub_40812a
sub_40814f
sub_4081b5
sub_408420
sub_40882e
sub_4088f2
sub_40890e
sub_408975
sub_4089b1
sub_4089d5
sub_408a1e
sub_408a5d
sub_408b21
sub_408b78
sub_408bb3
sub_408c25
sub_408c32
sub_408c56
sub_408c69
try_dir
try_file
try_nocreate
try_tempname
try_tempname_len
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
memcpy
gettext
fprintf
printf
fputs_unlocked
exit
strcmp
calloc
strspn
mbrtowc
free
fcntl
open
__errno_location
memset
abort
setvbuf
getuid
getppid
gettimeofday
getgid
getpid
read
close
error
nl_langinfo
fdopen
fopen
fileno
__freading
lseek
fclose
_exit
__fpending
ferror_unlocked
strlen
__ctype_get_mb_cur_max
iswprint
mbsinit
__ctype_b_loc
memcmp
realloc
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
__assert_fail
strrchr
strchr
getenv
fflush
mkdir
puts
remove
malloc
mempcpy
fputs
fseeko
fread_unlocked
__cxa_atexit
__lxstat

Function signatures:

Function types:

Data:

Preamble:
