Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
get_root_dev_ino
gettext_quote
hard_locale
locale_charset
main
nth_parent
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4015e9
sub_4015ea
sub_401622
sub_40166a
sub_40168c
sub_40169d
sub_4016b6
sub_4016f3
sub_401768
sub_401789
sub_401ae8
sub_401b5c
sub_401b71
sub_401b86
sub_401bc9
sub_401c3e
sub_401c5a
sub_401cc8
sub_401d65
sub_401d95
sub_401e01
sub_401f05
sub_4021fd
sub_402213
sub_4022b5
sub_402604
sub_40264d
sub_402932
sub_40297c
sub_402a83
sub_402b58
sub_402d17
sub_402d8e
sub_402e84
sub_402f16
sub_403009
sub_403031
sub_403053
sub_403078
sub_40308a
sub_403113
sub_403128
sub_40313e
sub_4032fd
sub_403310
sub_403376
sub_4033ec
sub_403495
sub_4034d8
sub_403516
sub_403551
sub_40356f
sub_4035b2
sub_403634
sub_403645
sub_4036c6
sub_4036f6
sub_403780
sub_4039f2
sub_403a38
sub_403c74
sub_403d16
sub_403e54
sub_403ec8
sub_403ef7
sub_403f85
sub_4040cf
sub_40431a
sub_404337
sub_404373
sub_4043f5
sub_404418
sub_404474
sub_40456c
sub_4045d4
sub_404677
sub_4046c2
sub_404725
sub_404735
sub_4047dc
sub_404854
sub_40486a
sub_404931
sub_4049d1
sub_4049ef
sub_404a5f
sub_404a7a
sub_404ae5
sub_404af2
sub_404b16
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetcwd
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
getenv
bindtextdomain
textdomain
getopt_long
error
strstr
__xstat
puts
memcpy
opendir
dirfd
fchdir
chdir
__fxstat
__errno_location
readdir
__lxstat
strlen
free
closedir
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
getcwd
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
