Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401469
sub_40146a
sub_4014a2
sub_4014ea
sub_40150c
sub_40151d
sub_401536
sub_40154a
sub_401569
sub_40157a
sub_401586
sub_4015be
sub_40177d
sub_401843
sub_4018c2
sub_4018f3
sub_40191a
sub_40192a
sub_401969
sub_401981
sub_4019a4
sub_401c8c
sub_401ca3
sub_401d3e
sub_402084
sub_4020cd
sub_4023b3
sub_4023fc
sub_402503
sub_4025d8
sub_40276c
sub_4027f3
sub_40286d
sub_40287d
sub_402887
sub_4028e6
sub_4028fd
sub_40290a
sub_402936
sub_4029d6
sub_402a01
sub_402a5c
sub_402aa6
sub_402ab9
sub_402ada
sub_402aed
sub_402b08
sub_402b41
sub_402b88
sub_402cb9
sub_402d88
sub_402db6
sub_402dca
sub_402e61
sub_402ea3
sub_402eba
sub_402ee5
sub_40300a
sub_4031c4
sub_4031d9
sub_403248
sub_403263
sub_403288
sub_4032c4
sub_403388
sub_403409
sub_403473
sub_4034df
sub_403529
sub_403575
sub_4035af
sub_403627
sub_403635
sub_4039e8
sub_403a03
sub_403a46
sub_403a8f
sub_403b04
sub_403b15
sub_403b4a
sub_403b70
sub_403c27
sub_403c35
sub_403c8b
sub_403cbf
sub_403ce9
sub_403d1d
sub_403d33
sub_403d93
sub_403ee6
sub_404087
sub_40414d
sub_40415b
sub_404196
sub_4041aa
sub_40429c
sub_4042e8
sub_404357
sub_404379
sub_40438f
sub_40439a
sub_4043aa
sub_4043ce
sub_4043dd
sub_4043fe
sub_40440a
sub_40441d
sub_40442f
sub_4044a2
sub_4044c6
sync_arg
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
sync
error
open
__errno_location
fdatasync
fsync
syncfs
close
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
fcntl
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
