Text sections:
base_len
base_name
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
get_quoting_style
gettext_quote
hard_locale
last_component
locale_charset
main
perform_basename
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
remove_suffix
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strip_trailing_slashes
sub_401329
sub_40132a
sub_401362
sub_4013aa
sub_4013cc
sub_4013dd
sub_4013f6
sub_401465
sub_4016be
sub_4017aa
sub_401827
sub_401907
sub_40193a
sub_401988
sub_4019ec
sub_4019fb
sub_401a3e
sub_401abb
sub_401afa
sub_401b3d
sub_401e71
sub_402137
sub_402172
sub_4021fa
sub_402210
sub_4022eb
sub_4022fe
sub_40233e
sub_4023b2
sub_4024a7
sub_4024ca
sub_4024fa
sub_4025c2
sub_402671
sub_4026a7
sub_4026e3
sub_402721
sub_4027e5
sub_402898
sub_402913
sub_402ab9
sub_402bcc
sub_402c93
sub_402cbf
sub_402d17
sub_402d92
sub_402de4
sub_402ec7
sub_4032b4
sub_4032d6
sub_4032ee
sub_40335f
sub_403388
sub_4033c4
sub_403488
sub_40349e
sub_403517
sub_403607
sub_4036de
sub_403766
sub_4037f4
sub_4042d8
sub_404c4d
sub_404cdd
sub_404de5
sub_404e2e
sub_404e62
sub_404e9a
sub_404f18
sub_404f57
sub_404f7c
sub_4050d3
sub_405203
sub_40526f
sub_405308
sub_405338
sub_405372
sub_40539e
sub_40540e
sub_40544b
sub_40546b
sub_405544
sub_40557d
sub_4055bf
sub_4055e6
sub_405791
sub_4057de
sub_405865
sub_40587e
sub_405926
sub_4059a5
sub_4059cf
sub_405a26
sub_405a57
sub_405ac5
sub_405ad2
sub_405af6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
abort
memset
free
__errno_location
nl_langinfo
fputs_unlocked
putchar_unlocked
gettext
fprintf
realloc
__fpending
ferror_unlocked
strndup
mbrtowc
strncmp
strrchr
fputs
strcmp
printf
setlocale
exit
memcpy
error
bindtextdomain
textdomain
getopt_long
strlen
__freading
fflush
_exit
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
malloc
calloc
fileno
fclose
lseek
fseeko
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
