Text sections:
append_quoted
base_len
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_strcasecmp
dc_parse_stream
emit_bug_reporting_address
freopen_safer
get_quoting_style
gettext_quote
hard_locale
last_component
locale_charset
main
_obstack_allocated_p
_obstack_begin
_obstack_begin_1
_obstack_free
_obstack_memory_used
_obstack_newchunk
print_and_abort
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_freopen
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4016e9
sub_4016ea
sub_401722
sub_40176a
sub_40178c
sub_40179d
sub_4017b6
sub_401861
sub_401896
sub_401a15
sub_401a65
sub_401ab1
sub_401af6
sub_401b1a
sub_401b33
sub_401bd4
sub_401c71
sub_401c99
sub_401cf4
sub_401d3c
sub_401d43
sub_401d66
sub_401df3
sub_401ef6
sub_401f34
sub_401f93
sub_401fcc
sub_401ff5
sub_40200a
sub_4020a4
sub_4020c8
sub_4020d5
sub_402164
sub_402175
sub_40227c
sub_4022ab
sub_4022eb
sub_402323
sub_402335
sub_4023aa
sub_402405
sub_402485
sub_402495
sub_4025a1
sub_4026aa
sub_4027eb
sub_402864
sub_40294b
sub_402ced
sub_402cff
sub_402d18
sub_4031a5
sub_40327a
sub_403291
sub_4032d1
sub_4032f7
sub_403361
sub_4033a8
sub_4033ee
sub_403487
sub_40349e
sub_40365d
sub_4036c4
sub_40371b
sub_403788
sub_403795
sub_40380f
sub_4038d5
sub_4038e8
sub_4038f8
sub_403c98
sub_403ca5
sub_403def
sub_403ebf
sub_404081
sub_4040a3
sub_404136
sub_404414
sub_40444d
sub_404847
sub_404885
sub_404996
sub_4049be
sub_404a21
sub_404bde
sub_404c15
sub_404c28
sub_404c9f
sub_404cab
sub_404cf3
sub_404e2a
sub_405042
sub_4050b8
sub_4050f8
sub_4052d6
sub_405492
sub_4054d3
sub_4054f9
sub_4055c5
sub_4055d2
sub_4055f6
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
puts
strlen
getenv
strcmp
malloc
free
__errno_location
error
fwrite_unlocked
__getdelim
__ctype_b_loc
fnmatch
_exit
fileno
dup2
open
close
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
memset
realloc
memcpy
__strndup
calloc
__freading
lseek
fclose
fflush
freopen
fseeko
mbrtowc
__fpending
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
