Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
fgetfilecon
freecon
fsetfilecon
getcon
getfilecon
getfscreatecon
get_quoting_style
gettext_quote
hard_locale
lgetfilecon
locale_charset
lsetfilecon
main
matchpathcon
matchpathcon_init_prefix
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
security_check_context
security_check_context_raw
security_compute_create
set_char_quoting
set_custom_quoting
setexeccon
setfilecon
setfscreatecon
set_program_name
set_quoting_flags
set_quoting_style
string_to_security_class
sub_4012d9
sub_4012da
sub_401312
sub_40135a
sub_40137c
sub_40138d
sub_4013a6
sub_4013d8
sub_40140f
sub_40141e
sub_4014aa
sub_4014d8
sub_401518
sub_401544
sub_401577
sub_4015b6
sub_40161a
sub_40162a
sub_40169e
sub_4016ff
sub_40172b
sub_401754
sub_401797
sub_401813
sub_401864
sub_4018c8
sub_4018da
sub_40190a
sub_401947
sub_401983
sub_4019b6
sub_401adb
sub_401b0c
sub_401bb9
sub_401c4f
sub_401c5e
sub_401cab
sub_401d5e
sub_401ef9
sub_401f86
sub_40201d
sub_40206a
sub_4020e4
sub_40212a
sub_4021ee
sub_40223c
sub_402322
sub_402405
sub_4024aa
sub_4024d5
sub_40251d
sub_402532
sub_402603
sub_40261e
sub_402697
sub_402774
sub_4028e4
sub_402938
sub_402997
sub_402c13
sub_402c48
sub_402cb5
sub_402ce7
sub_402d31
sub_402d5a
sub_402d6e
sub_402dc7
sub_402de6
sub_402e15
sub_402ede
sub_402f44
sub_402ffd
sub_403115
sub_403668
sub_4036f2
sub_403728
sub_40375f
sub_4037d5
sub_403c9f
sub_403df4
sub_403e37
sub_403e67
sub_403eaf
sub_403f80
sub_403ffe
sub_4040f5
sub_404124
sub_404154
sub_40417e
sub_4041fb
sub_404f2b
sub_405687
sub_4056bd
sub_4056f1
sub_405728
sub_405758
sub_405784
sub_40579e
sub_4058a2
sub_4058e3
sub_405962
sub_40597e
sub_405a61
sub_405ad5
sub_405ae2
sub_405b06
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
__errno_location
nl_langinfo
strlen
gettext
fprintf
printf
fputs_unlocked
exit
malloc
realloc
free
memcpy
setlocale
strcmp
__fpending
ferror_unlocked
strncmp
__freading
fileno
lseek
fclose
calloc
fseeko
strrchr
fputs
abort
mbrtowc
memset
fputc_unlocked
error
bindtextdomain
textdomain
getopt_long
_exit
__ctype_get_mb_cur_max
fflush
iswprint
mbsinit
memcmp
__ctype_b_loc
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
