Text sections:
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
bad_cast
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
dup_safer
emit_ancillary_info
emit_bug_reporting_address
fadvise
fdadvise
fopen_safer
get_quoting_style
gettext_quote
__gl_setmode
__gl_setmode_check
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_binary_mode
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401639
sub_40163a
sub_401672
sub_4016ba
sub_4016dc
sub_4016ed
sub_401706
sub_401714
sub_401735
sub_4017be
sub_40197d
sub_401981
sub_401993
sub_4019d9
sub_401a0f
sub_401ac8
sub_401b49
sub_401bb3
sub_401c1f
sub_401c69
sub_401cb5
sub_401cef
sub_401d11
sub_401d33
sub_401d43
sub_401d67
sub_401da6
sub_401ead
sub_401ee8
sub_401fd5
sub_402043
sub_40205f
sub_40206e
sub_402241
sub_402276
sub_40228a
sub_402293
sub_4022e7
sub_402317
sub_402392
sub_402423
sub_402456
sub_40276c
sub_402783
sub_40281e
sub_402b64
sub_402bad
sub_402e93
sub_402edc
sub_402fe3
sub_4030b8
sub_40324c
sub_403298
sub_4032da
sub_4032ea
sub_4032fd
sub_40331a
sub_403340
sub_4033d9
sub_403448
sub_4034a6
sub_4034ba
sub_4035ac
sub_403673
sub_40379a
sub_4037ad
sub_4037bd
sub_4037c9
sub_4037ed
sub_4037f5
sub_40381a
sub_403833
sub_4038ad
sub_4038bd
sub_4038c7
sub_40399a
sub_4039aa
sub_4039c9
sub_4039da
sub_403a03
sub_403a2a
sub_403a63
sub_403a7a
sub_403aa6
sub_403ae9
sub_403b01
sub_403b24
sub_403ba4
sub_403bbe
sub_403c33
sub_403ca8
sub_403ce1
sub_403cfa
sub_403df6
sub_403e03
sub_403e26
sub_403e34
sub_403e4a
sub_403e99
sub_403ecd
sub_403ee3
sub_403ef5
sub_403f58
sub_403fce
sub_403fdf
sub_404071
sub_40419c
sub_404261
sub_4042c1
sub_404449
sub_404460
sub_4047f8
sub_40480f
sub_4049c4
sub_404a8d
sub_404a95
sub_404abe
sub_404ac8
sub_404ada
sub_404aea
sub_404b09
sub_404b3b
sub_404ba6
sub_404bd6
sub_404c73
sub_404cde
sub_404d05
sub_404d75
sub_404d82
sub_404da6
tee_files
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xset_binary_mode
xset_binary_mode_error
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
signal
close
__errno_location
error
setvbuf
read
fwrite_unlocked
clearerr_unlocked
free
strlen
memcmp
putc_unlocked
_exit
posix_fadvise
fileno
fopen
fdopen
strrchr
fwrite
abort
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
__freading
lseek
fclose
fcntl
fflush
fseeko
mbrtowc
__fpending
ferror_unlocked
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
