Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
count_items
detect_loop
emit_bug_reporting_address
fadvise
fdadvise
freopen_safer
get_quoting_style
gettext_quote
hard_locale
init_tokenbuffer
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
readtoken
readtokens
recurse_tree
rpl_calloc
rpl_fclose
rpl_fflush
rpl_freopen
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
scan_zeros
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4014e9
sub_4014ea
sub_401522
sub_40156a
sub_40158c
sub_40159d
sub_4015b6
sub_401614
sub_4016e1
sub_40170a
sub_401731
sub_401745
sub_401793
sub_4017d8
sub_401a41
sub_401aa6
sub_401ab5
sub_401b15
sub_401b25
sub_401bdd
sub_401be5
sub_401c57
sub_401c65
sub_401d6a
sub_401d9b
sub_401e04
sub_401e28
sub_401e40
sub_401f23
sub_402282
sub_40246d
sub_402496
sub_4024b2
sub_402692
sub_4026b9
sub_4026c5
sub_40270a
sub_40271a
sub_40278e
sub_4027c5
sub_402867
sub_402878
sub_402891
sub_402914
sub_402956
sub_40296e
sub_402b2d
sub_402b50
sub_402c11
sub_402cb1
sub_402db6
sub_402dc5
sub_402e56
sub_402f44
sub_402f65
sub_403064
sub_4030e5
sub_40326b
sub_40327f
sub_40334a
sub_40343c
sub_40344c
sub_403535
sub_4035af
sub_40361c
sub_403638
sub_403673
sub_4039d8
sub_4039e5
sub_4039ff
sub_403a05
sub_403bb2
sub_403bd9
sub_403bf7
sub_403c13
sub_403c25
sub_403f12
sub_403f2f
sub_403f6c
sub_403fc5
sub_403fe0
sub_4040ee
sub_4040f8
sub_4043ed
sub_404403
sub_4044a5
sub_4047f4
sub_40483d
sub_404b22
sub_404b6c
sub_404c73
sub_404d48
sub_404f07
sub_404ff5
sub_4050ee
sub_4050f5
sub_405215
sub_405222
sub_405246
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
strcmp
puts
error
__assert_fail
__errno_location
_exit
posix_fadvise
fileno
dup2
open
close
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
__uflow
memcpy
malloc
realloc
calloc
__freading
lseek
fclose
fflush
freopen
fseeko
mbrtowc
__fpending
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
