Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
count_items
c_tolower
c_toupper
detect_loop
emit_ancillary_info
emit_bug_reporting_address
emit_stdin_note
fadvise
fdadvise
freopen_safer
get_nth_bit
get_quoting_style
gettext_quote
hard_locale
init_tokenbuffer
locale_charset
main
new_item
orig_freopen
parse_gnu_standard_options_only
parse_long_options
protect_fd
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
readtoken
readtokens
record_relation
recurse_tree
rpl_calloc
rpl_fclose
rpl_fflush
rpl_freopen
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
scan_zeros
search_item
set_char_quoting
set_custom_quoting
set_nth_bit
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401549
sub_40154a
sub_401582
sub_4015ca
sub_4015ec
sub_4015fd
sub_401616
sub_40162d
sub_40163a
sub_401653
sub_40166d
sub_40169b
sub_4016e8
sub_4016ff
sub_401704
sub_401727
sub_40173a
sub_401748
sub_401767
sub_40185b
sub_401873
sub_40188a
sub_40189d
sub_4018e4
sub_401943
sub_40196a
sub_4019ae
sub_4019ba
sub_4019ce
sub_401b8d
sub_401bd8
sub_401c42
sub_401c93
sub_401d6d
sub_401d99
sub_401dcf
sub_401df2
sub_401e2d
sub_401e43
sub_401e83
sub_401e99
sub_401f08
sub_402001
sub_40210c
sub_402257
sub_40226a
sub_40227a
sub_402299
sub_4022aa
sub_4023bd
sub_4023d1
sub_40240a
sub_40247d
sub_40248d
sub_402497
sub_4024b6
sub_4024e0
sub_40257f
sub_40269e
sub_4026aa
sub_4026ba
sub_4026d3
sub_4026ea
sub_4026fa
sub_402733
sub_402863
sub_4029b9
sub_402a43
sub_402a5f
sub_402ae8
sub_402b69
sub_402bd3
sub_402c3f
sub_402c89
sub_402cd5
sub_402d0f
sub_402d66
sub_402dcb
sub_402e47
sub_402e9b
sub_402ed7
sub_402ee5
sub_402f16
sub_402fba
sub_403093
sub_4033f8
sub_4036dc
sub_4036f3
sub_40378e
sub_403ad4
sub_403b1d
sub_403e03
sub_403e4c
sub_403f53
sub_404028
sub_4041bc
sub_4041d0
sub_404215
sub_404245
sub_40426a
sub_4042e4
sub_404326
sub_404349
sub_404371
sub_404398
sub_4043e9
sub_404481
sub_404495
sub_404512
sub_40452f
sub_404556
sub_40456a
sub_40465c
sub_404751
sub_404786
sub_404821
sub_404911
sub_404933
sub_404949
sub_40497e
sub_404985
sub_404a19
sub_404a31
sub_404a54
sub_404a85
sub_404b0a
sub_404b77
sub_404baf
sub_404bea
sub_404c24
sub_404dc8
sub_404df7
sub_404f1a
sub_404f85
sub_404f92
sub_404fb6
tsort
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
walk_tree
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
error
puts
__assert_fail
__errno_location
_exit
posix_fadvise
fileno
dup2
close
open
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
getc_unlocked
memcpy
malloc
realloc
calloc
__freading
lseek
fclose
fflush
freopen
fseeko
mbrtowc
__fpending
ferror_unlocked
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
