Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
mgetgroups
print_group
print_group_list
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4014c9
sub_4014ca
sub_401502
sub_40154a
sub_40156c
sub_40157d
sub_401596
sub_401606
sub_401615
sub_401645
sub_4016ca
sub_4016d8
sub_40181d
sub_4018a3
sub_40191e
sub_40192e
sub_401aed
sub_401afa
sub_401b83
sub_401ba0
sub_401f38
sub_401fac
sub_40209c
sub_4020b3
sub_4020d8
sub_4020e8
sub_402146
sub_402205
sub_4022d1
sub_402331
sub_402345
sub_40241f
sub_402455
sub_4024d7
sub_402548
sub_40283d
sub_402853
sub_4028f5
sub_402c44
sub_402c8d
sub_402f72
sub_402fbc
sub_4030c3
sub_403198
sub_403357
sub_403379
sub_4033ee
sub_403446
sub_4034a4
sub_4034c1
sub_403525
sub_403555
sub_403598
sub_40383f
sub_4038ca
sub_403a43
sub_403a69
sub_403aa5
sub_403abf
sub_403aeb
sub_403b3b
sub_403bac
sub_403c1f
sub_403cf4
sub_403d1a
sub_403de5
sub_403fd2
sub_404001
sub_40401c
sub_404095
sub_40417e
sub_4041ec
sub_404208
sub_404229
sub_4042c8
sub_4042d5
sub_404325
sub_404401
sub_40441a
sub_404478
sub_404666
sub_4046e4
sub_404723
sub_404881
sub_4048f5
sub_404902
sub_404926
umaxtostr
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetgroups
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__errno_location
getuid
getegid
getgid
__overflow
getpwnam
error
getpwuid
free
getgrgid
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
getgrouplist
getgroups
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
