Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_strtod
emit_bug_reporting_address
extract_trimmed_name
fprintftime
get_quoting_style
gettext_quote
hard_locale
locale_charset
localtime_rz
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
read_utmp
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
save_abbr
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
__strftime_internal
sub_401a59
sub_401a5a
sub_401a92
sub_401ada
sub_401afc
sub_401b0d
sub_401b26
sub_401b66
sub_401b75
sub_401d92
sub_401db1
sub_401e28
sub_401e3a
sub_401e45
sub_401ec8
sub_401fb5
sub_401fc5
sub_402128
sub_402148
sub_4021ba
sub_402257
sub_402724
sub_40277a
sub_402802
sub_402975
sub_402999
sub_402a25
sub_402a35
sub_402afb
sub_402bb1
sub_402bf1
sub_402c3d
sub_402cfa
sub_402d4b
sub_402dad
sub_402eac
sub_402eb5
sub_402f5e
sub_402fe3
sub_40305c
sub_403121
sub_403143
sub_403184
sub_4032b6
sub_4032f3
sub_4033c1
sub_4033ea
sub_4033ff
sub_40351d
sub_403525
sub_403598
sub_4037c4
sub_4037de
sub_40399d
sub_403bbe
sub_403cac
sub_403cd6
sub_403d1c
sub_403d58
sub_403dce
sub_403e67
sub_404156
sub_404193
sub_4041a8
sub_4041ba
sub_404216
sub_404225
sub_40427f
sub_4042f4
sub_40430f
sub_4043e3
sub_404412
sub_40443e
sub_4044be
sub_40478e
sub_404e95
sub_4055fc
sub_405ee9
sub_405f65
sub_406247
sub_406271
sub_4062a0
sub_406349
sub_406369
sub_4063a1
sub_40641f
sub_4064cf
sub_40659f
sub_406761
sub_406783
sub_406816
sub_406af4
sub_406b2d
sub_406f27
sub_406f65
sub_407076
sub_40709e
sub_407101
sub_4072c5
sub_4072d5
sub_4073d5
sub_4073e2
sub_407406
tzalloc
tzfree
uptime
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
error
fopen
fgets_unlocked
time
localtime
dcngettext
getloadavg
__overflow
__errno_location
newlocale
strtod_l
_exit
fputc
strlen
strftime
fwrite
__ctype_tolower_loc
__ctype_toupper_loc
getopt_long
strrchr
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
fileno
__freading
lseek
fclose
fflush
fseeko
mbrtowc
strncpy
utmpxname
setutxent
getutxent
kill
endutxent
getenv
strcmp
gmtime_r
setenv
unsetenv
tzset
localtime_r
timegm
mktime
__fpending
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
