Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
operand2sig
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sig2str
str2sig
sub_401579
sub_40157a
sub_4015b2
sub_4015fa
sub_40161c
sub_40162d
sub_401646
sub_4019a8
sub_4019c7
sub_4019e3
sub_4019f8
sub_401a68
sub_401aac
sub_401d8d
sub_4020ee
sub_4021b5
sub_402208
sub_402439
sub_40262c
sub_4027b2
sub_402931
sub_402945
sub_402995
sub_4029ae
sub_402b6d
sub_402b7f
sub_402bc2
sub_402bd5
sub_402cc3
sub_402cd5
sub_402dac
sub_402de6
sub_402e23
sub_402e35
sub_402ed5
sub_402f61
sub_402f80
sub_40302e
sub_403048
sub_40305a
sub_403092
sub_403154
sub_403342
sub_403375
sub_4033b3
sub_4033d9
sub_4033e5
sub_403420
sub_4034c9
sub_403525
sub_403564
sub_4035a5
sub_4036c1
sub_4036d5
sub_403748
sub_4037bf
sub_4038d6
sub_403954
sub_4039d4
sub_403a71
sub_403aab
sub_403ac1
sub_403ada
sub_403b4f
sub_403b55
sub_403bc1
sub_403ebd
sub_403ed3
sub_403f75
sub_4042c4
sub_40430d
sub_4045f2
sub_40463c
sub_404743
sub_404818
sub_4049d7
sub_404a41
sub_404a55
sub_404b18
sub_404b95
sub_404c05
sub_404c12
sub_404c36
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
strlen
puts
kill
__errno_location
__strtol_internal
error
strsignal
strtol
memchr
free
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
mbrtowc
strcmp
__libc_current_sigrtmin
__libc_current_sigrtmax
strcpy
__sprintf_chk
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
