Text sections:
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
bkm_scale
bkm_scale_by_power
check_file
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
collate_error
c_strcasecmp
c_tolower
c_toupper
different
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
fadvise
fdadvise
field_sep
find_field
freebuffer
freopen_safer
get_quoting_style
gettext_quote
hard_locale
initbuffer
locale_charset
main
memcasecmp
memcoll
memcoll0
orig_freopen
posix2_version
protect_fd
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
readlinebuffer
readlinebuffer_delim
rpl_fclose
rpl_fflush
rpl_freopen
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
size_opt
strcoll_loop
strict_posix2
sub_4017c9
sub_4017ca
sub_401802
sub_40184a
sub_40186c
sub_40187d
sub_401896
sub_401915
sub_4019cd
sub_401a26
sub_401a6e
sub_401b2d
sub_401c0a
sub_401c58
sub_401c88
sub_401c89
sub_401e18
sub_401ea1
sub_401fe5
sub_402076
sub_40214d
sub_402193
sub_4021a9
sub_402237
sub_402600
sub_403642
sub_403829
sub_403843
sub_4038bf
sub_4038f3
sub_403943
sub_403a3f
sub_403b94
sub_403bc7
sub_403bde
sub_403cd8
sub_403de1
sub_403e1e
sub_403f05
sub_403fa7
sub_403fe2
sub_40404c
sub_4040ce
sub_4041da
sub_4044ad
sub_4047d7
sub_4047ff
sub_4048bb
sub_404a02
sub_404b74
sub_404ba8
sub_404c30
sub_404e17
sub_404e6e
sub_404f3c
sub_404fa2
sub_404fe7
sub_4050cd
sub_405158
sub_405394
sub_405a55
sub_405c0f
sub_405c42
sub_405d11
sub_405d44
sub_405dd6
sub_405e5b
sub_405e8c
sub_405eab
sub_405ece
sub_405f67
sub_406003
sub_4060b1
sub_4060ef
sub_406106
sub_406222
sub_4062ba
sub_40633d
sub_4064e4
sub_40651e
sub_40656e
sub_40659a
sub_4065bf
sub_4065ed
sub_40663b
sub_4066e9
sub_4066fe
sub_4067aa
sub_406874
sub_406915
sub_40692a
sub_406981
sub_406a16
sub_406a48
sub_406ce3
sub_407367
sub_4076a3
sub_407712
sub_407775
sub_4077bb
sub_4077e8
sub_407898
sub_4078db
sub_407908
sub_407ae8
sub_407b6a
sub_407c5d
sub_407d1f
sub_407d32
sub_407e0a
sub_407e77
sub_407e8b
sub_407eff
sub_407f25
sub_407f3e
sub_4080a9
sub_408122
sub_408157
sub_4081fc
sub_408251
sub_4082c5
sub_4082d2
sub_4082f6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
writeline
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmemcoll
xmemcoll0
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoul
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
memcpy
calloc
fileno
dup2
__errno_location
open
close
_exit
error
gettext
abort
printf
fprintf
fputs_unlocked
exit
getenv
strtol
strlen
iswprint
mbsinit
memcmp
__ctype_b_loc
__ctype_get_mb_cur_max
memset
strcmp
setlocale
strncmp
nl_langinfo
strrchr
fputs
getc_unlocked
ferror_unlocked
feof_unlocked
putc_unlocked
free
realloc
lseek
fseeko
__freading
fclose
bindtextdomain
textdomain
getopt_long
fwrite_unlocked
freopen
fflush
mbrtowc
__fpending
malloc
strtoul
strchr
__assert_fail
putchar_unlocked
posix_fadvise
strcoll
toupper
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
