Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
collapse_escapes
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
fadvise
fdadvise
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
paste_parallel
paste_serial
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_4014d9
sub_4014da
sub_401512
sub_40155a
sub_40157c
sub_40158d
sub_4015a6
sub_4015e1
sub_4015f8
sub_40164b
sub_4019a8
sub_4019e7
sub_401a13
sub_401a3a
sub_401aad
sub_401abd
sub_401ac7
sub_401add
sub_401b4c
sub_401ba6
sub_401c11
sub_401c34
sub_401c5e
sub_401cbf
sub_401d1e
sub_401d92
sub_40207c
sub_402093
sub_40212e
sub_402474
sub_4024bd
sub_4027a3
sub_4027ec
sub_4028f3
sub_4029c8
sub_402b5c
sub_402bf1
sub_402c03
sub_402c46
sub_402d0d
sub_402d15
sub_402d31
sub_402d46
sub_402d78
sub_402d8a
sub_402db2
sub_402dea
sub_402df5
sub_402ec4
sub_402ee6
sub_402efe
sub_4030bd
sub_4032cf
sub_4032e7
sub_4032f3
sub_40331a
sub_40334d
sub_403363
sub_403469
sub_403481
sub_4034a4
sub_4034d6
sub_403546
sub_403675
sub_4036a1
sub_403706
sub_403744
sub_40378f
sub_40379f
sub_4037c7
sub_4037f9
sub_40382f
sub_4038ad
sub_4038b9
sub_403928
sub_403946
sub_40395e
sub_4039f6
sub_403a0a
sub_403a36
sub_403a75
sub_403a9a
sub_403ae9
sub_403b05
sub_403b14
sub_403bd3
sub_403c68
sub_403ce9
sub_403d53
sub_403dbf
sub_403e09
sub_403e55
sub_403e8f
sub_403e9a
sub_403eaa
sub_403f9c
sub_403ff2
sub_40400a
sub_404029
sub_40403a
sub_404053
sub_40406a
sub_40407c
sub_40409d
sub_4040c5
sub_404284
sub_40446c
sub_40454a
sub_40455d
sub_4045d6
sub_404663
sub_40478a
sub_40479a
sub_4047b9
sub_4047ca
sub_404849
sub_404853
sub_404911
sub_404985
sub_404992
sub_4049b6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
write_error
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xputchar
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
free
error
__errno_location
fopen
getc_unlocked
ferror_unlocked
clearerr_unlocked
fileno
fwrite_unlocked
putchar_unlocked
_exit
posix_fadvise
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
__freading
lseek
fclose
fflush
fseeko
mbrtowc
__fpending
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
