Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
cl_strtod
c_strtod
dtotimespec
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nanosleep
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401389
sub_40138a
sub_4013c2
sub_40140a
sub_40142c
sub_40143d
sub_401456
sub_4014d8
sub_40154e
sub_40155a
sub_4015a3
sub_4016ac
sub_4016c1
sub_401708
sub_40186a
sub_401935
sub_401a35
sub_401a96
sub_401aaf
sub_401b18
sub_401b25
sub_401bf6
sub_401d11
sub_401d2c
sub_401da5
sub_401e20
sub_4021b8
sub_4021cf
sub_40223e
sub_402273
sub_4022c2
sub_4022d5
sub_402315
sub_4023a3
sub_4023b8
sub_4023f4
sub_402459
sub_402495
sub_4024d3
sub_40254a
sub_402555
sub_4025d7
sub_4026d6
sub_4027a5
sub_4027ec
sub_402811
sub_402838
sub_4028ac
sub_4028b6
sub_4029e6
sub_4029fa
sub_402a54
sub_402d4d
sub_402d63
sub_402e05
sub_403154
sub_40319d
sub_403482
sub_4034cc
sub_4035d3
sub_4036a8
sub_403867
sub_4038dc
sub_403b23
sub_403b96
sub_403bb8
sub_403bc7
sub_403c90
sub_403d2e
sub_403eed
sub_403f09
sub_403fa5
sub_404023
sub_4040a4
sub_404292
sub_404315
sub_40440c
sub_404465
sub_4044a1
sub_4044b8
sub_40452f
sub_40459e
sub_404661
sub_4046d5
sub_4046e2
sub_404706
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnanosleep
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtod
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
__errno_location
error
strtod
_exit
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
nanosleep
newlocale
strtod_l
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
