Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
dup_safer
emit_bug_reporting_address
explicit_bzero
fadvise
fdadvise
fopen_safer
fread_file
freebuffer
freopen_safer
get_quoting_style
gettext_quote
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
initbuffer
isaac_refill
isaac_seed
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
randint_all_free
randint_all_new
randint_free
randint_genmax
randint_get_source
randint_new
randperm_bound
randperm_new
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
raw_comparator
raw_hasher
read_binary_file
read_file
readlinebuffer
readlinebuffer_delim
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_freopen
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sparse_cmp_
sparse_hash_
sub_401ac9
sub_401aca
sub_401b02
sub_401b4a
sub_401b6c
sub_401b7d
sub_401b96
sub_401bda
sub_401c4e
sub_401cb6
sub_401cc9
sub_401ce9
sub_401d2f
sub_401e2d
sub_401e98
sub_402133
sub_402172
sub_4021a5
sub_4021b7
sub_4021f1
sub_402342
sub_40235a
sub_40237a
sub_402399
sub_4023a6
sub_4023c0
sub_402446
sub_402473
sub_40248c
sub_402587
sub_402605
sub_4026ab
sub_402908
sub_4029d1
sub_4029e5
sub_402abe
sub_402b79
sub_402bec
sub_402c64
sub_402c84
sub_402cbb
sub_402cc5
sub_402d3a
sub_402dac
sub_402dd3
sub_402de5
sub_402e91
sub_402eb0
sub_402f09
sub_402f58
sub_402ff4
sub_40300f
sub_403030
sub_403155
sub_403165
sub_4031d8
sub_403811
sub_403838
sub_403845
sub_4038b8
sub_4038c5
sub_403903
sub_403919
sub_403925
sub_40396e
sub_403b2d
sub_403b38
sub_403bb8
sub_403be6
sub_403cbf
sub_404188
sub_404194
sub_4041af
sub_4041ec
sub_404245
sub_4042c4
sub_4048ed
sub_40490f
sub_404998
sub_4049a2
sub_4049ce
sub_404a16
sub_404a8f
sub_404aa7
sub_404ab5
sub_404ad5
sub_404b55
sub_404c0f
sub_404cdf
sub_404ea1
sub_404ec3
sub_404f56
sub_405234
sub_40526d
sub_405667
sub_4056a5
sub_4057b6
sub_4057de
sub_405841
sub_4059a3
sub_405a3b
sub_405b5e
sub_405bca
sub_405c3a
sub_405c48
sub_405c55
sub_405ce8
sub_405e57
sub_405e8f
sub_406171
sub_4062ce
sub_406398
sub_4063b7
sub_4063e5
sub_4063f5
sub_406612
sub_406978
sub_406a0a
sub_406a54
sub_406aba
sub_406b28
sub_406b99
sub_406bd3
sub_406bf1
sub_406e91
sub_406eba
sub_406ec5
sub_406f1a
sub_406f84
sub_407014
sub_40718f
sub_4071c3
sub_4071dd
sub_4072a1
sub_407364
sub_4073de
sub_407561
sub_407595
sub_407623
sub_40765c
sub_40774c
sub_407755
sub_4077b1
sub_407847
sub_407ac3
sub_407d86
sub_407df1
sub_408131
sub_408176
sub_4083c4
sub_408d9a
sub_408e05
sub_408e12
sub_408e36
transfer_entries
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtoul
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
strchr
strcmp
strlen
stpcpy
memset
fwrite_unlocked
__fxstat
lseek
memchr
__errno_location
error
_exit
posix_fadvise
fileno
dup2
open
close
__uflow
free
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
setvbuf
read
gettimeofday
memcpy
getpid
getppid
getuid
getgid
fread_unlocked
ftello
malloc
fread
realloc
ferror
fopen
strtoul
__assert_fail
__strtoul_internal
calloc
__freading
fclose
fflush
freopen
fseeko
mbrtowc
__fpending
fdopen
fcntl
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
