Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4012d9
sub_4012da
sub_401312
sub_40135a
sub_40137c
sub_40138d
sub_4013a6
sub_4013dc
sub_40163a
sub_401677
sub_4016b2
sub_4016ed
sub_401728
sub_4017dd
sub_401808
sub_4018f7
sub_401932
sub_4019b2
sub_401a33
sub_401ba4
sub_401c6b
sub_402198
sub_4021b3
sub_40220a
sub_40221e
sub_402306
sub_40232f
sub_402361
sub_4023f6
sub_40248e
sub_40249e
sub_402573
sub_402617
sub_402652
sub_40267f
sub_4026ff
sub_40277b
sub_4027ca
sub_402843
sub_40288e
sub_402926
sub_40296f
sub_40297e
sub_402a2e
sub_402a7b
sub_402abf
sub_402b4d
sub_402c45
sub_402d57
sub_402d93
sub_402ddd
sub_402e16
sub_402e2b
sub_402e77
sub_402ec6
sub_403039
sub_4042ae
sub_404307
sub_4043b3
sub_4043ef
sub_4043fe
sub_4044aa
sub_40462f
sub_40465a
sub_404839
sub_4048ba
sub_4048db
sub_4048f0
sub_4049b5
sub_404a5b
sub_404a5c
sub_404ae2
sub_404b17
sub_404d3d
sub_404e41
sub_404e7f
sub_404e8e
sub_404f0a
sub_404fc1
sub_405027
sub_4050cc
sub_40512a
sub_4053ce
sub_40546b
sub_405593
sub_40560e
sub_4056ae
sub_405765
sub_4057b4
sub_40580e
sub_4058a5
sub_4058b2
sub_4058d6
usage
version_etc
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
getopt_long
exit
memcpy
setlocale
strcmp
gettext
fprintf
fputs_unlocked
nl_langinfo
printf
memset
free
malloc
strncmp
bindtextdomain
textdomain
calloc
error
gethostid
abort
__freading
fileno
lseek
__errno_location
_exit
fclose
strrchr
fputs
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
realloc
mbrtowc
__fpending
ferror_unlocked
fflush
fseeko
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
