Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
component_len
component_start
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
no_leading_hyphen
portable_chars_only
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrlen
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401379
sub_40137a
sub_4013b2
sub_4013fa
sub_40141c
sub_40142d
sub_401446
sub_401456
sub_4014f8
sub_401548
sub_401582
sub_4015b5
sub_4015fe
sub_401665
sub_4016a2
sub_40193e
sub_401984
sub_401a33
sub_401ab2
sub_401aef
sub_401ba1
sub_401ca4
sub_401ce7
sub_401d2f
sub_401d4b
sub_401d6f
sub_401d97
sub_401dd0
sub_401f1d
sub_401f8a
sub_4020d5
sub_402113
sub_402148
sub_40215a
sub_402216
sub_40228b
sub_4022e1
sub_402338
sub_402529
sub_402587
sub_402655
sub_40269b
sub_402741
sub_40279b
sub_4027ab
sub_40280d
sub_40281b
sub_402878
sub_40289f
sub_4029c3
sub_402a13
sub_402a8a
sub_402b32
sub_402b6a
sub_402b76
sub_402bd7
sub_40398a
sub_403f9a
sub_403fe7
sub_404099
sub_4040ae
sub_4040fe
sub_4042a9
sub_4042df
sub_4042f6
sub_404300
sub_404341
sub_404416
sub_40446a
sub_4044c6
sub_40450d
sub_404a3b
sub_404b76
sub_404bb6
sub_404bd2
sub_404caf
sub_404d87
sub_404dba
sub_404e3f
sub_404ea5
sub_404ee2
sub_404fb2
sub_404ff3
sub_40502c
sub_405204
sub_4052c7
sub_405318
sub_4054fe
sub_40564d
sub_405705
sub_40578e
sub_4057de
sub_405e30
sub_405eee
sub_405f85
sub_405f92
sub_405fb6
sub_405fc9
usage
validate_file_name
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
gettext
fprintf
printf
fputs_unlocked
error
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
__errno_location
memcpy
strlen
_exit
pathconf
strchr
strspn
__freading
fileno
lseek
fclose
malloc
free
memset
fputs
abort
strrchr
__ctype_get_mb_cur_max
mbrtowc
nl_langinfo
memcmp
__ctype_b_loc
iswprint
mbsinit
realloc
calloc
__fpending
ferror_unlocked
fflush
fseeko
__cxa_atexit
__lxstat

Function signatures:

Function types:

Data:

Preamble:
