Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
mode_adjust
mode_compile
mode_create_from_ref
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401389
sub_40138a
sub_4013c2
sub_40140a
sub_40142c
sub_40143d
sub_401456
sub_401491
sub_4014af
sub_4014b8
sub_4014d7
sub_401516
sub_401539
sub_401898
sub_4018d6
sub_401978
sub_401989
sub_4019ea
sub_401a1f
sub_401a25
sub_401aca
sub_401b05
sub_401c05
sub_401c36
sub_401c75
sub_401ca0
sub_401da5
sub_401ee1
sub_401f8f
sub_401faf
sub_401fc2
sub_401ffc
sub_402004
sub_40203a
sub_40204b
sub_40205b
sub_402104
sub_40220c
sub_402266
sub_402278
sub_402291
sub_4023c8
sub_402403
sub_4024a1
sub_4024d5
sub_40254f
sub_402732
sub_402753
sub_402765
sub_4027ec
sub_4027f5
sub_402898
sub_402ad4
sub_402ba5
sub_402bb5
sub_402bf1
sub_402c42
sub_402cd3
sub_402cef
sub_402cf5
sub_402d8b
sub_402e7c
sub_402e90
sub_402f3a
sub_40322d
sub_403243
sub_4032e5
sub_403634
sub_40367d
sub_403962
sub_4039ac
sub_403ab3
sub_403b88
sub_403d47
sub_403d69
sub_403da4
sub_403e74
sub_403ef3
sub_403f87
sub_403f9a
sub_403ff5
sub_404051
sub_404093
sub_404156
sub_4042d8
sub_4042ec
sub_404378
sub_404385
sub_404454
sub_40446a
sub_4044de
sub_404534
sub_40454e
sub_40470d
sub_404775
sub_404782
sub_4047a6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
error
umask
free
chmod
__errno_location
mkfifo
_exit
__xstat
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
