Text sections:
base_len
bytes_split
clone_quoting_options
closeout
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
create
cwrite
dup_safer
emit_bug_reporting_address
fd_reopen
fd_safer
full_write
get_quoting_style
gettext_quote
hard_locale
last_component
locale_charset
main
next_file_name
ofile_open
open_safer
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_read
safe_write
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sig2str
str2sig
umaxtostr
usage
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
getenv
sigprocmask
free
abort
__errno_location
strncmp
_exit
strcpy
__fpending
sigaction
fcntl
setenv
clearerr_unlocked
write
textdomain
fclose
bindtextdomain
dcgettext
__ctype_get_mb_cur_max
strlen
getopt_long
mbrtowc
dup2
strchr
strrchr
ftruncate
lseek
__assert_fail
__strtoul_internal
memset
close
pipe
strspn
memchr
read
__libc_start_main
memcmp
fputs_unlocked
calloc
strcmp
sigemptyset
strtol
memcpy
fileno
malloc
fflush
nl_langinfo
__fxstat
__freading
fwrite_unlocked
realloc
fdopen
setlocale
__printf_chk
memmove
error
memrchr
waitpid
open
fseeko
__cxa_atexit
getpagesize
__libc_current_sigrtmin
exit
fwrite
__fprintf_chk
__libc_current_sigrtmax
mbsinit
execl
iswprint
sigaddset
fork
__ctype_b_loc
__sprintf_chk

Function signatures:

Function types:

Data:

Preamble:
