Text sections:
AD_compare
AD_hash
allocate_entry
check_tuning
chmodat
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
compute_bucket_size
c_strcasecmp
c_tolower
c_toupper
cwd_advance_fd
cycle_check
cycle_check_init
cycle_warning_required
describe_change
dev_type_compare
dev_type_hash
dirent_inode_sort_may_be_useful
diropen
dup_safer
emit_ancillary_info
emit_bug_reporting_address
enter_dir
fd_ring_clear
fd_safer
filemodestring
filesystem_type
free_dir
free_entry
__fstat
fstat
fstatat
fts_alloc
fts_build
fts_compar
fts_compare_ino
fts_lfree
fts_load
fts_maxarglen
fts_padjust
fts_palloc
fts_safe_changedir
fts_set_stat_required
fts_sort
fts_stat
ftypelet
get_quoting_style
get_root_dev_ino
gettext_quote
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
i_ring_empty
i_ring_init
i_ring_pop
i_ring_push
is_prime
is_zero_or_power_of_two
lchmodat
leaf_optimization
leave_dir
locale_charset
__lstat
lstat
main
make_node_op_equals
mode_adjust
mode_changed
mode_compile
mode_create_from_ref
next_prime
octal_to_mode
openat_safer
opendirat
open_safer
process_file
process_files
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
raw_comparator
raw_hasher
restore_initial_cwd
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_fts_children
rpl_fts_close
rpl_fts_open
rpl_fts_read
rpl_fts_set
rpl_mbrtowc
rpl_nl_langinfo
safe_hasher
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_stat_type
setup_dir
stat
strmode
sub_401829
sub_40182a
sub_401862
sub_4018aa
sub_4018cc
sub_4018dd
sub_4018f6
sub_40191f
sub_401a8c
sub_401b1d
sub_401b59
sub_401bf4
sub_401d32
sub_401dc1
sub_401e97
sub_401ee2
sub_401f97
sub_401fac
sub_402123
sub_40217e
sub_4021b6
sub_40223a
sub_4022c6
sub_402352
sub_4023c2
sub_402453
sub_4024f4
sub_40251f
sub_402562
sub_40259f
sub_40272e
sub_402796
sub_4027d7
sub_402b48
sub_402c77
sub_402d7a
sub_402f47
sub_403072
sub_40312a
sub_4031ce
sub_4031d0
sub_4031dc
sub_4031e8
sub_4031f4
sub_403200
sub_40320c
sub_403264
sub_403450
sub_403507
sub_403629
sub_4037c9
sub_4037cc
sub_40382e
sub_403907
sub_403962
sub_4039ba
sub_403a7d
sub_403b1a
sub_403d86
sub_403dd5
sub_403dec
sub_403f54
sub_403f92
sub_403fc8
sub_403fd0
sub_403fe7
sub_404123
sub_40413b
sub_404197
sub_4041d1
sub_404239
sub_40482f
sub_404abb
sub_404b12
sub_404b5f
sub_404b89
sub_404c05
sub_404c4b
sub_404c7b
sub_404e19
sub_404ec2
sub_405271
sub_40595e
sub_4059aa
sub_405b40
sub_405b46
sub_405ba7
sub_405c5d
sub_405cc0
sub_405d08
sub_405d62
sub_406008
sub_4060db
sub_406117
sub_40616b
sub_4061a7
sub_4061d1
sub_4063ea
sub_4063fe
sub_406488
sub_4064b9
sub_406516
sub_406577
sub_406592
sub_406688
sub_4066bc
sub_406785
sub_40684c
sub_4068b5
sub_4068d7
sub_406abe
sub_406b6d
sub_406b7a
sub_406e96
sub_4070d6
sub_407107
sub_4071aa
sub_4072c1
sub_40739d
sub_4075bd
sub_40764a
sub_4076a7
sub_407a30
sub_4083d3
sub_408413
sub_408555
sub_408617
sub_40885a
sub_408909
sub_40892f
sub_408966
sub_4089a2
sub_4089c2
sub_408b0a
sub_408b7f
sub_4090be
sub_4091c2
sub_4091ea
sub_40926a
sub_4092a2
sub_40930f
sub_409374
sub_4093da
sub_40972e
sub_409776
sub_409877
sub_4098b3
sub_40990a
sub_409a3a
sub_409aa9
sub_409af7
sub_409bd8
sub_409c72
sub_40a526
sub_40a6fb
sub_40ac09
sub_40ade9
sub_40af09
sub_40b01c
sub_40b733
sub_40c416
sub_40c4da
sub_40c606
sub_40c714
sub_40c754
sub_40c796
sub_40c7c6
sub_40c7e6
sub_40c875
sub_40c8d1
sub_40ca90
sub_40cbde
sub_40ccb1
sub_40cd32
sub_40cde7
sub_40cf4d
sub_40cfe6
sub_40d13a
sub_40d294
sub_40d506
sub_40d571
sub_40d5b2
sub_40d5ca
sub_40d652
sub_40d6a2
sub_40d75e
sub_40d816
sub_40d8d1
sub_40d8f5
sub_40d9b5
sub_40d9d2
sub_40dad8
sub_40daf2
sub_40db44
sub_40dbff
sub_40dc5e
sub_40dd6e
sub_40dd9f
sub_40ddb0
sub_40e00c
sub_40e048
sub_40e08f
sub_40e1b3
sub_40e20e
sub_40e2f1
sub_40e365
sub_40e372
sub_40e396
sub_40e3a9
sub_40e3cf
transfer_entries
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xfts_open
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
malloc
free
calloc
fseeko
fileno
lseek
realloc
close
abort
fstatfs
__errno_location
fdopendir
strcmp
fchdir
__assert_fail
memcpy
fputs
strrchr
strncmp
gettext
printf
nl_langinfo
memset
open
error
fcntl
setlocale
fputs_unlocked
memmove
strlen
fchmodat
mbrtowc
fprintf
exit
readdir
closedir
dirfd
__fpending
ferror_unlocked
bindtextdomain
textdomain
getopt_long
umask
_exit
qsort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
fflush
__freading
openat
fclose
__cxa_atexit
__xstat
__fxstat
__lxstat
__fxstatat

Function signatures:

Function types:

Data:

Preamble:
