Text sections:
add_epsilon_src_nodes
analyze
bitset_clear
bitset_contain
bitset_copy
bitset_empty
bitset_mask
bitset_merge
bitset_not
bitset_set
bitset_set_all
bkm_scale
bkm_scale_0
bkm_scale_by_power
bkm_scale_by_power_0
build_charclass
build_charclass_op
build_collating_symbol
build_equiv_class
build_range_exp
build_sifted_states
build_trtable
build_upper_buffer
calc_eclosure
calc_eclosure_iter
calc_first
calc_inveclosure
calc_next
calc_state_hash
check_arrival
check_arrival_add_next_nodes
check_arrival_expand_ecl
check_arrival_expand_ecl_sub
check_dst_limits
check_dst_limits_calc_pos
check_dst_limits_calc_pos_1
check_format_conv_type
check_for_offset
check_halt_node_context
check_halt_state_context
check_matching
check_node_accept
check_node_accept_bytes
check_subexp_limits
check_subexp_matching_top
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clean_state_log_if_needed
cleanup
cleanup_fatal
clear_line_control
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_output_file
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
create_cd_newstate
create_ci_newstate
create_initial_state
create_new_buffer
create_output_file
create_token_tree
create_tree
c_strcasecmp
c_tolower
c_toupper
delete_all_files
dump_rest_of_file
duplicate_node
duplicate_node_closure
duplicate_tree
dup_safer
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
expand_bkref_cache
extend_buffers
extract_regexp
fd_reopen
fetch_number
fetch_token
find_line
find_recover_state
find_subexp_node
fopen_safer
free_buffer
free_charset
free_dfa_content
free_fail_stack_return
free_state
free_token
free_tree
free_workarea_compile
get_first_line_in_buffer
get_format_flags
get_new_buffer
get_quoting_style
get_subexp
get_subexp_sub
gettext_quote
handle_line_error
hard_locale
init_dfa
init_word_char
interrupt_handler
keep_new_line
link_nfa_nodes
load_buffer
locale_charset
lower_subexp
lower_subexps
main
make_filename
mark_opt_subexp
match_ctx_add_entry
match_ctx_add_sublast
match_ctx_add_subtop
match_ctx_clean
match_ctx_free
match_ctx_init
max_out
merge_state_array
merge_state_with_log
new_control_record
new_line_control
no_more_lines
optimize_subexps
optimize_utf8
parse
parse_bracket_element
parse_bracket_exp
parse_bracket_symbol
parse_branch
parse_byte
parse_dup_op
parse_expression
parse_patterns
parse_reg_exp
parse_repeat_count
parse_sub_exp
peek_token
peek_token_bracket
pop_fail_stack
postorder
preorder
proceed_next_node
process_line_count
process_regexp
prune_impossible_nodes
push_fail_stack
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
re_acquire_state
re_acquire_state_context
read_input
re_compile_internal
re_copy_regs
record_line_starts
re_dfa_add_node
regexp_error
remove_line
re_node_set_add_intersect
re_node_set_alloc
re_node_set_compare
re_node_set_contains
re_node_set_init_1
re_node_set_init_2
re_node_set_init_copy
re_node_set_init_union
re_node_set_insert
re_node_set_insert_last
re_node_set_merge
re_node_set_remove_at
re_search_2_stub
re_search_internal
re_search_stub
re_string_allocate
re_string_char_size_at
re_string_construct
re_string_construct_common
re_string_context_at
re_string_destruct
re_string_elem_size_at
re_string_fetch_byte_case
re_string_peek_byte_case
re_string_realloc_buffers
re_string_skip_chars
re_string_translate_buffer
re_string_wchar_at
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
rpl_re_compile_fastmap
rpl_re_compile_pattern
rpl_regcomp
rpl_regerror
rpl_regexec
rpl_regfree
rpl_re_match
rpl_re_match_2
rpl_re_search
rpl_re_search_2
rpl_re_set_registers
rpl_re_set_syntax
safe_read
save_buffer
save_line_to_file
save_to_hold_area
search_cur_bkref_entry
search_duplicated_node
set_char_quoting
set_custom_quoting
set_input_file
set_program_name
set_quoting_flags
set_quoting_style
set_regs
sift_ctx_init
sift_states_backward
sift_states_iter_mb
split_file
sub_401c69
sub_401c6a
sub_401ca2
sub_401cea
sub_401d0c
sub_401d1d
sub_401d36
sub_401d6b
sub_401ea2
sub_4020e8
sub_40215e
sub_402706
sub_402797
sub_4027a6
sub_4028b4
sub_40294c
sub_40296a
sub_40297e
sub_4029b7
sub_4029fc
sub_402d5c
sub_402e48
sub_4031a9
sub_40326a
sub_40343b
sub_4034a3
sub_4037b9
sub_403aac
sub_404553
sub_404584
sub_4048c3
sub_40491d
sub_404947
sub_40497f
sub_404980
sub_40498e
sub_404993
sub_404a23
sub_404bc4
sub_404c62
sub_405118
sub_405532
sub_405588
sub_4055aa
sub_405a1c
sub_405ea7
sub_405f8d
sub_40606c
sub_406c2a
sub_406c85
sub_406caf
sub_406d6a
sub_406dca
sub_406f41
sub_407132
sub_40735c
sub_407392
sub_40756f
sub_407a8a
sub_407b14
sub_407b61
sub_407c0b
sub_407cd5
sub_407d2d
sub_407e56
sub_408f95
sub_409038
sub_409067
sub_40920d
sub_40927e
sub_4093f4
sub_409476
sub_409490
sub_4095be
sub_409669
sub_409732
sub_409822
sub_409941
sub_409afe
sub_409b28
sub_409b32
sub_409bb5
sub_409f85
sub_40a1b1
sub_40a202
sub_40a41e
sub_40a699
sub_40ab7a
sub_40aba7
sub_40abfa
sub_40b0fc
sub_40b17d
sub_40b245
sub_40b2a1
sub_40b3ea
sub_40b41d
sub_40b4c2
sub_40b4f8
sub_40b50e
sub_40b8d8
sub_40ba14
sub_40be4f
sub_40c945
sub_40cbb9
sub_40cd98
sub_40ce27
sub_40d1d3
sub_40d266
sub_40d3f3
sub_40d4a5
sub_40d4fe
sub_40d5d4
sub_40d6c1
sub_40d866
sub_40d97f
sub_40dd9d
sub_40defb
sub_40df57
sub_40e05c
sub_40e06b
sub_40e1e7
sub_40e203
sub_40e226
sub_40e45e
sub_40e543
sub_40eadd
sub_40eb36
sub_40eb7e
sub_40ed55
sub_40eed9
sub_40eef5
sub_40f0a8
sub_40f35a
sub_40f393
sub_40f46b
sub_40f4af
sub_40f4dc
sub_40f595
sub_40f68d
sub_40f700
sub_40f896
sub_40f9a2
sub_40fa55
sub_40fb0b
sub_40fe05
sub_40feff
sub_410054
sub_410146
sub_4103a7
sub_410470
sub_4107fb
sub_410a6e
sub_410ccd
sub_410f62
sub_4111b7
sub_41128a
sub_41138b
sub_411455
sub_411508
sub_411653
sub_4116ee
sub_4121ab
sub_41227a
sub_41232e
sub_412358
sub_41243c
sub_4137a3
sub_41382f
sub_413a21
sub_413f55
sub_413fd3
sub_414229
sub_414392
sub_41443c
sub_4144e6
sub_4145f4
sub_414750
sub_414893
sub_414947
sub_4149ae
sub_414a38
sub_414b04
sub_414cdd
sub_415191
sub_4151d8
sub_41528f
sub_4152e6
sub_41537a
sub_4153a4
sub_4154b0
sub_415a8b
sub_415a9e
sub_416195
sub_4163ea
sub_41674a
sub_416828
sub_4169ea
sub_416a2c
sub_416b12
sub_416b25
sub_416c79
sub_416cb3
sub_416d12
sub_416d2a
sub_416d2f
sub_416e75
sub_416ef6
sub_416f8e
sub_41710a
sub_41711e
sub_41717b
sub_417223
sub_417263
sub_4173f1
sub_4174c1
sub_4177af
sub_41792b
sub_417b05
sub_417be7
sub_418677
sub_418707
sub_418a41
sub_418c44
sub_418ce0
sub_41919b
sub_4191d7
sub_4192da
sub_41954f
sub_41963c
sub_419727
sub_419745
sub_41977a
sub_419946
sub_419b95
sub_419e68
sub_41a1ce
sub_41a222
sub_41a32f
sub_41a5ed
sub_41a7ec
sub_41a9cc
sub_41abfd
sub_41aefc
sub_41af89
sub_41b108
sub_41b289
sub_41b4ce
sub_41b762
sub_41b7e2
sub_41b88a
sub_41b991
sub_41bad1
sub_41bc12
sub_41c1d7
sub_41c2fa
sub_41c516
sub_41ca6e
sub_41ca94
sub_41cbc3
sub_41cd2d
sub_41ce11
sub_41ced6
sub_41cf62
sub_41d515
sub_41d567
sub_41d5cf
sub_41da25
sub_41e396
sub_41e453
sub_41e525
sub_41e562
sub_41e713
sub_41e835
sub_41ebfd
sub_41ec94
sub_41ed95
sub_41ef04
sub_41ef35
sub_41efc9
sub_41f042
sub_41f0e8
sub_41f160
sub_41f1be
sub_41f1e1
sub_41f2ad
sub_41f338
sub_41f33d
sub_41f3b2
sub_41f4eb
sub_41f518
sub_41f550
sub_41f57b
sub_41f580
sub_41f5de
sub_41f672
sub_41f72e
sub_41f952
sub_41fa93
sub_41fb1d
sub_41fb9c
sub_41fd08
sub_41fea4
sub_41ffd7
sub_420680
sub_420742
sub_420788
sub_42096a
sub_420b0d
sub_4212cc
sub_4214a7
sub_4215a7
sub_4215fb
sub_421662
sub_42170e
sub_421b18
sub_421b71
sub_421d9a
sub_421ed5
sub_422130
sub_4223d3
sub_42240a
sub_4225b6
sub_422b8e
sub_422cc5
sub_422cd2
sub_422cf6
sub_epsilon_src_nodes
transit_state
transit_state_bkref
transit_state_mb
umaxtostr
update_cur_sifted_state
update_regs
usage
version_etc
version_etc_ar
version_etc_arn
write_to_file
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoimax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoimax
xrealloc
xstrdup
xstrtoimax
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
gettext
error
memcmp
free
_exit
__errno_location
memset
open
dup2
close
abort
strchr
strtoumax
__assert_fail
__ctype_b_loc
calloc
realloc
nl_langinfo
tolower
towlower
wcrtomb
memcpy
iswalnum
snprintf
fprintf
fputs_unlocked
malloc
__freading
fflush
__fpending
ferror_unlocked
strlen
unlink
sigprocmask
strtoimax
toupper
strcmp
wctype
printf
fdopen
fopen
fileno
fcntl
exit
strncmp
strrchr
fputs
lseek
fclose
memchr
__ctype_get_mb_cur_max
iswprint
mbsinit
setlocale
fwrite_unlocked
read
iswctype
fseeko
bindtextdomain
textdomain
getopt_long
towupper
btowc
mbrtowc
sigismember
sigaction
sigemptyset
sigaddset
signal
raise
strcpy
sprintf
memmove
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
