Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
mode_adjust
mode_compile
mode_create_from_ref
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4014b9
sub_4014ba
sub_4014f2
sub_40153a
sub_40155c
sub_40156d
sub_401586
sub_4016ac
sub_4016e5
sub_4016f5
sub_40174a
sub_4017d6
sub_401863
sub_401888
sub_40189a
sub_401937
sub_401945
sub_4019b5
sub_401a67
sub_401a8a
sub_401ab5
sub_401ac5
sub_401c21
sub_401ca5
sub_401e92
sub_401ef6
sub_401f91
sub_401fb8
sub_401fc5
sub_40209f
sub_4020ff
sub_402121
sub_402164
sub_40220e
sub_402243
sub_4025a8
sub_4025b8
sub_402614
sub_402639
sub_402683
sub_4026a9
sub_402775
sub_4027b5
sub_40282f
sub_402e61
sub_402edc
sub_402fa1
sub_40329d
sub_4032b3
sub_403355
sub_4036a4
sub_4036ed
sub_4039d2
sub_403a1c
sub_403b23
sub_403bf8
sub_403db7
sub_403dc5
sub_403e9e
sub_403ef7
sub_403f0f
sub_403f5b
sub_403f93
sub_40403f
sub_40405f
sub_404072
sub_4040ac
sub_4040b4
sub_4040ea
sub_4040fb
sub_40410b
sub_4041b4
sub_4042bc
sub_40435b
sub_404396
sub_4043ae
sub_40456d
sub_404608
sub_40466a
sub_40469f
sub_4046a9
sub_404704
sub_404743
sub_404c5b
sub_404c81
sub_404ca9
sub_404cbc
sub_404da4
sub_404e05
sub_404e48
sub_4050a0
sub_405135
sub_4051ac
sub_4051b5
sub_4051d8
sub_405245
sub_405252
sub_405276
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
error
umask
free
__xmknod
mkfifo
chmod
__errno_location
_exit
__xstat
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
__strtoul_internal
strchr
__assert_fail
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
