Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
cl_strtod
c_strtod
dtotimespec
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nanosleep
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401389
sub_40138a
sub_4013c2
sub_40140a
sub_40142c
sub_40143d
sub_401456
sub_4014ce
sub_4014f0
sub_4015e8
sub_401607
sub_40172f
sub_4017ff
sub_4019c1
sub_4019e3
sub_401a76
sub_401d54
sub_401d8d
sub_402187
sub_4021c5
sub_4022d6
sub_4022fe
sub_402361
sub_402535
sub_402631
sub_402774
sub_4027b6
sub_4027c7
sub_402901
sub_40291a
sub_4029e1
sub_402a0a
sub_402ad5
sub_402b4f
sub_402d32
sub_402d51
sub_402dd4
sub_402dee
sub_402fad
sub_402fc3
sub_403025
sub_403048
sub_40305f
sub_403305
sub_403366
sub_403375
sub_4033f9
sub_403408
sub_403415
sub_4034d8
sub_4034e5
sub_4035dd
sub_4035e5
sub_40363a
sub_403658
sub_403668
sub_4036a3
sub_40379c
sub_4037a5
sub_403816
sub_40384a
sub_403883
sub_4038e4
sub_403928
sub_403a80
sub_403af1
sub_403b9c
sub_403c84
sub_403cc5
sub_403d04
sub_403d65
sub_403de1
sub_404148
sub_404155
sub_404195
sub_40423a
sub_40424f
sub_4042d3
sub_4042e5
sub_404376
sub_4044a6
sub_404523
sub_40459c
sub_40460e
sub_404689
sub_4046f5
sub_404702
sub_404726
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnanosleep
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtod
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
__errno_location
error
strtod
_exit
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
nanosleep
newlocale
strtod_l
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
