Text sections:
allocate_entry
areadlink_with_size
base_len
buffer_or_output
canonicalize_filename_mode
check_tuning
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
compute_bucket_size
c_tolower
c_toupper
dir_len
dir_name
emit_ancillary_info
emit_bug_reporting_address
free_entry
fstatat
get_quoting_style
gettext_quote
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_pjw
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
isdir
is_prime
last_component
locale_charset
lstat
main
mdir_name
next_prime
path_common_prefix
path_prefix
process_path
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
raw_comparator
raw_hasher
realpath_canon
record_file
relpath
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_hasher
same_name
same_nameat
seen_file
seen_triple
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
stat
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401579
sub_40157a
sub_4015b2
sub_4015fa
sub_40161c
sub_40162d
sub_401646
sub_40165f
sub_401665
sub_40167a
sub_4016a9
sub_4016df
sub_40172d
sub_401740
sub_401808
sub_401889
sub_4018f3
sub_40195f
sub_4019a9
sub_4019f5
sub_401a2f
sub_401b1c
sub_401cd7
sub_4020e1
sub_4020f9
sub_402149
sub_40219d
sub_4021a7
sub_4021e3
sub_402240
sub_4022da
sub_4022e7
sub_4023b5
sub_40242a
sub_402444
sub_40247b
sub_4024a1
sub_4024dc
sub_402547
sub_402586
sub_402612
sub_402623
sub_40263a
sub_40264d
sub_402666
sub_4026c4
sub_40270f
sub_402a43
sub_402ae3
sub_402b51
sub_402b99
sub_402bb1
sub_402bd4
sub_402bee
sub_402dad
sub_402dce
sub_402df4
sub_402e05
sub_402f04
sub_402f24
sub_402f3a
sub_402f84
sub_402f95
sub_402faa
sub_40309c
sub_403119
sub_403127
sub_403133
sub_4031e4
sub_403273
sub_4032e6
sub_4033d0
sub_40342e
sub_40359b
sub_4035ad
sub_4035bd
sub_4035de
sub_4037b2
sub_4037e1
sub_4038b7
sub_4038d8
sub_403a1a
sub_403a35
sub_403a57
sub_403af1
sub_403e58
sub_403e8e
sub_403e98
sub_403ec6
sub_403f0b
sub_40424c
sub_404263
sub_4042fe
sub_404644
sub_40468d
sub_404973
sub_4049bc
sub_404ac3
sub_404b98
sub_404d2c
sub_404d39
sub_404d49
sub_404d64
sub_404d86
sub_404de2
sub_404e23
sub_404e35
sub_404f26
sub_404f94
sub_404fe8
sub_405015
sub_40506c
sub_405089
sub_40509a
sub_405112
sub_405134
sub_40514a
sub_40515a
sub_405174
sub_40518a
sub_405194
sub_4051b5
sub_4051cf
sub_405213
sub_405279
sub_405289
sub_4052f8
sub_405333
sub_4053b7
sub_4053e6
sub_405416
sub_4054e0
sub_405545
sub_405559
sub_40558b
sub_4055f6
sub_40566d
sub_40567d
sub_405687
sub_4057aa
sub_4057d7
sub_405841
sub_4058a7
sub_4058ba
sub_4058d9
sub_4058ea
sub_405901
sub_40591c
sub_40593d
sub_405950
sub_405a4c
sub_405a64
sub_405b2d
sub_405b5d
sub_405b73
sub_405ba3
sub_405bca
sub_405c07
sub_405c46
sub_405c7b
sub_405cf9
sub_405dc3
sub_405e48
sub_405e98
sub_405edb
sub_405f96
sub_405fd5
sub_406008
sub_406013
sub_406035
sub_4060a6
sub_406236
sub_4062b9
sub_4062ce
sub_4062d7
sub_406345
sub_406352
sub_406376
sub_406389
transfer_entries
triple_compare
triple_compare_ino_str
triple_free
triple_hash
triple_hash_no_name
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetcwd
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
free
error
__errno_location
putchar_unlocked
strlen
memcpy
__rawmemchr
__strspn_c1
memmove
_exit
abort
malloc
strrchr
fwrite
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
realloc
getcwd
calloc
mbrtowc
readlink
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit
__xstat
__lxstat
__fxstatat

Function signatures:

Function types:

Data:

Preamble:
