Text sections:
base_len
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
dup_safer
emit_bug_reporting_address
explicit_bzero
file_name_concat
fopen_safer
gen_tempname
gen_tempname_len
get_quoting_style
gettext_quote
hard_locale
isaac_seed
last_component
locale_charset
main
maybe_close_stdout
mfile_name_concat
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
randint_all_free
randint_all_new
randint_free
randint_genmax
randint_get_source
randint_new
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401879
sub_40187a
sub_4018b2
sub_4018fa
sub_40191c
sub_40192d
sub_401946
sub_4019bc
sub_4019cd
sub_4019f6
sub_401a2d
sub_401a87
sub_401ad9
sub_401b84
sub_401ba9
sub_401bca
sub_401bda
sub_401be5
sub_401ec8
sub_401ed5
sub_401f5a
sub_4022b8
sub_4024a2
sub_402505
sub_402515
sub_402595
sub_402678
sub_40268a
sub_4026e1
sub_4027c1
sub_4027d5
sub_4027e5
sub_402b0d
sub_402b23
sub_402bc5
sub_402f14
sub_402f5d
sub_403242
sub_40328c
sub_403393
sub_403468
sub_403627
sub_403656
sub_403785
sub_4037c3
sub_4037da
sub_40384c
sub_4039bd
sub_403adc
sub_403afa
sub_403b74
sub_403b8b
sub_4040e8
sub_4040f8
sub_404105
sub_4043eb
sub_4043fc
sub_40440e
sub_404466
sub_404475
sub_4044f9
sub_404513
sub_40454b
sub_4045c5
sub_4045d8
sub_404663
sub_4046a1
sub_4046bf
sub_4046f8
sub_404914
sub_4049f8
sub_404a21
sub_404a49
sub_404d01
sub_404d5b
sub_404d65
sub_404da5
sub_404dcf
sub_404e45
sub_404f21
sub_405044
sub_405089
sub_40516b
sub_4051ce
sub_405212
sub_405253
sub_405296
sub_40530e
sub_405321
sub_40549d
sub_405508
sub_405527
sub_405564
sub_4055c5
sub_40563f
sub_405645
sub_405908
sub_40591a
sub_405968
sub_405988
sub_4059b0
sub_405a4f
sub_405a98
sub_405aae
sub_405c6d
sub_405c96
sub_405d05
sub_405d12
sub_405d36
try_dir
try_file
try_nocreate
try_tempname
try_tempname_len
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
strlen
memcpy
strrchr
__rawmemchr
getenv
free
puts
__errno_location
error
close
remove
_exit
__fpending
malloc
__mempcpy_chk
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
__assert_fail
open
mkdir
__lxstat
realloc
calloc
fileno
__freading
lseek
fclose
fflush
fseeko
mbrtowc
strcmp
setvbuf
read
gettimeofday
getpid
getppid
getuid
getgid
fread_unlocked
nl_langinfo
fopen
fdopen
fcntl
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
