Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4011c9
sub_4011ca
sub_401202
sub_40124a
sub_40126c
sub_40127d
sub_401296
sub_4012ca
sub_401336
sub_401492
sub_4014bb
sub_40153a
sub_40156c
sub_4015e3
sub_4016aa
sub_4016cf
sub_40170b
sub_40175b
sub_401802
sub_40185e
sub_4018fc
sub_401962
sub_40199e
sub_4019d7
sub_401ac7
sub_401b0b
sub_401b47
sub_401bc1
sub_401d64
sub_401da8
sub_401def
sub_401e1a
sub_401e85
sub_401f71
sub_401fb3
sub_401fef
sub_402018
sub_40205e
sub_4020a8
sub_4020df
sub_402127
sub_403151
sub_40354a
sub_4035d7
sub_40361a
sub_403657
sub_40369e
sub_4036c7
sub_403727
sub_403763
sub_403909
sub_403b83
sub_403e9d
sub_40417a
sub_4041b2
sub_404246
sub_4042da
sub_40443d
sub_4045a4
sub_4045e2
sub_404618
sub_404686
sub_4046bd
sub_4046da
sub_404705
sub_404746
sub_4047d6
sub_404812
sub_40482b
sub_4048d2
sub_404912
sub_404985
sub_4049cd
sub_404a81
sub_404b55
sub_404b87
sub_404ce4
sub_404d0e
sub_404d60
sub_404e17
sub_404f33
sub_40503e
sub_4050b5
sub_4050df
sub_4050f2
sub_4051cf
sub_405201
sub_40521e
sub_4052b5
sub_4052c2
sub_4052e6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc
main

PLT sections:
__libc_start_main
__gmon_start__
gettext
printf
fputs_unlocked
exit
memcpy
memset
abort
__errno_location
realloc
free
setlocale
strcmp
nl_langinfo
fileno
lseek
fseeko
error
_exit
strncmp
bindtextdomain
textdomain
fputs
strrchr
malloc
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
calloc
fprintf
mbrtowc
fflush
__freading
__fpending
ferror_unlocked
fclose
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
