Text sections:
all_digits_p
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
c_locale
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
cl_strtold
cmp
c_strtold
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
get_default_format
get_quoting_style
gettext_quote
hard_locale
incr
io_error
locale_charset
long_double_format
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
scan_arg
seq_fast
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401749
sub_40174a
sub_401782
sub_4017ca
sub_4017ec
sub_4017fd
sub_401816
sub_401823
sub_401b98
sub_401c1d
sub_401c72
sub_401c8f
sub_401c96
sub_401ce0
sub_401da3
sub_401db3
sub_401de7
sub_401e03
sub_401e1f
sub_401e28
sub_401e39
sub_401ea8
sub_401f22
sub_401f3f
sub_401f65
sub_401f78
sub_401faf
sub_401fe7
sub_402021
sub_402133
sub_40214a
sub_402182
sub_4022b6
sub_4022f5
sub_4023a4
sub_4023ba
sub_4023d3
sub_4023ea
sub_402429
sub_402441
sub_402464
sub_402473
sub_40249a
sub_4024aa
sub_402524
sub_40264a
sub_402676
sub_402711
sub_402792
sub_4027c1
sub_40288d
sub_40289d
sub_4028aa
sub_4028bd
sub_4028e7
sub_4028fe
sub_4029a6
sub_4029d8
sub_4029e4
sub_402a1d
sub_402a33
sub_402a51
sub_402a9a
sub_402aaa
sub_402b9c
sub_402bed
sub_402bfa
sub_402e35
sub_402e86
sub_402e9a
sub_402eea
sub_402fb5
sub_4030d9
sub_40310f
sub_403133
sub_40315a
sub_4031cd
sub_4031dd
sub_4031e7
sub_4031f8
sub_4038f8
sub_403979
sub_4039e3
sub_403a4f
sub_403a99
sub_403ae5
sub_403b1f
sub_403dd1
sub_403dee
sub_403fad
sub_403fe8
sub_4043fa
sub_40442b
sub_4044de
sub_404536
sub_404566
sub_40484c
sub_404863
sub_4048fe
sub_404c44
sub_404c8d
sub_404f73
sub_404fbc
sub_4050c3
sub_405198
sub_40532c
sub_40533a
sub_405361
sub_4053ca
sub_4053e9
sub_4053fa
sub_405422
sub_405433
sub_405466
sub_4054f3
sub_405549
sub_405569
sub_405575
sub_4055cb
sub_405635
sub_405642
sub_405666
to_uchar
trim_leading_zeros
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
strlen
__asprintf_chk
free
error
strspn
memchr
memcpy
strcpy
__mempcpy_chk
memmove
fwrite_unlocked
__ctype_b_loc
strchr
__strcspn_c2
strtol
__sprintf_chk
clearerr_unlocked
__errno_location
strtold
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
memset
malloc
realloc
calloc
mbrtowc
uselocale
newlocale
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
