Text sections:
canon_host
canon_host_r
ch_strerror
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
count_ampersands
create_fullname
c_strcasecmp
c_tolower
c_toupper
desirable_utmp_entry
emit_ancillary_info
emit_bug_reporting_address
extract_trimmed_name
get_quoting_style
gettext_quote
hard_locale
idle_string
imaxtostr
locale_charset
long_pinky
main
print_entry
print_heading
print_long_entry
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
read_utmp
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
scan_entries
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
short_pinky
stzncpy
sub_401919
sub_40191a
sub_401952
sub_40199a
sub_4019bc
sub_4019cd
sub_4019e6
sub_401a2e
sub_401a95
sub_401ae7
sub_401b65
sub_401c1d
sub_401d2a
sub_401d57
sub_401dab
sub_401f14
sub_401f3b
sub_401f4e
sub_402093
sub_40346b
sub_4034bf
sub_4034ed
sub_403515
sub_403557
sub_40355a
sub_4039e1
sub_403b91
sub_404008
sub_404167
sub_40419c
sub_4043bd
sub_40445d
sub_404515
sub_4046b6
sub_404762
sub_404795
sub_4047ca
sub_40481e
sub_4048bc
sub_404a15
sub_404a9a
sub_404b0b
sub_404b8a
sub_404c5e
sub_404c6e
sub_404ca7
sub_404ce7
sub_404d18
sub_404d58
sub_404d96
sub_404eb2
sub_404edf
sub_404f9e
sub_405042
sub_405073
sub_40514f
sub_40515e
sub_4051ce
sub_405282
sub_4052c2
sub_4052da
sub_4053cf
sub_4053e7
sub_405478
sub_40552b
sub_40559b
sub_405665
sub_405697
sub_405751
sub_40579a
sub_4058c3
sub_4058f3
sub_4059f3
sub_405a47
sub_405aca
sub_405b5b
sub_405bba
sub_405be8
sub_405c0f
sub_405c4a
sub_405c7a
sub_405d1f
sub_406102
sub_4061b6
sub_406269
sub_4062f6
sub_406387
sub_4063c2
sub_40645e
sub_4064e5
sub_406516
sub_40660e
sub_40670d
sub_40671e
sub_40675e
sub_4067aa
sub_406899
sub_40694f
sub_406962
sub_406aac
sub_406aee
sub_406d35
sub_406de6
sub_406f1d
sub_4071a7
sub_4071e3
sub_407255
sub_407262
sub_407286
sub_407299
time_string
timetostr
to_uchar
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
malloc
memcpy
time
sprintf
__errno_location
strlen
__ctype_b_loc
memset
iswprint
mbsinit
__ctype_get_mb_cur_max
abort
memcmp
free
putchar_unlocked
strchr
printf
gettext
fprintf
fputs_unlocked
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
error
stpcpy
getpwnam
fopen
fread_unlocked
fwrite_unlocked
toupper
localtime
strftime
getaddrinfo
strdup
freeaddrinfo
gai_strerror
_exit
__freading
fflush
fputs
strrchr
realloc
fileno
lseek
fseeko
calloc
nl_langinfo
fclose
mbrtowc
kill
strncpy
endutxent
utmpxname
setutxent
getutxent
__fpending
ferror_unlocked
__cxa_atexit
__xstat

Function signatures:

Function types:

Data:

Preamble:
