Text sections:
bad_cast
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
collapse_escapes
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
fadvise
fdadvise
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
paste_parallel
paste_serial
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4014a9
sub_4014aa
sub_4014e2
sub_40152a
sub_40154c
sub_40155d
sub_401576
sub_4015af
sub_40164c
sub_4016b2
sub_4016ff
sub_4017a2
sub_401806
sub_401858
sub_401893
sub_4018d7
sub_40190a
sub_401a52
sub_401ad3
sub_401bc7
sub_401d34
sub_401d6d
sub_401da2
sub_401e36
sub_401e9e
sub_401f0e
sub_401f1e
sub_401f7a
sub_401faa
sub_401fe3
sub_402017
sub_402051
sub_402088
sub_402137
sub_402172
sub_4021f6
sub_402307
sub_40234b
sub_4023ca
sub_4024f1
sub_40253e
sub_40309e
sub_403937
sub_4039ed
sub_403b13
sub_403b66
sub_403b8b
sub_403bdf
sub_403c0a
sub_403ce2
sub_403d2e
sub_403d56
sub_403e65
sub_403ead
sub_40441a
sub_40448f
sub_404703
sub_4047de
sub_4047fe
sub_404a06
sub_404b8e
sub_404c0a
sub_404dcd
sub_404f85
sub_40500e
sub_4050d5
sub_405166
sub_4051a2
sub_4051b0
sub_4051f1
sub_405236
sub_405272
sub_405292
sub_405372
sub_405393
sub_40559c
sub_4056a7
sub_4056be
sub_4056fe
sub_40575e
sub_40579b
sub_405861
sub_405955
sub_405a03
sub_405f96
sub_405feb
sub_406078
sub_4060b7
sub_4061a1
sub_4061d8
sub_4061f0
sub_406305
sub_40632f
sub_40636f
sub_4063dc
sub_406445
sub_406452
sub_406476
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
write_error
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xputchar
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
fileno
lseek
fseeko
calloc
gettext
fprintf
printf
fputs_unlocked
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
error
free
__errno_location
fopen
getc_unlocked
ferror_unlocked
clearerr_unlocked
fwrite_unlocked
memset
abort
memcpy
posix_fadvise
putchar_unlocked
_exit
fputs
mbrtowc
strrchr
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
malloc
realloc
fclose
__freading
fflush
__fpending
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
