Text sections:
add_tab_stop
cleanup_file_list_stdin
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
emit_tab_list_info
fadvise
fdadvise
finalize_tab_stops
get_next_tab_column
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
next_file
parse_tab_stops
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_file_list
set_program_name
set_quoting_flags
set_quoting_style
sub_401559
sub_40155a
sub_401592
sub_4015da
sub_4015fc
sub_40160d
sub_401626
sub_40164b
sub_401658
sub_4016c4
sub_4016f1
sub_401705
sub_401874
sub_401882
sub_4018aa
sub_4018c0
sub_401905
sub_401933
sub_401a05
sub_401a4a
sub_401a62
sub_401adc
sub_401b7c
sub_401c03
sub_401cf1
sub_401d5f
sub_401dbe
sub_401e08
sub_401e52
sub_401ece
sub_401f04
sub_401f9c
sub_402264
sub_402452
sub_4024cc
sub_4024ea
sub_4024f5
sub_402622
sub_40263b
sub_40265f
sub_402774
sub_4027f5
sub_4029f1
sub_402ac1
sub_402ae7
sub_402af5
sub_402b72
sub_402c0a
sub_402c28
sub_402c41
sub_402c5f
sub_402d0f
sub_402ddf
sub_402fa1
sub_402fc3
sub_403056
sub_403334
sub_40336d
sub_403767
sub_4037a5
sub_4038b6
sub_4038de
sub_403941
sub_403aa9
sub_403ae5
sub_403b65
sub_403c5c
sub_403c79
sub_403c8c
sub_403d61
sub_403d96
sub_403da5
sub_404044
sub_404088
sub_404155
sub_404261
sub_4042a1
sub_404608
sub_4046a1
sub_4046d5
sub_40474f
sub_4047b3
sub_40485b
sub_4048df
sub_404a15
sub_404a56
sub_404a65
sub_404a75
sub_404af8
sub_404b6e
sub_404b7e
sub_404d3d
sub_404d94
sub_404daf
sub_404de3
sub_404e45
sub_404ea6
sub_404f15
sub_404f22
sub_404f46
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__uflow
__ctype_b_loc
fwrite_unlocked
__overflow
__errno_location
error
free
strspn
clearerr_unlocked
fopen
__assert_fail
_exit
posix_fadvise
fileno
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
iswprint
mbsinit
memset
malloc
realloc
memcpy
__strndup
calloc
__freading
lseek
fclose
fflush
fseeko
mbrtowc
__fpending
strcmp
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
