Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401309
sub_40130a
sub_401342
sub_40138a
sub_4013ac
sub_4013bd
sub_4013d6
sub_401432
sub_40144a
sub_40145a
sub_401479
sub_40148a
sub_40149a
sub_4014b6
sub_401551
sub_40156e
sub_401617
sub_40162a
sub_40163d
sub_40165f
sub_401668
sub_401696
sub_4016a9
sub_401718
sub_401746
sub_401798
sub_401b28
sub_401b86
sub_401b9d
sub_401c14
sub_401c23
sub_401c6b
sub_401d8a
sub_401da7
sub_401e29
sub_401eb8
sub_401f39
sub_401fa3
sub_40200f
sub_402059
sub_4020a5
sub_4020df
sub_4020ea
sub_402110
sub_4021c6
sub_402210
sub_402279
sub_4022af
sub_4022db
sub_402333
sub_402361
sub_4023a9
sub_4023c1
sub_4023e4
sub_402462
sub_402493
sub_4024ba
sub_4024cf
sub_4024f6
sub_402511
sub_402523
sub_402545
sub_402579
sub_402593
sub_4025aa
sub_4025ba
sub_4025ca
sub_402601
sub_402635
sub_402676
sub_40268f
sub_402781
sub_4027a8
sub_4028ac
sub_402997
sub_4029a5
sub_4029e3
sub_402a5d
sub_402a6d
sub_402a77
sub_402d5c
sub_402d73
sub_402e0e
sub_403154
sub_40319d
sub_403483
sub_4034cc
sub_4035d3
sub_4036a8
sub_40383c
sub_40384d
sub_40385a
sub_40394c
sub_403988
sub_403a44
sub_403a88
sub_403b4d
sub_403b7d
sub_403b93
sub_403baa
sub_403bd7
sub_403c63
sub_403c7e
sub_403e3d
sub_403e4a
sub_403eca
sub_403ff5
sub_404002
sub_404026
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
gethostid
error
__errno_location
_exit
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
