Text sections:
allocate_entry
areadlink_with_size
base_len
canonicalize_filename_mode
check_tuning
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
compute_bucket_size
c_tolower
c_toupper
dir_len
dir_name
emit_ancillary_info
emit_bug_reporting_address
free_entry
fstatat
get_quoting_style
gettext_quote
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_pjw
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
is_prime
last_component
locale_charset
lstat
main
mdir_name
next_prime
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
raw_comparator
raw_hasher
record_file
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_hasher
same_name
same_nameat
seen_file
seen_triple
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
stat
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401539
sub_40153a
sub_401572
sub_4015ba
sub_4015dc
sub_4015ed
sub_401606
sub_401659
sub_401665
sub_40167a
sub_40168e
sub_401696
sub_4016c6
sub_4016d9
sub_40170e
sub_4017a1
sub_4017be
sub_401829
sub_401857
sub_401867
sub_4018aa
sub_4018c6
sub_401963
sub_4019d1
sub_401a6b
sub_401a91
sub_401af9
sub_401b09
sub_401b36
sub_401cc6
sub_401fac
sub_401fc3
sub_40205e
sub_4023a4
sub_4023ed
sub_4026d3
sub_40271c
sub_402823
sub_4028f8
sub_402a8c
sub_402b12
sub_402b23
sub_402b37
sub_402b54
sub_402b85
sub_402bbd
sub_402bd3
sub_402c4d
sub_402c5d
sub_402c67
sub_402c7a
sub_402d6c
sub_402da4
sub_402def
sub_402e3b
sub_402e54
sub_402e6e
sub_40302d
sub_403078
sub_4030c7
sub_4030e4
sub_403146
sub_403163
sub_403185
sub_403202
sub_403218
sub_40326d
sub_403290
sub_403355
sub_4033ac
sub_403427
sub_4034a4
sub_4034b5
sub_40352a
sub_403548
sub_4035b7
sub_403606
sub_403968
sub_4039f3
sub_403a88
sub_403b09
sub_403b73
sub_403bdf
sub_403c29
sub_403c75
sub_403caf
sub_403cc4
sub_403ce3
sub_403cfd
sub_403ed2
sub_4040ba
sub_404134
sub_40415e
sub_404184
sub_40420f
sub_40425f
sub_40426d
sub_404284
sub_40429a
sub_4042ad
sub_4042f9
sub_404311
sub_404334
sub_40435e
sub_404386
sub_4043f5
sub_4044f9
sub_404542
sub_404643
sub_404657
sub_40477b
sub_4047a6
sub_4047d6
sub_40480c
sub_404819
sub_404888
sub_4048b8
sub_4048de
sub_404917
sub_404925
sub_404982
sub_4049c8
sub_404a04
sub_404a29
sub_404a68
sub_404a7a
sub_404b6c
sub_404b88
sub_404cca
sub_404d03
sub_404d19
sub_404d39
sub_404db6
sub_404e55
sub_404e6f
sub_404e7a
sub_404ea6
sub_404ec0
sub_404fc0
sub_405022
sub_405035
sub_405045
sub_40507b
sub_4050a1
sub_4050eb
sub_4050fa
sub_40510e
sub_405185
sub_4051db
sub_405238
sub_405266
sub_4052c3
sub_4052ea
sub_405323
sub_40540c
sub_40544a
sub_405607
sub_405a11
sub_405a4f
sub_405a79
sub_405a85
sub_405b25
sub_405b3d
sub_405b4a
sub_405b81
sub_405ba1
sub_405c07
sub_405c84
sub_405cd3
sub_405cf4
sub_405d0a
sub_405d29
sub_405d3a
sub_405e0a
sub_405e75
sub_405e82
sub_405ea6
sub_405eb9
transfer_entries
triple_compare
triple_compare_ino_str
triple_free
triple_hash
triple_hash_no_name
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetcwd
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
error
putchar_unlocked
free
__errno_location
malloc
readlink
__rawmemchr
memcpy
__strspn_c1
strlen
memmove
_exit
abort
strrchr
fwrite
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
realloc
getcwd
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit
__xstat
__lxstat
__fxstatat

Function signatures:

Function types:

Data:

Preamble:
