Text sections:
absld
add_range_pair
ambsalign
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
bkm_scale
bkm_scale_0
bkm_scale_by_power
bkm_scale_by_power_0
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
compare_ranges
complement_rp
c_strcasecmp
c_tolower
c_toupper
default_scale_base
double_to_human
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
expld
field_sep
get_quoting_style
gettext_quote
hard_locale
include_field
locale_charset
main
mbsalign
mbs_align_pad
next_field
parse_format_string
parse_human_number
powerld
prepare_padded_number
print_padded_number
process_field
process_line
process_suffixed_number
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
reset_fields
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_fields
set_program_name
set_quoting_flags
set_quoting_style
setup_padding_buffer
simple_round
simple_round_ceiling
simple_round_floor
simple_round_from_zero
simple_round_nearest
simple_round_to_zero
simple_strtod_fatal
simple_strtod_float
simple_strtod_human
simple_strtod_int
sub_4018e9
sub_4018ea
sub_401922
sub_40196a
sub_40198c
sub_40199d
sub_4019b6
sub_4019d2
sub_401a98
sub_401be6
sub_401c47
sub_401d84
sub_401e48
sub_401e6b
sub_401eae
sub_402326
sub_40247e
sub_4024bb
sub_402518
sub_40253b
sub_402976
sub_402d19
sub_40346f
sub_4044eb
sub_4045b6
sub_4046e3
sub_404757
sub_404859
sub_404d57
sub_404e4a
sub_40511c
sub_40514f
sub_4054df
sub_405e92
sub_405ef9
sub_405f22
sub_406052
sub_4060ab
sub_4060da
sub_406163
sub_406210
sub_4062a7
sub_4062e3
sub_40630f
sub_406347
sub_406482
sub_40653d
sub_40655f
sub_406598
sub_406618
sub_406682
sub_4067cb
sub_4067cc
sub_406852
sub_406887
sub_406ad3
sub_406e7b
sub_406ebb
sub_406ef8
sub_406f13
sub_406fc2
sub_406fe6
sub_40701c
sub_407084
sub_4070cf
sub_407138
sub_40717e
sub_407206
sub_407242
sub_407275
sub_4072ad
sub_407323
sub_407684
sub_4076f2
sub_40779b
sub_4077de
sub_407835
sub_40784a
sub_4078e7
sub_40790b
sub_4079fd
sub_407ad7
sub_407b83
sub_407c64
sub_407cae
sub_407d23
sub_407d41
sub_407f1f
sub_40817c
sub_408231
sub_4082cf
sub_408820
sub_408833
sub_408846
sub_408859
sub_40891d
sub_4089aa
sub_4089b0
sub_4089c6
sub_4089dc
sub_4089f2
sub_408aca
sub_408b89
sub_408bcf
sub_408c2e
sub_408cc5
sub_408d0a
sub_408d3a
sub_408eb3
sub_408f53
sub_408f9a
sub_408fb3
sub_4092c4
sub_4092de
sub_409385
sub_4093bf
sub_4094de
sub_409512
sub_40954a
sub_40955e
sub_409660
sub_409875
sub_409922
sub_40995e
sub_40a235
sub_40a2a1
sub_40a34b
sub_40a4b5
sub_40a52e
sub_40a53e
sub_40aa14
sub_40aaf4
sub_40ab3d
sub_40abc4
sub_40acd5
sub_40adb6
sub_40b27f
sub_40b4a9
sub_40b4f0
sub_40b5c0
sub_40b5c8
sub_40b5db
sub_40b617
sub_40b651
sub_40b66e
sub_40b708
sub_40b775
sub_40b782
sub_40b7a6
suffix_power
suffix_power_char
to_uchar
to_uchar_0
unit_to_umax
usage
valid_suffix
version_etc
version_etc_ar
version_etc_arn
version_etc_va
wc_ensure_printable
wc_truncate
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xstrtol
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
mbrtowc
putchar_unlocked
fputc_unlocked
iswprint
strncmp
gettext
fprintf
printf
fputs_unlocked
error
strspn
__errno_location
strtol
__ctype_b_loc
mempcpy
free
malloc
mbstowcs
wcswidth
wcstombs
strlen
__ctype_get_mb_cur_max
mbsinit
memcmp
abort
memset
strncat
strcpy
getdelim
ferror_unlocked
exit
strcmp
setlocale
bindtextdomain
textdomain
getopt_long
wcwidth
fileno
lseek
fseeko
memcpy
_exit
strchr
__assert_fail
strtoumax
strndup
nl_langinfo
realloc
snprintf
stpcpy
qsort
memmove
calloc
putc_unlocked
fputs
strrchr
__fpending
fclose
__freading
fflush
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
