Text sections:
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
num_processors
num_processors_ignoring_omp
num_processors_via_affinity_mask
parse_omp_threads
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401529
sub_40152a
sub_401562
sub_4015aa
sub_4015cc
sub_4015dd
sub_4015f6
sub_40161a
sub_401693
sub_401807
sub_40197a
sub_40198e
sub_401a4e
sub_401af9
sub_401bb1
sub_401bf3
sub_401c12
sub_401cbd
sub_401cd3
sub_401d37
sub_402218
sub_40231b
sub_402390
sub_402482
sub_4024ab
sub_402ed8
sub_4038b5
sub_4038fe
sub_403938
sub_403965
sub_4039f6
sub_403a36
sub_403b05
sub_403c89
sub_403cd7
sub_403ce0
sub_403d21
sub_403d61
sub_403e95
sub_403f82
sub_404003
sub_40402f
sub_40406b
sub_4042f7
sub_40465f
sub_4046ad
sub_4046d8
sub_40471b
sub_40474a
sub_4047ec
sub_404827
sub_404862
sub_4048d4
sub_4048ee
sub_404a0e
sub_404b06
sub_404b6a
sub_404c16
sub_404d58
sub_404dd5
sub_404f44
sub_404f7d
sub_405062
sub_4050a7
sub_4050d7
sub_405145
sub_405166
sub_40517e
sub_405335
sub_405382
sub_405448
sub_40546f
sub_40551d
sub_405793
sub_4057df
sub_405817
sub_405877
sub_40588e
sub_405994
sub_405a8b
sub_405b32
sub_405b6f
sub_405ba3
sub_405c72
sub_405d0f
sub_405d9b
sub_405ec3
sub_405f1e
sub_405f92
sub_405fcf
sub_405fda
sub_40601b
sub_40611e
sub_4061e3
sub_406257
sub_40629e
sub_40631e
sub_406385
sub_406392
sub_4063b6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
gettext
fprintf
printf
fputs_unlocked
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
error
__errno_location
_exit
getenv
strtoul
sysconf
sched_getaffinity
__sched_cpucount
fputs
abort
strrchr
__ctype_get_mb_cur_max
strlen
memcmp
__fpending
ferror_unlocked
realloc
free
nl_langinfo
__ctype_b_loc
memset
iswprint
mbsinit
memcpy
malloc
calloc
__assert_fail
strtoumax
strchr
mbrtowc
fileno
lseek
fseeko
fflush
__freading
fclose
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
