Text sections:
areadlink
base_len
bkm_scale
bkm_scale_by_power
careadlinkat
careadlinkatcwd
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
dir_len
dir_name
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
file_name_concat
get_quoting_style
gettext_quote
hard_locale
initialize_exit_failure
last_component
locale_charset
main
mdir_name
mfile_name_concat
optc_to_fileno
parse_size
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_LD_PRELOAD
set_libstdbuf_options
set_program_name
set_program_path
set_quoting_flags
set_quoting_style
sub_401659
sub_40165a
sub_401692
sub_4016da
sub_4016fc
sub_40170d
sub_401726
sub_401778
sub_401831
sub_40187e
sub_4018bf
sub_4018f1
sub_40190a
sub_4019a5
sub_4019c2
sub_401a4a
sub_401a5e
sub_401ada
sub_401b53
sub_401c03
sub_401c10
sub_401c51
sub_401cf1
sub_401dbd
sub_401e33
sub_4021af
sub_402428
sub_4025e4
sub_402647
sub_40270b
sub_40275d
sub_402897
sub_402955
sub_4029ca
sub_402a52
sub_402a6e
sub_402b03
sub_402b1e
sub_402b97
sub_402bc7
sub_402e9d
sub_402ee6
sub_40309b
sub_4030ed
sub_4030fe
sub_403177
sub_4031fc
sub_4032dd
sub_4032ee
sub_40334a
sub_4034fe
sub_403934
sub_403956
sub_40398a
sub_4039c7
sub_403ad9
sub_403b12
sub_403b78
sub_403bbb
sub_403be8
sub_403c23
sub_403c6f
sub_403cb9
sub_403d96
sub_403ed7
sub_404114
sub_404193
sub_4041c8
sub_404202
sub_404282
sub_404398
sub_40486e
sub_4048bb
sub_404994
sub_4049db
sub_404a1d
sub_404a2a
sub_404a95
sub_404acc
sub_404c69
sub_404c8f
sub_404d05
sub_404d2d
sub_404ddd
sub_404e44
sub_404ef1
sub_404f27
sub_404fa2
sub_405010
sub_4052d3
sub_40531c
sub_4053c9
sub_405bd8
sub_406836
sub_40686f
sub_4068aa
sub_406915
sub_406a91
sub_406abb
sub_406b86
sub_406bc6
sub_406c91
sub_406d54
sub_406d6e
sub_406daa
sub_406e2d
sub_406e4f
sub_406eab
sub_406ead
sub_4070c5
sub_4070d2
sub_4070f6
sub_407109
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xreadlink
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
memset
malloc
free
realloc
nl_langinfo
setlocale
strcmp
__errno_location
__freading
fileno
lseek
fclose
strchr
__ctype_b_loc
__assert_fail
strtoumax
getenv
strtok
access
strncmp
fputs
abort
strrchr
calloc
memcpy
_exit
gettext
fprintf
printf
fputs_unlocked
error
fseeko
exit
execvp
bindtextdomain
textdomain
getopt_long
fflush
putenv
toupper
asprintf
strlen
mempcpy
mbrtowc
__fpending
ferror_unlocked
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
readlink
__cxa_atexit
__xstat

Function signatures:

Function types:

Data:

Preamble:
