Text sections:
apply_relative_time
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
current_timespec
dbg_printf
debug_print_current_time
debug_print_relative_time
emit_bug_reporting_address
fd_reopen
fdutimensat
get_quoting_style
gettext_quote
gettime
hard_locale
locale_charset
localtime_rz
lookup_zone
main
mktime_z
nstrftime
posix2_version
posixtime
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
revert_tz
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
save_abbr
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_tz
str_days
__strftime_internal
tzalloc
tzfree
usage
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc
yyparse

PLT sections:
__ctype_toupper_loc
getenv
__snprintf_chk
free
utimensat
localtime
__vfprintf_chk
abort
__errno_location
strncmp
localtime_r
_exit
__fpending
clock_gettime
setenv
textdomain
fclose
bindtextdomain
dcgettext
__ctype_get_mb_cur_max
strlen
__lxstat
getopt_long
mbrtowc
dup2
strchr
__overflow
strrchr
gmtime_r
lseek
__assert_fail
fputs
memset
close
fputc
__libc_start_main
memcmp
fputs_unlocked
calloc
strcmp
strtol
memcpy
tzset
time
fileno
__stpcpy_chk
__xstat
malloc
fflush
nl_langinfo
mktime
__freading
realloc
setlocale
__printf_chk
timegm
strftime
error
open
fseeko
unsetenv
futimens
__cxa_atexit
exit
fwrite
__fprintf_chk
mbsinit
iswprint
__ctype_tolower_loc
__ctype_b_loc
__sprintf_chk

Function signatures:

Function types:

Data:

Preamble:
