Text sections:
adjust_value
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
bkm_scale
bkm_scale_by_power
bsd_sum_file
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
default_block_size
emit_ancillary_info
emit_bug_reporting_address
emit_stdin_note
fadvise
fdadvise
get_quoting_style
gettext_quote
__gl_setmode
__gl_setmode_check
group_number
hard_locale
human_options
human_readable
humblock
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_read
set_binary_mode
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401739
sub_40173a
sub_401772
sub_4017ba
sub_4017dc
sub_4017ed
sub_401806
sub_40185e
sub_4019f9
sub_401a3a
sub_401ae1
sub_401c5a
sub_401d07
sub_401d2f
sub_401d3e
sub_401d8b
sub_401dcf
sub_401e03
sub_401e38
sub_402035
sub_4020cb
sub_4020fa
sub_402283
sub_4023f8
sub_402432
sub_4024ac
sub_40252f
sub_402557
sub_40256e
sub_4025c8
sub_40267d
sub_40274e
sub_402767
sub_402815
sub_40284a
sub_402882
sub_4028de
sub_402968
sub_402a0c
sub_402a50
sub_402b0f
sub_402d48
sub_402ef4
sub_402f93
sub_402fd7
sub_403024
sub_4030a3
sub_403283
sub_4032ae
sub_4032ee
sub_40332e
sub_403402
sub_4034a1
sub_40350d
sub_403519
sub_403576
sub_4035bd
sub_4035f8
sub_40369f
sub_403726
sub_403777
sub_403792
sub_4038a7
sub_40420b
sub_404cc7
sub_40500b
sub_4052cb
sub_4052db
sub_405341
sub_40537c
sub_4054c7
sub_4055eb
sub_4055f0
sub_405631
sub_40569e
sub_405706
sub_40580b
sub_40581e
sub_405853
sub_40589b
sub_4058c9
sub_4059bd
sub_405bec
sub_405dc9
sub_4061de
sub_406217
sub_406373
sub_40653f
sub_406553
sub_4065ba
sub_4065fe
sub_406f27
sub_4071dd
sub_407228
sub_407255
sub_40729a
sub_4073dc
sub_4074bc
sub_4074c6
sub_407585
sub_4075fe
sub_4076cf
sub_407718
sub_407756
sub_4077b2
sub_4078e3
sub_40793a
sub_407972
sub_407a22
sub_407b43
sub_407b87
sub_407cf4
sub_407d65
sub_407d72
sub_407d96
sysv_sum_file
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xset_binary_mode
xset_binary_mode_error
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
strcmp
gettext
fprintf
printf
fputs_unlocked
exit
setlocale
strncmp
bindtextdomain
textdomain
setvbuf
getopt_long
getenv
calloc
memset
free
__errno_location
abort
memcpy
memcmp
strlen
posix_fadvise
read
error
fopen
getc_unlocked
fileno
fclose
__freading
lseek
realloc
fflush
fseeko
__fpending
ferror_unlocked
putchar_unlocked
close
open
_exit
localeconv
sprintf
memmove
putc_unlocked
fputs
mbrtowc
strrchr
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
malloc
strchr
__assert_fail
strtoumax
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
