Text sections:
bad_cast
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
full_write
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_write
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4012d9
sub_4012da
sub_401312
sub_40135a
sub_40137c
sub_40138d
sub_4013a6
sub_4013f7
sub_401458
sub_4014d3
sub_4014ee
sub_401577
sub_4015ca
sub_40160d
sub_40161b
sub_40171e
sub_401a54
sub_401af6
sub_401b1f
sub_401c84
sub_401cca
sub_401d7e
sub_401dbe
sub_401ef5
sub_401f6e
sub_401fe0
sub_4020b2
sub_402214
sub_40225b
sub_4022c4
sub_402307
sub_40233d
sub_402397
sub_4023b6
sub_4023ce
sub_40243e
sub_4024a3
sub_4024d8
sub_402513
sub_40256b
sub_4025e2
sub_4025fe
sub_402729
sub_40278e
sub_40280f
sub_402958
sub_402df8
sub_402e32
sub_402e4e
sub_40305e
sub_4031e7
sub_403217
sub_4032cd
sub_403356
sub_403425
sub_40345a
sub_40346a
sub_4034cb
sub_40351f
sub_403546
sub_40365a
sub_40371d
sub_40371e
sub_403775
sub_4037c4
sub_40381a
sub_403881
sub_403b7a
sub_403c1f
sub_403c93
sub_403d71
sub_403dc8
sub_40476b
sub_4051cf
sub_4053e8
sub_405525
sub_4055b7
sub_405628
sub_4056f5
sub_405741
sub_40575a
sub_405831
sub_4058c6
sub_4058eb
sub_40592e
sub_40595c
sub_405a22
sub_405a3e
sub_405aa2
sub_405aba
sub_405b7b
sub_405bae
sub_405be7
sub_405c55
sub_405c62
sub_405c86
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
gettext
fprintf
printf
fputs_unlocked
exit
__freading
fflush
setlocale
strcmp
nl_langinfo
fileno
fclose
lseek
__errno_location
strlen
memcpy
strncmp
bindtextdomain
textdomain
error
_exit
getopt_long
abort
fputs
strrchr
__fpending
ferror_unlocked
memset
free
realloc
calloc
mbrtowc
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
write
malloc
fseeko
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
