Text sections:
add_line_number
char_to_clump
clone_quoting_options
close_file
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
current_timespec
dup_safer
emit_bug_reporting_address
fadvise
fdadvise
first_last_page
fopen_safer
getoptarg
get_quoting_style
gettext_quote
gettime
gnu_mbswidth
hard_locale
imaxtostr
init_header
integer_overflow
locale_charset
localtime_rz
main
mbsnwidth
mktime_z
nstrftime
open_file
print_char
print_files
print_header
print_sep_string
print_stored
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
read_line
read_rest_of_line
revert_tz
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
save_abbr
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_tz
skip_read
store_char
__strftime_internal
tzalloc
tzfree
usage
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoimax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoimax
xrealloc
xstrdup
xstrtoimax
xstrtol
xstrtol_fatal
xstrtoumax
xzalloc

PLT sections:
__ctype_toupper_loc
__uflow
getenv
free
abort
__errno_location
strncmp
localtime_r
_exit
__fpending
iswcntrl
fcntl
clock_gettime
setenv
textdomain
__strtol_internal
fclose
bindtextdomain
dcgettext
__ctype_get_mb_cur_max
strlen
getopt_long
mbrtowc
strchr
__overflow
strrchr
gmtime_r
lseek
__assert_fail
__strtoul_internal
memset
close
posix_fadvise
__libc_start_main
memcmp
fputs_unlocked
calloc
strcmp
strtol
memcpy
tzset
fileno
wcwidth
malloc
fflush
nl_langinfo
ungetc
__fxstat
mktime
__freading
realloc
fdopen
setlocale
__printf_chk
timegm
strftime
error
fseeko
fopen
unsetenv
__cxa_atexit
exit
fwrite
__fprintf_chk
mbsinit
iswprint
__ctype_tolower_loc
__ctype_b_loc
__sprintf_chk

Function signatures:

Function types:

Data:

Preamble:
