Text sections:
base_len
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
emit_bug_reporting_address
fd_reopen
file_name_concat
get_quoting_style
gettext_quote
hard_locale
last_component
locale_charset
main
mfile_name_concat
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401539
sub_40153a
sub_401572
sub_4015ba
sub_4015dc
sub_4015ed
sub_401606
sub_401623
sub_401812
sub_401874
sub_4018e8
sub_40199f
sub_401a6f
sub_401c31
sub_401c53
sub_401ce6
sub_401fc4
sub_401ffd
sub_4023f7
sub_402435
sub_402546
sub_40256e
sub_4025d1
sub_402739
sub_402bf2
sub_402c08
sub_402c5a
sub_402c65
sub_402cc8
sub_402d3e
sub_402d74
sub_402da9
sub_402e0f
sub_402e37
sub_402e8b
sub_402e95
sub_402edc
sub_402f5f
sub_40308c
sub_40312f
sub_4031f1
sub_403233
sub_4032ac
sub_4032b5
sub_40333a
sub_403345
sub_403445
sub_403534
sub_403883
sub_4038b6
sub_4038e5
sub_403926
sub_403963
sub_4039d8
sub_403a11
sub_403a8e
sub_403a9a
sub_403ab1
sub_403acf
sub_403e28
sub_403e86
sub_403e9e
sub_40405d
sub_404065
sub_4040df
sub_4040e5
sub_404124
sub_40414b
sub_4041f5
sub_404491
sub_4044aa
sub_404541
sub_40457b
sub_404676
sub_404685
sub_404715
sub_40478e
sub_40480e
sub_404886
sub_404931
sub_4049b4
sub_404aac
sub_404ad1
sub_404af8
sub_404b82
sub_404c68
sub_404c96
sub_404d05
sub_404d12
sub_404d36
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getenv
isatty
__errno_location
error
umask
open
free
dup2
close
signal
execvp
_exit
strlen
malloc
__mempcpy_chk
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
realloc
memcpy
calloc
fcntl
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
