Text sections:
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
num_processors
num_processors_ignoring_omp
num_processors_via_affinity_mask
parse_omp_threads
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401539
sub_40153a
sub_401572
sub_4015ba
sub_4015dc
sub_4015ed
sub_401606
sub_40161d
sub_40162f
sub_40163f
sub_40164a
sub_401669
sub_40167a
sub_4016a6
sub_4016df
sub_401709
sub_40172c
sub_4017a1
sub_4017c7
sub_4017ee
sub_401816
sub_401887
sub_40189a
sub_401917
sub_40192a
sub_401990
sub_401a76
sub_401b46
sub_401b66
sub_401b9d
sub_401bb3
sub_401c34
sub_401c4a
sub_401cd3
sub_401ce5
sub_401d13
sub_401d3a
sub_401e3b
sub_401ead
sub_401ebd
sub_401ec7
sub_401f36
sub_401f51
sub_401f76
sub_401fad
sub_401fba
sub_401fcf
sub_402022
sub_402167
sub_40217a
sub_40218a
sub_402193
sub_4021d6
sub_402216
sub_402269
sub_4022a4
sub_402572
sub_402588
sub_4025a0
sub_4025ea
sub_4026dc
sub_40271d
sub_402745
sub_402789
sub_4027a1
sub_4027c4
sub_402842
sub_40285a
sub_402869
sub_4028d8
sub_4028ea
sub_4028fd
sub_402941
sub_402963
sub_402991
sub_402a28
sub_402aa9
sub_402b13
sub_402b7f
sub_402bc9
sub_402c15
sub_402c4f
sub_402c5a
sub_402cdd
sub_402fbc
sub_402fd3
sub_40306e
sub_4033b4
sub_4033fd
sub_4036e3
sub_40372c
sub_403833
sub_403908
sub_403a9c
sub_403b0e
sub_403b36
sub_403b48
sub_403b73
sub_403b8e
sub_403d4d
sub_403e6a
sub_403e75
sub_403efa
sub_403f17
sub_403f2c
sub_403f7e
sub_403f83
sub_40411d
sub_404147
sub_4041bc
sub_404251
sub_404279
sub_4045d8
sub_404613
sub_404625
sub_4046ab
sub_404715
sub_404722
sub_404746
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
error
__errno_location
_exit
getenv
strtoul
sysconf
sched_getaffinity
__sched_cpucount
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
strtoumax
strchr
__assert_fail
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
