Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_strtod
emit_bug_reporting_address
extract_trimmed_name
fprintftime
get_quoting_style
gettext_quote
hard_locale
locale_charset
localtime_rz
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
read_utmp
revert_tz
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
save_abbr
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_tz
__strftime_internal
sub_401a59
sub_401a5a
sub_401a92
sub_401ada
sub_401afc
sub_401b0d
sub_401b26
sub_401bb3
sub_401c14
sub_401d05
sub_401ffd
sub_402013
sub_4020b5
sub_402404
sub_40244d
sub_402732
sub_40277c
sub_402883
sub_402958
sub_402b17
sub_402b25
sub_402bf1
sub_4030a3
sub_403295
sub_4032c6
sub_403378
sub_4033b8
sub_4035cd
sub_4035df
sub_4035e5
sub_403639
sub_403651
sub_403733
sub_403762
sub_40378e
sub_40380e
sub_403ade
sub_4048fc
sub_4051e9
sub_4052c6
sub_4052e1
sub_405371
sub_4053fe
sub_405428
sub_40543e
sub_4055fd
sub_405674
sub_40576c
sub_405854
sub_4058c6
sub_4058d5
sub_405958
sub_405a45
sub_405b48
sub_405b56
sub_405b8a
sub_405ba3
sub_405f38
sub_405fad
sub_406055
sub_406082
sub_406158
sub_406194
sub_4061da
sub_4062a5
sub_4062ca
sub_406301
sub_406315
sub_406492
sub_4064d3
sub_4064e8
sub_4064f5
sub_406535
sub_406631
sub_40669d
sub_406783
sub_4067d6
sub_406802
sub_4068d1
sub_406901
sub_40697f
sub_4069f4
sub_406a18
sub_406c02
sub_406c36
sub_406cd5
sub_406d4e
sub_406d55
sub_406de0
sub_406e75
sub_406e95
sub_406f3c
sub_406f50
sub_406fa7
sub_4070a6
sub_4070bf
sub_4070d9
sub_40714e
sub_4071c2
sub_4071e6
tzalloc
tzfree
uptime
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
error
fopen
fgets_unlocked
time
localtime
dcngettext
getloadavg
__overflow
__errno_location
newlocale
strtod_l
_exit
fputc
strlen
strftime
fwrite
__ctype_tolower_loc
__ctype_toupper_loc
getopt_long
strrchr
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
fileno
__freading
lseek
fclose
fflush
fseeko
mbrtowc
strncpy
utmpxname
setutxent
getutxent
kill
endutxent
localtime_r
gmtime_r
getenv
strcmp
setenv
unsetenv
tzset
mktime
timegm
__fpending
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
