Text sections:
announce_mkdir
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
defaultcon
dirchownmod
dup_safer
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
fd_safer
fstat
get_quoting_style
gettext_quote
hard_locale
ignorable_ctx_err
locale_charset
main
make_ancestor
make_dir_parents
make_node_op_equals
mkancesdirs
mode_adjust
mode_compile
mode_create_from_ref
octal_to_mode
open_safer
process_dir
prog_fprintf
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
restorecon
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
savewd_chdir
savewd_delegating
savewd_errno
savewd_finish
savewd_init
savewd_process_files
savewd_restore
savewd_save
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
stat
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401879
sub_40187a
sub_4018b2
sub_4018fa
sub_40191c
sub_40192d
sub_401946
sub_40195e
sub_401b1d
sub_401d76
sub_401df7
sub_401e31
sub_401e53
sub_401e82
sub_401ecc
sub_401f46
sub_401f62
sub_402059
sub_40206a
sub_40207d
sub_40216a
sub_402234
sub_40235a
sub_40236f
sub_40246b
sub_402487
sub_4025fb
sub_402605
sub_402626
sub_40265d
sub_402673
sub_40268e
sub_40269a
sub_4026d6
sub_402706
sub_40274d
sub_402789
sub_402af8
sub_402c35
sub_402cc3
sub_402cdd
sub_402d4e
sub_402da6
sub_402dba
sub_402dd9
sub_402dea
sub_402dff
sub_402e2f
sub_402e3a
sub_402e43
sub_402e63
sub_403024
sub_4030c1
sub_403119
sub_403127
sub_403178
sub_403216
sub_4032e3
sub_40330e
sub_403343
sub_4033a3
sub_4033ca
sub_40347f
sub_403492
sub_4034c3
sub_4034d4
sub_403507
sub_40351b
sub_40352b
sub_4035ca
sub_4036b1
sub_4036cc
sub_40374d
sub_40375d
sub_403767
sub_403811
sub_40382a
sub_403838
sub_40384a
sub_40385a
sub_403863
sub_4038a6
sub_4038d9
sub_40390f
sub_40391d
sub_40392a
sub_403a1c
sub_403a76
sub_403a8f
sub_403b02
sub_403b19
sub_403b88
sub_403b95
sub_403bc6
sub_403c69
sub_403dbc
sub_40409c
sub_4040b3
sub_40414e
sub_404494
sub_4044dd
sub_4047c3
sub_40480c
sub_404913
sub_4049e8
sub_404b7c
sub_404bcb
sub_404c09
sub_404c21
sub_404c44
sub_404c58
sub_404c85
sub_404cb7
sub_404cce
sub_404cda
sub_404d32
sub_404fbb
sub_404ff7
sub_40500a
sub_4050dd
sub_405101
sub_4051a8
sub_40520a
sub_405219
sub_40524f
sub_405254
sub_4052f8
sub_405379
sub_4053e3
sub_40544f
sub_405499
sub_4054e5
sub_40551f
sub_40552e
sub_40568c
sub_405704
sub_405729
sub_4057ed
sub_405831
sub_40584f
sub_40585a
sub_405b22
sub_405b95
sub_405ba2
sub_405bc6
sub_405bd9
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
error
umask
free
__errno_location
mkdir
__vfprintf_chk
fputc_unlocked
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
open
fchdir
chdir
close
__assert_fail
fork
waitpid
raise
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
fchown
lchown
chown
fchmod
chmod
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
fcntl
__cxa_atexit
__xstat
__fxstat

Function signatures:

Function types:

Data:

Preamble:
