Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4014b9
sub_4014ba
sub_4014f2
sub_40153a
sub_40155c
sub_40156d
sub_401586
sub_401613
sub_4016a1
sub_4016c9
sub_4016d5
sub_40177c
sub_401861
sub_40187a
sub_401885
sub_4018e8
sub_401945
sub_4019be
sub_4019cf
sub_4019d8
sub_401a36
sub_401ab8
sub_402041
sub_4020e4
sub_402584
sub_402598
sub_40261b
sub_402653
sub_4026d4
sub_4026f8
sub_402796
sub_4027a5
sub_402846
sub_4028d1
sub_402975
sub_4029ef
sub_4029f5
sub_402a75
sub_402b03
sub_402b2a
sub_402b63
sub_402bc6
sub_402c61
sub_402c90
sub_402d4b
sub_402d69
sub_402dd8
sub_402dfa
sub_403158
sub_403221
sub_403235
sub_403283
sub_4032f8
sub_40330f
sub_403327
sub_40333e
sub_4034fd
sub_403513
sub_40352f
sub_4035f5
sub_4036cc
sub_403725
sub_403a1d
sub_403a33
sub_403ad5
sub_403e24
sub_403e6d
sub_404152
sub_40419c
sub_4042a3
sub_404378
sub_404537
sub_404574
sub_404625
sub_40469a
sub_404714
sub_404902
sub_4049fc
sub_405318
sub_40532a
sub_40539c
sub_405405
sub_405412
sub_405436
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoimax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoimax
xrealloc
xstrdup
xstrtoimax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__ctype_b_loc
error
__xstat
open
lseek
__errno_location
close
__fxstat
ftruncate
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
__strtol_internal
strchr
__assert_fail
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
