Text sections:
__argmatch_die
argmatch_invalid
argmatch_to_argument
bkm_scale
bkm_scale_by_power
check_and_close
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_strcasecmp
c_tolower
c_toupper
decode_format_string
decode_one_format
dtoastr
dump
dump_hexl_mode_trailer
dump_strings
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
format_address_label
format_address_none
format_address_paren
format_address_std
fstat
ftoastr
gcd
get_lcm
get_quoting_style
gettext_quote
__gl_setmode
__gl_setmode_check
hard_locale
lcm
ldtoastr
locale_charset
main
open_next_file
parse_old_offset
print_ascii
print_char
print_double
print_float
print_int
print_long
print_long_double
print_long_long
print_named_ascii
print_s_char
print_short
print_s_short
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
read_block
read_char
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_binary_mode
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
simple_strtoul
skip
sub_4018a9
sub_4018aa
sub_4018e2
sub_40192a
sub_40194c
sub_40195d
sub_401976
sub_401a78
sub_401b1a
sub_401b92
sub_401bbb
sub_401e14
sub_401e4a
sub_401e5e
sub_401f0a
sub_401f51
sub_401fd5
sub_4020a0
sub_402179
sub_40228f
sub_4022cb
sub_40259b
sub_402618
sub_402766
sub_402835
sub_40293e
sub_40299e
sub_4029f7
sub_402a3e
sub_402ab3
sub_402e41
sub_402f9b
sub_4030bc
sub_4030e7
sub_403137
sub_403172
sub_4031aa
sub_4031e1
sub_403258
sub_4032ba
sub_40330b
sub_403352
sub_403463
sub_4034ab
sub_40357a
sub_4036fe
sub_403706
sub_40385b
sub_403943
sub_4039be
sub_403c6f
sub_403caf
sub_403d5d
sub_403d6e
sub_403f14
sub_40400f
sub_404101
sub_40417b
sub_404233
sub_404576
sub_40460a
sub_404923
sub_405229
sub_405b43
sub_405c11
sub_405d57
sub_405d93
sub_405dbc
sub_405ea2
sub_405f1e
sub_405f26
sub_405fd3
sub_406050
sub_4060fe
sub_40612f
sub_406158
sub_40616e
sub_4061d7
sub_406217
sub_4062ee
sub_406382
sub_4063cd
sub_4063fd
sub_40643a
sub_406465
sub_4064ec
sub_406527
sub_40658e
sub_4065c7
sub_4066b7
sub_406717
sub_40676a
sub_406782
sub_40725d
sub_40842c
sub_4086bb
sub_408746
sub_4087dd
sub_40893d
sub_408ba2
sub_408bd8
sub_40911e
sub_4091e3
sub_4095d9
sub_40965b
sub_409bff
sub_409c23
sub_409e9e
sub_409ee8
sub_409efb
sub_409f55
sub_40a0c5
sub_40a0ef
sub_40a148
sub_40a2b1
sub_40a325
sub_40a3a7
sub_40a449
sub_40a556
sub_40a598
sub_40a5bf
sub_40a5ef
sub_40a72c
sub_40a7ae
sub_40a925
sub_40a9cc
sub_40a9e7
sub_40ab16
sub_40ac61
sub_40ad44
sub_40ade2
sub_40ae5e
sub_40af96
sub_40b213
sub_40b247
sub_40b5eb
sub_40b655
sub_40b662
sub_40b686
sub_40b699
usable_st_size
usage
version_etc_ar
version_etc_arn
write_block
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xfprintf
xmalloc
xmemdup
xnmalloc
xnrealloc
xprintf
xrealloc
xset_binary_mode
xset_binary_mode_error
xstrdup
xstrtol_error
xstrtol_fatal
xstrtoumax
xvfprintf
xvprintf
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
strchr
error
fileno
__fxstat
__errno_location
fread_unlocked
memset
free
fgetc
__ctype_b_loc
__overflow
__assert_fail
__sprintf_chk
strlen
localeconv
abort
fopen
setvbuf
memcmp
_exit
__snprintf_chk
strtod
strtof
strtold
strrchr
fwrite
__ctype_get_mb_cur_max
iswprint
mbsinit
malloc
realloc
memcpy
__vfprintf_chk
ferror
__strtoul_internal
calloc
__freading
lseek
fclose
fflush
fseeko
mbrtowc
__fpending
strcmp
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
