Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
compare_ranges
cut_file
emit_bug_reporting_address
fadvise
fdadvise
freadahead
freadptr
getndelim2
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
memchr2
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
reset_fields
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_fields
set_program_name
set_quoting_flags
set_quoting_style
sub_401759
sub_40175a
sub_401792
sub_4017da
sub_4017fc
sub_40180d
sub_401826
sub_401835
sub_401868
sub_4018c6
sub_401945
sub_4019c9
sub_4019e9
sub_401a38
sub_401aae
sub_401b1c
sub_401b2a
sub_401d12
sub_401d46
sub_401da5
sub_401e33
sub_401e7c
sub_401f6c
sub_401f95
sub_401fa5
sub_401fe5
sub_402058
sub_40218d
sub_402195
sub_402291
sub_4022cb
sub_402319
sub_402394
sub_4023a5
sub_4023b5
sub_4024b6
sub_4024c5
sub_402541
sub_4025b4
sub_4025cf
sub_40263f
sub_40269c
sub_4026b6
sub_402738
sub_40277f
sub_4027d9
sub_40285f
sub_402a99
sub_402b0d
sub_402f06
sub_402fe2
sub_403091
sub_4030d1
sub_403115
sub_403194
sub_403208
sub_40349f
sub_4034a8
sub_403504
sub_403543
sub_40359b
sub_4035a5
sub_4035ff
sub_403757
sub_403821
sub_403863
sub_403c0e
sub_403ca5
sub_403f9d
sub_403fb3
sub_404055
sub_4043a4
sub_4043ed
sub_4046d2
sub_40471c
sub_404823
sub_4048f8
sub_404ab7
sub_404b35
sub_404b45
sub_404cac
sub_404e05
sub_404fab
sub_404fd8
sub_404ff7
sub_405005
sub_4050e8
sub_4051ef
sub_4052cb
sub_40539d
sub_405459
sub_4054d3
sub_4054f8
sub_4055a3
sub_405769
sub_40577a
sub_405ad8
sub_405af3
sub_405b1d
sub_405b5e
sub_405d1d
sub_405d3a
sub_405d61
sub_405d92
sub_405e05
sub_405e12
sub_405e36
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
strlen
__errno_location
error
fopen
fwrite_unlocked
__overflow
__uflow
ungetc
free
clearerr_unlocked
__assert_fail
__ctype_b_loc
qsort
memmove
strspn
_exit
posix_fadvise
fileno
malloc
realloc
memcpy
memchr
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
memset
__strndup
calloc
__freading
lseek
fclose
fflush
fseeko
mbrtowc
__fpending
fgetc
fread
ferror
strcmp
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
