Text sections:
add_epsilon_src_nodes
analyze
base_len
bitset_clear
bitset_contain
bitset_copy
bitset_empty
bitset_mask
bitset_merge
bitset_not
bitset_set
bitset_set_all
build_charclass
build_charclass_op
build_collating_symbol
build_equiv_class
build_range_exp
build_sifted_states
build_trtable
build_upper_buffer
build_wcs_buffer
build_wcs_upper_buffer
calc_eclosure
calc_eclosure_iter
calc_first
calc_inveclosure
calc_next
calc_state_hash
check_arrival
check_arrival_add_next_nodes
check_arrival_expand_ecl
check_arrival_expand_ecl_sub
check_dst_limits
check_dst_limits_calc_pos
check_dst_limits_calc_pos_1
check_halt_node_context
check_halt_state_context
check_matching
check_node_accept
check_node_accept_bytes
check_subexp_limits
check_subexp_matching_top
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clean_state_log_if_needed
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
copy_to_temp
create_cd_newstate
create_ci_newstate
create_initial_state
create_token_tree
create_tree
c_strcasecmp
c_tolower
c_toupper
duplicate_node
duplicate_node_closure
duplicate_tree
dup_safer
dup_safer_flag
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
expand_bkref_cache
extend_buffers
fd_safer
fd_safer_flag
fetch_number
fetch_token
find_recover_state
find_subexp_node
free_charset
free_dfa_content
free_fail_stack_return
free_state
free_token
free_tree
free_workarea_compile
get_quoting_style
get_subexp
get_subexp_sub
gettext_quote
__gl_setmode
__gl_setmode_check
group_nodes_into_DFAstates
hard_locale
init_dfa
init_word_char
last_component
link_nfa_nodes
locale_charset
lower_subexp
lower_subexps
main
mark_opt_subexp
match_ctx_add_entry
match_ctx_add_sublast
match_ctx_add_subtop
match_ctx_clean
match_ctx_free
match_ctx_init
merge_state_array
merge_state_with_log
mfile_name_concat
mkostemp_safer
mkstemp_safer
optimize_subexps
optimize_utf8
output
parse
parse_bracket_element
parse_bracket_exp
parse_bracket_symbol
parse_branch
parse_byte
parse_dup_op
parse_expression
parse_reg_exp
parse_sub_exp
peek_token
peek_token_bracket
pop_fail_stack
postorder
preorder
proceed_next_node
prune_impossible_nodes
push_fail_stack
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
re_acquire_state
re_acquire_state_context
re_compile_fastmap_iter
re_compile_internal
record_or_unlink_tempfile
re_dfa_add_node
re_node_set_add_intersect
re_node_set_alloc
re_node_set_compare
re_node_set_contains
re_node_set_init_1
re_node_set_init_2
re_node_set_init_copy
re_node_set_init_union
re_node_set_insert
re_node_set_insert_last
re_node_set_merge
re_node_set_remove_at
re_search_2_stub
re_search_internal
re_search_stub
re_string_allocate
re_string_char_size_at
re_string_construct
re_string_construct_common
re_string_context_at
re_string_destruct
re_string_elem_size_at
re_string_fetch_byte_case
re_string_peek_byte_case
re_string_realloc_buffers
re_string_reconstruct
re_string_skip_chars
re_string_translate_buffer
re_string_wchar_at
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
rpl_re_compile_fastmap
rpl_re_compile_pattern
rpl_regcomp
rpl_regerror
rpl_regexec
rpl_regfree
rpl_re_match
rpl_re_match_2
rpl_re_search
rpl_re_search_2
rpl_re_set_registers
rpl_re_set_syntax
safe_read
search_cur_bkref_entry
search_duplicated_node
set_binary_mode
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_regs
sift_ctx_init
sift_states_bkref
sift_states_iter_mb
sub_401a39
sub_401a3a
sub_401a72
sub_401aba
sub_401adc
sub_401aed
sub_401b06
sub_401c1d
sub_401ebd
sub_402162
sub_40219d
sub_402203
sub_402232
sub_40225f
sub_4022d3
sub_40238f
sub_4023ef
sub_402434
sub_40251d
sub_402544
sub_402632
sub_40267f
sub_402718
sub_4027ab
sub_40282e
sub_40297e
sub_4029b8
sub_4029fa
sub_402a1f
sub_402e99
sub_403082
sub_403425
sub_40374c
sub_40397d
sub_4039ce
sub_403c5f
sub_40467c
sub_40471a
sub_40474c
sub_404f8c
sub_4050e4
sub_4053a3
sub_4053f6
sub_4055a4
sub_405687
sub_405885
sub_405d12
sub_4060d0
sub_40611d
sub_406190
sub_40621a
sub_4062e9
sub_406321
sub_40634d
sub_40638b
sub_4063b6
sub_40649f
sub_4067f9
sub_40680e
sub_406d72
sub_406dd6
sub_4070e5
sub_4072f6
sub_407332
sub_40734e
sub_4073eb
sub_407414
sub_40744d
sub_4074f0
sub_4079c9
sub_407a56
sub_407e9d
sub_4082f2
sub_4085ea
sub_40875a
sub_408782
sub_408977
sub_4089ba
sub_408aaf
sub_408b22
sub_408b4e
sub_408ba8
sub_408c14
sub_408ca7
sub_408d70
sub_408fd7
sub_409021
sub_409085
sub_4090e5
sub_409146
sub_409245
sub_4092b2
sub_4092f7
sub_409333
sub_4095e0
sub_409655
sub_4096bf
sub_4096ea
sub_4097b6
sub_4098dd
sub_4098e2
sub_4098e7
sub_409939
sub_409996
sub_409a91
sub_409a98
sub_409b44
sub_409c2d
sub_409d94
sub_409e90
sub_409eed
sub_409f4b
sub_40a09f
sub_40a2cd
sub_40a2ef
sub_40a63e
sub_40a657
sub_40a7e4
sub_40a836
sub_40b3ba
sub_40b3ea
sub_40b480
sub_40b619
sub_40ba43
sub_40ba6a
sub_40baa2
sub_40c1a6
sub_40c39a
sub_40c6e2
sub_40c755
sub_40ce05
sub_40ce8c
sub_40cfc5
sub_40d1ee
sub_40d2b1
sub_40d30a
sub_40d3e6
sub_40d54a
sub_40d690
sub_40d6c3
sub_40d8fd
sub_40da93
sub_40dc1a
sub_40dd1c
sub_40dd48
sub_40dd5a
sub_40e708
sub_40e8ce
sub_40e912
sub_40ea43
sub_40ea71
sub_40ee90
sub_40ef60
sub_40f0c0
sub_40f0d8
sub_40f112
sub_40f1ba
sub_40f728
sub_40fe67
sub_40ff11
sub_40ff3e
sub_410031
sub_410114
sub_4102cc
sub_41056d
sub_410872
sub_410a9d
sub_410b4b
sub_410be1
sub_410c75
sub_411936
sub_411b91
sub_411c6b
sub_4120d8
sub_4121d3
sub_41222a
sub_4123f1
sub_4125fb
sub_41280d
sub_41298e
sub_412cc7
sub_412e17
sub_412f49
sub_41303c
sub_413155
sub_413928
sub_41396b
sub_4139ad
sub_4139e3
sub_413b6a
sub_413c6b
sub_413cc7
sub_413ce7
sub_413d66
sub_413ea3
sub_413f75
sub_41403a
sub_4140cf
sub_414101
sub_414142
sub_414178
sub_41436b
sub_4145c6
sub_414692
sub_414749
sub_4147ea
sub_41492e
sub_4149b3
sub_414c05
sub_414d7e
sub_414dce
sub_414f46
sub_415005
sub_4154a0
sub_41559d
sub_415765
sub_41578f
sub_415898
sub_4158aa
sub_415b2f
sub_415c93
sub_415e0e
sub_415eb5
sub_41611a
sub_416147
sub_4161db
sub_416a22
sub_41759f
sub_4178c7
sub_4183e1
sub_4187a4
sub_4187cf
sub_4188ec
sub_418bbe
sub_418d08
sub_418d1b
sub_418d4c
sub_418ec7
sub_4192bb
sub_419b09
sub_41a4b5
sub_41a4ea
sub_41a578
sub_41a5f3
sub_41a675
sub_41a6e4
sub_41a7ed
sub_41a7ee
sub_41a915
sub_41ab56
sub_41ac2d
sub_41ada3
sub_41ae8b
sub_41af2d
sub_41b142
sub_41b452
sub_41b4bb
sub_41b90f
sub_41bc03
sub_41bd5d
sub_41c42a
sub_41ca79
sub_41ccc4
sub_41d11c
sub_41d291
sub_41d2a2
sub_41d300
sub_41d385
sub_41d8b0
sub_41dd23
sub_41deb9
sub_41deeb
sub_41df2e
sub_41e09e
sub_41e0d4
sub_41e196
sub_41e233
sub_41e25f
sub_41e8fe
sub_41eab7
sub_41eb61
sub_41ec6a
sub_41ee47
sub_41efd2
sub_41f23b
sub_41f8e9
sub_41faaf
sub_41fac5
sub_41fafb
sub_41fc7c
sub_41febe
sub_4200b0
sub_4202ac
sub_420805
sub_420812
sub_420836
sub_epsilon_src_nodes
tac_file
tac_nonseekable
tac_seekable
temp_stream
transit_state
transit_state_bkref
transit_state_mb
update_cur_sifted_state
update_regs
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xset_binary_mode
xset_binary_mode_error
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
free
realloc
mkstemp
setlocale
strcmp
__errno_location
close
memcpy
gettext
error
abort
malloc
memset
printf
strncmp
fputs_unlocked
open
lseek
isatty
__freading
fileno
fclose
calloc
tolower
wcrtomb
towlower
memmove
__assert_fail
fprintf
exit
strlen
bindtextdomain
textdomain
getopt_long
toupper
mbsinit
towupper
unlink
fwrite_unlocked
nl_langinfo
iswalnum
mbrtowc
fflush
mkostemp
read
__ctype_b_loc
wctype
fflush_unlocked
getenv
fdopen
clearerr_unlocked
ftruncate
_exit
mempcpy
fputs
strrchr
__ctype_get_mb_cur_max
memcmp
fseeko
__fpending
ferror_unlocked
iswprint
fcntl
btowc
iswctype
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
