Text sections:
abformat_init
abmon_init
add_ignore_pattern
adjust_value
align_nstrftime
allocate_entry
ambsalign
areadlink_with_size
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
attach
bad_cast
base_len
basename_is_dot_or_dotdot
bkm_scale
bkm_scale_0
bkm_scale_by_power
bkm_scale_by_power_0
calculate_columns
call_chunkfun
call_freefun
canonicalize_filename_mode
change_env
check_tuning
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_files
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
cmp_atime
cmp_ctime
cmp_extension
cmp_mtime
cmp_name
cmp_size
cmp_version
compute_bucket_size
c_strcasecmp
c_strncasecmp
c_tolower
c_toupper
current_timespec
decode_switches
default_block_size
dev_ino_compare
dev_ino_free
dev_ino_hash
dev_ino_pop
dev_ino_push
dired_dump_obstack
dir_len
dir_name
dot_or_dotdot
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_size_note
equal_tm
errno_unsupported
extend_abbrs
extract_dirs_from_files
fgetfilecon
file_escape
file_escape_init
file_failure
file_has_acl
file_has_acl_cache
file_ignored
filemodestring
file_name_concat
filevercmp
first_percent_b
format_group
format_group_width
format_inode
format_user
format_user_or_group
format_user_or_group_width
format_user_width
freecon
free_ent
free_entry
free_pending_ent
fsetfilecon
__fstat
fstat
fstatat
ftypelet
get_color_indicator
getcon
getenv_quoting_style
getenv_TZ
getfilecon
getfilecon_cache
getfscreatecon
get_funky_string
getgidbyname
getgroup
get_link_name
get_quoting_style
get_stat_atime
get_stat_atime_ns
get_stat_birthtime
get_stat_birthtime_ns
get_stat_ctime
get_stat_ctime_ns
get_stat_mtime
get_stat_mtime_ns
gettext_quote
gettime
get_type_indicator
getuidbyname
getuser
gnu_mbswidth
gobble_file
group_number
hard_locale
has_capability
has_capability_cache
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_pjw
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
human_options
human_readable
humblock
imaxtostr
indent
init_column_info
initialize_exit_failure
initialize_ordering_vector
is_colored
is_directory
isdst_differ
is_ENOTSUP
is_linked_directory
iso_week_days
is_prime
is_smack_enabled
known_term_type
last_component
length_of_file_name_and_frills
lgetfilecon
locale_charset
localtime_rz
long_time_expected_width
lsetfilecon
__lstat
lstat
main
make_link_name
make_timespec
matchpathcon
matchpathcon_init_prefix
match_suffix
mbsalign
mbs_align_pad
mbsnwidth
mdir_name
memcpy_lowcase
memcpy_uppcase
mfile_name_concat
mktime_z
mpsort
mpsort_into_tmp
needs_quoting
next_prime
nstrftime
_obstack_allocated_p
_obstack_begin
_obstack_begin_1
_obstack_begin_worker
_obstack_free
_obstack_memory_used
_obstack_newchunk
order
parse_ls_color
patterns_match
print_and_abort
print_color_indicator
print_current_files
print_dir
print_file_name_and_frills
print_horizontal
print_long_format
print_many_per_line
print_name_with_quoting
print_type_indicator
print_with_separator
process_signals
put_indicator
queue_directory
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_name
quote_name_buf
quote_name_width
quote_n_mem
quoting_options_from_style
raw_comparator
raw_hasher
record_file
restore_default_color
revert_tz
rev_strcmp_atime
rev_strcmp_ctime
rev_strcmp_df_atime
rev_strcmp_df_ctime
rev_strcmp_df_extension
rev_strcmp_df_mtime
rev_strcmp_df_name
rev_strcmp_df_size
rev_strcmp_extension
rev_strcmp_mtime
rev_strcmp_name
rev_strcmp_size
rev_xstrcoll_atime
rev_xstrcoll_ctime
rev_xstrcoll_df_atime
rev_xstrcoll_df_ctime
rev_xstrcoll_df_extension
rev_xstrcoll_df_mtime
rev_xstrcoll_df_name
rev_xstrcoll_df_size
rev_xstrcoll_df_version
rev_xstrcoll_extension
rev_xstrcoll_mtime
rev_xstrcoll_name
rev_xstrcoll_size
rev_xstrcoll_version
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_hasher
same_name
same_nameat
save_abbr
security_check_context
security_check_context_raw
security_compute_create
seen_file
seen_triple
set_char_quoting
set_custom_quoting
setenv_TZ
setexeccon
set_exit_status
setfilecon
setfscreatecon
set_line_length
set_normal_color
set_program_name
set_quoting_flags
set_quoting_style
set_tz
sighandler
signal_init
signal_restore
signal_setup
sort_files
stat
stat_time_normalize
stophandler
strcmp_atime
strcmp_ctime
strcmp_df_atime
strcmp_df_ctime
strcmp_df_extension
strcmp_df_mtime
strcmp_df_name
strcmp_df_size
strcmp_extension
strcmp_mtime
strcmp_name
strcmp_size
__strftime_internal
string_to_security_class
strmode
sub_4027e9
sub_4027ea
sub_402822
sub_40286a
sub_40288c
sub_40289d
sub_4028b6
sub_40291a
sub_402952
sub_4029a2
sub_4029be
sub_4030d6
sub_40352e
sub_4035e4
sub_403653
sub_40488d
sub_404be3
sub_404c28
sub_40662e
sub_407d59
sub_4087aa
sub_408802
sub_408955
sub_4089bb
sub_408ad8
sub_408b5d
sub_408be2
sub_408da5
sub_408ddf
sub_408e53
sub_408ef9
sub_408f2c
sub_4091a3
sub_4091fa
sub_40921a
sub_4092f1
sub_409391
sub_4093f8
sub_409420
sub_4094de
sub_40957e
sub_4096d9
sub_409939
sub_4099b2
sub_4099ce
sub_4099da
sub_409a0a
sub_409a8e
sub_409f58
sub_40a353
sub_40a36e
sub_40a3b5
sub_40a416
sub_40a73f
sub_40a7b6
sub_40a86e
sub_40a94d
sub_40a988
sub_40aa04
sub_40ab78
sub_40abce
sub_40ac47
sub_40ac99
sub_40ae76
sub_40b214
sub_40b3c3
sub_40b45f
sub_40b4af
sub_40b6a5
sub_40b794
sub_40b866
sub_40b8eb
sub_40b972
sub_40bb67
sub_40bc74
sub_40bcaa
sub_40bcd0
sub_40bd7b
sub_40c087
sub_40c99f
sub_40c9ee
sub_40ca52
sub_40ca89
sub_40cb45
sub_40cbe9
sub_40cc14
sub_40cccf
sub_40d20e
sub_40d22b
sub_40d254
sub_40d27d
sub_40d2aa
sub_40d2ce
sub_40d5eb
sub_40d627
sub_40d6c1
sub_40d723
sub_40d8aa
sub_40d998
sub_40da18
sub_40da8b
sub_40dc65
sub_40dec6
sub_40df9d
sub_40e02b
sub_40e098
sub_40e0ba
sub_40e0f3
sub_40e104
sub_40e1e7
sub_40e292
sub_40e2e6
sub_40e536
sub_40e55a
sub_40e595
sub_40e5b2
sub_40e5d2
sub_40e8c2
sub_40e998
sub_40e9d2
sub_40ea83
sub_40eac8
sub_40eb79
sub_40ebe4
sub_40ec3e
sub_40ecfd
sub_40ed37
sub_40edcc
sub_40ee08
sub_40eead
sub_40eee8
sub_40eefd
sub_40efa8
sub_40efd5
sub_40f041
sub_40f073
sub_40f0d8
sub_40f15d
sub_40f1ba
sub_40f3e6
sub_40f428
sub_40f51a
sub_40f561
sub_40f601
sub_40f6d6
sub_40f77d
sub_40f7a8
sub_40f851
sub_40f913
sub_40f9c9
sub_40fa58
sub_40fa87
sub_40fad9
sub_40fb38
sub_40fc72
sub_40fccb
sub_40fdad
sub_40fec7
sub_40ff04
sub_40ff3d
sub_410027
sub_410058
sub_410097
sub_4100ce
sub_4105d9
sub_41074b
sub_41087b
sub_4108ac
sub_410959
sub_41097b
sub_4109df
sub_410a18
sub_410a49
sub_410b9f
sub_410ba0
sub_410bbe
sub_410bc8
sub_410be6
sub_410bf1
sub_410bfe
sub_410ca9
sub_410d01
sub_410dad
sub_410dbb
sub_410e12
sub_410e29
sub_410e97
sub_410eae
sub_411003
sub_411094
sub_4110c7
sub_4110fe
sub_411205
sub_411278
sub_4112f8
sub_411332
sub_41142c
sub_41163a
sub_411706
sub_41185e
sub_4118b4
sub_4118d2
sub_4119ad
sub_411d44
sub_411ef6
sub_411f2a
sub_41200c
sub_412097
sub_4120d8
sub_412132
sub_412160
sub_412228
sub_41227a
sub_412492
sub_41268c
sub_4126be
sub_412798
sub_4127fe
sub_41282c
sub_4128f2
sub_412b0c
sub_412b5f
sub_412b91
sub_412c02
sub_412c83
sub_412ce7
sub_412d18
sub_412d26
sub_412e46
sub_412e62
sub_412f5a
sub_4130d8
sub_413114
sub_413158
sub_4131bd
sub_4132aa
sub_413372
sub_413548
sub_41358d
sub_4143eb
sub_41444e
sub_414488
sub_414577
sub_4145a0
sub_414658
sub_414662
sub_4147d9
sub_414860
sub_4148be
sub_4149f5
sub_414d7d
sub_414dad
sub_414e5e
sub_414e75
sub_414eae
sub_414ee8
sub_414f6d
sub_41556d
sub_4163dd
sub_4163f2
sub_416412
sub_416671
sub_416746
sub_41677a
sub_4167a4
sub_4167e2
sub_416818
sub_416858
sub_416887
sub_4169ad
sub_416ac5
sub_416b88
sub_416bda
sub_416c3c
sub_416cb5
sub_417095
sub_4171d3
sub_41727d
sub_4172a4
sub_4173e0
sub_417907
sub_41794d
sub_41797f
sub_4179e5
sub_417b96
sub_417bee
sub_417c7f
sub_417c9a
sub_417ce9
sub_417ed2
sub_417ef2
sub_417fb8
sub_4180ac
sub_4180fe
sub_4181aa
sub_4183ba
sub_418433
sub_418579
sub_41864c
sub_41866a
sub_4186df
sub_41876d
sub_4187e7
sub_418884
sub_41892d
sub_4189cd
sub_4189f0
sub_418bbb
sub_418d14
sub_418d78
sub_418e47
sub_418e5e
sub_418ebe
sub_4192a5
sub_4194a8
sub_419507
sub_41961b
sub_419771
sub_4197b7
sub_419838
sub_4198e2
sub_419902
sub_419b1b
sub_419b7b
sub_419c0e
sub_419c9a
sub_419d2c
sub_419d68
sub_419e0c
sub_419eda
sub_419f34
sub_419fe2
sub_41a028
sub_41a050
sub_41a0f8
sub_41a109
sub_41a248
sub_41a321
sub_41a36a
sub_41a4d4
sub_41a78a
sub_41a81a
sub_41a89c
sub_41a915
sub_41a94e
sub_41aa32
sub_41b3b2
sub_41b504
sub_41b52b
sub_41b5ae
sub_41b658
sub_41b71d
sub_41b752
sub_41b78d
sub_41b7a1
sub_41b833
sub_41b8e6
sub_41bde7
sub_41c0c6
sub_41c11e
sub_41c19e
sub_41c291
sub_41c3ad
sub_41c3ba
sub_41c50f
sub_41c552
sub_41c587
sub_41c5be
sub_41ca25
sub_41cca8
sub_41ccde
sub_41cd8e
sub_41ce7e
sub_41cf08
sub_41cf3e
sub_41d084
sub_41d13e
sub_41d14a
sub_41d1a3
sub_41d24d
sub_41d266
sub_41d33a
sub_41d3b6
sub_41d778
sub_41d90e
sub_41da39
sub_41da8b
sub_41dc8a
sub_41dcd7
sub_41dd1c
sub_41dd7c
sub_41de67
sub_41dea8
sub_41e022
sub_41e0b2
sub_41e0e3
sub_41e128
sub_41e1c3
sub_41e256
sub_41e2c5
sub_41e2d2
sub_41e2f6
sub_41e309
sub_41e32f
timespec_cmp
timespec_sign
timespectod
timetostr
to_uchar
transfer_entries
triple_compare
triple_compare_ino_str
triple_free
triple_hash
triple_hash_no_name
tzalloc
tzfree
umaxtostr
unsigned_file_size
usage
verrevcmp
version_etc
version_etc_ar
version_etc_arn
version_etc_va
visit_dir
wc_ensure_printable
wc_truncate
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xdectoumax
xgetcwd
xgethostname
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrcoll
xstrcoll_atime
xstrcoll_ctime
xstrcoll_df_atime
xstrcoll_df_ctime
xstrcoll_df_extension
xstrcoll_df_mtime
xstrcoll_df_name
xstrcoll_df_size
xstrcoll_df_version
xstrcoll_extension
xstrcoll_mtime
xstrcoll_name
xstrcoll_size
xstrcoll_version
xstrdup
xstrtol_error
xstrtol_fatal
xstrtoul
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
toupper
__errno_location
free
strlen
memcpy
memmove
strspn
strchr
putchar_unlocked
fputs_unlocked
printf
__ctype_b_loc
memcmp
__ctype_get_mb_cur_max
abort
iswprint
mbsinit
memset
strftime
sprintf
gnu_dev_major
gnu_dev_minor
getcwd
fnmatch
gettext
fprintf
exit
strcmp
strncmp
getgrgid
strcpy
putc_unlocked
localeconv
fputs
strrchr
strtoul
__assert_fail
calloc
malloc
getgrnam
setlocale
bindtextdomain
textdomain
error
getenv
_exit
tcgetpgrp
fwrite_unlocked
mbrtowc
localtime_r
gmtime_r
_setjmp
__fpending
ferror_unlocked
clock_gettime
getpwuid
tzset
snprintf
fileno
lseek
fseeko
getpwnam
realloc
mempcpy
mbstowcs
wcstombs
wcswidth
strcoll
longjmp
isatty
dcgettext
ioctl
getopt_long
gethostname
__freading
fflush
nl_langinfo
iswcntrl
wcwidth
strtoumax
sigemptyset
sigaction
sigaddset
sigismember
signal
timegm
mktime
fclose
setenv
unsetenv
raise
sigprocmask
fflush_unlocked
tolower
closedir
dirfd
opendir
readdir
stpncpy
stpcpy
readlink
__cxa_atexit
__xstat
__fxstat
__lxstat
__fxstatat

Function signatures:

Function types:

Data:

Preamble:
