Text sections:
areadlink
base_len
careadlinkat
careadlinkatcwd
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
dir_len
dir_name
emit_bug_reporting_address
file_name_concat
get_quoting_style
gettext_quote
hard_locale
last_component
locale_charset
main
mdir_name
mfile_name_concat
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401669
sub_40166a
sub_4016a2
sub_4016ea
sub_40170c
sub_40171d
sub_401736
sub_401748
sub_401815
sub_401855
sub_4018c8
sub_4018d5
sub_40198e
sub_4019b2
sub_401a16
sub_401b0c
sub_401bd5
sub_401bf3
sub_401c1a
sub_401c84
sub_401d26
sub_401d41
sub_401db7
sub_40211d
sub_402459
sub_402465
sub_4024d3
sub_4024f8
sub_40250e
sub_4026cd
sub_402708
sub_402966
sub_402a1f
sub_402aef
sub_402cb1
sub_402cd3
sub_402d66
sub_403044
sub_40307d
sub_403477
sub_4034b5
sub_4035c6
sub_4035ee
sub_403651
sub_4037db
sub_403806
sub_403829
sub_403835
sub_403888
sub_403895
sub_403967
sub_403a3f
sub_403a45
sub_403a89
sub_403ab0
sub_403b57
sub_403bca
sub_403c3e
sub_403c4a
sub_403c62
sub_403d01
sub_403d35
sub_403d44
sub_403d93
sub_4043d1
sub_404454
sub_404506
sub_4045ee
sub_404621
sub_40469e
sub_40473c
sub_404794
sub_4047e2
sub_4047f5
sub_4048d5
sub_4048ef
sub_404bc4
sub_404c9b
sub_404d23
sub_404d63
sub_404de4
sub_404df5
sub_404ed1
sub_4050c2
sub_4050d5
sub_405128
sub_405136
sub_4052f8
sub_405305
sub_405375
sub_405401
sub_40541a
sub_40548f
sub_4054ad
sub_405515
sub_405522
sub_405546
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xreadlink
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
__errno_location
getopt_long
__ctype_toupper_loc
__asprintf_chk
putenv
strchr
getenv
free
strtok
access
__xstat
execvp
error
_exit
malloc
memcpy
strlen
__mempcpy_chk
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
realloc
__strtoul_internal
__assert_fail
calloc
mbrtowc
readlink
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
