Text sections:
bad_cast
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
gid_unset
hard_locale
initialize_exit_failure
is_root
locale_charset
main
mgetgroups
parse_additional_groups
parse_user_spec
parse_with_separator
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
realloc_groupbuf
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401899
sub_40189a
sub_4018d2
sub_40191a
sub_40193c
sub_40194d
sub_401966
sub_4019dd
sub_4019ed
sub_4019f7
sub_401a1e
sub_401a36
sub_401afd
sub_401b26
sub_401b97
sub_401baa
sub_401c38
sub_401cb9
sub_401d23
sub_401d8f
sub_401dd9
sub_401e25
sub_401e5f
sub_401e98
sub_401ffe
sub_4022dc
sub_4022f3
sub_40238e
sub_4026d4
sub_40271d
sub_402a03
sub_402a4c
sub_402b53
sub_402c28
sub_402dbc
sub_402de3
sub_402e0a
sub_402e43
sub_402e5a
sub_402f4c
sub_402f89
sub_402fa1
sub_402fc4
sub_402fda
sub_403006
sub_4030df
sub_4030e4
sub_4030ff
sub_403108
sub_40315b
sub_403191
sub_4031ae
sub_40336d
sub_403373
sub_40338a
sub_403407
sub_40341a
sub_40342d
sub_403469
sub_40349f
sub_403b02
sub_403db2
sub_403e43
sub_403e99
sub_403ec7
sub_403ed9
sub_403f48
sub_403f5d
sub_403f6f
sub_403f79
sub_403f9a
sub_403fad
sub_403fba
sub_404061
sub_404095
sub_404112
sub_40416c
sub_404339
sub_40451c
sub_404549
sub_40457d
sub_4045b2
sub_40460b
sub_40472a
sub_404751
sub_40476b
sub_40477a
sub_404783
sub_4047de
sub_4047e5
sub_404846
sub_404867
sub_404bc8
sub_404be3
sub_404bfa
sub_404c74
sub_404cee
sub_404f7d
sub_404f8a
sub_404fa9
sub_404fba
sub_404fd3
sub_404fe5
sub_4050b6
sub_405108
sub_405156
sub_405186
sub_405197
sub_4051c4
sub_405236
sub_4052e4
sub_4052f8
sub_40532b
sub_405349
sub_40535a
sub_405365
sub_4053bd
sub_4053d3
sub_4053e7
sub_405442
sub_4054e1
sub_405555
sub_405562
sub_405586
to_uchar
uid_unset
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetgroups
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoul
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
strlen
getpwuid
chroot
chdir
getenv
setgroups
free
setgid
setuid
execvp
__errno_location
error
canonicalize_file_name
strtok
__ctype_b_loc
getgrnam
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
memset
strchr
getpwnam
getgrgid
endgrent
endpwent
malloc
realloc
memcpy
strtoul
__assert_fail
calloc
mbrtowc
__fpending
ferror_unlocked
getgrouplist
getgroups
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
