Text sections:
base_len
base_name
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
get_quoting_style
gettext_quote
hard_locale
last_component
locale_charset
main
perform_basename
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
remove_suffix
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
strip_trailing_slashes
sub_401359
sub_40135a
sub_401392
sub_4013da
sub_4013fc
sub_40140d
sub_401426
sub_40143d
sub_401445
sub_40147b
sub_40148a
sub_4014d8
sub_4014eb
sub_4014ff
sub_401577
sub_4015b3
sub_4015ca
sub_40165c
sub_401682
sub_4016fd
sub_40170d
sub_401717
sub_401794
sub_4017d4
sub_40181e
sub_4019dd
sub_401a0d
sub_401a23
sub_401a3d
sub_401a63
sub_401a8a
sub_401aa6
sub_401ad6
sub_401afa
sub_401b3a
sub_401be1
sub_401c27
sub_401c51
sub_401c6a
sub_401c7f
sub_401c92
sub_401d23
sub_401d3a
sub_401e2c
sub_401e3a
sub_401e59
sub_401e6a
sub_4021c8
sub_4021da
sub_402213
sub_402249
sub_40227f
sub_402285
sub_4022e1
sub_402307
sub_402326
sub_4023a2
sub_4023c3
sub_4023f5
sub_402418
sub_402476
sub_402489
sub_4024f8
sub_40251e
sub_40253e
sub_40254a
sub_402563
sub_4025f8
sub_402679
sub_4026e3
sub_40274f
sub_402799
sub_4027e5
sub_40281f
sub_402872
sub_402911
sub_40299f
sub_4029ee
sub_402a59
sub_402b7a
sub_402be6
sub_402cbb
sub_402d18
sub_402e2f
sub_402e35
sub_402ed7
sub_402eea
sub_402f16
sub_402f46
sub_402f89
sub_402faa
sub_402fbd
sub_4032ac
sub_4032c3
sub_40335e
sub_4036a4
sub_4036ed
sub_4039d3
sub_403a1c
sub_403b23
sub_403bf8
sub_403d8c
sub_403dc6
sub_403e19
sub_403e28
sub_403e3a
sub_403e50
sub_403ec9
sub_403ee1
sub_403f04
sub_403fe5
sub_4040fd
sub_404108
sub_40418d
sub_4041f5
sub_404202
sub_404226
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
error
strlen
free
__overflow
__errno_location
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
__strndup
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
