Text sections:
base_len
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
dir_len
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
last_component
locale_charset
main
mdir_name
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4012c9
sub_4012ca
sub_401302
sub_40134a
sub_40136c
sub_40137d
sub_401396
sub_401405
sub_401491
sub_4014aa
sub_4014c8
sub_4014d8
sub_4014e5
sub_401548
sub_4015a5
sub_4015ba
sub_4015e3
sub_40161c
sub_401655
sub_4016af
sub_401783
sub_401795
sub_401875
sub_4018b3
sub_401c18
sub_401c40
sub_401d03
sub_401d15
sub_401d8b
sub_401df1
sub_401e26
sub_401edf
sub_401faf
sub_402171
sub_402193
sub_402226
sub_402504
sub_40253d
sub_402937
sub_402975
sub_402a86
sub_402aae
sub_402b11
sub_402cb4
sub_402dac
sub_402f92
sub_403031
sub_403046
sub_403089
sub_4030b5
sub_403128
sub_403156
sub_40317a
sub_40318e
sub_40334d
sub_4033be
sub_403526
sub_403547
sub_403569
sub_40357f
sub_403590
sub_4035d5
sub_40364f
sub_40365a
sub_4036c5
sub_4037a4
sub_403846
sub_4038ec
sub_403921
sub_4039f1
sub_403a74
sub_403c6b
sub_403c88
sub_403cc4
sub_403d56
sub_403d65
sub_403e35
sub_403e48
sub_403ed3
sub_403f4f
sub_403fba
sub_4040af
sub_4041a5
sub_4041c1
sub_4041d5
sub_404275
sub_404282
sub_4042a6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__overflow
fwrite_unlocked
error
__errno_location
_exit
malloc
memcpy
strlen
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
realloc
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
