Text sections:
append_quoted
base_len
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_strcasecmp
dc_parse_stream
emit_bug_reporting_address
freopen_safer
get_quoting_style
gettext_quote
hard_locale
last_component
locale_charset
main
_obstack_allocated_p
_obstack_begin
_obstack_begin_1
_obstack_free
_obstack_memory_used
_obstack_newchunk
print_and_abort
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_freopen
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4016e9
sub_4016ea
sub_401722
sub_40176a
sub_40178c
sub_40179d
sub_4017b6
sub_4017d7
sub_4017e5
sub_401869
sub_401893
sub_4018cc
sub_4018de
sub_401a9d
sub_401c82
sub_401d24
sub_401d3f
sub_401dd1
sub_401f9b
sub_401ff4
sub_402035
sub_40212d
sub_402148
sub_402155
sub_402221
sub_4022f1
sub_402326
sub_40236c
sub_402388
sub_4023a2
sub_4023b8
sub_4023c5
sub_40274d
sub_402763
sub_402805
sub_402b54
sub_402b9d
sub_402e82
sub_402ecc
sub_402fd3
sub_4030a8
sub_403267
sub_403275
sub_403300
sub_40330d
sub_40337e
sub_403403
sub_403446
sub_4038d4
sub_4038f1
sub_40399e
sub_4039aa
sub_4039d1
sub_403a2e
sub_403a85
sub_403a95
sub_403b13
sub_403b8f
sub_403ba8
sub_403be1
sub_403c03
sub_403f68
sub_40405b
sub_40416b
sub_40424c
sub_40458a
sub_4045cf
sub_404617
sub_40471a
sub_40475b
sub_404796
sub_40483f
sub_404908
sub_404920
sub_40496f
sub_40498a
sub_4049d2
sub_404b22
sub_404ba5
sub_404bba
sub_404c34
sub_404cac
sub_404d88
sub_404ed5
sub_40505c
sub_405099
sub_4050a5
sub_405130
sub_4051c5
sub_405223
sub_405255
sub_4052cc
sub_405326
sub_40534a
sub_4053b5
sub_4053c2
sub_4053e6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
puts
strlen
getenv
strcmp
malloc
free
__errno_location
error
fwrite_unlocked
__getdelim
__ctype_b_loc
fnmatch
_exit
fileno
dup2
open
close
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
memset
realloc
memcpy
__strndup
calloc
__freading
lseek
fclose
fflush
freopen
fseeko
mbrtowc
__fpending
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
