Text sections:
canon_host
canon_host_r
ch_strerror
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
desirable_utmp_entry
emit_ancillary_info
emit_bug_reporting_address
extract_trimmed_name
get_quoting_style
gettext_quote
hard_locale
idle_string
imaxtostr
is_tty_writable
list_entries_who
locale_charset
main
make_id_equals_comment
print_boottime
print_clockchange
print_deadprocs
print_heading
print_initspawn
print_line
print_login
print_runlevel
print_user
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
read_utmp
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
scan_entries
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
stzncpy
sub_401909
sub_40190a
sub_401942
sub_40198a
sub_4019ac
sub_4019bd
sub_4019d6
sub_401a13
sub_401a5f
sub_401a6e
sub_401c43
sub_401c75
sub_401de4
sub_401e22
sub_401e6e
sub_401f32
sub_401f4e
sub_401fc2
sub_40200a
sub_402027
sub_40212e
sub_402377
sub_4024a5
sub_4025eb
sub_40262d
sub_4026e3
sub_4027ff
sub_40281f
sub_402909
sub_402ba6
sub_402c35
sub_402c46
sub_402d67
sub_402e89
sub_402f02
sub_402f85
sub_402f9e
sub_40300a
sub_403046
sub_40306d
sub_4033dd
sub_403472
sub_4034fa
sub_4043a6
sub_40495b
sub_404997
sub_404a8a
sub_404ae8
sub_404b63
sub_404bd7
sub_404c71
sub_404cf7
sub_404d72
sub_404dad
sub_404dbe
sub_404dff
sub_404e5b
sub_404f91
sub_404fb2
sub_404fca
sub_405106
sub_405182
sub_40520a
sub_4052fd
sub_405835
sub_405863
sub_405955
sub_40596a
sub_4059ba
sub_405b3b
sub_405c1f
sub_405c92
sub_405cc3
sub_405dab
sub_405e34
sub_405e97
sub_405ed3
sub_405fe9
sub_4060c4
sub_406402
sub_4066c8
sub_4066ec
sub_40682d
sub_406895
sub_4068b3
sub_4068fe
sub_406a94
sub_406ab0
sub_406c21
sub_407175
sub_40719a
sub_407221
sub_40723e
sub_4072ae
sub_407317
sub_40736e
sub_4073c8
sub_4073fc
sub_407428
sub_407558
sub_40757b
sub_407673
sub_4077ca
sub_4078c5
sub_407927
sub_407962
sub_4079d5
sub_407a1f
sub_407a5e
sub_407b45
sub_407b52
sub_407b76
sub_407b89
time_string
timetostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
who
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
gettext
fprintf
error
abort
sprintf
strlen
free
localtime
strftime
strncmp
ttyname
printf
setlocale
fputs_unlocked
exit
strcmp
bindtextdomain
textdomain
getopt_long
kill
__errno_location
puts
stpcpy
strchr
asprintf
time
__assert_fail
strcpy
strncat
getaddrinfo
strdup
freeaddrinfo
gai_strerror
_exit
fputs
strrchr
memcpy
memset
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
malloc
realloc
calloc
mbrtowc
strncpy
utmpxname
setutxent
getutxent
endutxent
__fpending
ferror_unlocked
fileno
fclose
__freading
lseek
fflush
fseeko
nl_langinfo
__cxa_atexit
__xstat

Function signatures:

Function types:

Data:

Preamble:
