Text sections:
canon_host
canon_host_r
ch_strerror
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
desirable_utmp_entry
emit_ancillary_info
emit_bug_reporting_address
extract_trimmed_name
get_quoting_style
gettext_quote
hard_locale
idle_string
imaxtostr
is_tty_writable
list_entries_who
locale_charset
main
make_id_equals_comment
print_boottime
print_clockchange
print_deadprocs
print_heading
print_initspawn
print_line
print_login
print_runlevel
print_user
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
read_utmp
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
scan_entries
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
stzncpy
sub_401919
sub_40191a
sub_401952
sub_40199a
sub_4019bc
sub_4019cd
sub_4019e6
sub_401a17
sub_401aa9
sub_401aba
sub_401bac
sub_401c08
sub_401f64
sub_401f87
sub_402002
sub_40217a
sub_402185
sub_4021ea
sub_40226d
sub_402296
sub_4022ee
sub_402321
sub_402688
sub_40269c
sub_4026d1
sub_40297d
sub_4029de
sub_4029ea
sub_4029fb
sub_402aa1
sub_402ae6
sub_402af3
sub_402b3b
sub_402ba3
sub_402bca
sub_402bd8
sub_402c18
sub_402d9a
sub_402da5
sub_402df5
sub_402ebd
sub_402ece
sub_40308d
sub_403096
sub_40311d
sub_40314d
sub_403163
sub_40317a
sub_40318f
sub_403255
sub_4032cd
sub_4032dd
sub_4032e7
sub_4032fa
sub_403374
sub_403426
sub_403445
sub_40359a
sub_4035a9
sub_403618
sub_40364f
sub_403679
sub_403699
sub_4036c8
sub_403726
sub_4037b3
sub_403a5e
sub_403ae8
sub_403b69
sub_403bd3
sub_403c3f
sub_403c89
sub_403cd5
sub_403d0f
sub_403d1a
sub_403d2d
sub_403d8b
sub_403d9f
sub_403dd7
sub_403e83
sub_403ec3
sub_403f47
sub_403fef
sub_404024
sub_4040a9
sub_40410e
sub_4041c9
sub_4041ee
sub_40420b
sub_40422b
sub_4042ae
sub_4042ed
sub_4043ca
sub_40443b
sub_404447
sub_4044cd
sub_404561
sub_404579
sub_40458d
sub_4045c9
sub_4045e1
sub_404604
sub_40461a
sub_404676
sub_404691
sub_4046aa
sub_40498c
sub_4049a3
sub_404a3e
sub_404d84
sub_404dcd
sub_4050b3
sub_4050fc
sub_405203
sub_4052d8
sub_40546c
sub_40558a
sub_405595
sub_40561b
sub_405653
sub_4056ff
sub_40570f
sub_405726
sub_405733
sub_40575a
sub_405779
sub_40578a
sub_40579a
sub_4057a8
sub_4057ba
sub_4057c5
sub_405885
sub_405892
sub_4058b6
sub_4058c9
time_string
timetostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
who
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
error
free
__errno_location
ttyname
__sprintf_chk
strchr
strlen
__asprintf_chk
puts
time
__assert_fail
localtime
strftime
strcpy
__strncat_chk
getaddrinfo
__strdup
freeaddrinfo
gai_strerror
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
mbrtowc
strncpy
utmpxname
setutxent
getutxent
endutxent
kill
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit
__xstat

Function signatures:

Function types:

Data:

Preamble:
