Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
decode_switches
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
print_element
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4012e9
sub_4012ea
sub_401322
sub_40136a
sub_40138c
sub_40139d
sub_4013b6
sub_4013e5
sub_401427
sub_4014d2
sub_40150a
sub_401547
sub_40156f
sub_4015ae
sub_401636
sub_401795
sub_4017d1
sub_4017ee
sub_401848
sub_40187d
sub_40188e
sub_40194d
sub_4019c7
sub_4019ef
sub_401a22
sub_401a63
sub_401a7e
sub_401b09
sub_401b54
sub_401bcf
sub_401c06
sub_401cf3
sub_401dd1
sub_401f34
sub_401f4a
sub_401fba
sub_4020a9
sub_402231
sub_4022fc
sub_40238e
sub_402435
sub_40245e
sub_4024a6
sub_4024dc
sub_402518
sub_40255e
sub_4026f9
sub_40272f
sub_40276a
sub_4027b1
sub_4027fd
sub_4028bb
sub_402dfe
sub_402e1b
sub_402ecd
sub_402f92
sub_402fae
sub_40301e
sub_4030d6
sub_40313f
sub_40322a
sub_403243
sub_4032f3
sub_403327
sub_40336b
sub_403398
sub_403449
sub_403482
sub_40352c
sub_403593
sub_4037d4
sub_403880
sub_403ba6
sub_4044b7
sub_404f6b
sub_404fb7
sub_405094
sub_4050ae
sub_405191
sub_405217
sub_40524d
sub_405618
sub_40564a
sub_4056d8
sub_405737
sub_40576f
sub_4058d4
sub_40590a
sub_405958
sub_4059c5
sub_4059d2
sub_4059f6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
memcpy
_exit
__errno_location
error
gettext
memset
__freading
fileno
lseek
fclose
putchar_unlocked
fputs_unlocked
abort
strlen
strrchr
strncmp
fputs
mbrtowc
calloc
fprintf
printf
exit
malloc
strcmp
setlocale
realloc
free
nl_langinfo
__fpending
ferror_unlocked
fseeko
bindtextdomain
textdomain
uname
getopt_long
iswprint
mbsinit
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
fflush
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
