Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4012f9
sub_4012fa
sub_401332
sub_40137a
sub_40139c
sub_4013ad
sub_4013c6
sub_401444
sub_40145f
sub_401465
sub_4014ba
sub_401516
sub_40160c
sub_401615
sub_40165a
sub_4016c8
sub_4016d8
sub_401754
sub_401765
sub_401799
sub_4017b8
sub_4017f6
sub_401842
sub_40185e
sub_401a1d
sub_401ac1
sub_401adf
sub_401b72
sub_401b9a
sub_401bd4
sub_401c3b
sub_401c65
sub_401cc4
sub_401d61
sub_401d75
sub_401de5
sub_401e88
sub_401e95
sub_401f05
sub_401f47
sub_401f87
sub_402043
sub_402061
sub_40217f
sub_40224f
sub_402411
sub_402433
sub_4024c6
sub_4027a4
sub_4027dd
sub_402bd7
sub_402c15
sub_402d26
sub_402d4e
sub_402db1
sub_402f6c
sub_402fc5
sub_40303c
sub_403076
sub_4031f2
sub_4032c5
sub_40330c
sub_403329
sub_40339f
sub_4033c1
sub_403401
sub_40347e
sub_403541
sub_4038d8
sub_403ac2
sub_403b45
sub_403b88
sub_403de3
sub_403df5
sub_403f13
sub_403f8e
sub_403fa8
sub_403fe3
sub_40403b
sub_4040a5
sub_4040b2
sub_4040d6
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__errno_location
isatty
ttyname
puts
error
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
