Text sections:
allocate_entry
areadlink_with_size
base_len
canonicalize_filename_mode
check_tuning
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
compute_bucket_size
c_strcasecmp
c_tolower
c_toupper
dir_len
dir_name
emit_ancillary_info
emit_bug_reporting_address
free_entry
fstatat
get_quoting_style
gettext_quote
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_pjw
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
is_prime
last_component
locale_charset
__lstat
lstat
main
mdir_name
next_prime
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
raw_comparator
raw_hasher
record_file
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_hasher
same_name
same_nameat
seen_file
seen_triple
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
stat
sub_401509
sub_40150a
sub_401542
sub_40158a
sub_4015ac
sub_4015bd
sub_4015d6
sub_4015f2
sub_401988
sub_401b03
sub_401b57
sub_4020c5
sub_4027aa
sub_402807
sub_402852
sub_40286a
sub_4028ca
sub_4028eb
sub_40298c
sub_4029d2
sub_402a0f
sub_402a85
sub_402ac3
sub_402b56
sub_402b8a
sub_402be6
sub_402c1f
sub_402c51
sub_402c9b
sub_402cbe
sub_402d32
sub_402d56
sub_402d6e
sub_402dc2
sub_402e7c
sub_402fb7
sub_403008
sub_403042
sub_40306a
sub_4030a7
sub_4030ef
sub_403102
sub_40319c
sub_40324f
sub_40329b
sub_4032ae
sub_40330d
sub_403464
sub_4034a1
sub_4034e7
sub_403615
sub_403742
sub_403781
sub_4037ce
sub_4038b6
sub_4038e7
sub_403959
sub_403a25
sub_403a92
sub_403b42
sub_403bb4
sub_403ca5
sub_403d65
sub_403dfd
sub_403eb5
sub_403f53
sub_403fd2
sub_40439b
sub_40538a
sub_405408
sub_405438
sub_4056f8
sub_405976
sub_40598e
sub_4059da
sub_405a3d
sub_405bae
sub_405be8
sub_405c27
sub_405c80
sub_405ced
sub_405db5
sub_405e0c
sub_4060b9
sub_4060ea
sub_40627d
sub_4062b5
sub_4062fb
sub_40638d
sub_4063f7
sub_40643f
sub_40645e
sub_406484
sub_406676
sub_406706
sub_4067af
sub_406879
sub_4068b7
sub_406933
sub_406b9c
sub_406be5
sub_406bfb
sub_406cc5
sub_406e19
sub_406e49
sub_406f0d
sub_406f0e
sub_406f72
sub_406f9e
sub_40720b
sub_4075b0
sub_4076d3
sub_4077c4
sub_40781f
sub_407984
sub_407b53
sub_407ba8
sub_407c36
sub_407cca
sub_407cfc
sub_407dad
sub_407dda
sub_407e92
sub_407ed6
sub_407fa6
sub_407fe2
sub_408113
sub_40814e
sub_4081b6
sub_408247
sub_408387
sub_408396
sub_408461
sub_40866f
sub_408716
sub_408769
sub_408821
sub_408873
sub_40888e
sub_408900
sub_4089aa
sub_408a69
sub_408a7a
sub_408b22
sub_408b3b
sub_408ecd
sub_408ed0
sub_408fae
sub_409055
sub_409062
sub_409086
sub_409099
transfer_entries
triple_compare
triple_compare_ino_str
triple_free
triple_hash
triple_hash_no_name
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetcwd
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc


PLT sections:
__libc_start_main
__gmon_start__
mbrtowc
free
__errno_location
strlen
memmove
memcpy
strspn
strchr
memcmp
error
malloc
fileno
lseek
fseeko
gettext
printf
fprintf
fputs_unlocked
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
putchar_unlocked
memset
fflush
__freading
readlink
_exit
abort
calloc
fputs
strrchr
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
realloc
getcwd
__fpending
ferror_unlocked
fclose
nl_langinfo
__cxa_atexit
__xstat
__lxstat
__fxstatat

Function signatures:

Function types:

Data:

Preamble:
