Text sections:
bkm_scale_0

PLT sections:
__libc_start_main
__gmon_start__
mbrtowc
putchar_unlocked
fputc_unlocked
iswprint
strncmp
gettext
fprintf
printf
fputs_unlocked
error
strspn
__errno_location
strtol
__ctype_b_loc
mempcpy
free
malloc
mbstowcs
wcswidth
wcstombs
strlen
__ctype_get_mb_cur_max
mbsinit
memcmp
abort
memset
strncat
strcpy
getdelim
ferror_unlocked
exit
strcmp
setlocale
bindtextdomain
textdomain
getopt_long
wcwidth
fileno
lseek
fseeko
memcpy
_exit
strchr
__assert_fail
strtoumax
strndup
nl_langinfo
realloc
snprintf
stpcpy
qsort
memmove
calloc
putc_unlocked
fputs
strrchr
__fpending
fclose
__freading
fflush
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
