Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
fadvise
fdadvise
fold_file
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401559
sub_40155a
sub_401592
sub_4015da
sub_4015fc
sub_40160d
sub_401626
sub_40163c
sub_4016b5
sub_4016cf
sub_401726
sub_401735
sub_4017eb
sub_401845
sub_4018c9
sub_401acb
sub_401adf
sub_401ba5
sub_401c65
sub_401c88
sub_401ca9
sub_401cb5
sub_401f02
sub_401f1a
sub_401f25
sub_401fc1
sub_402121
sub_402150
sub_40221c
sub_402231
sub_40232c
sub_40233f
sub_4023b4
sub_4023e3
sub_4023f5
sub_402a41
sub_402a75
sub_402a88
sub_402a95
sub_402b16
sub_402b2e
sub_402ced
sub_402d11
sub_402da3
sub_402e1e
sub_402e81
sub_402ef3
sub_402fbb
sub_402fc5
sub_403003
sub_40307f
sub_40314b
sub_4032da
sub_403427
sub_403682
sub_4036c6
sub_40372d
sub_4037a6
sub_4038d1
sub_403901
sub_40393e
sub_40398a
sub_403aee
sub_403af5
sub_403b36
sub_403c21
sub_403cc5
sub_403d24
sub_403d47
sub_403d83
sub_403d95
sub_403e34
sub_403ea5
sub_403f85
sub_403fa8
sub_40407b
sub_40436d
sub_404383
sub_404425
sub_404774
sub_4047bd
sub_404aa2
sub_404aec
sub_404bf3
sub_404cc8
sub_404e87
sub_404e98
sub_404ea2
sub_404eca
sub_404f95
sub_404fa2
sub_404fc6
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__errno_location
error
fopen
fwrite_unlocked
__ctype_b_loc
memmove
__overflow
__uflow
_exit
posix_fadvise
fileno
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
__strtoul_internal
strchr
__assert_fail
calloc
__freading
lseek
fclose
fflush
fseeko
mbrtowc
__fpending
strcmp
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
