Text sections:
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
get_quoting_style
gettext_quote
hard_locale
initialize_exit_failure
locale_charset
main
perm_related_errno
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401449
sub_40144a
sub_401482
sub_4014ca
sub_4014ec
sub_4014fd
sub_401516
sub_40154c
sub_401575
sub_401606
sub_40166e
sub_4016c6
sub_40170e
sub_401742
sub_40177d
sub_4017aa
sub_4017fb
sub_401831
sub_4018f1
sub_40197e
sub_401a0b
sub_401a52
sub_401ace
sub_401b88
sub_401cd5
sub_401e79
sub_401ed7
sub_401fa5
sub_402015
sub_402093
sub_4020db
sub_402117
sub_402120
sub_402137
sub_402213
sub_402286
sub_402380
sub_402453
sub_4024ff
sub_402527
sub_402567
sub_4025a2
sub_4025e2
sub_402754
sub_402788
sub_402833
sub_4028b2
sub_4028c9
sub_40295a
sub_402a4d
sub_402a7a
sub_402ac8
sub_402b02
sub_402b2f
sub_402b4b
sub_402c12
sub_402cf6
sub_402d1a
sub_402d5a
sub_402d6e
sub_402dbb
sub_402dfa
sub_402ed7
sub_402f28
sub_403f34
sub_40437d
sub_4045f3
sub_40460e
sub_404917
sub_404d09
sub_404d42
sub_404d88
sub_404dae
sub_4053f6
sub_405413
sub_4054bf
sub_4054f3
sub_405557
sub_405a6e
sub_405a9a
sub_405af6
sub_405b1c
sub_405c5d
sub_405cbd
sub_405e14
sub_405ec1
sub_405eef
sub_405f18
sub_405f64
sub_405fd7
sub_40601f
sub_406095
sub_406105
sub_406112
sub_406136
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtol
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
free
malloc
memset
gettext
realloc
__freading
fflush
fprintf
printf
fputs_unlocked
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
__errno_location
error
_exit
getpriority
setpriority
ferror_unlocked
execvp
fputs
__fpending
abort
strrchr
__ctype_get_mb_cur_max
memcpy
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
calloc
__assert_fail
nl_langinfo
strchr
strtol
mbrtowc
fseeko
fileno
fclose
lseek
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
