Text sections:
add_range_pair
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
compare_ranges
complement_rp
c_strcasecmp
c_tolower
c_toupper
cut_bytes
cut_fields
cut_file
cut_stream
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
fadvise
fdadvise
freadahead
freadptr
freadptrinc
freadseek
getndelim2
get_quoting_style
gettext_quote
hard_locale
is_range_start_index
locale_charset
main
memchr2
next_item
print_kth
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
reset_fields
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_fields
set_program_name
set_quoting_flags
set_quoting_style
sub_4017d9
sub_4017da
sub_401812
sub_40185a
sub_40187c
sub_40188d
sub_4018a6
sub_4018ca
sub_401902
sub_401962
sub_401c7a
sub_4021a4
sub_4022eb
sub_40238e
sub_402592
sub_402c4e
sub_402c8a
sub_402d51
sub_402e99
sub_402ee0
sub_402fb7
sub_402ffb
sub_403027
sub_40303b
sub_4030ae
sub_4030d5
sub_4032ca
sub_4033c7
sub_403483
sub_4035df
sub_40360a
sub_4036ba
sub_4036ce
sub_4038fc
sub_403906
sub_403ab2
sub_403ad2
sub_403bbc
sub_403c65
sub_403ca7
sub_403e14
sub_403e37
sub_403ec5
sub_404402
sub_4044c6
sub_4044fa
sub_40458f
sub_4045b7
sub_4045ce
sub_4046bd
sub_4046de
sub_404763
sub_40477e
sub_4047d2
sub_40481b
sub_404954
sub_4049e8
sub_404a21
sub_404a58
sub_404c24
sub_404c52
sub_404c7b
sub_404d54
sub_404d6e
sub_404dfd
sub_404e17
sub_404e83
sub_404eae
sub_404f67
sub_404fc7
sub_40500a
sub_40505e
sub_4050ca
sub_405162
sub_4051b4
sub_40520e
sub_4052fb
sub_40536d
sub_4053a7
sub_4053ba
sub_4061de
sub_4068f1
sub_406a6f
sub_406a86
sub_406abc
sub_406b33
sub_406bae
sub_406c36
sub_407238
sub_4072c5
sub_4073d2
sub_4077c3
sub_4077ef
sub_40782f
sub_4078e1
sub_407a55
sub_407afa
sub_407b21
sub_407baa
sub_407c72
sub_407cb2
sub_407cf8
sub_407d0e
sub_407dcd
sub_407e4f
sub_407e9b
sub_407eda
sub_407f45
sub_407f52
sub_407f76
to_uchar
to_uchar_0
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
gettext
fprintf
printf
fputs_unlocked
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
_exit
__errno_location
error
strlen
fopen
ferror_unlocked
clearerr_unlocked
getc_unlocked
putchar_unlocked
fwrite_unlocked
ungetc
free
feof_unlocked
__assert_fail
memset
abort
qsort
__ctype_b_loc
strspn
memmove
posix_fadvise
fileno
strndup
__fpending
malloc
realloc
fread
fgetc
ferror
lseek
memcpy
memchr
nl_langinfo
mbrtowc
fflush
__freading
fputs
strrchr
calloc
__ctype_get_mb_cur_max
memcmp
iswprint
mbsinit
fclose
fseeko
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
