Text sections:
bad_cast
base_len
bkm_scale
bkm_scale_by_power
bytes_chunk_extract
bytes_split
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
closeout
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
create
c_strcasecmp
c_tolower
c_toupper
cwrite
dup_safer
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_size_note
emit_stdin_note
fd_reopen
fd_safer
__fstat
fstat
full_write
get_quoting_style
gettext_quote
__gl_setmode
__gl_setmode_check
hard_locale
ignorable
input_file_size
io_blksize
last_component
line_bytes_split
lines_chunk_split
lines_rr
lines_split
locale_charset
main
next_file_name
ofile_open
open_safer
parse_chunk
ptr_align
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_read
safe_write
set_binary_mode
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_suffix_length
sig2str
str2sig
str2signum
sub_401c89
sub_401c8a
sub_401cc2
sub_401d0a
sub_401d2c
sub_401d3d
sub_401d56
sub_401d88
sub_401e03
sub_401e43
sub_401e7d
sub_401edf
sub_401eeb
sub_401f6e
sub_401fa7
sub_40203a
sub_40233c
sub_4024fe
sub_402562
sub_4025f6
sub_40264b
sub_40265e
sub_402716
sub_40275a
sub_402792
sub_402855
sub_4028c6
sub_4029be
sub_4029ea
sub_402a36
sub_402a97
sub_402aae
sub_402aef
sub_402bee
sub_402c58
sub_402d34
sub_402d7e
sub_402e0d
sub_402e97
sub_402eff
sub_402f2d
sub_402fa5
sub_402fcc
sub_4030ab
sub_403204
sub_40321a
sub_4033c9
sub_4033ff
sub_40342b
sub_4034a3
sub_403679
sub_403686
sub_403e45
sub_404a76
sub_404ab1
sub_404ae8
sub_404b78
sub_404c2a
sub_404d1a
sub_404d4a
sub_404d82
sub_404dbc
sub_404ddf
sub_404e3c
sub_404e77
sub_404e80
sub_404e97
sub_40509f
sub_405117
sub_4060e5
sub_4065e5
sub_406671
sub_4066bd
sub_4066d0
sub_406835
sub_4069a4
sub_406a00
sub_406ee2
sub_4073e6
sub_4075e7
sub_407634
sub_407865
sub_407b9c
sub_407efe
sub_407f2e
sub_407f77
sub_407fb9
sub_408032
sub_40805a
sub_40806e
sub_40810e
sub_408252
sub_40829f
sub_4083d3
sub_408562
sub_4085ae
sub_408bdb
sub_408bea
sub_408cab
sub_408ceb
sub_408d3e
sub_408d65
sub_408e1d
sub_408e6a
sub_408fc7
sub_409243
sub_409402
sub_40956f
sub_4095a7
sub_409adc
sub_409cbe
sub_409cf8
sub_409d45
sub_409dc2
sub_40a0e8
sub_40a45d
sub_40a4ec
sub_40a4fe
sub_40a597
sub_40a5e1
sub_40a733
sub_40aae7
sub_40abad
sub_40ad78
sub_40ae2a
sub_40ae93
sub_40b3ca
sub_40b58a
sub_40b6b6
sub_40bb23
sub_40bb96
sub_40bc98
sub_40bd05
sub_40bd12
sub_40bd36
sub_40bd49
to_uchar
umaxtostr
usable_st_size
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xset_binary_mode
xset_binary_mode_error
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
setlocale
strcmp
__errno_location
close
gettext
fputs_unlocked
memcpy
strlen
error
__assert_fail
lseek
memmove
printf
fprintf
exit
strncmp
fputs
abort
strrchr
_exit
memset
free
realloc
__freading
fileno
fclose
fseeko
fcntl
getpagesize
bindtextdomain
textdomain
getopt_long
__ctype_b_loc
strchr
strspn
sigemptyset
sigaction
sigaddset
sigprocmask
memchr
memrchr
fwrite_unlocked
clearerr_unlocked
waitpid
fflush
strcpy
sprintf
__libc_current_sigrtmin
__libc_current_sigrtmax
__ctype_get_mb_cur_max
ftruncate
iswprint
mbsinit
memcmp
__fpending
ferror_unlocked
mbrtowc
read
open
getenv
setenv
pipe
fork
dup2
execl
strtoumax
fdopen
write
malloc
calloc
strtol
nl_langinfo
__cxa_atexit
__fxstat

Function signatures:

Function types:

Data:

Preamble:
