Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrlen
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401349
sub_40134a
sub_401382
sub_4013ca
sub_4013ec
sub_4013fd
sub_401416
sub_401431
sub_401461
sub_401475
sub_401518
sub_401545
sub_401600
sub_40169a
sub_4016ff
sub_401765
sub_40177e
sub_40193d
sub_4019ae
sub_4019ba
sub_4019c6
sub_401a08
sub_401afc
sub_401b83
sub_401bfe
sub_401dd9
sub_401eb5
sub_401ff5
sub_402026
sub_40208a
sub_40214a
sub_40224b
sub_4022be
sub_4022d9
sub_4022e5
sub_4023a4
sub_4023fb
sub_402451
sub_4024d6
sub_4024fa
sub_40250f
sub_40251f
sub_402537
sub_402548
sub_40255c
sub_40276b
sub_402982
sub_402a51
sub_402a65
sub_402b03
sub_402b84
sub_402c3f
sub_402d0f
sub_402ed1
sub_402ef3
sub_402f86
sub_403264
sub_40329d
sub_403697
sub_4036d5
sub_4037e6
sub_40380e
sub_403871
sub_403a35
sub_403a66
sub_403a8a
sub_403a95
sub_403b95
sub_403c01
sub_403d11
sub_403d33
sub_403d71
sub_4040d8
sub_404136
sub_4041af
sub_4041c8
sub_4041ec
sub_40425c
sub_404339
sub_4043a8
sub_4043b5
sub_404433
sub_404459
sub_4044c6
sub_4044d5
sub_404515
sub_4045e5
sub_4045f2
sub_404616
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__lxstat
__errno_location
pathconf
error
strlen
strchr
strspn
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
