Text sections:
base_cost
bkm_scale
bkm_scale_by_power
check_punctuation
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
copy_rest
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
fadvise
fdadvise
flush_paragraph
fmt
fmt_paragraph
get_line
get_paragraph
get_prefix
get_quoting_style
get_space
gettext_quote
hard_locale
line_cost
locale_charset
main
put_line
put_paragraph
put_space
put_word
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
same_para
set_char_quoting
set_custom_quoting
set_other_indent
set_prefix
set_program_name
set_quoting_flags
set_quoting_style
sub_401579
sub_40157a
sub_4015b2
sub_4015fa
sub_40161c
sub_40162d
sub_401646
sub_40169d
sub_401713
sub_4017f9
sub_401833
sub_401980
sub_401bb8
sub_401c4d
sub_401c9e
sub_401db2
sub_401e36
sub_401f2e
sub_402013
sub_40209a
sub_402153
sub_402252
sub_4022b8
sub_402459
sub_402717
sub_402a4f
sub_402a75
sub_402ab7
sub_402ade
sub_402bf6
sub_402c4b
sub_402d16
sub_402e15
sub_402e2e
sub_402e7e
sub_402f17
sub_4031e5
sub_4031fe
sub_4032b5
sub_4033d9
sub_4034d8
sub_403581
sub_403647
sub_40374b
sub_403788
sub_403846
sub_4038dd
sub_40397d
sub_4039ce
sub_403a0f
sub_403a2b
sub_403a6e
sub_403b79
sub_403b8e
sub_403bdb
sub_403d43
sub_403f5f
sub_403f97
sub_403fab
sub_404031
sub_40404e
sub_4040be
sub_4040da
sub_40412e
sub_404879
sub_4054fa
sub_40561e
sub_4056ff
sub_405864
sub_405898
sub_4058ee
sub_405957
sub_4059d3
sub_4059fb
sub_405b67
sub_405c0b
sub_405c5a
sub_405c93
sub_406138
sub_4064e6
sub_40651a
sub_4065e0
sub_406626
sub_406671
sub_406a42
sub_406f3e
sub_406fee
sub_407077
sub_40709f
sub_407112
sub_40719d
sub_4072b2
sub_4072ff
sub_407332
sub_407396
sub_4073e8
sub_4073fe
sub_4074b7
sub_4074fa
sub_4075c2
sub_407642
sub_407682
sub_4076ba
sub_40776d
sub_40779a
sub_4078df
sub_40796c
sub_4079f6
sub_407a2f
sub_407a57
sub_407ac6
sub_407b35
sub_407b42
sub_407b66
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
__fpending
ferror_unlocked
__errno_location
putchar_unlocked
__assert_fail
__freading
fileno
lseek
fclose
gettext
error
_exit
abort
free
realloc
fflush
strcmp
fprintf
printf
setlocale
strncmp
fputs_unlocked
exit
fopen
bindtextdomain
textdomain
getopt_long
strlen
getc_unlocked
__ctype_b_loc
memmove
fwrite_unlocked
strchr
posix_fadvise
memcpy
fputs
strrchr
__ctype_get_mb_cur_max
memcmp
mbrtowc
malloc
memset
iswprint
mbsinit
nl_langinfo
strtoumax
calloc
fseeko
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
