Text sections:
adjust_column
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
fadvise
fdadvise
fold_file
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_4015a9
sub_4015aa
sub_4015e2
sub_40162a
sub_40164c
sub_40165d
sub_401676
sub_40172c
sub_40175b
sub_4018b3
sub_4018cd
sub_401996
sub_401a31
sub_401a5e
sub_401aa8
sub_401ae5
sub_401b17
sub_401b6c
sub_401bb1
sub_401bf4
sub_401c35
sub_401c5a
sub_401c6a
sub_401c9b
sub_401cd6
sub_401d81
sub_401d9e
sub_401ed3
sub_401eed
sub_402025
sub_40218a
sub_4021a7
sub_40248c
sub_4024a3
sub_40253e
sub_402884
sub_4028cd
sub_402bb3
sub_402bfc
sub_402d03
sub_402dd8
sub_402f6c
sub_402f79
sub_402fe8
sub_402ffa
sub_4030ec
sub_403127
sub_4031f5
sub_403243
sub_40326a
sub_403286
sub_4032bd
sub_4032d3
sub_403384
sub_4033b3
sub_403662
sub_403678
sub_40368f
sub_4036c9
sub_4036e1
sub_403704
sub_40382a
sub_403838
sub_40384a
sub_4038c2
sub_4038f6
sub_40393a
sub_40394b
sub_4039f3
sub_403a88
sub_403b09
sub_403b73
sub_403bdf
sub_403c29
sub_403c75
sub_403caf
sub_403cba
sub_403cca
sub_403cdd
sub_403cfa
sub_403d25
sub_403d52
sub_403d79
sub_403d8c
sub_403dc9
sub_403dff
sub_403e03
sub_403f25
sub_403f79
sub_403f8a
sub_403fcf
sub_403fd5
sub_404035
sub_40405a
sub_40409e
sub_4040f6
sub_404110
sub_40415f
sub_40416a
sub_404189
sub_40419a
sub_4041cb
sub_404232
sub_4042ad
sub_4042bd
sub_4042c7
sub_404628
sub_40463f
sub_4046bf
sub_404713
sub_404753
sub_40476d
sub_404791
sub_4047ae
sub_40496d
sub_404996
sub_4049d1
sub_404a0d
sub_404a13
sub_404a3a
sub_404aa5
sub_404ab2
sub_404ad6
to_uchar
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
__errno_location
error
fopen
getc_unlocked
fwrite_unlocked
__ctype_b_loc
putchar_unlocked
memmove
ferror_unlocked
_exit
posix_fadvise
fileno
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
strtoumax
strchr
__assert_fail
calloc
__freading
lseek
fclose
fflush
fseeko
mbrtowc
__fpending
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
