Text sections:
base_len
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
dir_len
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
last_component
locale_charset
main
mdir_name
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4012e9
sub_4012ea
sub_401322
sub_40136a
sub_40138c
sub_40139d
sub_4013b6
sub_4013f2
sub_40143b
sub_4014c6
sub_40152e
sub_4015a6
sub_4015e3
sub_401627
sub_401658
sub_40169b
sub_4016e7
sub_40172e
sub_401760
sub_40182e
sub_4018bf
sub_40196d
sub_401982
sub_401a52
sub_401f78
sub_40205a
sub_40208c
sub_4020cd
sub_402102
sub_40215e
sub_402209
sub_40228e
sub_402371
sub_4023ca
sub_40240f
sub_402448
sub_402478
sub_4025e4
sub_40268c
sub_402733
sub_402752
sub_402830
sub_4028f8
sub_402991
sub_402a07
sub_402af7
sub_402b27
sub_402b67
sub_402de3
sub_402e23
sub_402ea2
sub_402eda
sub_402f07
sub_402f3a
sub_4030d4
sub_4030ee
sub_403175
sub_403206
sub_40321a
sub_403287
sub_40334a
sub_4033f2
sub_40342a
sub_4034d7
sub_4034fb
sub_4035f7
sub_403656
sub_40370f
sub_403819
sub_403851
sub_40386e
sub_4038e8
sub_40397d
sub_4039df
sub_4039ea
sub_403a7f
sub_403af5
sub_403b44
sub_403c6b
sub_403ce9
sub_403ee9
sub_403f74
sub_403fb2
sub_403fd6
sub_403fee
sub_40404e
sub_40414d
sub_40432d
sub_4056c1
sub_4056de
sub_4057c1
sub_405835
sub_405842
sub_405866
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
free
strlen
__errno_location
error
_exit
gettext
memcpy
mbrtowc
fprintf
fputs_unlocked
__fpending
ferror_unlocked
abort
fileno
lseek
fseeko
setlocale
strcmp
realloc
malloc
memset
printf
nl_langinfo
exit
__freading
fclose
calloc
fputs
strncmp
strrchr
fflush
fwrite_unlocked
putchar_unlocked
bindtextdomain
textdomain
getopt_long
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
