Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
initialize_exit_failure
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401329
sub_40132a
sub_401362
sub_4013aa
sub_4013cc
sub_4013dd
sub_4013f6
sub_40149b
sub_40149c
sub_40152e
sub_401546
sub_4015b5
sub_4015ce
sub_40161e
sub_401696
sub_4016dd
sub_40170f
sub_4027de
sub_402ad6
sub_402bce
sub_402cb1
sub_402cd3
sub_402d42
sub_402d5e
sub_402e04
sub_402e83
sub_402f5c
sub_403003
sub_403042
sub_40307c
sub_40309b
sub_403174
sub_4031bf
sub_403280
sub_403443
sub_403511
sub_40356d
sub_40362b
sub_403b55
sub_403b7a
sub_403bf2
sub_403c32
sub_403cb5
sub_403cf3
sub_403d3e
sub_403dbe
sub_403eed
sub_403f76
sub_403f9f
sub_403fcd
sub_403ff8
sub_404027
sub_404067
sub_404097
sub_4040d7
sub_404113
sub_40413f
sub_404212
sub_4043ef
sub_404515
sub_4045d1
sub_40461b
sub_4046ee
sub_4046fa
sub_404894
sub_4048e8
sub_40491f
sub_40495b
sub_404992
sub_404b04
sub_404b42
sub_404b5e
sub_404dbd
sub_404e57
sub_404e6e
sub_404ef8
sub_404f3f
sub_404f77
sub_404fba
sub_405075
sub_405168
sub_40519a
sub_40529a
sub_4052d1
sub_40530a
sub_40532e
sub_4053b7
sub_405486
sub_405502
sub_405575
sub_405582
sub_4055a6
usage
version_etc
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
__errno_location
gettext
fprintf
printf
fputs_unlocked
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
error
_exit
isatty
ttyname
puts
fputs
abort
strrchr
__ctype_get_mb_cur_max
fflush
__freading
strlen
memcmp
__ctype_b_loc
memset
iswprint
mbsinit
free
memcpy
malloc
realloc
calloc
mbrtowc
nl_langinfo
fileno
lseek
fseeko
__fpending
ferror_unlocked
fclose
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
