Text sections:
add_temp_dir
afalg_stream
allocate_entry
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
async_safe_die
avoid_trashing_input
badfieldspec
begfield
bkm_scale
bkm_scale_0
bkm_scale_by_power
bkm_scale_by_power_0
buffer_linelim
call_chunkfun
call_freefun
check
check_inputs
check_ordering_compatibility
check_output
check_tuning
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
cleanup
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
collate_error
compare
compare_nodes
compare_random
compute_bucket_size
create_temp
create_temp_file
cs_enter
cs_leave
c_strcasecmp
c_tolower
c_toupper
debug_key
debug_line
debug_width
default_key_compare
default_sort_size
delete_proc
dtotimespec
dup_safer
dup_safer_flag
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
emit_stdin_note
exit_cleanup
explicit_bzero
fadvise
fdadvise
fd_safer
fd_safer_flag
field_sep
filevercmp
fillbuf
find_unit_order
fopen_safer
fraccompare
free_entry
__fstat
fstat
general_numcompare
getmonth
get_nonce
get_outstatus
get_quoting_style
gettext_quote
gnu_mbswidth
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
heap_alloc
heap_default_compare
heap_free
heapify_down
heapify_up
heap_insert
heap_remove_top
human_numcompare
incompatible_options
ind
initbuf
initialize_exit_failure
init_node
inittables
insertkey
inttostr
isaac_refill
isaac_seed
is_prime
just
keycompare
key_init
key_numeric
key_to_opts
key_warnings
limfield
locale_charset
lock_node
main
make_timespec
mark_key
match_suffix
maybe_create_temp
mbsnwidth
md5_buffer
md5_finish_ctx
md5_init_ctx
md5_process_block
md5_process_bytes
md5_read_ctx
md5_stream
memcoll
memcoll0
merge
mergefiles
mergefps
mergelines
mergelines_node
merge_loop
merge_tree_init
mkostemp_safer
mkstemp_safer
move_fd
nan_compare
next_prime
numcompare
numcompare_0
num_processors
num_processors_ignoring_omp
num_processors_via_affinity_mask
_obstack_allocated_p
_obstack_begin
_obstack_begin_1
_obstack_begin_worker
_obstack_free
_obstack_memory_used
_obstack_newchunk
open_input_files
open_temp
order
parse_field_count
parse_omp_threads
physmem_available
physmem_total
pipe_fork
posix2_version
print_and_abort
proctab_comparator
proctab_hasher
queue_check_insert
queue_check_insert_parent
queue_init
queue_insert
queue_pop
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
random_md5_state_init
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
raw_comparator
raw_hasher
readisaac
readsource
readtokens0
readtokens0_free
readtokens0_init
reap
reap_all
reap_exited
reap_some
register_proc
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nanosleep
rpl_nl_langinfo
rpl_pipe2
safe_hasher
save_token
select_plural
sequential_sort
set_char_quoting
set_custom_quoting
set_ordering
set_program_name
set_quoting_flags
set_quoting_style
set_uint32
sighandler
simple_new
sort
sort_buffer_size
sort_die
sortlines
sortlines_thread
specify_nmerge
specify_nthreads
specify_sort_size
stat
strcoll_loop
stream_open
strnumcmp
struct_month_cmp
sub_402bb9
sub_402bba
sub_402bf2
sub_402c3a
sub_402c5c
sub_402c6d
sub_402c86
sub_402cdd
sub_402f93
sub_402fd2
sub_402ffb
sub_403078
sub_403096
sub_4030f4
sub_403248
sub_4032c5
sub_40334a
sub_403391
sub_4033ff
sub_40343f
sub_40347b
sub_403493
sub_40352a
sub_4036c9
sub_403869
sub_403952
sub_40397d
sub_403a54
sub_403ae6
sub_403b31
sub_403b6b
sub_403bc5
sub_403bfa
sub_403e27
sub_404613
sub_404bda
sub_404d78
sub_404dfd
sub_404f1b
sub_404f55
sub_404f8d
sub_405031
sub_40506b
sub_40526c
sub_4052a6
sub_405306
sub_405363
sub_40543c
sub_405457
sub_4054da
sub_40555a
sub_4055b6
sub_40565f
sub_4056a3
sub_40572b
sub_405973
sub_40599b
sub_4059a6
sub_405ab3
sub_405d03
sub_405d34
sub_405e77
sub_4063be
sub_4064db
sub_406512
sub_406722
sub_4067a7
sub_4067ce
sub_406848
sub_406878
sub_4068c8
sub_406aad
sub_406c5e
sub_406c87
sub_406d0e
sub_406d43
sub_406d85
sub_407180
sub_407254
sub_407291
sub_407326
sub_4075dc
sub_40760a
sub_407819
sub_40798e
sub_4079b6
sub_407c7b
sub_407cb7
sub_407cdd
sub_407cfc
sub_407dd2
sub_407e38
sub_407e6f
sub_409032
sub_4095b7
sub_40966d
sub_409c9e
sub_409dfa
sub_409e29
sub_409ef1
sub_409f1d
sub_409f2e
sub_409fc3
sub_40a127
sub_40a346
sub_40a366
sub_40a41b
sub_40a477
sub_40a4d4
sub_40a517
sub_40a547
sub_40a5bc
sub_40a703
sub_40a7a9
sub_40abd7
sub_40ad5e
sub_40aece
sub_40b21c
sub_40b324
sub_40b431
sub_40b5c4
sub_40b869
sub_40b9c5
sub_40b9fa
sub_40ba1b
sub_40ba82
sub_40bac2
sub_40bb4d
sub_40bc4f
sub_40bcc2
sub_40c201
sub_40c242
sub_40c262
sub_40c308
sub_40c3ce
sub_40c48a
sub_40c5db
sub_40c66c
sub_40c841
sub_40c8c6
sub_40c96a
sub_40caa0
sub_40d17e
sub_40d1b7
sub_40d1ee
sub_40d2b7
sub_40d43a
sub_40d4a2
sub_40d4e1
sub_40d546
sub_40d67b
sub_40d87e
sub_40da74
sub_40dab8
sub_40dc1f
sub_40dd26
sub_40ddaa
sub_40dde2
sub_40de47
sub_40de8e
sub_40df14
sub_40df5f
sub_40df97
sub_40e0ae
sub_40e162
sub_40e1d4
sub_40e21f
sub_40e33c
sub_40e6ac
sub_40e892
sub_40ea50
sub_40ee32
sub_40eeac
sub_40f3b4
sub_40f40f
sub_40f73f
sub_40f799
sub_40f8d7
sub_40fc6e
sub_41040b
sub_410422
sub_4104ef
sub_410568
sub_410601
sub_41088e
sub_4109c9
sub_410a22
sub_410afd
sub_410b39
sub_410bdd
sub_410cd9
sub_410cf2
sub_410d6b
sub_410e03
sub_4113cd
sub_41145a
sub_411491
sub_4115bf
sub_411627
sub_4116a6
sub_41185b
sub_41190a
sub_411931
sub_411ad9
sub_411aff
sub_411baa
sub_411d39
sub_411df8
sub_411e44
sub_411f58
sub_411f6b
sub_41211a
sub_412200
sub_4122a7
sub_41230a
sub_41231e
sub_41241d
sub_4124a9
sub_4124c6
sub_4124ec
sub_4126c6
sub_412818
sub_4129f5
sub_412cd5
sub_412cfe
sub_412d23
sub_413063
sub_413105
sub_41390c
sub_413935
sub_413b4c
sub_413c19
sub_413c6a
sub_413d22
sub_413e30
sub_414227
sub_414262
sub_4142c7
sub_41436c
sub_414493
sub_414550
sub_4146a7
sub_4146ba
sub_4147bf
sub_414987
sub_414a02
sub_414cc4
sub_414cdb
sub_414dcf
sub_415295
sub_4155de
sub_415957
sub_415a43
sub_415aad
sub_415e13
sub_416133
sub_417836
sub_417a3f
sub_417a62
sub_417a8c
sub_417bad
sub_417be4
sub_417c26
sub_417c58
sub_417c92
sub_417cc5
sub_417d6a
sub_417de6
sub_417ed5
sub_417f77
sub_417fb9
sub_41807f
sub_418175
sub_4181ae
sub_4181d0
sub_4182fa
sub_41832d
sub_41833b
sub_418499
sub_4189a6
sub_418ad6
sub_419068
sub_419707
sub_4197a6
sub_4198de
sub_419922
sub_419972
sub_4199ed
sub_419aab
sub_419abe
sub_419afa
sub_419c47
sub_419ce1
sub_419f36
sub_41a196
sub_41a28a
sub_41a3e6
sub_41a49d
sub_41a4c7
sub_41bbf6
sub_41bf58
sub_41c054
sub_41c179
sub_41c21f
sub_41c226
sub_41c40f
sub_41c452
sub_41c4ae
sub_41c594
sub_41c8d2
sub_41c9e7
sub_41c9fe
sub_41ca65
sub_41cad5
sub_41cae2
sub_41cb06
sub_41cb19
timespec_cmp
timespec_sign
timespectod
to_uchar
transfer_entries
traverse_raw_number
uinttostr
umaxtostr
unlock_node
usage
verrevcmp
version_etc
version_etc_ar
version_etc_arn
version_etc_va
wait_proc
write_line
write_unique
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xfclose
xfopen
xmalloc
xmemcoll
xmemcoll0
xmemdup
xnanosleep
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtol_error
xstrtol_fatal
xstrtoul
xstrtoumax
xstrxfrm
xzalloc
zaptemp

PLT sections:
__libc_start_main
__gmon_start__
pthread_create
pthread_join
memcmp
__errno_location
unlink
gettext
memcpy
free
realloc
close
getenv
strcmp
fileno
pthread_mutex_unlock
error
abort
mkostemp
__ctype_b_loc
strlen
mbrtowc
fcntl
malloc
sysconf
sysinfo
strtoul
strchr
__assert_fail
euidaccess
memset
sched_getaffinity
__sched_cpucount
__fpending
ferror_unlocked
signal
raise
nanosleep
strtol
pthread_mutex_init
fseeko
lseek
__freading
fflush
iswprint
mbsinit
__ctype_get_mb_cur_max
fputs_unlocked
printf
exit
fprintf
fread_unlocked
feof_unlocked
setlocale
getrlimit
write
_exit
fdopen
execlp
iswcntrl
wcwidth
pthread_mutex_lock
open
nl_langinfo
strxfrm
fclose
pthread_cond_wait
putc_unlocked
pthread_cond_init
fork
pipe2
pipe
calloc
memmove
memchr
strtold
pthread_sigmask
toupper
qsort
pthread_cond_signal
strncmp
fopen
stpcpy
ngettext
ftruncate
posix_fadvise
fflush_unlocked
clearerr_unlocked
setvbuf
strtoumax
strcoll
mkstemp
putchar_unlocked
fputs
strrchr
dup2
getgid
getuid
gettimeofday
read
getppid
getpid
waitpid
fwrite_unlocked
fputc_unlocked
bindtextdomain
textdomain
localeconv
sigemptyset
sigaction
sigaddset
sigismember
getopt_long
fgetc
ferror
__cxa_atexit
__xstat
__fxstat

Function signatures:

Function types:

Data:

Preamble:
