Text sections:
__argmatch_die
argmatch_invalid
argmatch_to_argument
base_len
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_random_data
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
default_block_size
direct_mode
dir_len
dir_name
dopass
dorewind
dosync
do_wipefd
dup_safer
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
errno_fail
explicit_bzero
fd_safer
fillpattern
fopen_safer
fstat
fstatat
genpattern
get_nonce
get_quoting_style
gettext_quote
hard_locale
human_options
humblock
ignorable_sync_errno
incname
isaac_seed
just
known
last_component
locale_charset
lstatat
main
mdir_name
open_safer
passname
periodic_pattern
ptr_align
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
randint_all_free
randint_all_new
randint_choose
randint_free
randint_genmax
randint_get_source
randint_new
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
readisaac
readsource
renameatu
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
shift_left
simple_new
statat
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401dd9
sub_401dda
sub_401e12
sub_401e5a
sub_401e7c
sub_401e8d
sub_401ea6
sub_401ee3
sub_401f83
sub_401fee
sub_402017
sub_4023b1
sub_40293c
sub_40295e
sub_40296f
sub_40299d
sub_4029c3
sub_4029ea
sub_402bf8
sub_402c0f
sub_402c13
sub_402cf6
sub_402d03
sub_402d92
sub_402da4
sub_403142
sub_4032e9
sub_4032f9
sub_403323
sub_40333d
sub_40356f
sub_40357c
sub_40370f
sub_40373b
sub_40378b
sub_403794
sub_4037e1
sub_403881
sub_403954
sub_4039e3
sub_403a9d
sub_403acb
sub_403ade
sub_403c9d
sub_403ca5
sub_403cd0
sub_403d4a
sub_403e21
sub_403ee2
sub_403f07
sub_403f31
sub_403f7b
sub_403f88
sub_403fa5
sub_4040a6
sub_404106
sub_404149
sub_404161
sub_404184
sub_4041bd
sub_4041d3
sub_4041e4
sub_4041fa
sub_40424c
sub_4043ae
sub_404538
sub_4045a3
sub_4045b7
sub_4045fb
sub_404649
sub_4046af
sub_4046c6
sub_40472e
sub_40473a
sub_40474c
sub_404757
sub_4047a9
sub_4048ad
sub_4048ba
sub_4048cd
sub_4049fc
sub_404a05
sub_404a1d
sub_404a2d
sub_404a3d
sub_404bf4
sub_404f12
sub_404f2a
sub_40501c
sub_405023
sub_405045
sub_40516a
sub_405184
sub_4053c7
sub_405587
sub_4055a9
sub_40565a
sub_40566d
sub_4056a7
sub_40574a
sub_405776
sub_4057b8
sub_405848
sub_4058c9
sub_405933
sub_40599f
sub_4059e9
sub_405a35
sub_405a6f
sub_405a7a
sub_405a89
sub_405af8
sub_405b05
sub_405bf3
sub_405c72
sub_405c94
sub_405d1b
sub_405d2a
sub_40600c
sub_406023
sub_4060be
sub_406404
sub_40644d
sub_406733
sub_40677c
sub_406883
sub_406958
sub_406aec
sub_406bbd
sub_406beb
sub_406c01
sub_406c3f
sub_406c85
sub_406c95
sub_406d08
sub_406d2a
sub_406d45
sub_406d76
sub_406e18
sub_406e8d
sub_406e9d
sub_406ea7
sub_406eba
sub_406f46
sub_406f5e
sub_406f68
sub_406f7a
sub_406f99
sub_406faa
sub_406fd9
sub_40700f
sub_40704e
sub_407072
sub_4070ff
sub_407166
sub_40718e
sub_40719a
sub_4072ad
sub_4072d0
sub_407392
sub_4073ea
sub_407415
sub_4075e7
sub_407948
sub_407977
sub_40798a
sub_407c4d
sub_407d07
sub_40805b
sub_408083
sub_408093
sub_4080ba
sub_4080d3
sub_408106
sub_40811c
sub_408177
sub_4081b3
sub_4081ea
sub_408225
sub_4082ed
sub_408331
sub_408388
sub_4084d9
sub_4084ea
sub_4084f8
sub_40850f
sub_408544
sub_408597
sub_408614
sub_408651
sub_4086c5
sub_4086d2
sub_4086f6
sub_408709
sub_40871f
umaxtostr
usage
version_etc_ar
version_etc_arn
wipefd
wipefile
wipename
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xdectoumax
xmalloc
xmemdup
xnmalloc
xnrealloc
xnumtoumax
xrealloc
xstrdup
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
strcmp
__errno_location
error
memset
memchr
memcpy
unlink
close
free
chmod
__assert_fail
__fxstat
isatty
lseek
getpagesize
ioctl
__sprintf_chk
time
write
__strcpy_chk
ftruncate
fdatasync
fsync
sync
strlen
memcmp
__overflow
_exit
malloc
open
localeconv
memmove
getenv
strrchr
fwrite
abort
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
setvbuf
read
gettimeofday
getpid
getppid
getuid
getgid
fread_unlocked
syscall
__fxstatat
renameat
realloc
__strtoul_internal
strchr
calloc
fileno
__freading
fclose
fcntl
fflush
fseeko
mbrtowc
__fpending
fopen
fdopen
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
