Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4012b9
sub_4012ba
sub_4012f2
sub_40133a
sub_40135c
sub_40136d
sub_401386
sub_4013f5
sub_401465
sub_401524
sub_401572
sub_401641
sub_40193d
sub_401953
sub_4019f5
sub_401d44
sub_401d8d
sub_402072
sub_4020bc
sub_4021c3
sub_402298
sub_402457
sub_402525
sub_402541
sub_4025d3
sub_402663
sub_4026d6
sub_40274e
sub_402755
sub_4027f9
sub_402833
sub_4028af
sub_4028e3
sub_4028fa
sub_402948
sub_4029a5
sub_402a24
sub_402ac1
sub_402b01
sub_402b35
sub_402b53
sub_402b95
sub_402baf
sub_402be4
sub_402c21
sub_402cc5
sub_403028
sub_403049
sub_4032d7
sub_4034c2
sub_4034d5
sub_403548
sub_4035f1
sub_403b59
sub_403b77
sub_403b85
sub_403c00
sub_403c5a
sub_403cce
sub_403d0c
sub_403d15
sub_403d46
sub_403da6
sub_403dba
sub_403dc5
sub_403e3f
sub_403eb4
sub_403f08
sub_403f15
sub_40406c
sub_404075
sub_4040ee
sub_4042ad
sub_40431c
sub_404328
sub_404426
sub_4044a5
sub_404515
sub_404522
sub_404546
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
__fprintf_chk
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
uname
__overflow
error
__errno_location
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
