Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_4012f9
sub_4012fa
sub_401332
sub_40137a
sub_40139c
sub_4013ad
sub_4013c6
sub_401453
sub_40146c
sub_40148d
sub_401495
sub_40154d
sub_40155a
sub_401589
sub_4015bf
sub_4015f9
sub_401611
sub_401634
sub_401643
sub_401669
sub_401688
sub_4016a9
sub_4016ba
sub_4016cd
sub_40172b
sub_40175d
sub_401773
sub_401871
sub_40188a
sub_40189f
sub_4018d6
sub_4018e9
sub_401958
sub_401a01
sub_401cec
sub_401d03
sub_401d9e
sub_4020e4
sub_40212d
sub_402413
sub_40245c
sub_402563
sub_402638
sub_4027cc
sub_4027da
sub_4028cc
sub_4028da
sub_402971
sub_4029a7
sub_4029e7
sub_402a67
sub_402ade
sub_402ae6
sub_402b1a
sub_402b39
sub_402b4a
sub_402b66
sub_402b7a
sub_402bd6
sub_402cc4
sub_402ce8
sub_402d11
sub_402d43
sub_402d6a
sub_402d7a
sub_402da6
sub_403108
sub_40322a
sub_403247
sub_403283
sub_403293
sub_403508
sub_403589
sub_4035f3
sub_40365f
sub_4036a9
sub_4036f5
sub_40372f
sub_403746
sub_403763
sub_40377a
sub_40378d
sub_403881
sub_40389f
sub_403912
sub_40398d
sub_40399d
sub_4039a7
sub_4039b5
sub_403a35
sub_403a66
sub_403b4f
sub_403b55
sub_403b9e
sub_403bae
sub_403d6d
sub_403db9
sub_403dca
sub_403dda
sub_403e9d
sub_403ec6
sub_403f2b
sub_403f7f
sub_403ff9
sub_404074
sub_4040e5
sub_4040f2
sub_404116
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
link
error
__errno_location
_exit
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
