Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
fgetfilecon
freecon
fsetfilecon
getcon
getfilecon
getfscreatecon
get_quoting_style
gettext_quote
hard_locale
lgetfilecon
locale_charset
lsetfilecon
main
matchpathcon
matchpathcon_init_prefix
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
security_check_context
security_check_context_raw
security_compute_create
set_char_quoting
set_custom_quoting
setexeccon
setfilecon
setfscreatecon
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
string_to_security_class
sub_401309
sub_40130a
sub_401342
sub_40138a
sub_4013ac
sub_4013bd
sub_4013d6
sub_4013ea
sub_401464
sub_4016b3
sub_4016e6
sub_4016fa
sub_40170e
sub_4018cd
sub_4018e3
sub_40193b
sub_401a43
sub_401a89
sub_401aa1
sub_401ac4
sub_401ae1
sub_401b21
sub_401bac
sub_401bf3
sub_401c13
sub_401c25
sub_401c98
sub_401cda
sub_401cea
sub_401cfd
sub_401d36
sub_401d53
sub_401d63
sub_401d9e
sub_401e31
sub_401e53
sub_401e73
sub_401e8f
sub_401ea3
sub_401edd
sub_401ef3
sub_401f09
sub_401f78
sub_401fa6
sub_40204d
sub_40205d
sub_402067
sub_402083
sub_40209d
sub_4020c3
sub_4020ea
sub_402103
sub_402143
sub_402172
sub_402181
sub_4021b9
sub_4021ef
sub_402273
sub_402284
sub_4022a6
sub_4022e3
sub_4022fa
sub_4023ce
sub_402459
sub_402485
sub_40249a
sub_40258c
sub_4025a3
sub_4025b8
sub_4025d3
sub_402636
sub_4026b4
sub_4026ca
sub_4026e9
sub_4026fa
sub_402788
sub_402809
sub_402873
sub_4028df
sub_402929
sub_402975
sub_4029af
sub_402a51
sub_402a81
sub_402a9a
sub_402ad7
sub_402af3
sub_402c1a
sub_402c33
sub_402c45
sub_402c77
sub_402c8a
sub_402cc4
sub_402d03
sub_402d33
sub_402d4d
sub_402e0d
sub_402e27
sub_402e79
sub_402ee6
sub_402efa
sub_402f52
sub_402f73
sub_402fa6
sub_402fc3
sub_403006
sub_40301f
sub_403028
sub_40303f
sub_4030b2
sub_40339c
sub_4033b3
sub_40344e
sub_403794
sub_4037dd
sub_403ac3
sub_403b0c
sub_403c13
sub_403ce8
sub_403e7c
sub_4041d8
sub_4041ea
sub_404255
sub_404262
sub_404286
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
fputc_unlocked
error
__errno_location
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
