Text sections:
apply_suffix
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
c_locale
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
cl_strtod
c_strtod
c_tolower
c_toupper
dtotimespec
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
make_timespec
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nanosleep
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_4013d9
sub_4013da
sub_401412
sub_40145a
sub_40147c
sub_40148d
sub_4014a6
sub_40152d
sub_401545
sub_401573
sub_40159a
sub_401641
sub_401734
sub_401763
sub_4017a9
sub_4017c1
sub_4017e4
sub_4017f3
sub_40182e
sub_4018a4
sub_40192f
sub_401a2b
sub_401a57
sub_401a6a
sub_401a7f
sub_401a89
sub_401aa5
sub_401ac7
sub_401b36
sub_401b43
sub_401bab
sub_401bb5
sub_401bea
sub_401cdc
sub_401d05
sub_401dc1
sub_402128
sub_402150
sub_402263
sub_40227c
sub_40229f
sub_4022aa
sub_402401
sub_402436
sub_40247a
sub_40248a
sub_40249b
sub_402533
sub_40254f
sub_4025c2
sub_402603
sub_402626
sub_40263d
sub_40264a
sub_402669
sub_40267a
sub_40268a
sub_4026c7
sub_4026e7
sub_40271f
sub_402769
sub_4027f5
sub_40280e
sub_402b5c
sub_402b73
sub_402c0e
sub_402f54
sub_402f9d
sub_403283
sub_4032cc
sub_4033d3
sub_4034a8
sub_40363c
sub_403648
sub_403681
sub_403699
sub_403708
sub_40371a
sub_40372d
sub_40374e
sub_40390d
sub_403962
sub_4039ac
sub_4039bd
sub_403a2d
sub_403a3d
sub_403a47
sub_403a84
sub_403aca
sub_403af6
sub_403b0a
sub_403b23
sub_403b96
sub_403bc1
sub_403bfd
sub_403c13
sub_403d11
sub_403d28
sub_403d44
sub_403fb9
sub_404055
sub_404067
sub_40418a
sub_4041bf
sub_4041e9
sub_404278
sub_4042f9
sub_404363
sub_4043cf
sub_404419
sub_404465
sub_40449f
sub_4044aa
sub_4044db
sub_4044f9
sub_404516
sub_404576
sub_4045e5
sub_4045f2
sub_404616
timespec_cmp
timespec_sign
timespectod
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnanosleep
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtod
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
__errno_location
error
strtod
_exit
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
nanosleep
strtod_l
newlocale
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
