Text sections:
abandon_move
allocate_entry
areadlink_with_size
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
backupfile_internal
backup_file_rename
base_len
buffer_lcm
cached_umask
can_write_any_file
check_extension
check_tuning
check_x_suffix
chmod_or_fchmod
chown_failure_ok
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_file
clone_quoting_options
close_stdin
close_stdin_set_file_name
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
compute_bucket_size
copy
copy_acl
copy_dir
copy_reg
cp_option_init
cp_options_default
create_hard_link
create_hole
c_tolower
c_toupper
current_timespec
decode_preserve_arg
defaultcon
dest_info_init
dev_info_compare
dev_info_hash
direntry_cmp_inode
direntry_cmp_name
dir_len
dir_name
do_copy
dot_or_dotdot
dup_safer
emit_ancillary_info
emit_backup_suffix_note
emit_bug_reporting_address
emit_mandatory_arg_note
emit_verbose
errno_fail
errno_unsupported
explicit_bzero
extent_copy
extent_scan_free
extent_scan_init
extent_scan_read
fadvise
fchmod_or_lchmod
fdadvise
fd_safer
fdutimens
fgetfilecon
filemodestring
file_name_concat
find_backup_file_name
fopen_safer
force_linkat
force_symlinkat
forget_all
forget_created
freadahead
freecon
free_entry
free_permission_context
fsetfilecon
fstat
fstatat
ftypelet
full_write
gen_tempname
gen_tempname_len
getcon
getfilecon
getfscreatecon
get_nonce
get_permissions
get_quoting_style
get_stat_atime
get_stat_atime_ns
get_stat_birthtime
get_stat_birthtime_ns
get_stat_ctime
get_stat_ctime_ns
get_stat_mtime
get_stat_mtime_ns
gettext_quote
gettime
get_version
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_init
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_pjw
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
ignorable_ctx_err
io_blksize
isaac_refill
isaac_seed
is_ancestor
is_ENOTSUP
is_nul
is_prime
is_probably_sparse
just
last_component
lgetfilecon
locale_charset
lsetfilecon
lstat
lstatat
lutimens
lutimensat
main
make_dir_parents_private
matchpathcon
matchpathcon_init_prefix
mdir_name
mfile_name_concat
mknod
next_prime
numbered_backup
openat_safer
opendirat
opendir_safer
open_safer
overwrite_ok
owner_failure_ok
ptr_align
punch_hole
qcopy_acl
qset_acl
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
randint_all_free
randint_all_new
randint_free
randint_genmax
randint_get_source
randint_new
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
raw_comparator
raw_hasher
readisaac
readsource
record_file
remember_copied
renameatu
re_protect
restorecon
restore_default_fscreatecon_or_die
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_hasher
safe_write
samedir_template
same_file_ok
same_name
same_nameat
savedir
security_check_context
security_check_context_raw
security_compute_create
seen_file
set_acl
set_char_quoting
set_custom_quoting
setexeccon
setfilecon
set_file_security_ctx
setfscreatecon
set_owner
set_permissions
set_process_security_ctx
set_program_name
set_quoting_flags
set_quoting_style
set_simple_backup_suffix
shift_left
should_dereference
simple_new
source_is_dst_backup
sparse_copy
src_info_init
src_to_dest_compare
src_to_dest_free
src_to_dest_hash
src_to_dest_lookup
stat
statat
stat_time_normalize
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
streamsavedir
string_to_security_class
strip_trailing_slashes
strmode
sub_402789
sub_40278a
sub_4027c2
sub_40280a
sub_40282c
sub_40283d
sub_402856
sub_402867
sub_402884
sub_4028a5
sub_402932
sub_402954
sub_40297f
sub_402a13
sub_402a7e
sub_402a99
sub_402ac2
sub_402ae1
sub_402b1f
sub_402b65
sub_402b96
sub_402c06
sub_402cd3
sub_402dfc
sub_402eca
sub_402f12
sub_402f6c
sub_402fe1
sub_402ff8
sub_403013
sub_403046
sub_403163
sub_40317d
sub_403306
sub_403323
sub_40363c
sub_403653
sub_4036ee
sub_403a34
sub_403a7d
sub_403d63
sub_403dac
sub_403eb3
sub_403f88
sub_40411c
sub_404121
sub_404143
sub_404248
sub_404254
sub_404346
sub_40441a
sub_4044ab
sub_4045d8
sub_404637
sub_40467c
sub_4046ae
sub_4046b3
sub_4046c9
sub_404738
sub_404746
sub_40485a
sub_4048c8
sub_4048f1
sub_404905
sub_404919
sub_40493e
sub_404954
sub_404969
sub_4049bb
sub_4049ca
sub_4049d5
sub_404ad7
sub_404c03
sub_404c26
sub_404c73
sub_404c8b
sub_404cc4
sub_404d74
sub_404d89
sub_40510e
sub_40544b
sub_4054f4
sub_4055f1
sub_40570c
sub_40572a
sub_405745
sub_40584e
sub_40590c
sub_405b0f
sub_405b1d
sub_405dcb
sub_405e7c
sub_405ed6
sub_405f9e
sub_405fb1
sub_405fcf
sub_405fd5
sub_405fef
sub_406005
sub_40612f
sub_4061b3
sub_4061cd
sub_4061df
sub_4061e8
sub_4062ed
sub_4062f5
sub_406346
sub_4063fa
sub_406416
sub_406433
sub_406477
sub_40654c
sub_40655a
sub_40656e
sub_40672d
sub_4067dd
sub_406846
sub_406855
sub_4068ab
sub_406936
sub_40696b
sub_4069d1
sub_406a56
sub_406af5
sub_406b0a
sub_406b42
sub_406b96
sub_406c4d
sub_406c7b
sub_406c8d
sub_406cb0
sub_406d68
sub_406eaa
sub_406ec3
sub_406ee0
sub_406f2b
sub_407105
sub_40718d
sub_4071c8
sub_4071f2
sub_407293
sub_4072aa
sub_4072c3
sub_407375
sub_40738a
sub_4073a7
sub_40749c
sub_4074cc
sub_407514
sub_407527
sub_40756a
sub_40768c
sub_40769d
sub_40776a
sub_407789
sub_40779a
sub_407969
sub_40797e
sub_407989
sub_407997
sub_407f64
sub_407f7a
sub_407f8d
sub_407fa3
sub_407fdf
sub_408071
sub_4080ad
sub_4080c3
sub_408113
sub_40843c
sub_40846a
sub_408475
sub_4084e6
sub_408525
sub_408547
sub_408559
sub_408573
sub_408598
sub_4085cc
sub_4085ee
sub_4085f9
sub_408677
sub_4086bc
sub_4086e5
sub_40871f
sub_408747
sub_408855
sub_40887d
sub_408903
sub_408923
sub_408af7
sub_408b87
sub_408b95
sub_408ba4
sub_408c38
sub_408c53
sub_408c67
sub_408c84
sub_408dc7
sub_409182
sub_4091c1
sub_409211
sub_409252
sub_4092fc
sub_40931e
sub_409378
sub_409385
sub_40953a
sub_409548
sub_40958b
sub_40a0ce
sub_40a284
sub_40a2c3
sub_40a347
sub_40a35b
sub_40a365
sub_40a37a
sub_40a46c
sub_40a473
sub_40a495
sub_40a512
sub_40a542
sub_40a557
sub_40a633
sub_40a6c9
sub_40a6d3
sub_40a773
sub_40a7b2
sub_40a7de
sub_40a7f3
sub_40a80a
sub_40a824
sub_40ac02
sub_40ac18
sub_40ac7b
sub_40acd5
sub_40ad13
sub_40ad79
sub_40adb8
sub_40ade2
sub_40c911
sub_40c95b
sub_40c96a
sub_40c9a3
sub_40c9b5
sub_40c9d8
sub_40c9f3
sub_40ca19
sub_40ca2e
sub_40ca35
sub_40ca66
sub_40cabd
sub_40cada
sub_40cc0c
sub_40cc25
sub_40cc58
sub_40cd5b
sub_40cd6a
sub_40cd93
sub_40cde7
sub_40ce16
sub_40ce33
sub_40ce45
sub_40cea3
sub_40cf48
sub_40cfc9
sub_40d033
sub_40d09f
sub_40d0e9
sub_40d135
sub_40d16f
sub_40d309
sub_40d31a
sub_40d336
sub_40d355
sub_40d8fe
sub_40da08
sub_40dab6
sub_40dbd6
sub_40dc19
sub_40dc31
sub_40dc54
sub_40dc6a
sub_40dcdd
sub_40dced
sub_40dcf7
sub_40dd79
sub_40dd8a
sub_40de23
sub_40de91
sub_40deb4
sub_40deca
sub_40deda
sub_40dee9
sub_40df06
sub_40df3b
sub_40df8a
sub_40dfa4
sub_40dfc7
sub_40e0ea
sub_40e103
sub_40e2bb
sub_40e2cc
sub_40e3a8
sub_40e484
sub_40e55d
sub_40e565
sub_40e5fb
sub_40e60a
sub_40e659
sub_40e66a
sub_40e72d
sub_40e91e
sub_40e9b1
sub_40ea3e
sub_40ea91
sub_40eaf1
sub_40eb09
sub_40eb39
sub_40eb8e
sub_40ec54
sub_40ecbe
sub_40ecf6
sub_40f058
sub_40f093
sub_40f0a5
sub_40f203
sub_40f21f
sub_40f2a6
sub_40f390
sub_40f638
sub_40f653
sub_40f67e
sub_40f6a4
sub_40f6c4
sub_40f6e6
sub_40f6f5
sub_40f726
sub_40f78b
sub_40f7b1
sub_40f7cb
sub_40f886
sub_40f895
sub_40f924
sub_40fb02
sub_40fb33
sub_40fb5a
sub_40fb97
sub_40fbac
sub_40fbbd
sub_40fbce
sub_40fc43
sub_40fc7f
sub_40fca9
sub_40fd2e
sub_40fd3f
sub_40fd5b
sub_40fd65
sub_40fd8a
sub_40fed4
sub_40ff4f
sub_410085
sub_41026d
sub_410271
sub_4102e5
sub_4102f2
sub_410316
sub_410329
sub_41034f
sub_410375
target_directory_operand
transfer_entries
triple_compare
triple_compare_ino_str
triple_free
triple_hash
triple_hash_no_name
try_dir
try_file
try_link
try_nocreate
try_symlink
try_tempname
try_tempname_len
update_timespec
usage
utimecmp
utimecmpat
utimens
utimens_symlink
validate_timespec
valid_options
version_etc
version_etc_ar
version_etc_arn
version_etc_va
writable_destination
write_zeros
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xget_version
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc
yesno

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
error
__errno_location
getenv
strchr
free
abort
strlen
memcpy
mkdir
chmod
lchown
__assert_fail
unlink
rename
rmdir
mkfifo
geteuid
umask
canonicalize_file_name
memcmp
__mempcpy_chk
strcpy
putchar_unlocked
close
getpagesize
ftruncate
fchown
euidaccess
ioctl
lseek
read
fchmod
fallocate
memset
linkat
renameat
unlinkat
malloc
symlinkat
readlink
putc_unlocked
closedir
rewinddir
readdir
realloc
fpathconf
pathconf
_exit
posix_fadvise
fileno
open
fdopendir
strrchr
fwrite
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
syscall
write
qsort
stpcpy
__strspn_c1
utimensat
futimens
futimesat
utimes
getline
rpmatch
calloc
__freading
fflush
fseeko
mbrtowc
__fpending
ferror_unlocked
opendir
dirfd
clock_gettime
openat
setvbuf
gettimeofday
getpid
getppid
getuid
getgid
fread_unlocked
fclose
fcntl
nl_langinfo
fopen
fdopen
__cxa_atexit
__xstat
__fxstat
__lxstat
__fxstatat
__xmknod

Function signatures:

Function types:

Data:

Preamble:
