Text sections:
canon_host
canon_host_r
ch_strerror
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
extract_trimmed_name
get_quoting_style
gettext_quote
hard_locale
imaxtostr
locale_charset
main
print_line
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
read_utmp
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4018c9
sub_4018ca
sub_401902
sub_40194a
sub_40196c
sub_40197d
sub_401996
sub_401a17
sub_401b0c
sub_401b1a
sub_401b31
sub_401b4e
sub_401d0d
sub_401d27
sub_401d35
sub_401da3
sub_401de3
sub_401dff
sub_401e4b
sub_401e55
sub_401e7c
sub_401f32
sub_401f66
sub_402491
sub_40250e
sub_40257e
sub_402e68
sub_402f01
sub_402f16
sub_403122
sub_4031a5
sub_4031e6
sub_403209
sub_403215
sub_4032a5
sub_4032c3
sub_40332d
sub_403388
sub_403451
sub_4034bf
sub_4035ac
sub_40378d
sub_4037f8
sub_40380f
sub_403878
sub_403ab5
sub_403b85
sub_403c13
sub_403c9d
sub_403cdc
sub_403d4f
sub_403d5f
sub_403e74
sub_403ef4
sub_403f6e
sub_4042c8
sub_40433a
sub_404401
sub_404428
sub_4046fe
sub_4047d9
sub_404891
sub_4048d1
sub_40491d
sub_4049da
sub_404a4e
sub_404a5a
sub_404a65
sub_404ad6
sub_404af8
sub_404b31
sub_404ba8
sub_404be4
sub_404cb7
sub_404ccb
sub_404d50
sub_404e35
sub_404e45
sub_404e98
sub_404ea8
sub_404ed1
sub_404f8f
sub_40505f
sub_405221
sub_405243
sub_4052d6
sub_4055b4
sub_4055ed
sub_4059e7
sub_405a25
sub_405b36
sub_405b5e
sub_405bc1
sub_405d75
sub_405d82
sub_405da6
usage
version_etc_ar
version_etc_arn
who
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
error
free
ttyname
__sprintf_chk
__xstat
time
strlen
localtime
strftime
strcpy
__strncat_chk
strchr
__errno_location
__assert_fail
__asprintf_chk
puts
getaddrinfo
__strdup
freeaddrinfo
gai_strerror
_exit
strcmp
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
mbrtowc
strncpy
utmpxname
setutxent
getutxent
kill
endutxent
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
