Text sections:
add_excluded_fs_type
add_fs_type
add_to_grand_total
add_uint_with_neg_flag
allocate_entry
alloc_field
alloc_table_row
ambsalign
areadlink_with_size
__argmatch_die
argmatch_invalid
argmatch_to_argument
base_len
bkm_scale
bkm_scale_by_power
canonicalize_filename_mode
cdb_advance_fd
cdb_fchdir
cdb_free
cdb_init
chdir_long
check_tuning
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
compute_bucket_size
c_strcasecmp
c_tolower
c_toupper
decode_output_arg
default_block_size
dev_from_mount_options
devlist_compare
devlist_for_dev
devlist_free
devlist_hash
df_readable
dir_len
dir_name
dup_safer
emit_ancillary_info
emit_blocksize_note
emit_bug_reporting_address
emit_mandatory_arg_note
emit_size_note
excluded_fstype
fd_safer
filter_mount_list
find_mount_point
find_non_slash
free_cwd
free_entry
free_mount_entry
fstatat
get_all_entries
get_dev
get_disk
get_entry
get_field_list
get_field_values
get_fs_usage
get_header
get_point
get_quoting_style
gettext_quote
gnu_mbswidth
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_pjw
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
has_uuid_suffix
human_options
humblock
is_prime
known_value
last_component
last_device_for_mount
locale_charset
lstat
main
mbsalign
mbs_align_pad
mbsnwidth
mdir_name
me_for_dev
next_prime
open_safer
print_table
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
raw_comparator
raw_hasher
record_file
replace_control_chars
replace_invalid_chars
replace_problematic_chars
restore_cwd
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_hasher
same_name
same_nameat
save_cwd
seen_file
seen_triple
selected_fstype
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
stat
statvfs_works
sub_402079
sub_40207a
sub_4020b2
sub_4020fa
sub_40211c
sub_40212d
sub_402146
sub_4021a0
sub_402cb0
sub_403259
sub_4032a9
sub_40331f
sub_403392
sub_403723
sub_403ac6
sub_403b12
sub_403b98
sub_403c55
sub_403c7b
sub_403c89
sub_403d95
sub_403e8e
sub_40402f
sub_404087
sub_4040c1
sub_4040de
sub_40413a
sub_40416a
sub_4041d5
sub_404295
sub_404368
sub_4044e9
sub_40451d
sub_404645
sub_404708
sub_40476c
sub_4047c2
sub_404809
sub_40484f
sub_4048f1
sub_40492a
sub_404971
sub_4049ee
sub_404c4d
sub_404cd9
sub_404e3d
sub_404e8c
sub_40506a
sub_4050d4
sub_405155
sub_405607
sub_4056ed
sub_405767
sub_405855
sub_405af7
sub_405b4c
sub_405b83
sub_405c56
sub_405c92
sub_405cd5
sub_405f75
sub_4062b1
sub_4063c2
sub_4064b2
sub_4064fe
sub_406556
sub_406622
sub_406738
sub_40676a
sub_406782
sub_40699e
sub_4069da
sub_406ac3
sub_406b1c
sub_406cf3
sub_406d58
sub_406dfa
sub_406e88
sub_406f05
sub_406f1e
sub_406f63
sub_40705b
sub_4070c7
sub_4070f2
sub_40710d
sub_4071b7
sub_40720b
sub_40722f
sub_40731a
sub_407494
sub_407516
sub_4075de
sub_407667
sub_40767e
sub_407746
sub_40776f
sub_407a99
sub_407adf
sub_407cd1
sub_407cf9
sub_4080d2
sub_408268
sub_408292
sub_40839a
sub_4083be
sub_408449
sub_408713
sub_40879a
sub_4087d2
sub_4087fa
sub_4088ad
sub_4088d5
sub_408916
sub_408b6a
sub_408bfc
sub_408c9b
sub_408cc7
sub_408d11
sub_408d76
sub_408e10
sub_408e88
sub_408f80
sub_408ff2
sub_409089
sub_40911f
sub_409149
sub_409187
sub_4093b4
sub_4095a7
sub_409714
sub_409720
sub_409761
sub_4097b2
sub_409932
sub_409996
sub_409a24
sub_409a36
sub_409be8
sub_409c73
sub_409cc7
sub_409ce2
sub_40a6db
sub_40b197
sub_40b1aa
sub_40b23b
sub_40b287
sub_40b2f4
sub_40b332
sub_40bb98
sub_40bd4e
sub_40bdee
sub_40bf18
sub_40bf47
sub_40bf83
sub_40bfa6
sub_40cc68
sub_40cca4
sub_40ce86
sub_40cea2
sub_40cf9b
sub_40cfcc
sub_40d043
sub_40d05e
sub_40d0c1
sub_40d461
sub_40d47a
sub_40d532
sub_40d5c6
sub_40d648
sub_40d6d6
sub_40d6ee
sub_40d939
sub_40e4b3
sub_40e4ef
sub_40e521
sub_40e678
sub_40e744
sub_40e756
sub_40e832
sub_40e852
sub_40e87d
sub_40e993
sub_40ea49
sub_40eaa4
sub_40eafc
sub_40ed5d
sub_40edbe
sub_40edf8
sub_40ee37
sub_40eebc
sub_40f456
sub_40f502
sub_40f5c9
sub_40f627
sub_40fbaf
sub_40fc4a
sub_40fc56
sub_40fe97
sub_40ff15
sub_410217
sub_41021a
sub_4103a2
sub_41089f
sub_4108ae
sub_4108e3
sub_410926
sub_410966
sub_410d7d
sub_410f07
sub_410f4b
sub_41101a
sub_411205
sub_41134b
sub_41139e
sub_4113c8
sub_4114e8
sub_41157e
sub_4115c4
sub_4116f5
sub_41170a
sub_412496
sub_412505
sub_412512
sub_412536
sub_412549
to_uchar
transfer_entries
triple_compare
triple_compare_ino_str
triple_free
triple_hash
triple_hash_no_name
umaxtostr
unescape_tab
usage
version_etc_ar
version_etc_arn
wc_ensure_printable
wc_truncate
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xgetcwd
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtol_error
xstrtol_fatal
xstrtoumax
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
getenv
strcmp
error
__xstat
__errno_location
open
close
sync
__strdup
__asprintf_chk
isatty
canonicalize_file_name
free
strlen
strchr
__overflow
__assert_fail
strspn
malloc
memmove
iswcntrl
memcpy
chdir
__rawmemchr
__lxstat
_exit
abort
localeconv
__sprintf_chk
__ctype_get_mb_cur_max
mbstowcs
iswprint
wcswidth
wcstombs
wcwidth
memset
__mempcpy_chk
realloc
mbsinit
__ctype_b_loc
strrchr
fwrite
memcmp
__fxstatat
getcwd
fchdir
__strtoul_internal
calloc
memchr
openat
memrchr
uname
strverscmp
statvfs
statfs
mbrtowc
fopen
__getdelim
sscanf
strstr
setmntent
getmntent
hasmntopt
endmntent
readlink
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
fcntl
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
