Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401199
sub_40119a
sub_4011d2
sub_40121a
sub_40123c
sub_40124d
sub_401266
sub_4012a2
sub_401328
sub_40139e
sub_4016f8
sub_401717
sub_401794
sub_4017ae
sub_40196d
sub_4019c6
sub_401a7f
sub_401b4f
sub_401d11
sub_401d33
sub_401dc6
sub_4020a4
sub_4020dd
sub_4024d7
sub_402515
sub_402626
sub_40264e
sub_4026b1
sub_40298c
sub_4029a9
sub_402a00
sub_402ac3
sub_402ae1
sub_402b5e
sub_402b9c
sub_402baa
sub_402c1c
sub_402c75
sub_402ccb
sub_402d3a
sub_402d48
sub_402da5
sub_402dd6
sub_402e13
sub_402e95
sub_402ecb
sub_402eda
sub_402f63
sub_402f75
sub_402fe8
sub_402ff5
sub_40306f
sub_403161
sub_40325c
sub_403265
sub_403396
sub_4033ba
sub_4033cf
sub_4033da
sub_403499
sub_403682
sub_4036a9
sub_403741
sub_403763
sub_403831
sub_403845
sub_403904
sub_4039ee
sub_403a32
sub_403a4f
sub_403abf
sub_403ae1
sub_403b51
sub_403b65
sub_403c18
sub_403c55
sub_403cd4
sub_403ce5
sub_403d25
sub_403e65
sub_403e72
sub_403e96
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
bindtextdomain
textdomain
strcmp
__errno_location
error
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
__fprintf_chk
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
