Text sections:
base_len
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
fd_reopen
file_name_concat
get_quoting_style
gettext_quote
hard_locale
initialize_exit_failure
last_component
locale_charset
main
mfile_name_concat
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401559
sub_40155a
sub_401592
sub_4015da
sub_4015fc
sub_40160d
sub_401626
sub_401662
sub_401698
sub_4016c5
sub_4016fc
sub_401773
sub_40179e
sub_40184a
sub_40187a
sub_4018ed
sub_401999
sub_4019aa
sub_401acb
sub_401aed
sub_401b2a
sub_401b5a
sub_401cd2
sub_401d0f
sub_401d82
sub_401dc2
sub_401deb
sub_401e9d
sub_401eb2
sub_401f6f
sub_401fb8
sub_401ff3
sub_402091
sub_402234
sub_402240
sub_402257
sub_4023a2
sub_4024c5
sub_402586
sub_4026d3
sub_40276e
sub_40281b
sub_402d00
sub_403046
sub_40306f
sub_40307e
sub_4031a3
sub_4031f3
sub_40326d
sub_4032af
sub_4032f4
sub_403387
sub_40341d
sub_4034e6
sub_40351a
sub_403585
sub_40359e
sub_403601
sub_40404d
sub_404283
sub_4042c2
sub_40435c
sub_40437a
sub_4044a5
sub_404557
sub_4045d5
sub_40461e
sub_404636
sub_404683
sub_4046c8
sub_404735
sub_404768
sub_404797
sub_4047c7
sub_40480b
sub_40481b
sub_404867
sub_4048ca
sub_404970
sub_404bcc
sub_404c58
sub_404d85
sub_404fec
sub_40504a
sub_40510e
sub_406244
sub_40650b
sub_406547
sub_406582
sub_40659e
sub_4065de
sub_40665f
sub_40668a
sub_4066b6
sub_4067f6
sub_4068e7
sub_406927
sub_406a53
sub_406af5
sub_406b02
sub_406b26
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
setlocale
strcmp
free
realloc
memcpy
memset
abort
__fpending
ferror_unlocked
__errno_location
strlen
fcntl
gettext
mbrtowc
mempcpy
malloc
fprintf
printf
fputs_unlocked
exit
getopt_long
strrchr
strncmp
fputs
nl_langinfo
__freading
fileno
lseek
fclose
open
error
umask
dup2
close
bindtextdomain
textdomain
getenv
signal
execvp
isatty
_exit
fseeko
fflush
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
calloc
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
