Text sections:
argv_iter
argv_iter_free
argv_iter_init_argv
argv_iter_init_stream
argv_iter_n_args
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
fadvise
fdadvise
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
mb_copy
mb_width_aux
_obstack_allocated_p
_obstack_begin
_obstack_begin_1
_obstack_free
_obstack_memory_used
_obstack_newchunk
physmem_available
physmem_total
print_and_abort
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
readtokens0
readtokens0_free
readtokens0_init
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_read
save_token
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401b79
sub_401b7a
sub_401bb2
sub_401bfa
sub_401c1c
sub_401c2d
sub_401c46
sub_401c69
sub_401c95
sub_401d14
sub_401d54
sub_401da7
sub_401db5
sub_401df1
sub_401ecf
sub_401ee3
sub_401f2c
sub_401f50
sub_401fe5
sub_40208c
sub_4020f8
sub_40210a
sub_402192
sub_4021be
sub_4021cd
sub_4021ef
sub_40230a
sub_402365
sub_402552
sub_4025e3
sub_4025f5
sub_40268b
sub_4026ac
sub_4026b8
sub_4026ca
sub_4026dc
sub_402761
sub_402964
sub_402999
sub_402a46
sub_402a7e
sub_402af4
sub_402d43
sub_402e39
sub_4030e9
sub_4031c4
sub_4031fc
sub_40323b
sub_403276
sub_403298
sub_4032cb
sub_4032d8
sub_4032f5
sub_403353
sub_403365
sub_403395
sub_4033d6
sub_40344e
sub_403662
sub_403675
sub_403a32
sub_403a9e
sub_403ba3
sub_403bf9
sub_403c65
sub_4040a0
sub_40412f
sub_404161
sub_404189
sub_40435a
sub_404378
sub_4043d6
sub_4043e5
sub_4044ce
sub_4044f5
sub_4045f1
sub_40460f
sub_404664
sub_404675
sub_4046e5
sub_40479e
sub_404815
sub_404b78
sub_404c41
sub_404c7b
sub_404ce1
sub_404d8e
sub_404f4d
sub_404f83
sub_404f92
sub_40503c
sub_40507e
sub_405099
sub_4050dd
sub_4050e6
sub_405123
sub_4051c1
sub_4052dc
sub_4054de
sub_405544
sub_4055bf
sub_40585c
sub_405895
sub_4058af
sub_405c5d
sub_405c73
sub_405d15
sub_406064
sub_4060ad
sub_406392
sub_4063dc
sub_4064e3
sub_4065b8
sub_406777
sub_4067e5
sub_4067f2
sub_406816
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
wc
write_counts
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getpagesize
setvbuf
getenv
getopt_long
fopen
fileno
__fxstat
__xstat
error
open
close
__errno_location
free
__assert_fail
strchr
__overflow
__ctype_get_mb_cur_max
memmove
__ctype_b_loc
mbsinit
iswprint
wcwidth
iswspace
lseek
memchr
btowc
malloc
getdelim
feof
_exit
posix_fadvise
iswcntrl
memcpy
sysconf
sysinfo
strrchr
fwrite
abort
strlen
memcmp
memset
fgetc
ferror
read
realloc
calloc
__freading
fclose
fflush
fseeko
mbrtowc
__fpending
strcmp
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
