Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
initialize_exit_failure
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401349
sub_40134a
sub_401382
sub_4013ca
sub_4013ec
sub_4013fd
sub_401416
sub_4014dd
sub_401838
sub_4018f8
sub_401979
sub_4019e3
sub_401a4f
sub_401a99
sub_401ae5
sub_401b1f
sub_401b46
sub_401bd6
sub_401c29
sub_401c5b
sub_401cf2
sub_401d0d
sub_401df6
sub_401e0a
sub_401e47
sub_401e5a
sub_401f4c
sub_401f5a
sub_401f6d
sub_401fab
sub_401fbb
sub_40204d
sub_40205d
sub_402067
sub_4020de
sub_402154
sub_4021dd
sub_402219
sub_402231
sub_402254
sub_402275
sub_40228f
sub_40229a
sub_4022ae
sub_40246d
sub_402478
sub_40259a
sub_4025a5
sub_4025d3
sub_4025fa
sub_402603
sub_402658
sub_402738
sub_402766
sub_40277a
sub_402799
sub_4027aa
sub_4027b9
sub_402828
sub_402849
sub_40285d
sub_402880
sub_4029a1
sub_4029d7
sub_4029ea
sub_402a08
sub_402a43
sub_402a5b
sub_402a6a
sub_402a7a
sub_402ac7
sub_402b0f
sub_402b26
sub_402e0c
sub_402e23
sub_402ebe
sub_403204
sub_40324d
sub_403533
sub_40357c
sub_403683
sub_403758
sub_4038ec
sub_403921
sub_403955
sub_403973
sub_40398e
sub_403a21
sub_403a3a
sub_403ac3
sub_403ada
sub_403aea
sub_403b01
sub_403b27
sub_403b3f
sub_403b50
sub_403bc6
sub_403ca7
sub_403d12
sub_403def
sub_403dfc
sub_403e3f
sub_403e69
sub_403e8e
sub_403ebd
sub_403ed3
sub_403f52
sub_403fc5
sub_403fd2
sub_403ff6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
strchr
__errno_location
error
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
