Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_strcasecmp
c_tolower
c_toupper
do_stdin
emit_ancillary_info
emit_bug_reporting_address
factor
factor_insert_large
factor_insert_multiplicity
factor_insert_refind
factor_using_division
factor_using_pollard_rho
factor_using_pollard_rho2
freea
full_write
gcd2_odd
gcd_odd
get_nth_bit
get_quoting_style
gettext_quote
hard_locale
init_tokenbuffer
knuth_morris_pratt
knuth_morris_pratt_multibyte
lbuf_alloc
lbuf_flush
lbuf_putc
lbuf_putint
locale_charset
main
mb_copy
mbiter_multi_copy
mbiter_multi_next
mbiter_multi_reloc
mbslen
mbsstr
mbsstr_trimmed_wordbounded
mbuiter_multi_copy
mbuiter_multi_next
mbuiter_multi_reloc
mb_width_aux
mem_cd_iconv
millerrabin
millerrabin2
mmalloca
mod2
mp_factor
mp_factor_clear
mp_factor_init
mp_factor_insert
mp_factor_insert_ui
mp_factor_using_division
mp_factor_using_pollard_rho
mp_millerrabin
mp_prime_p
mulredc
mulredc2
powm
powm2
prime2_p
prime_p
print_factors
print_factors_single
print_uintmaxes
proper_name
proper_name_utf8
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
readtoken
readtokens
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_write
set_char_quoting
set_custom_quoting
set_nth_bit
set_program_name
set_quoting_flags
set_quoting_style
str_cd_iconv
str_iconv
strnlen1
strto2uintmax
trim2
umaxtostr
usage
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmem_cd_iconv
xmemdup
xnmalloc
xnrealloc
xrealloc
xstr_cd_iconv
xstrdup
xstr_iconv
xzalloc

PLT sections:
__uflow
__gmpz_scan1
free
abort
__errno_location
strncmp
_exit
__fpending
iconv
__gmpz_sub_ui
__gmpz_clears
isatty
__gmpz_set_ui
iswcntrl
write
__gmpz_sub
textdomain
fclose
bindtextdomain
dcgettext
__ctype_get_mb_cur_max
strlen
__gmpz_powm
getopt_long
__gmpz_divexact
mbrtowc
__gmpz_inits
strchr
__gmpz_set
__gmpz_mul
__overflow
strrchr
__gmpz_tdiv_q_ui
lseek
__assert_fail
memset
strnlen
__gmpz_fdiv_q_2exp
__strdup
memchr
__libc_start_main
memcmp
__gmp_printf
fputs_unlocked
calloc
strcmp
__gmpz_init_set_si
__gmpz_add_ui
memcpy
fileno
__gmpz_divisible_ui_p
wcwidth
iswalnum
malloc
fflush
__gmpz_clear
nl_langinfo
__gmpz_tdiv_q_2exp
__freading
realloc
setlocale
__printf_chk
iconv_close
__gmpz_mod
iswspace
__gmpz_init_set_ui
__gmpz_cmp
memmove
error
fseeko
__gmpz_gcd
__gmpz_init_set_str
__cxa_atexit
exit
fwrite
__fprintf_chk
__gmpz_cmp_ui
__gmpz_init
fflush_unlocked
__gmpz_powm_ui
mbsinit
iswprint
__ctype_b_loc
iconv_open
__sprintf_chk

Function signatures:

Function types:

Data:

Preamble:
