Text sections:
allocate_entry
areadlink_with_size
base_len
buffer_or_output
canonicalize_filename_mode
check_tuning
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
compute_bucket_size
c_strcasecmp
c_tolower
c_toupper
dir_len
dir_name
emit_ancillary_info
emit_bug_reporting_address
free_entry
fstatat
get_quoting_style
gettext_quote
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_pjw
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
isdir
is_prime
last_component
locale_charset
__lstat
lstat
main
mdir_name
next_prime
path_common_prefix
path_prefix
process_path
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
raw_comparator
raw_hasher
realpath_canon
record_file
relpath
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_hasher
same_name
same_nameat
seen_file
seen_triple
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
stat
sub_401549
sub_40154a
sub_401582
sub_4015ca
sub_4015ec
sub_4015fd
sub_401616
sub_40162e
sub_4016a7
sub_4016ee
sub_40172a
sub_40179d
sub_4017c0
sub_401889
sub_4018c3
sub_401a9a
sub_401b26
sub_401b67
sub_401bfb
sub_401c1b
sub_401c7f
sub_401cd7
sub_401d09
sub_401d7e
sub_401ec1
sub_401ff0
sub_4022d9
sub_40237e
sub_4024d2
sub_402508
sub_402561
sub_40264e
sub_402746
sub_402812
sub_40282e
sub_40287f
sub_40289e
sub_40298d
sub_4029b5
sub_4029d0
sub_402ae2
sub_402b0a
sub_402b9d
sub_402bea
sub_402c8c
sub_402df4
sub_402e2a
sub_402e67
sub_402e7e
sub_402f16
sub_403045
sub_4030be
sub_4031d7
sub_403208
sub_403364
sub_40339a
sub_4033c7
sub_4033da
sub_40347a
sub_403501
sub_4035cd
sub_4035e2
sub_403602
sub_4036e6
sub_403803
sub_403867
sub_4038e5
sub_40391f
sub_40392e
sub_403cb4
sub_403f3b
sub_40401e
sub_404145
sub_4041d6
sub_4041e6
sub_404306
sub_404331
sub_404503
sub_4045d3
sub_404a1d
sub_404b68
sub_404b92
sub_404c2f
sub_404c9a
sub_404d26
sub_404d95
sub_404daa
sub_404e50
sub_404f07
sub_404f2f
sub_404fc6
sub_4052c8
sub_405402
sub_405422
sub_405509
sub_405548
sub_40556e
sub_4055b7
sub_405863
sub_4058a2
sub_4058df
sub_4058ea
sub_40594d
sub_405b1c
sub_405b70
sub_405c74
sub_405d75
sub_405ddf
sub_405e16
sub_405e52
sub_405e9e
sub_405f32
sub_406132
sub_40614b
sub_4061c2
sub_4062b2
sub_406cc3
sub_406de8
sub_406ed7
sub_406f1f
sub_407118
sub_407132
sub_40717d
sub_407232
sub_40724e
sub_40729e
sub_4073db
sub_40747b
sub_4080ca
sub_40884d
sub_4088f3
sub_408a29
sub_408a95
sub_408b44
sub_408c3e
sub_408c75
sub_408cef
sub_408d77
sub_408d9f
sub_408e68
sub_408e88
sub_408f52
sub_408f93
sub_408fbe
sub_408fd2
sub_408fea
sub_409071
sub_409080
sub_409097
sub_409195
sub_40923d
sub_4093a7
sub_4097b5
sub_4099a4
sub_409a15
sub_409a22
sub_409a46
sub_409a59
transfer_entries
triple_compare
triple_compare_ino_str
triple_free
triple_hash
triple_hash_no_name
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetcwd
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
malloc
memcmp
__errno_location
error
free
gettext
abort
fprintf
printf
readlink
memcpy
fileno
lseek
fseeko
fflush
__freading
__fpending
ferror_unlocked
fclose
strncmp
strrchr
fputs
strlen
memset
fputs_unlocked
exit
strcmp
setlocale
bindtextdomain
textdomain
getopt_long
_exit
realloc
nl_langinfo
getcwd
mbrtowc
putchar_unlocked
memmove
strchr
strspn
calloc
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
__cxa_atexit
__xstat
__lxstat
__fxstatat

Function signatures:

Function types:

Data:

Preamble:
