Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4011c9
sub_4011ca
sub_401202
sub_40124a
sub_40126c
sub_40127d
sub_401296
sub_401337
sub_401368
sub_401424
sub_40146e
sub_401551
sub_4015b7
sub_4015ec
sub_401600
sub_4016d2
sub_40170a
sub_40174f
sub_401777
sub_40178e
sub_401832
sub_40187e
sub_4018fc
sub_4019be
sub_401a72
sub_401c24
sub_401c5f
sub_401d0d
sub_401d2e
sub_401d9f
sub_401dbf
sub_401e46
sub_401f26
sub_401f42
sub_40200d
sub_402048
sub_402159
sub_4022c4
sub_402307
sub_40231a
sub_402401
sub_402447
sub_402463
sub_402555
sub_4025f2
sub_4026c1
sub_4026fa
sub_40278d
sub_402803
sub_40283a
sub_402a1e
sub_402af6
sub_402b8d
sub_402bff
sub_402c1b
sub_402c77
sub_402f4c
sub_403272
sub_403419
sub_403445
sub_403537
sub_403572
sub_40358b
sub_4035f3
sub_403628
sub_403678
sub_4036f5
sub_4037c5
sub_4037eb
sub_40382b
sub_40383e
sub_4038e3
sub_403984
sub_403a6a
sub_403a8a
sub_403b38
sub_403b9e
sub_403c0e
sub_403c5e
sub_403d88
sub_403daf
sub_404832
sub_405183
sub_4051c1
sub_4051de
sub_405236
sub_4052a5
sub_4052b2
sub_4052d6
usage
version_etc
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
abort
memset
memcpy
gettext
printf
fputs_unlocked
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
__fpending
ferror_unlocked
__errno_location
realloc
free
fseeko
fileno
lseek
error
_exit
mbrtowc
malloc
nl_langinfo
fputs
strrchr
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
calloc
iswprint
mbsinit
fprintf
__freading
fclose
fflush
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
