Text sections:
cksum
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
emit_bug_reporting_address
fadvise
fdadvise
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4013d9
sub_4013da
sub_401412
sub_40145a
sub_40147c
sub_40148d
sub_4014a6
sub_4014bf
sub_4014c5
sub_401742
sub_4017c4
sub_4017d5
sub_401821
sub_40183e
sub_4019fd
sub_401a21
sub_401a9f
sub_401aaa
sub_401ab5
sub_401b95
sub_401c31
sub_401c53
sub_401c80
sub_401d41
sub_401d84
sub_401da5
sub_401f73
sub_401fb4
sub_40203b
sub_4021de
sub_402248
sub_402364
sub_402385
sub_402425
sub_402449
sub_4024a6
sub_4024e6
sub_4025b1
sub_4025c2
sub_4025f7
sub_40266c
sub_402696
sub_4026a5
sub_4026fa
sub_40271a
sub_402753
sub_402804
sub_4028bf
sub_40298f
sub_402b51
sub_402b73
sub_402c06
sub_402ee4
sub_402f1d
sub_403317
sub_403355
sub_403466
sub_40348e
sub_4034f1
sub_403645
sub_40371e
sub_403726
sub_403758
sub_403807
sub_403a25
sub_403c25
sub_403c38
sub_403f98
sub_403fa5
sub_404042
sub_404105
sub_40414c
sub_40415f
sub_404165
sub_40426c
sub_404295
sub_4042b9
sub_4042d8
sub_40432b
sub_404426
sub_404484
sub_404513
sub_404538
sub_40454f
sub_404675
sub_404682
sub_4046a6
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
setvbuf
__errno_location
error
fopen
fread_unlocked
_exit
posix_fadvise
fileno
getopt_long
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
__freading
lseek
fclose
fflush
fseeko
mbrtowc
__fpending
strcmp
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
