Text sections:
add_field
add_field_list
add_file_name
advance_seq
bkm_scale
bkm_scale_by_power
check_order
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
collate_error
c_strcasecmp
c_tolower
c_toupper
decode_field_spec
delseq
dup_safer
emit_ancillary_info
emit_bug_reporting_address
extract_field
fadvise
fdadvise
field_sep
fopen_safer
freebuffer
freeline
free_spareline
get_line
get_quoting_style
getseq
gettext_quote
hard_locale
initbuffer
init_linep
initseq
keycmp
locale_charset
main
memcasecmp
memcoll
memcoll0
prfield
prfields
prjoin
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
readlinebuffer
readlinebuffer_delim
reset_line
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_join_field
set_program_name
set_quoting_flags
set_quoting_style
strcoll_loop
string_to_join_field
sub_401789
sub_40178a
sub_4017c2
sub_40180a
sub_40182c
sub_40183d
sub_401856
sub_4018c3
sub_401940
sub_401981
sub_401a7e
sub_401aa4
sub_401b07
sub_401b54
sub_401ba6
sub_401c2e
sub_401c62
sub_401ca1
sub_401ce2
sub_401cfe
sub_401e65
sub_401e7e
sub_401f5c
sub_402037
sub_4020e9
sub_40210b
sub_40212f
sub_402152
sub_402242
sub_40229d
sub_402313
sub_40237f
sub_4023fc
sub_402655
sub_40271f
sub_4028db
sub_402918
sub_402963
sub_40299a
sub_4029ae
sub_402c5b
sub_40318f
sub_4031ab
sub_40321a
sub_40325f
sub_40328a
sub_4033a8
sub_4034ea
sub_40354e
sub_4035a8
sub_4035be
sub_403626
sub_4037f3
sub_40385d
sub_403881
sub_40390f
sub_403942
sub_403975
sub_403a28
sub_403f56
sub_403fd7
sub_404083
sub_404101
sub_4044a4
sub_404578
sub_404592
sub_4046fd
sub_40472c
sub_404762
sub_40478f
sub_4047c7
sub_4047e3
sub_404893
sub_404933
sub_404aa6
sub_404ae7
sub_404b46
sub_405317
sub_405f17
sub_405ff4
sub_40642b
sub_4065ef
sub_406676
sub_406718
sub_40675d
sub_40678a
sub_4067f2
sub_406999
sub_4069de
sub_406a4f
sub_406a82
sub_406bda
sub_406ca5
sub_406d61
sub_406f1e
sub_406f3b
sub_406fce
sub_406fea
sub_407067
sub_4070c6
sub_407103
sub_407143
sub_4072a4
sub_4072c6
sub_4073d2
sub_407445
sub_407462
sub_407734
sub_4077f5
sub_40789e
sub_4078bc
sub_40798e
sub_407a4b
sub_407bd9
sub_40878f
sub_4087c7
sub_408b40
sub_408db8
sub_408e3a
sub_408eb2
sub_408f8e
sub_408f9b
sub_409082
sub_409182
sub_409331
sub_409357
sub_4093bd
sub_4093fb
sub_40942b
sub_409487
sub_409510
sub_4095d5
sub_4095e2
sub_409606
system_join
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xfields
xmalloc
xmemcoll
xmemcoll0
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoul
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
fputs_unlocked
fwrite_unlocked
memset
__errno_location
strpbrk
fcntl
close
putchar_unlocked
__fpending
ferror_unlocked
gettext
error
__ctype_b_loc
memcmp
fileno
free
abort
memchr
memcpy
_exit
strrchr
strncmp
fputs
fprintf
printf
exit
strcmp
setlocale
bindtextdomain
textdomain
getopt_long
realloc
__assert_fail
posix_fadvise
nl_langinfo
strlen
calloc
__ctype_get_mb_cur_max
iswprint
mbsinit
strtoul
strchr
malloc
fopen
fdopen
feof_unlocked
getc_unlocked
toupper
mbrtowc
fseeko
lseek
fflush
__freading
fclose
strcoll
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
