Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401199
sub_40119a
sub_4011d2
sub_40121a
sub_40123c
sub_40124d
sub_401266
sub_401296
sub_40130f
sub_401330
sub_40142e
sub_401438
sub_401445
sub_401505
sub_4016f2
sub_401774
sub_4017b1
sub_4017f3
sub_401861
sub_4019fc
sub_401a05
sub_401a7f
sub_401ba4
sub_401c1f
sub_401c25
sub_401c6e
sub_401e2d
sub_401e64
sub_401f31
sub_401f58
sub_401f6f
sub_401f88
sub_401fe6
sub_4020b5
sub_402128
sub_402172
sub_4021ee
sub_4022dc
sub_4022ea
sub_402345
sub_402355
sub_40243f
sub_40250f
sub_4026d1
sub_4026f3
sub_402786
sub_402a64
sub_402a9d
sub_402e97
sub_402ed5
sub_402fe6
sub_40300e
sub_403071
sub_4031f5
sub_40321a
sub_4032e1
sub_403365
sub_403387
sub_4033fc
sub_403421
sub_403443
sub_40348c
sub_4034bb
sub_40350b
sub_403564
sub_403575
sub_403625
sub_403663
sub_4036f3
sub_403736
sub_403a98
sub_403ab9
sub_403b25
sub_403b71
sub_403b8c
sub_403ca5
sub_403d99
sub_403da5
sub_403e55
sub_403e62
sub_403e86
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
bindtextdomain
textdomain
strcmp
__errno_location
error
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
__fprintf_chk
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
