Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
initialize_exit_failure
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401319
sub_40131a
sub_401352
sub_40139a
sub_4013bc
sub_4013cd
sub_4013e6
sub_401492
sub_4014ca
sub_401e7a
sub_4028ca
sub_402956
sub_402986
sub_402b35
sub_402b9a
sub_402bd2
sub_402cc6
sub_402cfc
sub_402d1f
sub_402d57
sub_402d9e
sub_402ddb
sub_402e1f
sub_402e3f
sub_402e73
sub_402e8e
sub_402f27
sub_402f4d
sub_402f5e
sub_402fae
sub_40324c
sub_4032a7
sub_4032e8
sub_40334b
sub_403503
sub_4035b3
sub_4035e7
sub_403715
sub_4037d8
sub_403b2d
sub_403ba8
sub_403c3d
sub_403c8e
sub_403d0d
sub_403dd2
sub_403ed8
sub_403efb
sub_403fad
sub_404022
sub_404066
sub_404098
sub_404165
sub_4041d5
sub_404289
sub_4042cb
sub_404381
sub_4043c2
sub_4047f6
sub_4049c2
sub_404a42
sub_404a83
sub_404a9b
sub_404ada
sub_404b1e
sub_404b5e
sub_404c6b
sub_404cae
sub_404d0f
sub_404d4f
sub_404d81
sub_404eaa
sub_404ed7
sub_404f66
sub_404fea
sub_4050b5
sub_4050ed
sub_405254
sub_40526e
sub_4052c7
sub_40537e
sub_4053fa
sub_405416
sub_40543e
sub_40553a
sub_40556a
sub_405595
sub_405667
sub_4056d5
sub_4056e2
sub_405706
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
memcpy
memset
abort
__ctype_b_loc
__ctype_get_mb_cur_max
strlen
memcmp
iswprint
mbsinit
gettext
fprintf
printf
fputs_unlocked
exit
__errno_location
error
_exit
mbrtowc
calloc
fflush
__freading
free
setlocale
strcmp
strncmp
bindtextdomain
textdomain
getopt_long
strchr
fileno
lseek
fclose
fseeko
__fpending
ferror_unlocked
malloc
fputs
strrchr
realloc
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
