Text sections:
add_tab_stop
cleanup_file_list_stdin
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
emit_bug_reporting_address
emit_tab_list_info
fadvise
fdadvise
finalize_tab_stops
get_next_tab_column
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
next_file
parse_tab_stops
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_file_list
set_program_name
set_quoting_flags
set_quoting_style
sub_401509
sub_40150a
sub_401542
sub_40158a
sub_4015ac
sub_4015bd
sub_4015d6
sub_4016c1
sub_40172f
sub_40178e
sub_4017e5
sub_40186b
sub_401901
sub_4019fc
sub_401a05
sub_401a73
sub_401a8f
sub_401ab5
sub_401ad9
sub_401afa
sub_401b34
sub_401b55
sub_401bf5
sub_401c0f
sub_401cd1
sub_401d41
sub_401dba
sub_402118
sub_40228a
sub_4022bb
sub_402302
sub_402361
sub_402433
sub_402498
sub_4024a8
sub_402524
sub_402572
sub_4025b1
sub_4027a2
sub_4027e6
sub_4027f5
sub_40286c
sub_402875
sub_4028ea
sub_402907
sub_402ba5
sub_402bb5
sub_402bfd
sub_402cac
sub_402d04
sub_402d84
sub_402e46
sub_402ebf
sub_402ed9
sub_402f4e
sub_402fbe
sub_402fc5
sub_40300f
sub_4030d8
sub_4030f8
sub_403105
sub_4031f4
sub_403234
sub_4032cc
sub_403594
sub_4035a5
sub_40369a
sub_4036ae
sub_40386d
sub_403890
sub_403956
sub_4039bb
sub_403aa3
sub_403c84
sub_403cb1
sub_403cd1
sub_403cf3
sub_403d1b
sub_403de6
sub_403e9f
sub_403f6f
sub_404131
sub_404153
sub_4041e6
sub_4044c4
sub_4044fd
sub_4048f7
sub_404935
sub_404a46
sub_404a6e
sub_404ad1
sub_404c88
sub_404cc3
sub_404ced
sub_404d55
sub_404d62
sub_404d86
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrndup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
__uflow
__overflow
__ctype_b_loc
__errno_location
error
strspn
free
clearerr_unlocked
fopen
__assert_fail
_exit
posix_fadvise
fileno
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
iswprint
mbsinit
memset
malloc
realloc
memcpy
__strndup
calloc
__freading
lseek
fclose
fflush
fseeko
mbrtowc
__fpending
strcmp
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
