Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
initialize_exit_failure
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401349
sub_40134a
sub_401382
sub_4013ca
sub_4013ec
sub_4013fd
sub_401416
sub_401425
sub_4014e1
sub_401513
sub_40153a
sub_4015b7
sub_4015cd
sub_4015d3
sub_4015f9
sub_401668
sub_4016bb
sub_4017b8
sub_401886
sub_4018c3
sub_4018da
sub_4018e5
sub_4018fc
sub_401918
sub_40192f
sub_401969
sub_401a3d
sub_401ac3
sub_401ada
sub_401aea
sub_401afb
sub_401b57
sub_401b6a
sub_401b89
sub_401b9a
sub_401bc5
sub_401cea
sub_401d24
sub_401d63
sub_401daf
sub_401dd9
sub_401e81
sub_401ec9
sub_401ee1
sub_401f04
sub_401f98
sub_402019
sub_402083
sub_4020ef
sub_402139
sub_402185
sub_4021bf
sub_4021d3
sub_4024bc
sub_4024d3
sub_40256e
sub_4028b4
sub_4028fd
sub_402be3
sub_402c2c
sub_402d33
sub_402e08
sub_402f9c
sub_402fb5
sub_402fcf
sub_402fee
sub_402fff
sub_403358
sub_403379
sub_4033d6
sub_4033e5
sub_4034ad
sub_4034bd
sub_4034c7
sub_4034da
sub_403511
sub_40359d
sub_403612
sub_40362a
sub_40363d
sub_4037bd
sub_4037c6
sub_403807
sub_403837
sub_40384a
sub_403866
sub_4038a6
sub_4038ba
sub_4038cd
sub_403944
sub_40395e
sub_403b1d
sub_403b2a
sub_403b3a
sub_403c2c
sub_403c56
sub_403cf6
sub_403d21
sub_403d5d
sub_403d73
sub_403dc9
sub_403e1c
sub_403e5a
sub_403e6b
sub_403e78
sub_403ee5
sub_403ef2
sub_403f16
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
__errno_location
isatty
ttyname
puts
error
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
