Text sections:
apply_relative_time
__argmatch_die
argmatch_invalid
argmatch_to_argument
change_env
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_strcasecmp
c_tolower
c_toupper
current_timespec
dbg_printf
debug_mktime_not_ok
debug_print_current_time
debug_print_relative_time
debug_strfdate
debug_strfdatetime
debug_strftime
digits_to_date_time
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
equal_tm
extend_abbrs
fd_reopen
fdutimensat
getenv_TZ
get_quoting_style
get_reldate
get_stat_atime
get_stat_atime_ns
get_stat_birthtime
get_stat_birthtime_ns
get_stat_ctime
get_stat_ctime_ns
get_stat_mtime
get_stat_mtime_ns
gettext_quote
gettime
hard_locale
iso_week_days
locale_charset
localtime_rz
lookup_word
lookup_zone
main
memcpy_lowcase
memcpy_uppcase
mktime_ok
nstrftime
posix2_version
posixtime
posix_time_parse
print_rel_part
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
save_abbr
set_char_quoting
set_custom_quoting
setenv_TZ
set_hhmmss
set_program_name
set_quoting_flags
set_quoting_style
stat_time_normalize
str_days
__strftime_internal
time_overflow
time_zone_hhmm
time_zone_str
tm_year_str
to_hour
to_tm_year
touch
to_uchar
tzalloc
tzfree
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc
year
yydestruct
yyerror
yylex
yyparse

PLT sections:
__ctype_toupper_loc
getenv
__snprintf_chk
free
utimensat
localtime
__vfprintf_chk
abort
__errno_location
strncmp
localtime_r
_exit
__fpending
clock_gettime
setenv
textdomain
fclose
bindtextdomain
dcgettext
__ctype_get_mb_cur_max
strlen
__lxstat
getopt_long
mbrtowc
dup2
strchr
__overflow
strrchr
gmtime_r
lseek
__assert_fail
fputs
memset
close
fputc
__libc_start_main
memcmp
fputs_unlocked
calloc
strcmp
strtol
memcpy
tzset
time
fileno
__stpcpy_chk
__xstat
malloc
fflush
nl_langinfo
mktime
__freading
realloc
setlocale
__printf_chk
timegm
strftime
error
open
fseeko
unsetenv
futimens
__cxa_atexit
exit
fwrite
__fprintf_chk
mbsinit
iswprint
__ctype_tolower_loc
__ctype_b_loc
__sprintf_chk

Function signatures:

Function types:

Data:

Preamble:
