Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fcntl
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401419
sub_40141a
sub_401452
sub_40149a
sub_4014bc
sub_4014cd
sub_4014e6
sub_4014f5
sub_401595
sub_40168c
sub_4017a6
sub_401962
sub_401a01
sub_401a30
sub_401b02
sub_401cf2
sub_401d19
sub_401d8f
sub_401dc6
sub_401e18
sub_401e3a
sub_401e4c
sub_401f16
sub_401f95
sub_40200e
sub_4020e9
sub_402151
sub_4021cc
sub_402491
sub_4024b1
sub_4024f5
sub_402568
sub_4025da
sub_4025e5
sub_402653
sub_402665
sub_402703
sub_402727
sub_40273e
sub_4028fd
sub_4029c1
sub_4029da
sub_402a06
sub_402abf
sub_402b8f
sub_402d51
sub_402d73
sub_402e06
sub_4030e4
sub_40311d
sub_403517
sub_403555
sub_403666
sub_40368e
sub_4036f1
sub_403848
sub_403855
sub_4038d8
sub_4038e8
sub_4038ff
sub_4039f1
sub_403a25
sub_403a40
sub_403a85
sub_403b23
sub_403b65
sub_403c08
sub_403e94
sub_403eb3
sub_403ecf
sub_403edf
sub_403f01
sub_403f7c
sub_403fd5
sub_404016
sub_404038
sub_40412c
sub_40415b
sub_404214
sub_404578
sub_40458a
sub_4045fe
sub_404672
sub_404696
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
open
__errno_location
fdatasync
error
fsync
syncfs
close
sync
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
fcntl
mbrtowc
__fpending
strcmp
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
