Text sections:
change_env
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
c_locale
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_strtod
c_tolower
c_toupper
desirable_utmp_entry
emit_ancillary_info
emit_bug_reporting_address
equal_tm
extend_abbrs
extract_trimmed_name
fprintftime
fwrite_lowcase
fwrite_uppcase
getenv_TZ
get_quoting_style
gettext_quote
hard_locale
iso_week_days
locale_charset
localtime_rz
main
mktime_z
parse_gnu_standard_options_only
parse_long_options
print_uptime
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
read_utmp
revert_tz
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
save_abbr
select_plural
set_char_quoting
set_custom_quoting
setenv_TZ
set_program_name
set_quoting_flags
set_quoting_style
set_tz
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
__strftime_internal
sub_401ab9
sub_401aba
sub_401af2
sub_401b3a
sub_401b5c
sub_401b6d
sub_401b86
sub_401b9e
sub_401d5d
sub_401d75
sub_401e3d
sub_401e6f
sub_401e7e
sub_401efd
sub_401f10
sub_401f5a
sub_402075
sub_4020ed
sub_4020fd
sub_402107
sub_402143
sub_402186
sub_4021dc
sub_402217
sub_40226a
sub_40227d
sub_4022e6
sub_40237d
sub_40265c
sub_402673
sub_40270e
sub_402a54
sub_402a9d
sub_402d83
sub_402dcc
sub_402ed3
sub_402fa8
sub_40313c
sub_40315d
sub_403647
sub_4036be
sub_403769
sub_403788
sub_4037d4
sub_4037e8
sub_403810
sub_4038be
sub_403916
sub_403939
sub_403a24
sub_403a5c
sub_403a98
sub_403b9a
sub_403bd7
sub_403c05
sub_403c7f
sub_403c85
sub_403c9a
sub_403caf
sub_403da1
sub_403dd1
sub_403dea
sub_403dfa
sub_403eec
sub_403f13
sub_403f2a
sub_403f3a
sub_403f88
sub_403fcf
sub_4040c8
sub_4041ea
sub_404206
sub_404233
sub_40425a
sub_404286
sub_4042dc
sub_4042ea
sub_404303
sub_40435d
sub_404373
sub_40438f
sub_4043a7
sub_4043ba
sub_404448
sub_4044c9
sub_404533
sub_40459f
sub_4045e9
sub_404635
sub_40466f
sub_4046f7
sub_404726
sub_404738
sub_404753
sub_40478b
sub_4047c9
sub_4047e1
sub_404804
sub_404893
sub_4048a5
sub_404c18
sub_404ceb
sub_404d09
sub_404d2e
sub_404d42
sub_404d8d
sub_404de1
sub_404fe4
sub_405d71
sub_406583
sub_4065ac
sub_406644
sub_4066b6
sub_406709
sub_4067a1
sub_4067c1
sub_4067da
sub_406802
sub_40683f
sub_406869
sub_4068e2
sub_406916
sub_40692d
sub_406956
sub_40696a
sub_406989
sub_40699a
sub_406a14
sub_406b26
sub_406b4e
sub_406b64
sub_406b83
sub_406b99
sub_406c08
sub_406c41
sub_406ca2
sub_406ce3
sub_406d55
sub_406d62
sub_406d86
tzalloc
tzfree
uptime
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
error
__errno_location
fopen
fgets_unlocked
time
localtime
dcngettext
getloadavg
putchar_unlocked
strtod_l
newlocale
_exit
fputc
strlen
strftime
fwrite
__ctype_tolower_loc
__ctype_toupper_loc
getopt_long
strrchr
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
malloc
realloc
memcpy
calloc
fileno
__freading
lseek
fclose
fflush
fseeko
mbrtowc
strncpy
utmpxname
setutxent
getutxent
endutxent
kill
localtime_r
gmtime_r
mktime
timegm
getenv
tzset
setenv
unsetenv
__fpending
ferror_unlocked
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
