Text sections:
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
gidtostr_ptr
gidtostr_ptr_0
hard_locale
locale_charset
main
mgetgroups
parse_user_spec
parse_with_separator
print_full_info
print_group
print_group_list
print_stuff
print_user
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
realloc_groupbuf
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401739
sub_40173a
sub_401772
sub_4017ba
sub_4017dc
sub_4017ed
sub_401806
sub_40181f
sub_401829
sub_401889
sub_4018db
sub_4018f3
sub_40191e
sub_401957
sub_401986
sub_4019cd
sub_4019ee
sub_4019f3
sub_401b2a
sub_401b3a
sub_401c2c
sub_401ca7
sub_401d38
sub_401db9
sub_401e23
sub_401e8f
sub_401ed9
sub_401f25
sub_401f5f
sub_401fa8
sub_402011
sub_4020dd
sub_4020e8
sub_4020fa
sub_40210f
sub_40211a
sub_40212d
sub_402173
sub_4021b6
sub_4021c9
sub_402238
sub_40224a
sub_40253f
sub_40254a
sub_402569
sub_40257a
sub_4025c6
sub_40279c
sub_4027c9
sub_40280e
sub_402839
sub_40286f
sub_40289d
sub_4028b3
sub_4028c4
sub_4028ea
sub_402981
sub_402a74
sub_402a8a
sub_402ab6
sub_402aeb
sub_402b07
sub_402c2b
sub_402cb3
sub_402cc5
sub_402d3b
sub_402dad
sub_402dbd
sub_402dc7
sub_402eba
sub_402f16
sub_402f6d
sub_402fd6
sub_40314a
sub_40315a
sub_403402
sub_40369d
sub_4036c5
sub_4036f7
sub_40376e
sub_40377d
sub_403793
sub_4037c3
sub_4037ea
sub_403844
sub_403875
sub_403909
sub_403921
sub_403944
sub_403a84
sub_403b1a
sub_403e04
sub_403e1e
sub_403fdd
sub_4042bc
sub_4042d3
sub_40436e
sub_4046b4
sub_4046fd
sub_4049e3
sub_404a2c
sub_404b33
sub_404c08
sub_404d9c
sub_404db9
sub_404e32
sub_404e4a
sub_404e5a
sub_404e80
sub_404f84
sub_404f9f
sub_404fc1
sub_404fda
sub_404fec
sub_404ff5
sub_405008
sub_40501c
sub_405025
sub_4050b6
sub_4050cc
sub_405428
sub_40543b
sub_4054c5
sub_4054d2
sub_4054f6
uidtostr_ptr
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetgroups
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoul
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
getpwuid
free
__errno_location
error
geteuid
getuid
getegid
getgid
putchar_unlocked
getgrgid
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
strchr
getpwnam
endgrent
endpwent
getgrnam
malloc
realloc
memcpy
strtoul
__assert_fail
calloc
mbrtowc
__fpending
ferror_unlocked
getgrouplist
getgroups
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
