Text sections:
apply_relative_time
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
current_timespec
dbg_printf
debug_print_current_time
debug_print_relative_time
emit_bug_reporting_address
fprintftime
get_quoting_style
gettext_quote
gettime
hard_locale
imaxtostr
locale_charset
localtime_rz
lookup_zone
main
mktime_z
nstrftime
parse_datetime
parse_datetime2
posixtime
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
save_abbr
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
settime
show_date
str_days
__strftime_internal
__strftime_internal_0
sub_401b19
sub_401b1a
sub_401b52
sub_401b9a
sub_401bbc
sub_401bcd
sub_401be6
sub_401bfa
sub_401c0f
sub_401c15
sub_401d13
sub_401d8a
sub_401db5
sub_401dc5
sub_401e35
sub_401e45
sub_401e75
sub_402238
sub_40228e
sub_4024ab
sub_4028e7
sub_4028f5
sub_4029f1
sub_402a0f
sub_402a18
sub_402b98
sub_402c32
sub_402c58
sub_402d25
sub_402d35
sub_402db3
sub_402e27
sub_402f95
sub_403061
sub_403096
sub_4030a5
sub_403128
sub_40329e
sub_4032c4
sub_4032ed
sub_40336c
sub_4035fa
sub_403c75
sub_404f79
sub_404fd8
sub_405062
sub_4054ee
sub_405591
sub_405664
sub_4056a3
sub_405724
sub_405735
sub_405806
sub_4058d5
sub_4058ed
sub_4059cd
sub_405a24
sub_405a3c
sub_405ac1
sub_405f4c
sub_406011
sub_406076
sub_40611e
sub_406151
sub_40630c
sub_406389
sub_40639a
sub_4063b9
sub_40642c
sub_406435
sub_406482
sub_40655e
sub_4065c3
sub_4065d5
sub_406665
sub_40667a
sub_406685
sub_4067c3
sub_4067f2
sub_40681e
sub_40689e
sub_406b6e
sub_407275
sub_4079dc
sub_4082c9
sub_4082e7
sub_408542
sub_408568
sub_4085a3
sub_40861f
sub_4086cf
sub_40879f
sub_408961
sub_408983
sub_408a16
sub_408cf4
sub_408d2d
sub_409127
sub_409165
sub_409276
sub_40929e
sub_409301
sub_40949b
sub_4094a8
sub_4094b5
sub_409606
sub_409631
sub_40964e
sub_40980d
sub_409a87
sub_409d2e
sub_409d99
sub_409dbf
sub_409f49
sub_409f6d
sub_40a003
sub_40a015
sub_40a06e
sub_40a12e
sub_40a168
sub_40a38a
sub_40ae65
sub_40aea2
sub_40bf43
sub_40c219
sub_40c247
sub_40c2d3
sub_40c66e
sub_40c728
sub_40c74c
sub_40f676
sub_40f6a7
sub_40fd43
sub_40fde7
sub_40fe38
sub_40fea5
sub_40feb2
sub_40fed6
tzalloc
tzfree
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc
yyparse

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
putenv
getenv
fopen
__getdelim
error
free
__xstat
__errno_location
__overflow
strlen
memcmp
_exit
fputc
strftime
fwrite
__ctype_tolower_loc
__ctype_toupper_loc
clock_gettime
strcmp
__sprintf_chk
fputs
__vfprintf_chk
malloc
gmtime_r
__snprintf_chk
strchr
time
localtime
mktime
__stpcpy_chk
abort
strrchr
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
memset
clock_settime
settimeofday
realloc
memcpy
calloc
fileno
__freading
lseek
fclose
fflush
fseeko
mbrtowc
nl_langinfo
setenv
unsetenv
tzset
localtime_r
timegm
__fpending
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
