Text sections:
apply_relative_time
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
change_env
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
current_timespec
dbg_printf
debug_mktime_not_ok
debug_print_current_time
debug_print_relative_time
debug_strfdate
debug_strfdatetime
debug_strftime
digits_to_date_time
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
equal_tm
extend_abbrs
fd_reopen
fdutimensat
getenv_TZ
get_quoting_style
get_reldate
get_stat_atime
get_stat_atime_ns
get_stat_birthtime
get_stat_birthtime_ns
get_stat_ctime
get_stat_ctime_ns
get_stat_mtime
get_stat_mtime_ns
gettext_quote
gettime
hard_locale
isdst_differ
iso_week_days
locale_charset
localtime_rz
lookup_word
lookup_zone
main
memcpy_lowcase
memcpy_uppcase
mktime_ok
mktime_z
nstrftime
posix2_version
posixtime
posix_time_parse
print_rel_part
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
revert_tz
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
save_abbr
set_char_quoting
set_custom_quoting
setenv_TZ
set_hhmmss
set_program_name
set_quoting_flags
set_quoting_style
set_tz
stat
stat_time_normalize
str_days
__strftime_internal
sub_401bf9
sub_401bfa
sub_401c32
sub_401c7a
sub_401c9c
sub_401cad
sub_401cc6
sub_4024e1
sub_403131
sub_4031ba
sub_4031df
sub_403206
sub_4032c2
sub_40334e
sub_403387
sub_403863
sub_40398f
sub_40399e
sub_4039b2
sub_403aa7
sub_403ada
sub_403b55
sub_403be1
sub_403c78
sub_407a59
sub_40fe97
sub_410076
sub_4101ca
sub_410313
sub_410330
sub_41040a
sub_4104fc
sub_410619
sub_41062b
sub_4106a2
sub_4107a2
sub_4107fe
sub_410b07
sub_41121b
sub_41125c
sub_4114b2
sub_4114e8
sub_41267a
sub_412fd2
sub_4130f3
sub_413373
sub_41339f
sub_413a17
sub_4173d7
sub_417417
sub_4174f4
sub_417531
sub_417649
sub_41770c
sub_4177af
sub_4177e7
sub_4177fe
sub_41785f
sub_41789e
sub_417946
sub_417b05
sub_417ef4
sub_417f0e
sub_417ffd
sub_41803e
sub_4180db
sub_418153
sub_4182b4
sub_418308
sub_41833c
sub_4187ef
sub_41882b
sub_418845
sub_4188ab
sub_418a62
sub_418c69
sub_418dfe
sub_418fc1
sub_419199
sub_4195a7
sub_4196fc
sub_4197a7
sub_41c0df
sub_41c77b
sub_41c7a7
sub_41c841
sub_41c8de
sub_41c93a
sub_41c962
sub_41c99a
sub_41cb79
sub_41cc4f
sub_41ccf9
sub_41cd4b
sub_41ce1b
sub_41ceac
sub_41cfaf
sub_41d155
sub_41d1a7
sub_41d202
sub_41d313
sub_41d38a
sub_41d39e
sub_41d472
sub_41d48e
sub_41d5c6
sub_41d642
sub_41d6dd
sub_41d73b
sub_41d77c
sub_41d7b3
sub_41d7ee
sub_41d7fa
sub_41d8e9
sub_41e350
sub_41ef06
sub_41ef8e
sub_41eff8
sub_41f183
sub_41f19c
sub_41f1d2
sub_41f20a
sub_41f216
sub_41f31c
sub_41f332
sub_4219a8
sub_4332bd
sub_4332ce
sub_43333a
sub_4333aa
sub_43343a
sub_4334d8
sub_4335dc
sub_4335fa
sub_43360e
sub_433652
sub_4336f2
sub_4337d3
sub_433844
sub_433915
sub_43394d
sub_433bc6
sub_433ee5
sub_433f76
sub_433fca
sub_434002
sub_434066
sub_4340a7
sub_4341de
sub_434341
sub_434378
sub_4343bd
sub_434425
sub_434432
sub_434456
sub_434469
time_overflow
time_zone_hhmm
time_zone_str
tm_year_str
to_hour
to_tm_year
touch
to_uchar
tzalloc
tzfree
usage
version_etc
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc
year
yydestruct
yyerror
yylex
yyparse

PLT sections:
__libc_start_main
__gmon_start__
memset
strlen
__ctype_b_loc
__ctype_get_mb_cur_max
iswprint
mbsinit
abort
memcmp
gettext
nl_langinfo
getenv
strtol
fprintf
printf
fputs_unlocked
fputc
fputs
snprintf
error
mbrtowc
memcpy
free
malloc
strchr
strncmp
__fpending
ferror_unlocked
__errno_location
timegm
mktime
localtime_r
strrchr
fseeko
fileno
lseek
exit
strcmp
setlocale
bindtextdomain
textdomain
getopt_long
localtime
time
tzset
unsetenv
setenv
__assert_fail
close
fflush
__freading
abs
sprintf
stpcpy
strcpy
strftime
putc_unlocked
_exit
clock_gettime
open
dup2
futimens
utimensat
fclose
tolower
realloc
vfprintf
gmtime_r
toupper
calloc
__cxa_atexit
__xstat
__lxstat

Function signatures:

Function types:

Data:

Preamble:
