Text sections:
areadlink_with_size
base_len
canonicalize_filename_mode
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
dir_len
dir_name
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_pjw
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
isdir
last_component
locale_charset
main
mdir_name
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
raw_comparator
raw_hasher
record_file
relpath
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
same_name
same_nameat
seen_file
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4014d9
sub_4014da
sub_401512
sub_40155a
sub_40157c
sub_40158d
sub_4015a6
sub_4015d1
sub_401613
sub_401655
sub_401679
sub_4016bf
sub_4016d8
sub_401a38
sub_401a66
sub_401aa3
sub_401ab5
sub_401ba4
sub_401c39
sub_401d17
sub_401fdb
sub_40208a
sub_4022e5
sub_402486
sub_4024cf
sub_402976
sub_4029e5
sub_402a55
sub_402aec
sub_402b91
sub_402c14
sub_402c37
sub_402cac
sub_402cd3
sub_402ce7
sub_402cf5
sub_402e8a
sub_402ebc
sub_402ed0
sub_402f9c
sub_402fa6
sub_402fd6
sub_402fe5
sub_403118
sub_403123
sub_4031b6
sub_403501
sub_403515
sub_40359e
sub_4035ba
sub_40362e
sub_4037eb
sub_40381b
sub_40382f
sub_4038ff
sub_40390a
sub_403928
sub_403b12
sub_403bb1
sub_403bd4
sub_403be8
sub_403bf5
sub_403c85
sub_403dff
sub_403e3c
sub_403e88
sub_403ea2
sub_403eb5
sub_403ed1
sub_403f67
sub_403fc6
sub_403fd5
sub_403fec
sub_40414c
sub_4041be
sub_4041f3
sub_404275
sub_404513
sub_4045ab
sub_4046ce
sub_40473a
sub_4047aa
sub_4047ed
sub_4047ff
sub_4049ce
sub_404a98
sub_404ab1
sub_404ac5
sub_404b4a
sub_404b81
sub_404c27
sub_404f1d
sub_404f33
sub_404fd5
sub_405324
sub_40536d
sub_405652
sub_40569c
sub_4057a3
sub_405878
sub_405a37
sub_405a55
sub_405a68
sub_405b31
sub_405b8b
sub_405b9c
sub_405bae
sub_405d6d
sub_405e06
sub_405e36
sub_405e7b
sub_405ed6
sub_405ef8
sub_406048
sub_4060bc
sub_4060c5
sub_406143
sub_406186
sub_4061c5
sub_4061e9
sub_406266
sub_4062df
sub_406363
sub_406424
sub_406435
sub_4064e6
sub_406739
sub_40676e
sub_406803
sub_406864
sub_406899
sub_406905
sub_406912
sub_406936
transfer_entries
triple_compare
triple_compare_ino_str
triple_free
triple_hash
triple_hash_no_name
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetcwd
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__fprintf_chk
bindtextdomain
textdomain
getopt_long
free
__overflow
__errno_location
error
__xstat
strlen
memcpy
__rawmemchr
__lxstat
memmove
_exit
abort
malloc
strcmp
strrchr
fwrite
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
__fxstatat
realloc
getcwd
calloc
mbrtowc
readlink
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
