Text sections:
check_order
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
collate_error
compare_files
c_strcasecmp
c_tolower
c_toupper
dup_safer
emit_ancillary_info
emit_bug_reporting_address
fadvise
fdadvise
fopen_safer
freebuffer
get_quoting_style
gettext_quote
hard_locale
initbuffer
locale_charset
main
memcmp2
memcoll
memcoll0
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
readlinebuffer
readlinebuffer_delim
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
strcoll_loop
sub_401569
sub_40156a
sub_4015a2
sub_4015ea
sub_40160c
sub_40161d
sub_401636
sub_401785
sub_4017bf
sub_4018d9
sub_401928
sub_401b8b
sub_4020b7
sub_402161
sub_40218b
sub_4021c2
sub_4021f4
sub_40223f
sub_402272
sub_4022ad
sub_402307
sub_402335
sub_402437
sub_402457
sub_402516
sub_402533
sub_4025d5
sub_40260a
sub_402883
sub_402b2d
sub_4032a6
sub_403878
sub_4038a8
sub_403927
sub_403a23
sub_403a6b
sub_403aad
sub_403abe
sub_403aee
sub_403be8
sub_403d15
sub_403dc9
sub_403e03
sub_403e88
sub_403ece
sub_403f0f
sub_403f1e
sub_403f6a
sub_403f7e
sub_404094
sub_4040c8
sub_404166
sub_40419f
sub_4041bf
sub_404204
sub_4042ed
sub_404327
sub_404330
sub_404371
sub_4043ba
sub_4044ea
sub_404512
sub_404552
sub_4045ed
sub_404663
sub_4046d4
sub_404707
sub_404766
sub_4047a7
sub_4047e6
sub_4048c7
sub_404942
sub_404976
sub_404a8c
sub_404a9a
sub_404b43
sub_404b7a
sub_404bcb
sub_404c02
sub_404cf7
sub_404e54
sub_404e7c
sub_404fb7
sub_405101
sub_405536
sub_40564f
sub_4057e5
sub_4058a7
sub_4059d5
sub_405bb4
sub_405bf1
sub_405c28
sub_405cc1
sub_405d37
sub_405d7b
sub_406034
sub_40713c
sub_40721b
sub_40723e
sub_4072fa
sub_4073a7
sub_407423
sub_4074cf
sub_40750a
sub_407585
sub_4075b8
sub_4076b8
sub_4076ce
sub_407765
sub_4077d5
sub_4077e2
sub_407806
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
writeline
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemcoll
xmemcoll0
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
getc_unlocked
ferror_unlocked
feof_unlocked
fputs
abort
strrchr
strncmp
gettext
fprintf
printf
fputs_unlocked
exit
strcmp
error
strlen
setlocale
bindtextdomain
textdomain
getopt_long
__errno_location
mbrtowc
memset
nl_langinfo
free
memcmp
fileno
fcntl
close
__fpending
fwrite_unlocked
_exit
posix_fadvise
memcpy
__freading
lseek
fclose
calloc
malloc
fopen
fdopen
strcoll
__ctype_get_mb_cur_max
__ctype_b_loc
iswprint
mbsinit
realloc
fseeko
fflush
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
