Text sections:
bad_cast
bkm_scale
bkm_scale_by_power
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
c_strcasecmp
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
getugroups
gid_unset
hard_locale
initialize_exit_failure
is_root
locale_charset
main
mgetgroups
parse_additional_groups
parse_user_spec
parse_with_separator
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
realloc_groupbuf
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401909
sub_40190a
sub_401942
sub_40198a
sub_4019ac
sub_4019bd
sub_4019d6
sub_401a08
sub_401a67
sub_401a9a
sub_401b55
sub_401bc3
sub_401c9d
sub_401cde
sub_401d10
sub_401dfa
sub_401e37
sub_401e6d
sub_401eaa
sub_401eef
sub_401f22
sub_401f66
sub_401fab
sub_401fbe
sub_4020a2
sub_4020c3
sub_40214c
sub_40218f
sub_40219e
sub_402261
sub_4022d5
sub_4022ee
sub_402334
sub_40299b
sub_4029ab
sub_402a07
sub_402a67
sub_402a8c
sub_402b73
sub_402b8e
sub_402c03
sub_402cd5
sub_402cfe
sub_402d4a
sub_402e13
sub_402ea6
sub_40331e
sub_403982
sub_403b86
sub_403ba0
sub_403edf
sub_404141
sub_40420b
sub_40472d
sub_40476d
sub_4047c8
sub_40489a
sub_4048b5
sub_404932
sub_404984
sub_4049da
sub_404abd
sub_404c23
sub_404c97
sub_404d4a
sub_404e0a
sub_404e4e
sub_40505e
sub_405109
sub_40516f
sub_405345
sub_40652e
sub_406592
sub_4065bb
sub_4065ea
sub_406807
sub_406876
sub_40696b
sub_4069b2
sub_406a52
sub_406a6e
sub_406aef
sub_406b15
sub_406b47
sub_406b7c
sub_406c85
sub_406e55
sub_407288
sub_40729e
sub_407301
sub_407474
sub_407619
sub_40762e
sub_40768b
sub_4076ff
sub_407777
sub_407867
sub_407896
sub_40798e
sub_4079b8
sub_4079f8
sub_407a65
sub_407a72
sub_407a96
to_uchar
uid_unset
umaxtostr
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xgetgroups
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtoul
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
memcpy
memset
abort
canonicalize_file_name
strcmp
free
__errno_location
error
_exit
gettext
fprintf
printf
fputs_unlocked
exit
strlen
nl_langinfo
mbrtowc
getgrouplist
getgroups
strtok
__ctype_b_loc
getgrnam
fseeko
fileno
lseek
fflush
__freading
calloc
setlocale
getpwuid
chroot
execvp
getenv
setuid
setgroups
strncmp
bindtextdomain
textdomain
getopt_long
chdir
setgid
endgrent
setgrent
getgrent
__fpending
ferror_unlocked
getgrgid
endpwent
getpwnam
fputs
realloc
fclose
strrchr
__ctype_get_mb_cur_max
memcmp
malloc
iswprint
mbsinit
strchr
__assert_fail
strtoul
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
