Text sections:
canon_host
canon_host_r
ch_strerror
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
extract_trimmed_name
get_quoting_style
gettext_quote
hard_locale
imaxtostr
locale_charset
main
print_line
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
read_utmp
rpl_calloc
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
usage
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
utmpxname
free
localtime
abort
__errno_location
strncpy
strncmp
_exit
strcpy
__fpending
puts
textdomain
endutxent
fclose
bindtextdomain
dcgettext
__ctype_get_mb_cur_max
strlen
getopt_long
mbrtowc
strchr
gai_strerror
strrchr
lseek
__assert_fail
memset
__strdup
__libc_start_main
memcmp
fputs_unlocked
__asprintf_chk
calloc
strcmp
setutxent
memcpy
kill
time
fileno
__xstat
malloc
fflush
nl_langinfo
__freading
ttyname
realloc
setlocale
__printf_chk
strftime
getutxent
error
fseeko
__cxa_atexit
exit
fwrite
__fprintf_chk
__strncat_chk
getaddrinfo
mbsinit
iswprint
__ctype_b_loc
freeaddrinfo
__sprintf_chk

Function signatures:

Function types:

Data:

Preamble:
