Text sections:
allocate_entry
areadlink_with_size
argmatch
__argmatch_die
argmatch_invalid
argmatch_to_argument
argmatch_valid
atomic_link
backupfile_internal
base_len
buffer_or_output
canonicalize_filename_mode
check_extension
check_tuning
check_x_suffix
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdin
close_stdin_set_file_name
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
compute_bucket_size
convert_abs_rel
c_strcasecmp
c_tolower
c_toupper
dir_len
dir_name
do_link
dup_safer
emit_ancillary_info
emit_backup_suffix_note
emit_bug_reporting_address
emit_mandatory_arg_note
errno_fail
errnoize
explicit_bzero
fd_safer
file_name_concat
find_backup_file_name
fopen_safer
force_linkat
force_symlinkat
freadahead
free_entry
fstatat
gen_tempname
gen_tempname_len
get_nonce
get_quoting_style
gettext_quote
get_version
hard_locale
hash_clear
hash_delete
hash_do_for_each
hash_find_entry
hash_free
hash_get_entries
hash_get_first
hash_get_max_bucket_length
hash_get_n_buckets
hash_get_n_buckets_used
hash_get_n_entries
hash_get_next
hash_initialize
hash_insert
hash_insert_if_absent
hash_lookup
hash_pjw
hash_print_statistics
hash_rehash
hash_reset_tuning
hash_string
hash_table_ok
isaac_refill
isaac_seed
is_prime
just
last_component
locale_charset
__lstat
lstat
lstatat
main
mdir_name
mfile_name_concat
next_prime
numbered_backup
openat_safer
opendirat
path_common_prefix
priv_set_remove_linkdir
priv_set_restore_linkdir
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
randint_all_free
randint_all_new
randint_free
randint_genmax
randint_get_source
randint_new
randread
randread_error
randread_free
randread_new
randread_set_handler
randread_set_handler_arg
raw_comparator
raw_hasher
readisaac
readsource
record_file
relpath
renameatu
rotl16
rotl32
rotl64
rotl8
rotl_sz
rotr16
rotr32
rotr64
rotr8
rotr_sz
rpl_fclose
rpl_fcntl
rpl_fcntl_DUPFD
rpl_fcntl_DUPFD_CLOEXEC
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
safe_hasher
samedir_template
same_name
same_nameat
seen_file
seen_triple
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
set_simple_backup_suffix
shift_left
simple_new
stat
statat
strip_trailing_slashes
sub_401ec9
sub_401eca
sub_401f02
sub_401f4a
sub_401f6c
sub_401f7d
sub_401f96
sub_401fe2
sub_4020b6
sub_402144
sub_40216a
sub_402191
sub_402297
sub_40230d
sub_402349
sub_4023cc
sub_402530
sub_4025be
sub_40267c
sub_4026b6
sub_4027aa
sub_40281d
sub_402889
sub_402c5d
sub_402dcb
sub_402e62
sub_403327
sub_40334e
sub_4033e8
sub_40358a
sub_403704
sub_403783
sub_4037d2
sub_40389d
sub_4039c4
sub_4039da
sub_403a42
sub_403c8d
sub_403d56
sub_403da8
sub_403df3
sub_403e4c
sub_403e6c
sub_403fb7
sub_40402a
sub_40422a
sub_404256
sub_40439a
sub_4043fa
sub_40445e
sub_40448e
sub_4044d4
sub_4046ad
sub_404822
sub_40485d
sub_4048a8
sub_404917
sub_404a0d
sub_404a74
sub_404c76
sub_404cc7
sub_404d01
sub_404d38
sub_404d53
sub_404dbb
sub_404dcb
sub_404dde
sub_404e46
sub_404ea6
sub_404f55
sub_404fae
sub_405036
sub_405180
sub_40526f
sub_4052a2
sub_4052e2
sub_40531c
sub_405405
sub_40542b
sub_405981
sub_4059d4
sub_4059f5
sub_405a74
sub_405bf5
sub_405c37
sub_405c4a
sub_405d07
sub_405d79
sub_405db7
sub_405e5e
sub_405e6a
sub_406055
sub_406352
sub_406396
sub_4063e2
sub_40643b
sub_406ad7
sub_406ca4
sub_406ccb
sub_40719a
sub_407853
sub_40787a
sub_407892
sub_4078aa
sub_407b14
sub_407d12
sub_407e76
sub_407e8e
sub_408240
sub_408a03
sub_408a26
sub_408abd
sub_408ad8
sub_408b65
sub_408baf
sub_408c97
sub_408cde
sub_408d0f
sub_408d36
sub_408e48
sub_408e76
sub_408fc6
sub_408fdb
sub_409066
sub_4090c0
sub_40a4b7
sub_40a519
sub_40a53d
sub_40a577
sub_40a5a7
sub_40aa20
sub_40abc4
sub_40ac32
sub_40ac7b
sub_40acc3
sub_40ad42
sub_40ad82
sub_40ade0
sub_40ae16
sub_40b0df
sub_40b2a4
sub_40b384
sub_40b3bf
sub_40b401
sub_40b421
sub_40b45a
sub_40ba1f
sub_40ba94
sub_40bbe3
sub_40bc26
sub_40bccf
sub_40bd5e
sub_40bdb8
sub_40bdf6
sub_40beb3
sub_40bedf
sub_40beff
sub_40bf1e
sub_40c079
sub_40c1b5
sub_40c1f5
sub_40c28a
sub_40c58e
sub_40c625
sub_40c662
sub_40c68e
sub_40c788
sub_40c7e2
sub_40c913
sub_40c9cb
sub_40ca30
sub_40ca47
sub_40cb20
sub_40cbd3
sub_40cd23
sub_40cddf
sub_40ce11
sub_40ce3a
sub_40cf65
sub_40d052
sub_40d087
sub_40d0b7
sub_40d0f3
sub_40d38d
sub_40d47d
sub_40d5d9
sub_40d629
sub_40d6db
sub_40d713
sub_40d77e
sub_40db7e
sub_40db92
sub_40dc74
sub_40dc92
sub_40dcd7
sub_40ddfa
sub_40de0e
sub_40e233
sub_40e278
sub_40e303
sub_40e3b6
sub_40e3c6
sub_40e525
sub_40e626
sub_40e6b4
sub_40e7ce
sub_40e885
sub_40e8b5
sub_40e917
sub_40e957
sub_40e997
sub_40e9ab
sub_40ea33
sub_40ebc5
sub_40ec2f
sub_40ec7e
sub_40ec8e
sub_40f50b
sub_40f6ca
sub_40f6f8
sub_40f7bb
sub_40f887
sub_40f8f5
sub_40f902
sub_40f926
sub_40f939
transfer_entries
triple_compare
triple_compare_ino_str
triple_free
triple_hash
triple_hash_no_name
try_dir
try_file
try_link
try_nocreate
try_symlink
try_tempname
try_tempname_len
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
__xargmatch_internal
xcalloc
xcharalloc
xgetcwd
xget_version
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc
yesno

PLT sections:
__libc_start_main
__gmon_start__
memset
abort
memcpy
__assert_fail
__errno_location
getenv
fileno
lseek
fseeko
ferror_unlocked
fread_unlocked
getgid
getuid
getpid
open
read
close
gettimeofday
getppid
strcpy
pathconf
fpathconf
fcntl
unlinkat
free
renameat
linkat
memcmp
strlen
malloc
closedir
getcwd
fopen
fdopen
error
mkdir
_exit
gettext
putc_unlocked
fprintf
printf
fputs_unlocked
nl_langinfo
rpmatch
getline
realloc
strspn
fdopendir
readlink
calloc
exit
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
symlinkat
mempcpy
iswprint
mbsinit
__ctype_b_loc
__ctype_get_mb_cur_max
rewinddir
readdir
strchr
memmove
__freading
fflush
syscall
openat
fputs
strrchr
__fpending
fclose
mbrtowc
setvbuf
__cxa_atexit
__xstat
__lxstat
__fxstatat

Function signatures:

Function types:

Data:

Preamble:
