Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401199
sub_40119a
sub_4011d2
sub_40121a
sub_40123c
sub_40124d
sub_401266
sub_401452
sub_4014f1
sub_401508
sub_40151a
sub_40162e
sub_401661
sub_4016a3
sub_4016e6
sub_4016fe
sub_4018bd
sub_4018d8
sub_401948
sub_401adc
sub_401ae5
sub_401b71
sub_401be5
sub_401d6c
sub_401d78
sub_401d93
sub_401db8
sub_401dc5
sub_401e35
sub_401ee7
sub_401f0a
sub_401f74
sub_401ff4
sub_402036
sub_402398
sub_4023c5
sub_4024e5
sub_402565
sub_4025dc
sub_402615
sub_402625
sub_4026a9
sub_4026b5
sub_402709
sub_402784
sub_4027e4
sub_40285a
sub_402b7d
sub_402b93
sub_402c35
sub_402f84
sub_402fcd
sub_4032b2
sub_4032fc
sub_403403
sub_4034d8
sub_403697
sub_4036e2
sub_4036fa
sub_403756
sub_403765
sub_40380f
sub_403893
sub_403941
sub_403983
sub_4039fe
sub_403a0a
sub_403a1f
sub_403a54
sub_403abb
sub_403acf
sub_403c51
sub_403ccf
sub_403d45
sub_403d71
sub_403da6
sub_403ddb
sub_403e45
sub_403e52
sub_403e76
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
bindtextdomain
textdomain
strcmp
__errno_location
error
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
free
memset
__fprintf_chk
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
