Text sections:
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
c_tolower
c_toupper
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
get_quoting_style
gettext_quote
hard_locale
list_signals
locale_charset
main
operand2sig
print_table_row
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
send_signals
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sig2str
str2sig
str2signum
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_4015b9
sub_4015ba
sub_4015f2
sub_40163a
sub_40165c
sub_40166d
sub_401686
sub_4016a6
sub_4016e4
sub_4017a8
sub_401829
sub_401893
sub_4018ff
sub_401949
sub_401995
sub_4019cf
sub_4019d5
sub_4019ef
sub_401a1d
sub_401a33
sub_401a8e
sub_401ab1
sub_401ac9
sub_401b4d
sub_401b5d
sub_401b67
sub_401b83
sub_401cc2
sub_401d95
sub_401e12
sub_401e3e
sub_401e4a
sub_401e69
sub_401e87
sub_401ea3
sub_401eb6
sub_401f71
sub_401f8f
sub_401fc3
sub_402009
sub_402021
sub_402044
sub_4020a5
sub_402141
sub_4024a8
sub_4024b3
sub_402526
sub_40253d
sub_402565
sub_40257a
sub_40258a
sub_40264d
sub_402658
sub_402686
sub_4026fa
sub_4027ec
sub_4027ff
sub_402822
sub_402adc
sub_402dbc
sub_402dd3
sub_402e6e
sub_4031b4
sub_4031fd
sub_4034e3
sub_40352c
sub_403633
sub_403708
sub_40389c
sub_4038aa
sub_4038c9
sub_4038da
sub_4038e3
sub_40390d
sub_403936
sub_403967
sub_4039e4
sub_403a1b
sub_403add
sub_403aea
sub_403afd
sub_403b1a
sub_403b2a
sub_403b3e
sub_403cfd
sub_403d20
sub_403dba
sub_403f31
sub_403f66
sub_403f79
sub_403fe8
sub_404073
sub_404088
sub_4040db
sub_4040ea
sub_404139
sub_404176
sub_4041b2
sub_404216
sub_404235
sub_40437a
sub_40438a
sub_4043bf
sub_4043e9
sub_404413
sub_40443a
sub_404538
sub_404681
sub_40479c
sub_40483a
sub_4048b7
sub_4048f7
sub_404905
sub_4049c5
sub_4049d2
sub_4049f6
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
strlen
error
puts
kill
__errno_location
strtoimax
strsignal
strtol
memchr
free
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
mbrtowc
__libc_current_sigrtmin
__libc_current_sigrtmax
strcpy
__sprintf_chk
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
