Text sections:
apply_suffix
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
clear_ungetc_buffer_preserving_position
c_locale
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
close_stream
cl_strtod
c_strcasecmp
c_strtod
c_tolower
c_toupper
dtotimespec
emit_ancillary_info
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
make_timespec
parse_gnu_standard_options_only
parse_long_options
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nanosleep
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_4013b9
sub_4013ba
sub_4013f2
sub_40143a
sub_40145c
sub_40146d
sub_401486
sub_4014ba
sub_4014ce
sub_4016fe
sub_4017b0
sub_40183f
sub_40191a
sub_40197b
sub_401a46
sub_401acb
sub_401b0e
sub_401b8f
sub_401fe1
sub_40218a
sub_40219b
sub_402203
sub_402282
sub_40229e
sub_40231b
sub_4023c1
sub_40240f
sub_402438
sub_40246b
sub_4026aa
sub_40273e
sub_4027df
sub_4028b8
sub_4028b9
sub_4029bd
sub_402a26
sub_402ad6
sub_402afa
sub_402b7a
sub_402bca
sub_402c56
sub_402cd2
sub_402cfb
sub_402d68
sub_403588
sub_404141
sub_404247
sub_40435b
sub_4043cf
sub_4044f5
sub_404596
sub_4046a5
sub_4046be
sub_404727
sub_4049d4
sub_404a4a
sub_404a7e
sub_404a8e
sub_404b28
sub_404ba7
sub_404be2
sub_404bfa
sub_404c4b
sub_404c6f
sub_404caf
sub_404d7e
sub_404dae
sub_404e66
sub_404f82
sub_405036
sub_405143
sub_4051be
sub_4051f2
sub_4054b8
sub_405535
sub_40556c
sub_405597
sub_4055d2
sub_4055f6
sub_405628
sub_405640
sub_4056e0
sub_4056f7
sub_40575d
sub_40580d
sub_405867
sub_405901
sub_405987
sub_405a88
sub_405abd
sub_405b33
sub_405b73
sub_405ce4
sub_405cfe
sub_405da4
sub_405e65
sub_406024
sub_4060a2
sub_4060fe
sub_40611f
sub_406178
sub_4061b8
sub_406225
sub_406232
sub_406256
timespec_cmp
timespec_sign
timespectod
usage
version_etc
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnanosleep
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtod
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
getopt_long
exit
gettext
fprintf
printf
fputs_unlocked
strcmp
setlocale
strncmp
bindtextdomain
textdomain
error
__errno_location
strtod
_exit
fputs
strtod_l
mbrtowc
abort
strrchr
__ctype_get_mb_cur_max
calloc
strlen
memcmp
realloc
free
nl_langinfo
memcpy
__ctype_b_loc
memset
iswprint
mbsinit
malloc
fileno
fclose
__freading
lseek
fseeko
nanosleep
newlocale
__fpending
ferror_unlocked
fflush
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
