Text sections:
apply_time_suffix
block_cleanup_and_chld
chld
c_isalnum
c_isalpha
c_isascii
c_isblank
c_iscntrl
c_isdigit
c_isgraph
c_islower
c_isprint
c_ispunct
c_isspace
c_isupper
c_isxdigit
cleanup
clear_ungetc_buffer_preserving_position
c_locale
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
cl_strtod
c_strtod
c_tolower
c_toupper
disable_core_dumps
dtotimespec
emit_ancillary_info
emit_bug_reporting_address
emit_mandatory_arg_note
get_quoting_style
gettext_quote
hard_locale
initialize_exit_failure
install_cleanup
install_sigchld
locale_charset
main
make_timespec
operand2sig
parse_duration
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
quoting_options_from_style
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
send_sig
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
settimeout
sig2str
str2sig
str2signum
strcaseeq0
strcaseeq1
strcaseeq2
strcaseeq3
strcaseeq4
strcaseeq5
strcaseeq6
strcaseeq7
sub_401b29
sub_401b2a
sub_401b62
sub_401baa
sub_401bcc
sub_401bdd
sub_401bf6
sub_401c71
sub_401c8a
sub_401cf6
sub_401d08
sub_401d59
sub_401d70
sub_401dc1
sub_401ddf
sub_401df4
sub_401e6a
sub_401eb8
sub_401efa
sub_401f0d
sub_401f2a
sub_401f49
sub_401f5a
sub_402006
sub_402181
sub_4021b6
sub_402236
sub_40224b
sub_40225e
sub_402355
sub_402376
sub_402383
sub_402401
sub_40241a
sub_402466
sub_402641
sub_40265d
sub_402699
sub_4026b1
sub_4026d4
sub_402768
sub_4027e9
sub_402853
sub_4028bf
sub_402909
sub_402955
sub_40298f
sub_4029b5
sub_4029c9
sub_402a38
sub_402a53
sub_402a82
sub_402a98
sub_402acf
sub_402af9
sub_402b26
sub_402bed
sub_402caa
sub_402cbd
sub_402ce3
sub_402d0a
sub_402d47
sub_402d7d
sub_402d93
sub_402db3
sub_402e16
sub_402e41
sub_402e69
sub_402f28
sub_402ffa
sub_403033
sub_40306f
sub_403073
sub_4030a6
sub_4030e6
sub_4034fe
sub_403574
sub_4036b2
sub_4036de
sub_4037d2
sub_4037e1
sub_403806
sub_40383a
sub_4038c3
sub_4038e3
sub_403bec
sub_403c03
sub_403c9e
sub_403fe4
sub_40402d
sub_404313
sub_40435c
sub_404463
sub_404538
sub_4046cc
sub_404771
sub_4047f9
sub_40480e
sub_4049cd
sub_404a04
sub_404a92
sub_404c03
sub_404c37
sub_404c4a
sub_404cbd
sub_404ccd
sub_404cd7
sub_404dfa
sub_404e0f
sub_404e1a
sub_404e25
sub_404e3f
sub_404e4a
sub_404f3c
sub_404f45
sub_404fbb
sub_405032
sub_405057
sub_405086
sub_4050b6
sub_4050ca
sub_4050e6
sub_4050f7
sub_4051c5
sub_40525d
sub_40526a
sub_405287
sub_405316
sub_405655
sub_405662
sub_405686
timespec_cmp
timespec_sign
timespectod
unblock_signal
usage
version_etc
version_etc_ar
version_etc_arn
version_etc_va
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xstrtod
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
exit
__fprintf_chk
strcmp
setlocale
strncmp
bindtextdomain
textdomain
getopt_long
setpgid
signal
fork
__errno_location
error
execvp
waitpid
sigsuspend
raise
sigemptyset
sigaction
sigaddset
sigprocmask
timer_create
timer_settime
timer_delete
alarm
prctl
__snprintf_chk
_exit
kill
strtol
memchr
free
strtod
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
__ctype_b_loc
iswprint
mbsinit
memset
malloc
realloc
memcpy
calloc
mbrtowc
__libc_current_sigrtmin
__libc_current_sigrtmax
strcpy
__sprintf_chk
strtod_l
newlocale
__fpending
ferror_unlocked
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
