Text sections:
clone_quoting_options
close_stdout
close_stdout_set_file_name
close_stdout_set_ignore_EPIPE
emit_bug_reporting_address
get_quoting_style
gettext_quote
hard_locale
locale_charset
main
quote
quotearg
quotearg_alloc
quotearg_alloc_mem
quotearg_buffer
quotearg_buffer_restyled
quotearg_char
quotearg_char_mem
quotearg_colon
quotearg_colon_mem
quotearg_custom
quotearg_custom_mem
quotearg_free
quotearg_mem
quotearg_n
quotearg_n_custom
quotearg_n_custom_mem
quotearg_n_mem
quotearg_n_options
quotearg_n_style
quotearg_n_style_colon
quotearg_n_style_mem
quotearg_style
quotearg_style_mem
quote_mem
quote_n
quote_n_mem
rpl_calloc
rpl_fclose
rpl_fflush
rpl_fseeko
rpl_mbrtowc
rpl_nl_langinfo
set_char_quoting
set_custom_quoting
set_program_name
set_quoting_flags
set_quoting_style
sub_401279
sub_40127a
sub_4012b2
sub_4012fa
sub_40131c
sub_40132d
sub_401346
sub_4016a8
sub_4016e3
sub_40175a
sub_4017d5
sub_4017e5
sub_401869
sub_40188a
sub_4018ff
sub_4019c1
sub_401a26
sub_401ac5
sub_401ae9
sub_401b81
sub_401bcc
sub_401c44
sub_401c5a
sub_401d04
sub_401d15
sub_401d8e
sub_401f4d
sub_401f86
sub_401fa1
sub_401fc3
sub_401fe0
sub_402025
sub_4020a8
sub_4020b5
sub_4021cf
sub_40229f
sub_402461
sub_402483
sub_402516
sub_4027f4
sub_40282d
sub_402c27
sub_402c65
sub_402d76
sub_402d9e
sub_402e01
sub_402f67
sub_402f78
sub_403021
sub_403056
sub_40306a
sub_403075
sub_4031c3
sub_403402
sub_403444
sub_40348a
sub_4034bb
sub_4034d1
sub_403504
sub_4037e6
sub_4037ff
sub_403834
sub_4038a3
sub_4038d1
sub_40394c
sub_40395f
sub_403980
sub_403a16
sub_403a76
sub_403c62
sub_403ca4
sub_403ccf
sub_403d95
sub_403e55
sub_403e65
sub_403f14
sub_403f38
sub_40402c
sub_404055
sub_404065
sub_4042c3
sub_40433e
sub_404348
sub_4043a4
sub_40442a
sub_404495
sub_4044a2
sub_4044c6
usage
version_etc_ar
version_etc_arn
x2nrealloc
x2realloc
xalloc_die
xcalloc
xcharalloc
xmalloc
xmemdup
xnmalloc
xnrealloc
xrealloc
xstrdup
xzalloc

PLT sections:
__libc_start_main
__gmon_start__
dcgettext
__printf_chk
fputs_unlocked
setlocale
strncmp
exit
__assert_fail
getenv
bindtextdomain
textdomain
strcmp
__overflow
__ctype_b_loc
__errno_location
error
_exit
strrchr
fwrite
abort
__ctype_get_mb_cur_max
strlen
memcmp
iswprint
mbsinit
free
memset
__fprintf_chk
malloc
realloc
memcpy
calloc
mbrtowc
__fpending
fileno
__freading
lseek
fclose
fflush
fseeko
nl_langinfo
__cxa_atexit

Function signatures:

Function types:

Data:

Preamble:
